.single-document-card {
	.document-date {
		color: grey;
		margin-bottom: 10px;
		text-align: center;
	}

	.actions {
		display: flex;
		justify-content: space-between;
		i {
			cursor: pointer;
			color: grey;
			font-size: 20px;
		}
	}
}

.custom-close-button {
	margin: -1rem 0rem -1rem auto;
}
