<div class="modal-header">
  <h4 class="modal-title">{{'PATIENTS.DOCUMENT.VISUALIZE.TITLE' | translate}}</h4>
  <button hidden></button>
  <button type="button" class="close custom-close-button" aria-label="Close" (click)="activeModal.close(false)">
	<span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
	<div class="col-9">
	  <ngb-carousel #carousel
					[activeId]="getActiveIdBasedOnCurrentDocument"
					(slide)="onSlide($event)">
		<ng-template ngbSlide *ngFor="let document of documents">
		  <img [src]="document.urlAnexo" [alt]="document.descricao">
		</ng-template>
	  </ngb-carousel>
	</div>
	<div class="col-3">
	  <div class="card noHover single-document-card" *ngIf="currentDocument">
		<div class="card-block">
		  <div class="row">
			<div class="col-12">
			  <strong>{{getLabel(currentDocument.descricao)}}</strong>
			</div>
		  </div>
		  <hr>
		  <div class="row">
			<div class="col-12 document-date">
			  {{currentDocument.data}}
			</div>
			<div class="col-12 actions">
			  <i placement="bottom" [ngbTooltip]="'PATIENTS.DOCUMENT.EDIT.TITLE' | translate" (click)="edit(currentDocument)" class="icofont icofont-edit-alt"></i>
			  <i placement="bottom" [ngbTooltip]="'PATIENTS.DOCUMENT.DOWNLOAD.TITLE' | translate" (click)="download(currentDocument)" class="icofont icofont-download-alt"></i>
			  <i placement="bottom" [ngbTooltip]="'PATIENTS.DOCUMENT.DELETE.TITLE' | translate" (click)="delete(currentDocument)" class="icofont icofont-delete-alt"></i>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>
