<simple-notifications [options]="this.service.options"></simple-notifications>

<form *ngIf="formulario" [formGroup]="formulario">
  <div class="card noHover">
    <div class="card-body row">
      <div class="col-12 col-sm-12 col-md-4 m-b-15"
           [ngClass]="this.formulario.get('descricao').disabled ? '' : service.aplicaCssErro('descricao', formulario)">
        <label for="descricao">
          {{ "PATIENTS.FORM_TREATMENT.descricao" | translate }}
        </label>

        <input type="text"
               formControlName="descricao"
               id="descricao"
               class="form-control"/>

        <div class="text-feedback"
             *ngIf="!this.formulario.get('descricao').disabled && service.verificaValidTouched('descricao', formulario)">
          <span>{{ "COMMON.REQUIRED" | translate }}</span>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-3 m-b-15"
           [ngClass]="this.formulario.get('convenioId').disabled ? '' : service.aplicaCssErro('convenioId', formulario)">
        <label for="convenioId">
          {{ "PATIENTS.FORM_TREATMENT.convenioId" | translate }}
        </label>

        <br/>

        <ngx-select id="convenioId"
                    name="convenioId"
                    [items]="convenios"
                    formControlName="convenioId"
                    (ngModelChange)="changeTreatmentCovenant($event)"
                    (open)="service.doOpenSelect()"
                    size="medium"
                    [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
                    optionTextField="nome"
                    optionValueField="id"
                    [noResultsFound]="service.translate.instant('COMMON.NORESULT')">
        </ngx-select>

        <div class="text-feedback"
             *ngIf="!this.formulario.get('convenioId').disabled && service.verificaValidTouched('convenioId', formulario)">
          <span>{{ "COMMON.REQUIRED" | translate }}</span>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-3 m-b-15"
           [ngClass]="this.formulario.get('dataAbertura').disabled ? '' : service.aplicaCssErro('dataAbertura', formulario)">

        <label for="dataAbertura">
          {{ "PATIENTS.FORM_TREATMENT.dataAbertura" | translate }}
        </label>

        <br/>

        <div class="col-sm-12 input-group m-0 p-0">
          <input id="dataAbertura"
                 name="dataAbertura"
                 class="form-control inputDate"
                 placeholder="dd/mm/YYYY"
                 formControlName="dataAbertura"
                 [minDate]="minDate"
                 ngbDatepicker
                 #dataAbertura="ngbDatepicker"
                 (focus)="this.formulario.get('dataAbertura').disabled ? '' : dataAbertura.toggle()"
                 [readonly]="true"/>

          <div class="input-group-append bg-default"
               (click)="this.formulario.get('dataAbertura').disabled ? '' : dataAbertura.toggle()">
            <span class="icofont icofont-ui-calendar input-group-text"></span>
          </div>
        </div>

        <div class="text-feedback"
             *ngIf="!this.formulario.get('dataAbertura').disabled && service.verificaValidTouched('dataAbertura', formulario)">
          <span>{{ "COMMON.REQUIRED" | translate }}</span>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-2 m-b-15"
           [ngClass]="this.formulario.get('guiaConvenio').disabled ? '' : service.aplicaCssErro('guiaConvenio', formulario)">

        <label for="guiaConvenio">
          {{ "PATIENTS.FORM_TREATMENT.guiaConvenio" | translate }}
        </label>

        <br/>

        <div class="col-sm-12 input-group m-0 p-0">
          <input type="text"
                 [placeholder]="'PATIENTS.FORM_TREATMENT.guiaConvenio' | translate"
                 formControlName="guiaConvenio"
                 id="guiaConvenio"
                 class="form-control"/>
        </div>

        <div class="text-feedback"
             *ngIf="!this.formulario.get('guiaConvenio').disabled && service.verificaValidTouched('guiaConvenio', formulario)">
          <span>{{ "COMMON.REQUIRED" | translate }}</span>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-4 m-b-15"
           [ngClass]="this.formulario.get('profissionalId').disabled ? '' : service.aplicaCssErro('profissionalId', formulario)">
        <label for="profissionalId">
          {{ "PATIENTS.FORM_TREATMENT.profissionalId" | translate }}
        </label>

        <br/>

        <ngx-select id="profissionalId"
                    name="profissionalId"
                    [items]="profissionais"
                    formControlName="profissionalId"
                    (open)="service.doOpenSelect()"
                    size="medium"
                    [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
                    optionTextField="nome"
                    optionValueField="id"
                    [noResultsFound]="service.translate.instant('COMMON.NORESULT')">
        </ngx-select>

        <div class="text-feedback"
             *ngIf="!this.formulario.get('profissionalId').disabled && service.verificaValidTouched('profissionalId', formulario)">
          <span>{{ "COMMON.REQUIRED" | translate }}</span>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-4 m-b-15">
        <label for="operadorVendedorId">
          {{ "PATIENTS.FORM_TREATMENT.operadorVendedorId" | translate }}
        </label>

        <br/>

        <ngx-select id="operadorVendedorId"
                    name="operadorVendedorId"
                    [items]="vendedores"
                    formControlName="operadorVendedorId"
                    (open)="service.doOpenSelect()"
                    size="medium"
                    [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
                    optionTextField="nome"
                    optionValueField="id"
                    [noResultsFound]="service.translate.instant('COMMON.NORESULT')">
        </ngx-select>
      </div>

      <div class="col-12 col-sm-12 col-md-4 m-b-15"
           [ngClass]="service.aplicaCssErro('statusTratamentoDescricao', formulario)">

        <label for="statusTratamentoDescricao">
          {{ "PATIENTS.FORM_TREATMENT.statusTratamento" | translate }}
        </label>

        <ngx-select id="statusTratamentoDescricao"
                    [items]="situations"
                    formControlName="statusTratamentoDescricao"
                    optionTextField="label"
                    optionValueField="label"
                    (open)="service.doOpenSelect()"
                    [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
                    [disabled]="formulario.get('statusTratamento').value === 'AGUARDANDO_APROVACAO'"
                    (select)="updateStatusTratamento($event)"
                    [noResultsFound]="service.translate.instant('COMMON.NORESULT')">
        </ngx-select>

        <div class="text-feedback"
             *ngIf="service.verificaValidTouched('statusTratamentoDescricao', formulario)">
          <span>{{ "COMMON.REQUIRED" | translate }}</span>
        </div>
      </div>

      <div class="row col-12 p-0" *ngIf="treatmentStep === 'form'">
        <div class="col-md-6"></div>

        <div class="col-6 p-r-0 header-actions flexEnd">
          <button type="button"
                  class="btn close-button text-center"
                  (click)="closeTreatment()">

            {{ "COMMON.CLOSE" | translate }}
          </button>
          <button [disabled]="formulario.invalid"
                  type="button"
                  class="btn text-center"
                  (click)="initTreatment()"
                  [ngClass]="formulario.invalid ? 'btn-disabled' : 'btn-primary'">

            {{ "PATIENTS.FORM_TREATMENT.INIT_TREATMENT" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="card noHover" *ngIf="treatmentStep === 'tables'">
  <div class="card-header customHeader">
    <span>{{'PATIENTS.FORM_TREATMENT.PROCEDURES' | translate}}</span>
  </div>

  <div class="card-body row">
    <div class="row rowSearch col-12">
      <div class="col col-12 col-sm-12 col-md-5 p-r-0 m-b-15 m-l-0 p-l-0">
        <div class="btn-group btn-group-toggle"
             ngbRadioGroup
             name="optionSearchProcedures"
             [(ngModel)]="showApprovedsProcedures"
             (ngModelChange)="getProcedures()">

          <label ngbButtonLabel class="btn-primary group2Pieces btnRadio">
            <input ngbButton type="radio" [value]="true">

            <i *ngIf="showApprovedsProcedures === true"
               class="ci icon-aproved"></i>

            {{'PATIENTS.FORM_TREATMENT.APPROVE' | translate}}
          </label>

          <label ngbButtonLabel class="btn-primary group2Pieces btnRadio">
            <input ngbButton type="radio" [value]="false">

            <i *ngIf="showApprovedsProcedures === false"
               class="ci icon-desaproved"></i>

            {{'PATIENTS.FORM_TREATMENT.DESAPPROVE' | translate}}
          </label>
        </div>
      </div>

      <div class="col-md-4 p-r-0"></div>

      <div class="col col-12 col-sm-12 col-md-3 p-r-0 m-b-15 flexEnd">
        <button type="button"
                #openProcedureDialogButton
                class="btn btn-primary btn-sm waves-effect text-center"
                (click)="openProcedureDialog(openProcedureDialogButton)"
                *ngIf="paid === 0 && treatment.statusTratamento === AGUARDANDO_APROVACAO">
          {{'PATIENTS.FORM_TREATMENT.NEW_PROCEDURE' | translate}}
        </button>
      </div>
    </div>

    <div class="row rowSearch col-12">
      <ngx-datatable id="tableProcedures"
                     class="data-table table-responsive"
                     [rows]="proceduresTable"
                     [loadingIndicator]="true"
                     [columnMode]="'force'"
                     [headerHeight]="40"
                     [footerHeight]="40"
                     [rowHeight]="40"
                     [reorderable]="true"
                     [scrollbarH]="true"
                     [messages]="!proceduresTable || proceduresTable.length === 0 ?
        service.translate.instant('PATIENTS.FORM_TREATMENT.footerMessageProcedures.zero') : showApprovedsProcedures ?
        service.translate.instant('PATIENTS.FORM_TREATMENT.footerMessageProcedures.approved') :
        service.translate.instant('PATIENTS.FORM_TREATMENT.footerMessageProcedures.desapproved')">

        <ng-container *ngFor="let column of columnsTables.tableProcedures; let indexColumn = index">
          <ngx-datatable-column
            *ngIf="column.action && paid === 0 && treatment.statusTratamento === AGUARDANDO_APROVACAO || !column.action"
            [name]="column.name"
            [prop]="column.prop"
            [width]="column.width"
            [sortable]="column.sortable">
            <ng-template let-rowIndex="rowIndex"
                         let-row="row"
                         ngx-datatable-cell-template>

              <span *ngIf="!column.action && !column.currency && column.prop !== 'statusTratamentoServicoDescricao'">
                {{row[column.prop]}}
              </span>

              <span *ngIf="column.prop === 'statusTratamentoServicoDescricao'"
                    [style.color]="getColorStatusTratamentoServicoDescricao(row['statusTratamentoServico'])">
                <b>{{row[column.prop]}}</b>
              </span>

              <span *ngIf="!column.action && column.currency">
                {{'COMMON.CURRENCY_SYMBOL' | translate}} {{row[column.prop] | decimalWithLocale:2:locale}}
              </span>

              <button class="btn btn-option btn-primary"
                      (click)="editProcedure(row, indexColumn)"
                      *ngIf="column.action && paid === 0 && treatment.statusTratamento === AGUARDANDO_APROVACAO"
                      [ngbTooltip]="'COMMON.EDIT_REGISTER' | translate"
                      placement="right">
                <i class="ci icon-edit ajustaIcon"></i>
              </button>

              <button class="btn btn-option"
                      [ngClass]="showApprovedsProcedures ? 'btn-warning' : 'btn-success'"
                      (click)="toggleAprove(row)"
                      *ngIf="column.action && treatment.statusTratamento === AGUARDANDO_APROVACAO"
                      [ngbTooltip]="showApprovedsProcedures ? ('PATIENTS.FORM_TREATMENT.DISAPPROVE_REGISTER' | translate)
              : ('PATIENTS.FORM_TREATMENT.APPROVE_REGISTER' | translate)"
                      placement="right">
                <i class="ci ajustaIcon"
                   [ngClass]="showApprovedsProcedures ? 'icon-desaproved colorDesapproved' : 'icon-aproved colorApproved'"></i>
              </button>

              <button class="btn btn-option btn-danger"
                      (click)="deleteProcedure(row)"
                      *ngIf="column.action && treatment.statusTratamento === AGUARDANDO_APROVACAO"
                      [ngbTooltip]="'COMMON.DELETE_REGISTER' | translate"
                      placement="right">
                <i class="ci icon-delete ajustaIcon"></i>
              </button>

            </ng-template>
          </ngx-datatable-column>
        </ng-container>
      </ngx-datatable>
    </div>

  </div>
</div>

<div class="card noHover" *ngIf="treatmentStep === 'tables'">
  <div class="card-header customHeader">
    <span>{{'PATIENTS.FORM_TREATMENT.FINANCIAL' | translate}}</span>
  </div>
  <div class="card-body">
    <form class="row col-12 p-0 m-0"
          *ngIf="formulario"
          [formGroup]="formulario">
      <div class="col-12 col-sm-12 col-md-5 col-lg-4 financialLeft">
        <div class="row">
          <div class="col-12 p-l-0 p-r-10 m-b-15">
            <label for="formaPagamento">{{
              "PATIENTS.FORM_TREATMENT.formaPagamento" | translate
              }}</label><br/>

            <ngx-select id="formaPagamento"
                        name="formaPagamento"
                        [items]="LISTAS_LOCAIS.listaFormaPagamento"
                        formControlName="formaPagamento"
                        (open)="service.doOpenSelect()"
                        size="medium"
                        (select)="refreshFinancialTableByPaymentMethod()"
                        [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
                        optionTextField="label"
                        optionValueField="value"
                        [noResultsFound]="service.translate.instant('COMMON.NORESULT')">
            </ngx-select>
          </div>

          <div class="col-12 p-l-0 p-r-10 m-b-15">
            <label for="formaDeRecebimento">{{
              "PATIENTS.FORM_TREATMENT.formaDeRecebimento" | translate
              }}</label><br/>

            <ngx-select id="formaDeRecebimento"
                        name="formaDeRecebimento"
                        [items]="LISTAS_LOCAIS.listaFormaRecebimento"
                        formControlName="formaDeRecebimento"
                        (open)="service.doOpenSelect()"
                        size="medium"
                        (select)="refreshFinancialTableByPaymentMethod()"
                        [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
                        optionTextField="label"
                        optionValueField="value"
                        [noResultsFound]="service.translate.instant('COMMON.NORESULT')">
            </ngx-select>
          </div>

          <div class="col-12 col-sm-12 col-md-6 p-l-0 p-r-10 m-b-15">
            <label for="tipoDesconto">{{
              "PATIENTS.FORM_TREATMENT.tipoDesconto" | translate
              }}</label><br/>

            <ngx-select id="tipoDesconto"
                        name="tipoDesconto"
                        [items]="LISTAS_LOCAIS.listaTipoDesconto"
                        formControlName="tipoDesconto"
                        (open)="service.doOpenSelect()"
                        size="medium"
                        (select)="refreshFinancialTableByPaymentMethod(false)"
                        [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
                        optionTextField="label"
                        optionValueField="value"
                        [noResultsFound]="service.translate.instant('COMMON.NORESULT')">
            </ngx-select>
          </div>

          <div class="col-12 col-sm-12 col-md-6 p-l-0 p-r-10 m-b-15">
            <label for="valorDesconto">{{
              "PATIENTS.FORM_TREATMENT.valorDesconto" | translate
              }}</label>

            <input *ngIf="formulario.get('tipoDesconto').value === 'PORCENTAGEM'"
                   numeric
                   [allowDecimals]="true"
                   (ngModelChange)="refreshFinancialTableByPaymentMethod(false)"
                   [allowSign]="true"
                   type="text"
                   formControlName="valorPercentualDesconto"
                   id="valorPercentualDesconto"
                   class="form-control"/>

            <input *ngIf="formulario.get('tipoDesconto').value !== 'PORCENTAGEM'"
                   currencyMask
                   (ngModelChange)="refreshFinancialTableByPaymentMethod(false)"
                   formControlName="valorDesconto"
                   id="valorDesconto"
                   class="form-control"/>
          </div>

          <div class="col-12 col-sm-12 col-md-12 p-l-0 p-r-10 m-b-15"
               *ngIf="currentPaymentMethodCanHavePartials">
            <label for="numeroTotalParcelas">{{
              "PATIENTS.FORM_TREATMENT.numeroTotalParcelas" | translate
              }}</label><br/>

            <ngx-select id="numeroTotalParcelas"
                        name="numeroTotalParcelas"
                        [items]="parcelas"
                        (select)="refreshFinancialTableByPaymentMethod()"
                        formControlName="numeroTotalParcelas"
                        (open)="service.doOpenSelect()"
                        size="medium"
                        [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
                        optionTextField="label"
                        optionValueField="value"
                        [noResultsFound]="service.translate.instant('COMMON.NORESULT')">
            </ngx-select>
          </div>

        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-7 col-lg-8 p-0 financialRight">
        <ngx-datatable id="tableFinancial"
                       style="height: 350px"
                       class="data-table table-responsive tableFinancial"
                       [rows]="financialTable"
                       [loadingIndicator]="true"
                       [columnMode]="'force'"
                       [headerHeight]="40"
                       [footerHeight]="40"
                       [appAutosizedDatatable]
                       [rowHeight]="40"
                       [reorderable]="true"
                       [scrollbarH]="true"
                       [scrollbarV]="true"
                       [messages]="!financialTable || financialTable.length === 0 ?
          service.translate.instant('PATIENTS.FORM_TREATMENT.footerMessageFinancial.zero') : service.translate.instant('PATIENTS.FORM_TREATMENT.footerMessageFinancial')">

          <ng-container *ngFor="let column of columnsTables.tableFinancial; let indexColumn = index">
            <ngx-datatable-column
              *ngIf="column.action && paid === 0 && treatment.statusTratamento === AGUARDANDO_APROVACAO || !column.action"
              [name]="column.name"
              [prop]="column.prop"
              [width]="column.width"
              [sortable]="false">
              <ng-template let-rowIndex="rowIndex"
                           let-row="row"
                           ngx-datatable-cell-template>

                <span *ngIf="!column.action && !column.currency && column.prop !== 'formaDeRecebimento'">
                  {{row[column.prop]}}
                </span>

                <span *ngIf="column.prop === 'formaDeRecebimento'">
                  {{getDescRecebimento(row[column.prop])}}
                </span>

                <span *ngIf="!column.action && column.currency">
                  {{'COMMON.CURRENCY_SYMBOL' | translate}} {{row[column.prop] | decimalWithLocale:2:locale}}
                </span>

                <button class="btn btn-option btn-primary"
                        (click)="editParcel(row)"
                        *ngIf="column.action && doRefreshFinancial && treatment.statusTratamento === AGUARDANDO_APROVACAO"
                        [ngbTooltip]="'COMMON.EDIT_REGISTER' | translate"
                        placement="right">
                  <i class="ci icon-edit ajustaIcon"></i>
                </button>

              </ng-template>
            </ngx-datatable-column>
          </ng-container>

        </ngx-datatable>
      </div>
    </form>
    <div class="col-12 col-sm-12 col-md-5 col-lg-4">
      <div class="row">
        <div class="col-12 displayFinancialValue">
          <span class="enfases">{{'PATIENTS.FORM_TREATMENT.RESUME.valorTotal' | translate}}</span>
          <span>{{'COMMON.CURRENCY_SYMBOL' | translate}} {{treatment.valor | decimalWithLocale:2:locale}}</span>
        </div>
        <div class="col-12 displayFinancialValue">
          <span class="enfases">{{'PATIENTS.FORM_TREATMENT.RESUME.valorDesconto' | translate}}</span>
          <span>{{'COMMON.CURRENCY_SYMBOL' | translate}}
            {{treatment.valorDesconto | decimalWithLocale:2:locale}}</span>
        </div>
        <div class="col-12 displayFinancialValue">
          <span class="finalValue">{{'PATIENTS.FORM_TREATMENT.RESUME.valorComDesconto' | translate}}</span>
          <span class="finalValue">{{'COMMON.CURRENCY_SYMBOL' | translate}}
            {{treatment.valorComDesconto | decimalWithLocale:2:locale}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row p-0 footer-actions" *ngIf="treatmentStep === 'tables'">
  <div class="col-12 flexEnd">
    <button type="button"
            class="btn btn-sm close-button text-center"
            (click)="closeTreatment()">
      {{ "COMMON.CLOSE" | translate }}
    </button>
    <button *ngIf="treatment.id && paid === 0 && treatment.statusTratamento === AGUARDANDO_APROVACAO"
            [disabled]="formulario.invalid ||
    (!treatment.servicos || treatment.servicos.length === 0) ||
    (!treatment.parcelas || treatment.parcelas.length === 0)"
            type="button"
            class="btn delete-button btn-sm text-center"
            (click)="deleteTratamento()">
      {{ "COMMON.DELETE" | translate }}
    </button>
    <button *ngIf="paid === 0" [disabled]="formulario.invalid ||
    (!treatment.servicos || treatment.servicos.length === 0) &&
    (!treatment.parcelas || treatment.parcelas.length === 0)"
            type="button"
            class="btn btn-sm text-center"
            (click)="aprovarDesaprovar()"
            [ngClass]="treatment.statusTratamento === AGUARDANDO_APROVACAO ? 'btn-primary' : 'btn-danger'">
      {{treatment.statusTratamento === AGUARDANDO_APROVACAO
      ?
      ("PATIENTS.FORM_TREATMENT.APPROVE_BUDGET" | translate)
      : ("PATIENTS.FORM_TREATMENT.DESAPPROVE_BUDGET" | translate) }}
    </button>
    <button *ngIf="paid === 0 && treatment.statusTratamento === AGUARDANDO_APROVACAO"
            [disabled]="formulario.invalid ||
    (!treatment.servicos || treatment.servicos.length === 0) ||
    (!treatment.parcelas || treatment.parcelas.length === 0)"
            type="button"
            class="btn btn-success btn-sm text-center"
            (click)="salvarTratamento()">{{ "PATIENTS.FORM_TREATMENT.SAVE_BUDGET" | translate }}
    </button>
  </div>
</div>

<app-modal-animation *ngIf="showModalParcela"
                     [backDrop]="true"
                     [modalID]="'modal-parcela'"
                     [modalClass]="'md-effect-11 md-modal-lg'">
  <app-modal-edit-parcela [parcela]="selectedParcel">
  </app-modal-edit-parcela>
</app-modal-animation>
