@import './../../../../scss/partials/variables';

.rowSearch {
  margin: 10px 0;
}

.colorApproved {
  color: #011f01;
}

.colorDesapproved {
  color: rgb(80, 53, 2)
}

.tableFinancial {
  font-size: small !important;
}

.enfases {
  font-weight: bold;
}

.finalValue {
  font-weight: bold;
  font-size: 1.1rem;
}

.displayFinancialValue {
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desapprovedTreatment {}
