<div class="card contentPage">
	<span class="pageTitle">{{'CONFIG.PERMISSIONS.TITLE' | translate}}</span>

	<div class="row col-12 m-r-0 p-r-0 m-l-0 p-l-0 m-t-20 rowSearch">
		<div class="col col-12 col-sm-12 col-md-3 p-l-0 m-l-0 m-b-15">
			<label for="dataFim">Função</label><br>

			<ng-select id="dataFim" *ngIf="profile$ | async as profiles"
					   name="searchRange"
					   [items]="profiles"
					   [(ngModel)]="profile"
					   bindLabel="descricao"
					   [clearable]="false">
			</ng-select>
		</div>
	</div>

	<div class="row col-12 m-r-0 p-r-0 m-l-0 p-l-0 m-t-20 rowSearch"
		 *ngFor="let perm of permission$ | async">

		<div class="row col-12 col-sm-12 m-l-0 p-l-0 headerPerm flexStart">
			<div class="col col-12 col-sm-12 col-md-9 m-l-0 p-l-10">
				<h6 class="m-0">{{ perm.moduloTelaDescricao }}</h6>
			</div>

			<div class="col col-12 col-sm-12 col-md-3 m-l-0 p-l-0 flexEnd">
        <span class="toggle m-t-10 m-b-10" (click)="toggleAllFor(perm)">
          <input class="toggle__input"
				 [ngModel]="allActivated(perm)"
				 type="checkbox">

          <span class="toggle__label">
            <span class="toggle__text">{{'CONFIG.PERMISSIONS.ALL_PERMS' | translate}}</span>
          </span>
        </span>
			</div>
		</div>

		<div class="row col-12 col-sm-12 m-l-0 p-l-0 bodyPerm flexStart">

			<div class="col col-12 col-sm-12 col-md-3"
				 *ngFor="let item of perm.moduloTelaAcao">

				<label class="toggle m-t-10 m-b-10">
					<input class="toggle__input"
						   [(ngModel)]="item.possuiPermissao"
						   type="checkbox"
						   name="action-{{ item.moduloTelaAcaoId }}">

					<span class="toggle__label">
            <span class="toggle__text">{{ item.moduloTelaAcaoAcao }}</span>
          </span>
				</label>
			</div>
		</div>
	</div>

	<div class="row footer-actions" *ngIf="(permission$ | async).length">
		<div class="col-md-6"></div>
		<div class="col-md-6 flexEnd">
			<button type="button"
					class="btn btn-primary close-button btn-sm waves-effect text-center"
					(click)="cancel()">
				{{'COMMON.CANCEL' | translate}}
			</button>
			<button type="button"
					class="btn btn-success btn-sm waves-effect text-center"
					(click)="save()">
				{{'COMMON.SAVE' | translate}}
			</button>
		</div>
	</div>
</div>
