@import "./variables";

.main-body .page-wrapper {
	margin-bottom: 0 !important;
}

.pcoded-micon {
	font-size: 19px !important;
	padding: 2px 4px !important;
}

.page-wrapper {
	padding: 15px 10px !important;
}

.contentPage {
	padding: 10px;
}

.back-btn {
	border: solid 1px currentColor;
}

.pageTitle {
	font-size: 1rem;
	font-weight: bold;
}

.flexStart {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexEnd {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.flexSpaceAround {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.flexSpaceBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flexVEndHStart {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.flexVEndHCenter {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.h100 {
	height: 100vh;
}

.w100 {
	width: 100% !important;
}

.w50 {
	width: 50% !important;
}

.w33 {
	width: 33.33% !important;
}

.pointer {
	cursor: pointer;
}

.text-green {
	color: green;
}

.text-crimson {
	color: crimson;
}

.txt-primary {
	color: $primary-color !important;
}

.btn-option {
	padding: 0px 10px;
	line-height: 16px;
	height: 30px;
	margin-right: 5px;

	i {
		margin: 0 !important;
		font-size: 1rem;
	}
}

.sm-table-icon {
	font-size: 0.8rem !important;
}

.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.data-table datatable-header-cell .datatable-header-cell-label {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 40px;
}

.data-table datatable-header-cell.sortable:after {
	top: 5px;
}

.data-table datatable-header-cell.sortable:before {
	top: 5px;
}

.datatable-body-cell-label {
	width: 100% !important;
}

.nav-item {
	a {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

input {
	border-radius: 5px;
}

.inputDate {
	border-radius: 5px 0 0 5px !important;
}

//return-alert.component.html
ngx-select#exibition {
	@media (max-width: 1500px) {
		span {
			font-size: 10px !important;
		}
	}
}

.ngx-select__toggle {
	border-radius: 5px !important;
}

.ngx-select__placeholder {
	overflow: visible;
	margin-top: -4px;
}

button {
	border-radius: 3px;
}

.has-error {
	label {
		color: $danger-color;
		font-weight: bold;
	}

	input {
		border-left: 4px solid $danger-color;
	}
}

.text-feedback {
	font-size: smaller;
	color: $danger-color;
	text-align: right;
	padding-top: 3px;
	width: 100%;

	&--no-danger {
		color: inherit;
	}
}

.btn-group .btn {
	font-size: small !important;
	padding: 7px 5px !important;
}

.btnRadio {
	background-color: #fff;
	color: $theme-font-color;
	border: 1.4px solid $border-color;
}

.noHover {
	box-shadow: 0 1px 8px 0.08px rgba(4, 26, 55, 0.16) !important;

	&:hover {
		box-shadow: 0 1px 8px 0.08px rgba(4, 26, 55, 0.16) !important;
	}
}

.customHeader {
	padding: 20px 10px 0px 15px !important;

	span {
		font-weight: bold;
		font-size: 1.2rem !important;
	}
}

.customHeaderComp {
	padding: 0px 10px 0px 15px !important;

	span {
		font-weight: bold;
		font-size: 1.2rem !important;
	}
}

.tableModal {
	height: 100% !important;
	overflow-y: auto !important;
	cursor: pointer !important;

	.visible {
		datatable-header {
			width: 100% !important;

			.datatable-header-inner {
				width: 100% !important;
			}
		}

		.datatable-body {
			width: 100% !important;
			overflow: auto !important;

			datatable-selection {
				datatable-scroller {
					width: 100% !important;

					datatable-row-wrapper {
						width: 100% !important;

						datatable-body-row {
							width: 100% !important;

							.datatable-row-group {
								datatable-body-cell {
									width: 100% !important;
									white-space: pre-line !important;
									line-height: 1.3 !important;
								}
							}
						}
					}
				}
			}
		}
	}
}

.tableModal_height {
	height: 88% !important;
}

.ngx-select__selected-plural {
	padding: 3px 5px 3px 10px !important;
	background-color: $primary-color !important;
	border-color: $primary-color !important;
	font-size: small;
}

.ng-select {
	.above {
		.multiple {
			height: auto !important;

			.option {
				height: 28px;
				margin-top: 2px !important;
				padding-top: 2px !important;
				font-size: small !important;
			}
		}
	}

	.below {
		.multiple {
			height: auto !important;

			.option {
				height: 28px;
				margin-top: 2px !important;
				padding-top: 2px !important;
				font-size: small !important;
			}
		}
	}
}

.ng-select {
	&.custom-ng-select-form-patients,
	&.custom-ng-select-emit-prescription {
		.ng-select-container {
			height: 32px !important;
			min-height: 32px;
			font-size: 12px;

			&:hover {
				color: #333;
				background-color: #e6e6e6;
				border-color: #adadad;
			}
		}
	}
}

.iconModalClose {
	color: $inverse-color;
	font-size: 1.8rem;
	cursor: pointer;
}

.btn-primary:disabled {
	cursor: not-allowed;
	background-color: #7ea4cc !important;
	border-color: #7ea4cc !important;
}

.btn-success:disabled {
	cursor: not-allowed;
	background-color: #91cec2 !important;
	border-color: #91cec2 !important;
}

.lightbox {
	// deve sempre ser o TERCEIRO maior z-index
	z-index: 10000004 !important;
}

.lightboxOverlay {
	// deve sempre ser o QUARTO maior z-index
	z-index: 10000003 !important;
}

.swal2-container {
	// deve sempre ser o QUINTO maior z-index
	z-index: 10000002 !important;
}

@keyframes animate-stripes {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 60px 0;
	}
}

.meter {
	max-width: 150px;
	right: 0;
	width: 100%;
	height: 15px;
	position: absolute;
	/* Can be anything */
	background: #555;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter > span {
	display: block;
	height: 15px;
	top: 0;
	position: absolute;
	left: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: $approved-color;
	background-image: linear-gradient(center bottom, $approved-color 37%, rgb(84, 240, 84) 69%);
	box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.meter > span:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%,
		transparent 75%,
		transparent
	);
	z-index: 1;
	background-size: 50px 50px;
	animation: animate-stripes 3s linear infinite;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow: hidden;
}

.accordion {
	.card {
		.card-header {
			padding: 10px !important;
		}
	}
}

.normal-size-pagination-sm {
	.pagination-sm {
		.page-item:first-child .page-link {
			padding: 0.25rem 0.5rem;
		}

		.page-item:last-child .page-link {
			padding: 0.25rem 0.5rem;
		}
	}
}

.page-item:first-child .page-link {
	padding: 6px 10px;
}

.page-item:last-child .page-link {
	padding: 6px 10px;
}

/* FIREFOX FIX OF UGLY SELECT BOXES */
@supports (-moz-appearance: none) {
	SELECT {
		-moz-appearance: none !important;
		background: transparent
			url("data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==")
			right center no-repeat !important;
		background-position: calc(100% - 5px) center !important;
	}
}

.ngx-datatable .datatable-footer {
	.page-count,
	.datatable-pager {
		flex: 1 1 50% !important;
	}
}

#scrollable-dropdown-menu {
	.dropdown-menu {
		max-height: 150px !important;
		overflow-y: auto !important;
	}

	.dropdown-item {
		font-size: 12px !important;
	}
}

/* NGX Charts Adjusts */
.chart-legend .legend-labels {
	width: auto !important;
}

/* Estilo especial para select */
#schedulingsReport__listaStatusTratamento .ngx-select__selected-single {
	@media (max-width: 1500px) {
		span {
			font-size: 10px !important;
		}
	}
}

// Correção para dropdown cortando texto
.ngx-select__toggle > .ngx-select__selected-single {
	overflow: visible !important;
}

.sell-report-list {
	width: 100%;

	.dayOfWeek {
		text-transform: none;
	}

	.btn {
		&.btn-link {
			color: black;
			padding: 0;
			position: sticky;
			z-index: 1;
			width: 100%;
			text-decoration: none;

			&:hover {
				cursor: pointer;
			}

			.badge.badge-primary {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				padding: 10px;
			}
		}
	}

	.card {
		box-shadow: none;
		margin-bottom: 0;

		.card-body {
			padding-left: 0;
			padding-top: 0;
			padding-bottom: 0;
			margin-left: 35px;
			border-left: 1px solid black;

			ul li.list-group-item {
				padding-left: 40px;
			}
		}
	}
}

.fluxo-caixa-tabs {
	padding: 15px;
	height: 100%;

	.tab-pane,
	.tab-content {
		height: 95%;
	}
}

@media only screen and (max-width: 1050px) {
	.dayOfWeek {
		font-size: 0.7em;
	}
}

.nav.nav-tabs {
	position: relative;
	z-index: 100;
}

.nav-link:hover:not(.active) {
	border-color: transparent;
}

.tab-pane.active > .card {
	border-top-left-radius: 0;
	border: solid 1px #dee2e6;
	border-top: none;
	transition: unset;

	@extend .noHover;
}
