::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #4099ff;
  border: 14px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0d4687;
}

::-webkit-scrollbar-thumb:active {
  background: #0c315c;
}

::-webkit-scrollbar-track {
  background: #c0c0c0;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #969595;
}

::-webkit-scrollbar-track:active {
  background: #737373;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
