<!-- Forma de setar estilo no css -->
<style>
	.table-striped .table th, .table td {
		padding: 0.5rem;
		vertical-align: middle;
	}
</style>

<div class="card noHover contentPage">

	<ng-container>
		<div class="row header-actions">
			<div class="col-6">
				<form>
					<label>
						<strong>
							{{'CONFIG.ANAMNESE.LABELS.ANAMNESE_MODEL_NAME' | translate}}
						</strong>
					</label>
					<input type="text"
						   name="description"
						   [(ngModel)]="anamnese.nome"
						   class="form-control"
						   [placeholder]="('CONFIG.ANAMNESE.LABELS.ANAMNESE_MODEL_NAME' | translate) + ' *'"
						   required>
				</form>
			</div>
			<div class="col-6 flexEnd">
				<button (click)="newQuestion()" class="btn btn-primary">
					{{'CONFIG.ANAMNESE.LABELS.NEW_QUESTION' | translate}}
				</button>
			</div>
		</div>

		<table class="table table-striped anamnese-table">
			<thead>
			<tr>
				<th scope="col">{{'CONFIG.ANAMNESE.TABS.ACTIONS' | translate}}</th>
				<th scope="col">{{'CONFIG.ANAMNESE.TABS.QUESTION' | translate}}</th>
				<th scope="col">{{'CONFIG.ANAMNESE.TABS.QUESTION_TYPE' | translate}}</th>
				<th scope="col">{{'CONFIG.ANAMNESE.TABS.QUESTION_ALERT' | translate}}</th>
				<th scope="col">{{'CONFIG.ANAMNESE.TABS.ACTIVE' | translate}}</th>
				<th scope="col"></th>
			</tr>
			</thead>
			<tbody dragula="ANAMNESE" [(dragulaModel)]="anamnese.perguntas" (dragulaModelChange)="onDrag($event)">
			<tr *ngFor="let question of anamnese.perguntas">
				<td>
					<button class="btn btn-option btn-primary" (click)="newQuestion(question)"
							[ngbTooltip]="'COMMON.EDIT_REGISTER' | translate" placement="right">
						<i class="ci icon-edit ajustaIcon"></i>
					</button>
				</td>
				<td>{{ question.pergunta }}</td>
				<td>{{ questionType[question.tipoPergunta] }}</td>
				<td>{{ questionAlert[question.tipoAlerta] }}</td>
				<td>
					<ui-switch size="small"
							   (change)="onStatusChange(question, $event)"
							   [checked]="question.status === status.ATIVO"
							   [ngbTooltip]="question.status === status.ATIVO ?
                     '' : ('CONFIG.ANAMNESE.LABELS.INATIVE_QUESTION' | translate)"
							   placement="bottom"></ui-switch>
				</td>
				<td><i class="icofont icofont-sort"></i></td>
			</tr>
			</tbody>
		</table>

		<div class="row footer-actions">
			<div class="col-md-6"></div>
			<div class="col-md-6 flexEnd">
				<button type="button"
						class="btn btn-primary close-button btn-sm waves-effect text-center"
						[routerLink]="['../']">{{'CONFIG.ANAMNESE.BUTTONS.CLOSE' | translate}}
				</button>
				<button type="button"
						class="btn btn-success btn-sm waves-effect text-center"
						[disabled]="!anamnese.nome || !anamnese.nome.trim() || !(anamnese.perguntas.length > 0)"
						(click)="save()">{{'CONFIG.ANAMNESE.BUTTONS.SAVE' | translate}}
				</button>
			</div>
		</div>

	</ng-container>

</div>
