.icofont-sort {
  cursor: move;
  font-size: 20px;
}

table {
  border: 1px solid #dee2e6;
  margin: 15px auto;
}

.flexEnd {
  button {
    margin-left: 30px;
  }
}

.anamnese-table {

  width: 100%;

  td {
    white-space: nowrap;
  }

  td:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 25rem;
  }
}
