<div class="card" id="card-modal">
	<i class="icofont icofont-close iconModalClose modal-close-icon" (click)="close()"></i>
	<div *ngIf="!eventObj.id && !eventObj.alertaRetornoId" class="card-header customHeader row">
		<div class="col-10 col-sm-10 p-l-20">
			<div class="radio minimal-blue-radio">
				<input
					id="scheduling"
					type="radio"
					name="scheduling"
					(ngModelChange)="changeModalWidth($event)"
					[(ngModel)]="modelType"
					[value]="scheduling"
				/>
				<label for="scheduling">
					<b>{{ "AGENDA.SCHEDULING" | translate }}</b>
				</label>
				<input
					id="commitment"
					type="radio"
					name="commitment"
					(ngModelChange)="changeModalWidth($event)"
					[(ngModel)]="modelType"
					[value]="commitment"
				/>
				<label for="commitment">
					<b>{{ "AGENDA.COMMITMENT.TITLE" | translate }}</b>
				</label>
			</div>
		</div>
		<hr />
	</div>
	<div class="card-body">
		<div [ngSwitch]="modelType">
			<app-scheduling
				*ngSwitchCase="scheduling"
				[patient]="patient"
				[eventObj]="eventObj"
				[convenantsList]="convenantsList"
				[professionals]="professionals"
				[modal]="modal"
				[source]="source"
				(close)="close()"
				(eventsChange)="eventsChange.emit($event)"
				#schedulingComponent
			></app-scheduling>
			<app-commitment
				*ngSwitchCase="commitment"
				[professionals]="professionals"
				(close)="close()"
				(eventsChange)="eventsChange.emit()"
				[commitment]="eventObj"
			></app-commitment>
		</div>
	</div>
</div>
