.card {
	max-height: 98vh;
	overflow-y: auto;
	min-width: 900px;
	min-height: 580px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	overflow: visible;
	.card-header {
		width: 100%;
	}
}

.modal-close-icon {
	position: absolute;
	right: 20px;
	top: 20px;
}
