<div class="row">
	<div class="form-group col-md-3">
		<label for="date-format">Período</label>

		<ng-select
			[(ngModel)]="periodo"
			(ngModelChange)="updateFiltersFromPeriod($event)"
			[items]="periodosOptions"
			bindValue="value"
			name="date-format"
			id="date-format"
		>
		</ng-select>
	</div>

	<div class="col-md-5">
		<div class="row">
			<ng-container *ngIf="periodo === FormatoPeriodo.ESPECIFICO">
				<div class="form-group col-md-6">
					<label for="data-inicio">Início</label>

					<div class="input-group m-0">
						<input
							id="data-inicio"
							name="data-inicio"
							class="form-control"
							placeholder="dd/mm/YYYY"
							[ngModel]="filters.startDate"
							(ngModelChange)="patchFilters({ startDate: $event })"
							ngbDatepicker
							(focus)="dataInicialDatepicker.toggle()"
							[readonly]="true"
							#dataInicialDatepicker="ngbDatepicker"
						/>

						<div class="input-group-append bg-default" (click)="dataInicialDatepicker.toggle()">
							<div class="icofont icofont-ui-calendar input-group-text"></div>
						</div>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label for="data-fim">Fim</label>

					<div class="input-group m-0">
						<input
							id="data-fim"
							name="data-fim"
							class="form-control"
							placeholder="dd/mm/YYYY"
							[ngModel]="filters.endDate"
							(ngModelChange)="patchFilters({ endDate: $event })"
							ngbDatepicker
							(focus)="dataFimDatepicker.toggle()"
							[readonly]="true"
							#dataFimDatepicker="ngbDatepicker"
						/>

						<div class="input-group-append bg-default" (click)="dataFimDatepicker.toggle()">
							<div class="icofont icofont-ui-calendar input-group-text"></div>
						</div>
					</div>
				</div>
			</ng-container>
		</div>
	</div>

	<div class="form-group col-md-4 header-actions flexEnd align-items-end">
		<button class="btn btn-success btn-sm" type="button" (click)="triggerFilter()">
			Pesquisar
		</button>

		<div class="btn-group btn-group-traditional m-l-10">
			<button
				class="btn btn-primary btn-sm"
				[ngbTooltip]="'Novo'"
				type="button"
				(click)="detachedParcel()"
			>
				<i class="icofont icofont-ui-add"></i>
			</button>

			<button
				class="btn btn-primary btn-sm"
				[ngbTooltip]="'Imprimir'"
				(click)="generateReport.emit()"
			>
				<i class="icofont icofont-print"></i>
			</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="form-group col-md-4">
		<label for="lancamento">Tipo Lançamento</label>

		<ng-select
			[ngModel]="filters.lancamento"
			(ngModelChange)="patchFilters({ lancamento: $event })"
			[items]="lancamentosOptions"
			[multiple]="true"
			placeholder="Escolher"
			bindValue="value"
			name="lancamento"
			id="lancamento"
		>
		</ng-select>
	</div>

	<div class="form-group col-md-4">
		<label for="pagamento">Forma de Pagamento</label>

		<ng-select
			[ngModel]="filters.pagamento"
			(ngModelChange)="patchFilters({ pagamento: $event })"
			[items]="pagamentoOptions"
			[multiple]="true"
			placeholder="Escolher"
			bindValue="value"
			name="pagamento"
			id="pagamento"
		>
		</ng-select>
	</div>

	<div class="form-group col-md-4">
		<label for="pagamento">Convênio</label>

		<ng-select
			[ngModel]="filters.idConvenio"
			(ngModelChange)="patchFilters({ idConvenio: $event })"
			[items]="covenants"
			placeholder="Escolher"
			bindValue="id"
			bindLabel="nome"
			name="idConvenio"
			id="idConvenio"
		>
		</ng-select>
	</div>

	<div class="form-group col-md-6">
		<label for="pagamento">Nome do Paciente</label>

		<input
			class="form-control"
			name="patientName"
			type="search"
			placeholder="Escreva"
			(ngModelChange)="nomePaciente.next($event)"
			[ngModel]="nomePaciente.value"
		/>
	</div>

	<div class="form-group col-md-6">
		<label for="pagamento">Descrição da Parcela</label>

		<input
			class="form-control"
			name="parcelDescription"
			type="search"
			placeholder="Pesquise por descrição ou número da guia"
			(ngModelChange)="descricao.next($event)"
			[ngModel]="descricao.value"
		/>
	</div>
</div>
