.date-group {
	.title {
		margin-bottom: 1em;
	}

	.single-document-card {
		height: 25em;

		img {
			position: absolute;
			margin: auto;
			right: 0;
			left: 0;
			cursor: pointer;
			max-height: 15em;
		}

		.card-bottom {
			.title-label {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			position: absolute;
			bottom: 0;
			width: 100%;
		}

		.document-date {
			color: grey;
		}

		.actions {
			display: flex;
			justify-content: space-between;

			i {
				cursor: pointer;
				color: grey;
				font-size: 20px;
			}
		}
	}
}
