<div class="row m-b-20">
	<div class="col col-sm-12 col-md-4">
		<button
			type="button"
			class="btn btn-primary btn-sm btn-block text-center"
			(click)="uploadDocument()"
		>
			{{ "PATIENTS.DOCUMENT.ADD" | translate }}
		</button>
	</div>

	<div class="col col-sm-12 col-md-4">
		<a
			ngbDropdownToggle
			class="btn btn-outline-primary btn-sm btn-block text-center"
			ngbDropdown
			placement="bottom"
		>
			<span>
				{{ "PATIENTS.DOCUMENT.TAKE_PHOTO" | translate }}
				<i id="dropdownControls"></i>
			</span>

			<div ngbDropdownMenu aria-labelledby="dropdownControls">
				<button ngbDropdownItem (click)="cameraUpload()">
					{{ "PATIENTS.DOCUMENT.SINGLE_PHOTO" | translate }}
				</button>

				<button ngbDropdownItem (click)="multipleCameraUpload()">
					{{ "PATIENTS.DOCUMENT.MULTIPLES_PHOTOS" | translate }}
				</button>
			</div>
		</a>
	</div>
</div>

<div class="card noHover">
	<div class="card-body row date-group" *ngFor="let group of groups">
		<div class="col-12">
			<h5 class="title">{{ dateFromString(group) | date: "longDate" }}</h5>
		</div>

		<app-gallery #gal>
			<ng-container
				*ngFor="let document of documentsFromGroup(group)"
				appGalleryItem
				[document]="document"
				[galleryImageSrc]="document.urlAnexo"
			></ng-container>
		</app-gallery>

		<div
			*ngFor="let document of documentsFromGroup(group); let i = index"
			class="col-sm-12 col-md-4"
		>
			<div class="card single-document-card">
				<div class="card-header">
					<img (click)="gal.open(i)" [src]="document.urlAnexoThumb" />
				</div>

				<div class="card-block card-bottom">
					<div class="row">
						<div class="col-12 title-label">
							<strong>{{ getLabel(document.descricao) }}</strong>
						</div>
					</div>

					<hr />

					<div class="row">
						<div class="col-6 document-date">
							{{ document.data }}
						</div>

						<div class="col-6 actions">
							<i
								placement="bottom"
								[ngbTooltip]="'PATIENTS.DOCUMENT.EDIT.TITLE' | translate"
								(click)="edit(document)"
								class="icofont icofont-edit-alt"
							></i>

							<i
								placement="bottom"
								[ngbTooltip]="'PATIENTS.DOCUMENT.DOWNLOAD.TITLE' | translate"
								(click)="download(document)"
								class="icofont icofont-download-alt"
							></i>

							<i
								placement="bottom"
								[ngbTooltip]="'PATIENTS.DOCUMENT.DELETE.TITLE' | translate"
								(click)="delete(document)"
								class="icofont icofont-delete-alt"
							></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
