<simple-notifications [options]="this.service.options"></simple-notifications>

<div class="card noHover" *ngIf="parcela">
  <div class="card-header customHeader">
    <div class="row p-l-20 m-r-10">
      <div class="col-10 col-sm-10 p-0 p-l-30">
        <span>{{'PATIENTS.MODAL_EDIT_PARCELA.TITLE' | translate}}</span>
      </div>
      <div class="col-2 col-sm-2 flexEnd p-0 p-r-30">
        <i class="icofont icofont-close iconModalClose" (click)="service.closeModal('modal-parcela', null)"></i>
      </div>
    </div>
  </div>
  <div class="card-body row adjustModal">
    <div class="row col-12 p-l-0 p-r-0 m-l-0 m-r-0 m-t-20">

      <div class="col-12 col-sm-12 col-md-4 p-l-0 m-b-15">
        <label for="formaDeRecebimento">{{
              "PATIENTS.FORM_TREATMENT.formaDeRecebimento" | translate
            }}</label><br />

        <ngx-select id="formaDeRecebimento" name="formaDeRecebimento" [items]="LISTAS_LOCAIS.listaFormaRecebimento"
          [(ngModel)]="parcela.formaDeRecebimento" (open)="service.doOpenSelect()" size="medium"
          [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')" optionTextField="label"
          optionValueField="value" [noResultsFound]="service.translate.instant('COMMON.NORESULT')">
        </ngx-select>
      </div>

      <div class="col-12 col-sm-12 col-md-4 m-b-15">
        <label for="dataVencimento">{{'PATIENTS.FORM_TREATMENT.dataVencimento' | translate}}</label><br>
        <div class="col-sm-12 input-group m-0 p-0">
          <input id="dataVencimento" name="dataVencimento" class="form-control inputDate"
            [(ngModel)]="parcela.dataVencimento" ngbDatepicker #dataVencimento="ngbDatepicker"
            (focus)="dataVencimento.toggle()" [readonly]="true">

          <div class="input-group-append bg-default" (click)="dataVencimento.toggle()">
            <span class="icofont icofont-ui-calendar input-group-text"></span>
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-4" [ngClass]="parcela.valor ? '' : 'has-error'">
        <label for="valor">{{'PATIENTS.MODAL_PROCEDURE.VALUE' | translate}}</label>
        <input currencyMask [(ngModel)]="parcela.valor" id="valor" class="form-control">
        <div class="text-feedback" *ngIf="!parcela.valor">
          <span>{{'COMMON.REQUIRED' | translate}}</span>
        </div>
      </div>
    </div>

    <div class="row col-12 p-l-0 p-r-0 m-l-0 m-r-0 m-t-20">
      <div class="col-md-9"></div>
      <div class="col-12 col-sm-12 col-md-3">
        <button [disabled]="!parcela.valor
        || !parcela.dataVencimento
        || !parcela.formaDeRecebimento" type="button" class="btn btn-success btn-sm btn-block waves-effect text-center"
          (click)="save()">{{'COMMON.SAVE' | translate}}</button>
      </div>
    </div>
  </div>
</div>
