@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?bn9veo');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?bn9veo#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?bn9veo') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?bn9veo') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?bn9veo##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ci {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tools {
  &:before {
    content: $icon-tools; 
  }
}
.icon-undo {
  &:before {
    content: $icon-undo; 
  }
}
.icon-redo {
  &:before {
    content: $icon-redo; 
  }
}
.icon-maximize {
  &:before {
    content: $icon-maximize; 
  }
}
.icon-minimize {
  &:before {
    content: $icon-minimize; 
  }
}
.icon-bill {
  &:before {
    content: $icon-bill; 
  }
}
.icon-credit-card {
  &:before {
    content: $icon-credit-card; 
  }
}
.icon-received {
  &:before {
    content: $icon-received; 
  }
}
.icon-image {
  &:before {
    content: $icon-image; 
  }
}
.icon-camera {
  &:before {
    content: $icon-camera; 
  }
}
.icon-crop {
  &:before {
    content: $icon-crop; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-money-back {
  &:before {
    content: $icon-money-back; 
  }
}
.icon-save-money {
  &:before {
    content: $icon-save-money; 
  }
}
.icon-bubble {
  &:before {
    content: $icon-bubble; 
  }
}
.icon-blocked {
  &:before {
    content: $icon-blocked; 
  }
}
.icon-floppy {
  &:before {
    content: $icon-floppy; 
  }
}
.icon-aproved {
  &:before {
    content: $icon-aproved; 
  }
}
.icon-desaproved {
  &:before {
    content: $icon-desaproved; 
  }
}
.icon-cancel {
  &:before {
    content: $icon-cancel; 
  }
}
.icon-go {
  &:before {
    content: $icon-go; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-location2 {
  &:before {
    content: $icon-location2; 
  }
}
.icon-user-tie {
  &:before {
    content: $icon-user-tie; 
  }
}
.icon-aid-kit {
  &:before {
    content: $icon-aid-kit; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-dental {
  &:before {
    content: $icon-dental; 
  }
}
.icon-id-card {
  &:before {
    content: $icon-id-card; 
  }
}
.icon-money {
  &:before {
    content: $icon-money; 
  }
}
.icon-records {
  &:before {
    content: $icon-records; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-delete {
  &:before {
    content: $icon-delete; 
  }
}
.icon-settings {
  &:before {
    content: $icon-settings; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-dentist-chair {
  &:before {
    content: $icon-dentist-chair; 
  }
}
.icon-dashboard {
  &:before {
    content: $icon-dashboard; 
  }
}
.icon-finance {
  &:before {
    content: $icon-finance; 
  }
}
.icon-patients {
  &:before {
    content: $icon-patients; 
  }
}
.icon-pay {
  &:before {
    content: $icon-pay; 
  }
}
.icon-piggy-bank {
  &:before {
    content: $icon-piggy-bank; 
  }
}

