@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bn9veo');
  src:  url('fonts/icomoon.eot?bn9veo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bn9veo') format('truetype'),
    url('fonts/icomoon.woff?bn9veo') format('woff'),
    url('fonts/icomoon.svg?bn9veo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ci {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tools:before {
  content: "\e91e";
}
.icon-undo:before {
  content: "\e967";
}
.icon-redo:before {
  content: "\e968";
}
.icon-maximize:before {
  content: "\e91c";
}
.icon-minimize:before {
  content: "\e91d";
}
.icon-bill:before {
  content: "\e919";
}
.icon-credit-card:before {
  content: "\e91a";
}
.icon-received:before {
  content: "\e91b";
}
.icon-image:before {
  content: "\e917";
}
.icon-camera:before {
  content: "\e918";
}
.icon-crop:before {
  content: "\ea57";
}
.icon-arrow-left:before {
  content: "\ea40";
}
.icon-info:before {
  content: "\e916";
}
.icon-money-back:before {
  content: "\e915";
}
.icon-save-money:before {
  content: "\e914";
}
.icon-bubble:before {
  content: "\e96e";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-floppy:before {
  content: "\e962";
}
.icon-aproved:before {
  content: "\e910";
}
.icon-desaproved:before {
  content: "\e911";
}
.icon-cancel:before {
  content: "\e90d";
}
.icon-go:before {
  content: "\e90e";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-location2:before {
  content: "\e948";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-aid-kit:before {
  content: "\e998";
}
.icon-check:before {
  content: "\e912";
}
.icon-dental:before {
  content: "\e909";
}
.icon-id-card:before {
  content: "\e90a";
}
.icon-money:before {
  content: "\e90b";
}
.icon-records:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e908";
}
.icon-edit:before {
  content: "\e913";
}
.icon-delete:before {
  content: "\e90f";
}
.icon-settings:before {
  content: "\e907";
}
.icon-calendar:before {
  content: "\e900";
}
.icon-dentist-chair:before {
  content: "\e906";
}
.icon-dashboard:before {
  content: "\e901";
}
.icon-finance:before {
  content: "\e902";
}
.icon-patients:before {
  content: "\e903";
}
.icon-pay:before {
  content: "\e904";
}
.icon-piggy-bank:before {
  content: "\e905";
}
