<div class="row">
  <div class="col-md-2 form-group">
    <label for="input-hora-inicial">Hora Inicial</label>
    <input type="text" class="form-control text-center"
      id="input-hora-inicial"
      name="horaInicial"
      placeholder="00:00"
      [mask]="'00:00'"
      [dropSpecialCharacters]="false"
      [(ngModel)]="conta.horaAbertura"
      appBootstrapInput>
  </div>

  <div class="col-md-2 form-group">
    <label for="input-hora-final">Hora Final</label>
    <input type="text" class="form-control text-center"
      id="input-hora-final"
      name="horaFinal"
      placeholder="00:00"
      [mask]="'00:00'"
      [dropSpecialCharacters]="false"
      [(ngModel)]="conta.horaFechamento"
      appBootstrapInput>
  </div>
</div>
