<div class="row">
    <div class="col-12" [hidden]="!chart || loading" style="height: 50vh">
        <canvas [height]="90" id="monthly-canvas">{{ chart }}</canvas>
    </div>
</div>
<ng-container *ngIf="!loading; else loadingTemplate">
    <div class="row m-t-20">
        <div class="col-12">
            <ngx-datatable *ngIf="cashFlow && cashFlow.items && cashFlow.items.length > 0"
                    class="monthly-cash-flow"
                    [appAutosizedDatatable]
                    [columnMode]="'force'"
                    [loadingIndicator]="true"
                    [headerHeight]="50"
                    [messages]="portugueseMessages"
                    [scrollbarV]="true"
                    [scrollbarH]="true"
                    [rowHeight]="200"
                    [rows]="[{}]">
                <ngx-datatable-column [sortable]="false" [minWidth]="200" [maxWidth]="200">
                    <ng-template ngx-datatable-cell-template>
                        <ul class="list-group m-t-40">
                            <li class="list-group-item">{{'REPORTS.CASH_FLOW.MONTHLY.PREVIOUS_MONTH_BALANCE' | translate}}</li>
                            <li class="list-group-item">{{'REPORTS.CASH_FLOW.MONTHLY.RECEIVES' | translate}}</li>
                            <li class="list-group-item">{{'REPORTS.CASH_FLOW.MONTHLY.PAYMENTS' | translate}}</li>
                            <li class="list-group-item">{{'REPORTS.CASH_FLOW.MONTHLY.FINAL_BALANCE' | translate}}</li>
                        </ul>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [minWidth]="250" [maxWidth]="250" headerClass="column"
                                      *ngFor="let column of months; let i = index" [name]="column.label">
                    <ng-template ngx-datatable-cell-template>
                        <table class="monthly-cash-flow__nested-table">
                            <tr>
                                <th>{{'REPORTS.CASH_FLOW.MONTHLY.PREDICTED' | translate}}</th>
                                <th>{{'REPORTS.CASH_FLOW.MONTHLY.REALIZED' | translate}}</th>
                            </tr>
                            <tr>
                                <td>{{numberToBRLCurrency(cashFlow?.items[i]?.saldoPrevistoMesAnterior)}}</td>
                                <td>{{numberToBRLCurrency(cashFlow?.items[i]?.saldoRealizadoMesAnterior)}}</td>
                            </tr>
                            <tr>
                                <td>{{numberToBRLCurrency(cashFlow?.items[i]?.recebimentoPrevisto)}}</td>
                                <td>{{numberToBRLCurrency(cashFlow?.items[i]?.recebimentoRealizado)}}</td>
                            </tr>
                            <tr>
                                <td>{{numberToBRLCurrency(cashFlow?.items[i]?.saidaPrevisto)}}</td>
                                <td>{{numberToBRLCurrency(cashFlow?.items[i]?.saidaRealizado)}}</td>
                            </tr>
                            <tr>
                                <td>{{numberToBRLCurrency(cashFlow?.items[i]?.lucroPrejuizoPrevisto)}}</td>
                                <td>{{numberToBRLCurrency(cashFlow?.items[i]?.lucroPrejuizoRealizado)}}</td>
                            </tr>
                        </table>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [minWidth]="250" [maxWidth]="250" headerClass="column"
                                      name="Totais">
                    <ng-template ngx-datatable-cell-template>
                        <table class="monthly-cash-flow__nested-table">
                            <tr>
                                <th>{{'REPORTS.CASH_FLOW.MONTHLY.PREDICTED' | translate}}</th>
                                <th>{{'REPORTS.CASH_FLOW.MONTHLY.REALIZED' | translate}}</th>
                            </tr>
                            <tr>
                                <td> -</td>
                                <td> -</td>
                            </tr>
                            <tr>
                                <td>{{numberToBRLCurrency(cashFlow?.totalRecebimentoPrevisto)}}</td>
                                <td>{{numberToBRLCurrency(cashFlow?.totalRecebimentoRealizado)}}</td>
                            </tr>
                            <tr>
                                <td>{{numberToBRLCurrency(cashFlow?.totalSaidaPrevisto)}}</td>
                                <td>{{numberToBRLCurrency(cashFlow?.totalSaidaRealizado)}}</td>
                            </tr>
                            <tr>
                                <td>{{numberToBRLCurrency(cashFlow?.saldoFinalPrevisto)}}</td>
                                <td>{{numberToBRLCurrency(cashFlow?.saldoFinalRealizado)}}</td>
                            </tr>
                        </table>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
    <!-- Tabela oculta, apenas para exportar o relatório como xlsx -->
    <table hidden id="monthly-report-table" *ngIf="cashFlow && cashFlow.items && cashFlow.items.length > 0">
        <tr>
            <th>Fluxo de Caixa</th>
            <ng-container *ngFor="let column of months">
                <th>Previsto</th>
                <th>Realizado</th>
            </ng-container>
        </tr>
        <tr>
            <td></td>
            <ng-container *ngFor="let column of months">
                <td>{{column.value?.slice(0, 3) + '-' + filter?.ano}}</td>
                <td>{{column.value?.slice(0, 3) + '-' + filter?.ano}}</td>
            </ng-container>
            <td>Total</td>
            <td>Total</td>
        </tr>
        <tr>
            <td>Saldo do Mês Anterior (totalizador)</td>
            <ng-container *ngFor="let column of months; let i = index">
                <td>{{numberToBRLCurrency(cashFlow?.items[i]?.saldoPrevistoMesAnterior)}}</td>
                <td>{{numberToBRLCurrency(cashFlow?.items[i]?.saldoRealizadoMesAnterior)}}</td>
            </ng-container>
            <td> -</td>
            <td> -</td>
        </tr>
        <tr>
            <td>Total de Recebimentos</td>
            <ng-container *ngFor="let column of months; let i = index">
                <td>{{numberToBRLCurrency(cashFlow?.items[i]?.recebimentoPrevisto)}}</td>
                <td>{{numberToBRLCurrency(cashFlow?.items[i]?.recebimentoRealizado)}}</td>
            </ng-container>
            <td>{{numberToBRLCurrency(cashFlow?.totalRecebimentoPrevisto)}}</td>
            <td>{{numberToBRLCurrency(cashFlow?.totalRecebimentoRealizado)}}</td>
        </tr>
        <tr>
            <td>Total de Pagamentos</td>
            <ng-container *ngFor="let column of months; let i = index">
                <td>{{numberToBRLCurrency(cashFlow?.items[i]?.saidaPrevisto)}}</td>
                <td>{{numberToBRLCurrency(cashFlow?.items[i]?.saidaRealizado)}}</td>
            </ng-container>
            <td>{{numberToBRLCurrency(cashFlow?.totalSaidaPrevisto)}}</td>
            <td>{{numberToBRLCurrency(cashFlow?.totalSaidaRealizado)}}</td>
        </tr>
        <tr>
            <td>Saldo Final de Caixa (totalizador)</td>
            <ng-container *ngFor="let column of months; let i = index">
                <td>{{numberToBRLCurrency(cashFlow?.items[i]?.lucroPrejuizoPrevisto)}}</td>
                <td>{{numberToBRLCurrency(cashFlow?.items[i]?.lucroPrejuizoRealizado)}}</td>
            </ng-container>
            <td>{{numberToBRLCurrency(cashFlow?.saldoFinalPrevisto)}}</td>
            <td>{{numberToBRLCurrency(cashFlow?.saldoFinalRealizado)}}</td>
        </tr>
    </table>
</ng-container>
<ng-template #loadingTemplate>
    <app-loading-spinner></app-loading-spinner>
</ng-template>
