.monthly-cash-flow {
  &__nested-table {
    width: 100%;

    tr:nth-child(even) {
      background-color: #F2F2F2;
    }

    tr:not(:first-child) {
      border-bottom: 1px solid #eceeef;
      border-top: 1px solid #eceeef;
    }

    tr:first-child {
      border-top: none;
    }

    tr:last-child {
      border-bottom: none;
    }

    th, tr {
      height: 40px;
      font-weight: normal;
      text-align: center;
    }

    th:first-child, td:first-child {
      border-right: 1px solid #eceeef;
    }
  }
}

.list-group-item {
  padding: .5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
