<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row containerFlip flexCenter h100">
          <div class="login-card card-block auth-body mr-auto ml-auto rotateCard authCard">

            <form class="md-float-material" (ngSubmit)="aceitarConvite()">
              <div class="auth-box">
                <div class="text-center">
                  <img src="assets/images/logo.png"
                    class="logoLogin"
                    alt="Gradient Able">
                </div>

                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h5 class="text-center titleFont" *ngIf="inviteInfo | async as invite">
                      Para aceitar o convite,
                      {{ invite.isUsuarioNovo
                      ? 'cadastre-se'
                      : 'entre com sua senha'}}
                    </h5>
                  </div>
                </div>

                <hr />

                <div class="input-group">
                  <input type="email"
                    class="form-control"
                    name="email"
                    [readOnly]="true"
                    [value]="(inviteInfo | async)?.usuarioEmail"
                    placeholder="Seu email">
                  <span class="md-line"></span>
                </div>

                <div class="input-group">
                  <input type="password"
                    name="password"
                    class="form-control"
                    [(ngModel)]="password"
                    placeholder="Senha">
                  <span class="md-line"></span>
                </div>

                <div class="input-group">
                  <input *ngIf="(inviteInfo | async)?.isUsuarioNovo"
                    type="password"
                    name="passwordConfirmation"
                    class="form-control"
                    [(ngModel)]="passwordConfirmation"
                    placeholder="Confirme sua senha">
                  <span class="md-line"></span>
                </div>

                <div class="row m-t-30">
                  <div class="col-md-12">
                    <button class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
                      type="submit">
                      Aceitar
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
