@import '../../../../../scss/partials/variables';

.logoLogin {
  max-height: 60px;
  margin-bottom: 20px
}

.titleAccount {
  font-weight: bold;
  color: $primary-color;
  font-size: medium;
}

.subtitleAccount {
  color: $theme-font-color;
  font-size: small;
  font-style: italic;
}

.containerFlip {
  transform-style: preserve-3d;
  transition: transform 1s;
}

.rotateCard {
  backface-visibility: hidden;
  user-select: none;
}

.authCard {
  transform: rotateY(0deg);
  position: absolute;
}

.accountCard {
  transform: rotateY(-180deg);
  position: absolute;
}

.titleFont {
  color: $theme-font-color;
}
