<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="signin-card card-block auth-body mr-auto ml-auto">
          <form class="md-float-material">
            <div class="text-center">
              <img src="assets/images/logo.png" alt="Gradient Able">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-3">
                  <h3 class="text-center txt-primary">Sign In</h3>
                </div>
                <div class="col-md-9">
                  <p class="text-inverse m-t-25 text-left">Don't have an account? <a [routerLink]="['/auth/registration/']"> Register </a> here for free!</p>
                </div>
              </div>
              <p class="text-inverse b-b-default text-left p-b-5">Sign in easily with your social account:</p>
              <div class="row m-b-20">
                <div class="col-md-6">
                  <button type="button" class="btn btn-facebook m-b-20"><i class="fa fa-facebook"></i>Sign in with facebook</button>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-twitter m-b-20"><i class="fa fa-twitter"></i>Sign in with twitter</button>
                </div>
              </div>
              <p class="text-inverse b-b-default text-left p-b-5">Sign in with your regular account</p>
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Username">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="password">
                <span class="md-line"></span>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon fa fa-check txt-primary"></i></span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                  <div class="forgot-phone text-right f-right">
                    <a [routerLink]="['/auth/forgot']" class="text-right f-w-600 text-inverse"> Forgot Password?</a>
                  </div>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">LOGIN</button>
                </div>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
