<ngb-tabset [activeId]="startingId" (tabChange)="onTabChange($event)" [destroyOnHide]="false">
	<ngb-tab id="documents-tab" title="Documentos/Atestados">
		<div class="card contentPage" *ngbTabContent>
			<div class="card-body">
				<div class="row">
					<div class="col-12 header-messages">
						{{ "CONFIG.DOCUMENT_MODEL.HEADER.MESSAGE" | translate }}
					</div>
				</div>

				<div class="row m-b-15 m-t-15">
					<div class="col-12 header-actions flexEnd">
						<button [routerLink]="['..', 'novo']" class="btn btn-sm btn-primary">
							{{ "CONFIG.DOCUMENT_MODEL.HEADER.BUTTON" | translate }}
						</button>
					</div>
				</div>

				<div *ngIf="!paginationResponse; else table" class="d-flex justify-content-center">
					<div class="spinner-border" role="status"></div>
				</div>

				<ng-template #table>
					<ngx-datatable
						class="data-table table-responsive"
						[rows]="paginationResponse.content"
						[loadingIndicator]="true"
						[columnMode]="'force'"
						[appAutosizedDatatable]
						[rowHeight]="40"
						[headerHeight]="40"
						[footerHeight]="40"
						[count]="paginationResponse.totalElements"
						[offset]="paginationResponse.totalPages"
						[limit]="paginationResponse.size"
						[messages]="_service.translate.instant('COMMON.footerMessage')"
					>
						<ngx-datatable-column
							[maxWidth]="150"
							[minWidth]="150"
							[sortable]="false"
							[name]="'CONFIG.DOCUMENT_MODEL.LABELS.ACTIONS' | translate"
						>
							<ng-template ngx-datatable-cell-template let-row="row">
								<button
									class="btn btn-option btn-primary"
									[routerLink]="['..', row.id]"
									[ngbTooltip]="'COMMON.EDIT_REGISTER' | translate"
									placement="right"
								>
									<i class="ci icon-edit ajustaIcon"></i>
								</button>

								<button
									class="btn btn-option btn-danger"
									(click)="delete(row.id)"
									[ngbTooltip]="'COMMON.DELETE_REGISTER' | translate"
									placement="right"
								>
									<i class="ci icon-delete ajustaIcon"></i>
								</button>
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column
							[sortable]="false"
							[name]="'CONFIG.DOCUMENT_MODEL.LABELS.NAME' | translate"
						>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{ row.nome }}
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column
							[sortable]="false"
							[name]="'CONFIG.DOCUMENT_MODEL.LABELS.CREATE_AT' | translate"
						>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{ row.dataCriacao }}
							</ng-template>
						</ngx-datatable-column>
					</ngx-datatable>
				</ng-template>
			</div>
		</div>
	</ngb-tab>

	<ngb-tab id="contracts-tab" title="Contratos">
		<div class="card" *ngbTabContent>
			<div class="card-body">
				<div
					*ngIf="!contractsPaginationResponse; else tableContracts"
					class="d-flex justify-content-center"
				>
					<div class="spinner-border" role="status"></div>
				</div>

				<ng-template #tableContracts>
					<ngx-datatable
						class="data-table table-responsive"
						[rows]="contractsPaginationResponse.content"
						[loadingIndicator]="true"
						[columnMode]="'force'"
						[appAutosizedDatatable]
						[rowHeight]="40"
						[headerHeight]="40"
						[footerHeight]="40"
						[count]="contractsPaginationResponse.totalElements"
						[offset]="contractsPaginationResponse.totalPages"
						[limit]="contractsPaginationResponse.size"
						[messages]="_service.translate.instant('COMMON.footerMessage')"
					>
						<ngx-datatable-column
							[maxWidth]="150"
							[minWidth]="150"
							[sortable]="false"
							[name]="'CONFIG.DOCUMENT_MODEL.LABELS.ACTIONS' | translate"
						>
							<ng-template ngx-datatable-cell-template let-row="row">
								<button
									class="btn btn-option btn-primary"
									[routerLink]="['..', 'contract', row.id]"
									[ngbTooltip]="'COMMON.EDIT_REGISTER' | translate"
									placement="right"
								>
									<i class="ci icon-edit ajustaIcon"></i>
								</button>
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column
							[sortable]="false"
							[name]="'CONFIG.DOCUMENT_MODEL.LABELS.NAME' | translate"
						>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{ row.nome }}
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column
							[sortable]="false"
							[name]="'CONFIG.DOCUMENT_MODEL.LABELS.CREATE_AT' | translate"
						>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{ row.dataCriacao }}
							</ng-template>
						</ngx-datatable-column>
					</ngx-datatable>
				</ng-template>
			</div>
		</div>
	</ngb-tab>
</ngb-tabset>
