<div class="modal-header">
    <h4 class="modal-title">{{'PATIENTS.FORM_RECORDS.DETACHED_PARCEL.ADD' | translate}}</h4>
    <button hidden></button>
    <button type="button" class="close custom-close-button" aria-label="Close" (click)="_activeModal.close(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form #form="ngForm">
        <div class="row form-group">
            <div class="col-6">
                <ng-container *ngIf="isDefaultOrigin; else descriptionInput">
                    <ng-container *ngTemplateOutlet="patientInput"></ng-container>
                </ng-container>
            </div>
            <div class="col-6">
                <label for="tipoParcelaReceber">{{ "PATIENTS.FORM_RECORDS.DETACHED_PARCEL.PARCEL_TYPE" | translate }}</label>

                <ngx-select id="tipoParcelaReceber"
                            name="tipoParcelaReceber"
                            required
                            [items]="detachedParcelTypes"
                            [(ngModel)]="detachedParcel.tipoParcelaReceber"
                            (open)="_service.doOpenSelect()"
                            size="medium"
                            placeholder="Selecione"
                            optionTextField="label"
                            optionValueField="value"
                            [noResultsFound]="_service.translate.instant('COMMON.NORESULT')">
                </ngx-select>
            </div>
            <div class="m-t-20 m-b-20 col-6">
                <ng-container *ngIf="isDefaultOrigin; else patientInput">
                    <ng-container *ngTemplateOutlet="descriptionInput"></ng-container>
                </ng-container>
            </div>
            <div class="m-t-20 m-b-20 col-6">
                <div class="row">
                    <div class="col-6">
                        <label for="value">{{'PATIENTS.FORM_RECORDS.DETACHED_PARCEL.VALUE' | translate}}</label>
                        <input required type="text" id="value" name="value" class="form-control" placeholder="0,00"
                               prefix="R$ "
                               currencyMask appBootstrapInput [(ngModel)]="detachedParcel.valor">
                    </div>
                    <div class="col-6">
                        <label for="dataVencimento">{{'PATIENTS.FORM_RECORDS.DETACHED_PARCEL.DATE' | translate}}</label>
                        <div class="col-12 input-group m-0 p-0">
                            <input id="dataVencimento"
                                   name="dataVencimento"
                                   required
                                   class="form-control inputDate"
                                   placeholder="{{_service.translate.instant('COMMON.PLACEHOLDER_DATE')}}"
                                   [(ngModel)]="detachedParcel.dataVencimento"
                                   ngbDatepicker
                                   #dataVencimento="ngbDatepicker"
                                   rInputMask="99/99/9999">

                            <div class="input-group-append bg-default"
                                 (click)="dataVencimento.toggle()">
                                <span class="icofont icofont-ui-calendar input-group-text"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <label for="covenantId">{{ "PATIENTS.FORM_RECORDS.DETACHED_PARCEL.COVENANT" | translate }}</label>

                <ngx-select id="covenantId"
                            name="covenantId"
                            [required]="isDefaultOrigin"
                            [items]="covenants"
                            [(ngModel)]="detachedParcel.convenioId"
                            (open)="_service.doOpenSelect()"
                            size="medium"
                            placeholder="Selecione"
                            optionTextField="nome"
                            optionValueField="id"
                            [noResultsFound]="_service.translate.instant('COMMON.NORESULT')">
                </ngx-select>
            </div>
            <div class="col-6">
                <label for="formaDeRecebimento">{{ "PATIENTS.FORM_RECORDS.DETACHED_PARCEL.PAYMENT_METHOD" | translate }}</label>

                <ngx-select id="formaDeRecebimento"
                            name="formaDeRecebimento"
                            required
                            [items]="paymentMethods"
                            [(ngModel)]="detachedParcel.formaDeRecebimento"
                            (open)="_service.doOpenSelect()"
                            size="medium"
                            placeholder="Selecione"
                            optionTextField="label"
                            optionValueField="value"
                            [noResultsFound]="_service.translate.instant('COMMON.NORESULT')">
                </ngx-select>
            </div>
            <div class="col-12 m-t-20 flexStart">
                <label for="covenantId">{{ "PATIENTS.FORM_RECORDS.DETACHED_PARCEL.REPEAT_DETEACHED_PARCEL" | translate }}</label>
            </div>
            <div class="col-6 flexStart">
                <div class="col-7 p-l-0">
                    <ui-switch size="small" name="repeatDeteachedParcel"
                               [(ngModel)]="repeatDeteachedParcel"></ui-switch>
                </div>
                <div class="col-5" *ngIf="repeatDeteachedParcel">
                    <label for="quantidadeOcorrencia">{{'PATIENTS.FORM_RECORDS.DETACHED_PARCEL.OCURRENCY_N' | translate}}</label>
                </div>
            </div>
            <div class="col-12">
            </div>
            <div class="col-6" *ngIf="repeatDeteachedParcel">
                <div class="row">
                    <div class="col-7">
                        <ngx-select id="tipoRecorrencia"
                                    name="tipoRecorrencia"
                                    required
                                    [items]="occurrencys"
                                    [(ngModel)]="detachedParcel.tipoRecorrencia"
                                    (open)="_service.doOpenSelect()"
                                    size="medium"
                                    placeholder="Selecione"
                                    optionTextField="label"
                                    optionValueField="value"
                                    [noResultsFound]="_service.translate.instant('COMMON.NORESULT')">
                        </ngx-select>
                    </div>
                    <div class="col-5">
                        <input required type="text" [(ngModel)]="detachedParcel.quantidadeOcorrencia"
                               id="quantidadeOcorrencia" name="quantidadeOcorrencia" class="form-control"
                               mask="0*">
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-actions">
            <div class="col-12 flexEnd">
                <button type="button"
                        class="btn close-button text-center" (click)="_activeModal.close()">
                    {{'COMMON.BACK' | translate}}
                </button>
                <button type="button"
                        [disabled]="form.invalid ||
                        !detachedParcel.descricao?.trim().length ||
                        (!detachedParcel.pacienteId && isDefaultOrigin)"
                        class="btn btn-success text-center" (click)="save()">
                    {{'COMMON.SAVE' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>

<ng-template #patientInput>
    <label for="patientId">{{'PATIENTS.FORM_RECORDS.DETACHED_PARCEL.PATIENT' | translate}}</label>
    <input [required]="isDefaultOrigin" [disabled]="patient?.id" type="text" id="patientId" class="form-control"
           [value]="typeaheadValue" [ngbTypeahead]="search"
           [resultFormatter]="formatMatches" placeholder="Digite o nome do paciente"
           [inputFormatter]="formatMatches" (selectItem)="selectPatient($event)">
</ng-template>

<ng-template #descriptionInput>
    <label for="description">{{'PATIENTS.FORM_RECORDS.DETACHED_PARCEL.DESCRIPTION' | translate}}</label>
    <input required
           type="text"
           id="description"
           name="description"
           class="form-control"
           placeholder="Descrição"
           [(ngModel)]="detachedParcel.descricao">
</ng-template>
