<form #form="ngForm">
	<div class="row form-group">
		<div class="col-7">
			<label for="professionals">
				{{ "PATIENTS.EMIT_DOCUMENTS.LABELS.PROFESSIONAL" | translate }}
			</label>
			<ngx-select
				id="professionals"
				name="professional"
				[(ngModel)]="commitment.profissionalId"
				[items]="professionals"
				required
				[placeholder]="_service.translate.instant('COMMON.PLACEHOLDER')"
				optionTextField="nome"
				optionValueField="id"
				[noResultsFound]="_service.translate.instant('COMMON.NORESULT')"
			>
			</ngx-select>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-7">
			<label for="description">
				{{ "AGENDA.COMMITMENT.LABELS.DESCRIPTION" | translate }}
			</label>
			<input
				id="description"
				class="form-control"
				type="text"
				name="description"
				required
				[(ngModel)]="commitment.descricao"
				[placeholder]="'AGENDA.COMMITMENT.LABELS.DESCRIPTION' | translate"
			/>
		</div>
		<div class="col-5 flexEnd">
			<span class="m-r-10">{{ "AGENDA.COMMITMENT.LABELS.ALL_DAY" | translate }}</span>
			<ui-switch
				size="small"
				name="allDay"
				[(ngModel)]="commitment.isDiaInteiro"
				(ngModelChange)="allDayChange($event)"
			></ui-switch>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-6">
			<label for="initial">
				{{ "AGENDA.COMMITMENT.LABELS.INITIAL_DATE" | translate }}
			</label>
			<app-commitment-datetime-picker
				id="initial"
				[defaultTime]="initialDefaulTime"
				[allDayObservable]="allDayObservable"
				[dateTime]="dateTime(this.commitment.dataInicial)"
				(emitDateTime)="commitment.dataInicial = $event"
			></app-commitment-datetime-picker>
		</div>
		<div *ngIf="!repeat" class="col-6">
			<label for="final">
				{{ "AGENDA.COMMITMENT.LABELS.FINAL_DATE" | translate }}
			</label>
			<app-commitment-datetime-picker
				id="final"
				[defaultTime]="finalDefaulTime"
				[allDayObservable]="allDayObservable"
				[dateTime]="dateTime(this.commitment.dataFinal)"
				(emitDateTime)="commitment.dataFinal = $event"
			></app-commitment-datetime-picker>
		</div>
	</div>
	<ng-container *ngIf="!commitment.id">
		<div class="row form-group">
			<div class="col-6 flexStart">
				<span class="m-r-10">{{ "AGENDA.COMMITMENT.LABELS.REPEAT" | translate }}</span>
				<ui-switch size="small" name="repeat" [(ngModel)]="repeat"></ui-switch>
			</div>
			<div *ngIf="repeat" class="col-6">
				<label style="margin-bottom: 0" for="final2">
					{{ "AGENDA.COMMITMENT.LABELS.FINAL_DATE" | translate }}
				</label>
			</div>
		</div>
		<div *ngIf="repeat" class="row">
			<div class="col-6">
				<ngx-select
					id="tipoRecorrencia"
					name="tipoRecorrencia"
					[items]="recorrenciaList"
					(open)="doOpenSelect()"
					(close)="doCloseSelect()"
					[(ngModel)]="commitment.tipoRecorrencia"
					required
					size="medium"
					optionTextField="name"
					optionValueField="id"
					[placeholder]="_service.translate.instant('COMMON.PLACEHOLDER')"
				>
				</ngx-select>
			</div>
			<div class="col-6">
				<app-commitment-datetime-picker
					id="final2"
					[top]="35"
					[defaultTime]="finalDefaulTime"
					[dateTime]="dateTime(this.commitment.dataFinal)"
					[allDayObservable]="allDayObservable"
					(emitDateTime)="commitment.dataFinal = $event"
				></app-commitment-datetime-picker>
			</div>
		</div>
	</ng-container>

	<div class="row footer-actions">
		<div class="col-6"></div>
		<div class="col-6 flexEnd btn-commitment">
			<button type="button" class="btn close-button text-center" (click)="close.emit()">
				{{ "COMMON.BACK" | translate }}
			</button>
			<button
				*ngIf="commitment.id"
				type="button"
				class="btn delete-button text-center"
				(click)="remove()"
			>
				{{ "COMMON.DELETE" | translate }}
			</button>
			<button
				type="button"
				[disabled]="form.invalid || !this.commitment.dataFinal || !this.commitment.dataInicial"
				class="btn btn-success text-center"
				(click)="save()"
			>
				{{ "COMMON.SAVE" | translate }}
			</button>
		</div>
	</div>
</form>
