<div class="modal-header">
	<h4 class="modal-title">{{'PATIENTS.DOCUMENT.SAVE.CAMERA' | translate}}</h4>
	<button hidden></button>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<ng-container *ngIf="!webcamImage; else picturePreview">
		<div class="row">
			<div class="col-12 flexCenter">
				<webcam [height]="500" [width]="500"
						[trigger]="triggerObservable"
						(imageCapture)="handleImage($event)"
						[allowCameraSwitch]="false"
						[videoOptions]="videoOptions"></webcam>
			</div>
			<div class="col-12 flexCenter">
				<button class="btn btn-primary" (click)="triggerSnapshot()" title="Capturar">{{'PATIENTS.DOCUMENT.SAVE.CAMERA_UPLOAD_SHOT' | translate}}</button>
			</div>
		</div>
	</ng-container>
	<ng-template #picturePreview>
		<form>
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="card noHover">
						<div class="card-header">
							<img width="100%" [src]="webcamImage?.imageAsDataUrl">
						</div>
					</div>
				</div>
				<div class="col-md-7 col-sm-12">
					<div class="row">
						<div class="col-12">
							<label> {{'PATIENTS.DOCUMENT.EDIT.DESCRIPTION' | translate}} </label>
						</div>
						<div class="input-group col-12">
							<input type="text"
								   name="description"
								   [(ngModel)]="description"
								   class="form-control"
								   placeholder="Descrição *"
								   appBootstrapInput
								   required>
						</div>
						<div class="col-12">
							<label> {{'PATIENTS.DOCUMENT.EDIT.NOTE' | translate}} </label>
						</div>
						<div class="input-group col-12">
            <textarea type="text"
					  [maxLength]="255"
					  name="notes"
					  [(ngModel)]="note"
					  class="form-control"
					  placeholder="Observação"></textarea>
						</div>
					</div>
				</div>
			</div>
		</form>
	</ng-template>
</div>
<div class="modal-footer">
	<div class="row footer-actions">
		<div class="col-md-3"></div>
		<div class="col-md-9 flexEnd">
			<button type="button" class="btn btn-sm close-button" (click)="activeModal.close(false)">{{'PATIENTS.DOCUMENT.EDIT.DECLINE' | translate}}</button>
			<button type="button" class="btn btn-sm btn-primary"
					(click)="tryAgain()"
					*ngIf="webcamImage">{{'PATIENTS.DOCUMENT.SAVE.REPEAT' | translate}}</button>
			<button type="button" class="btn btn-sm btn-success"
					[disabled]="!description || description === ' ' || !webcamImage"
					(click)="save()">{{'PATIENTS.DOCUMENT.EDIT.CONFIRM' | translate}}</button>

		</div>
	</div>
</div>
