<div class="modal-header">
	<h4 class="modal-title">Adicionar Procedimento Comissão</h4>
</div>

<div class="modal-body">
	<form #form="ngForm">
		<!-- Este input é somente para tirar o foco (automático) do primeiro select e não causar expressionChangeException-->
		<input hidden />

		<div class="row">
			<div class="form-group col-4">
				<label for="covenantId">
					{{ "PATIENTS.DETACHED_TREATMENT.COVENANT" | translate }}
				</label>

				<ngx-select
					id="covenantId"
					name="covenantId"
					[items]="covenants"
					[(ngModel)]="proc.convenioId"
					(ngModelChange)="clearProcedure(true)"
					[disabled]="!!proc.id"
					size="medium"
					placeholder="Selecione"
					optionTextField="nome"
					optionValueField="id"
					[noResultsFound]="_inutilsService.translate.instant('COMMON.NORESULT')"
				>
				</ngx-select>
			</div>
		</div>

		<div class="row m-t-5">
			<div class="form-group col-8">
				<label for="procedureId">
					{{ "PATIENTS.DETACHED_TREATMENT.PROCEDURE" | translate }}
				</label>

				<div id="scrollable-dropdown-menu">
					<input
						type="text"
						id="procedureId"
						class="form-control"
						placeholder="Nome do procedimento"
						[disabled]="!!proc.id"
						[readonly]="!proc.convenioId"
						[value]="searchProcedureValue"
						(input)="clearProcedure()"
						(selectItem)="fillProcedure($event.item)"
						[ngbTypeahead]="procedures"
						[resultFormatter]="formatMatches"
						[inputFormatter]="formatMatches"
					/>
				</div>
			</div>

			<div class="col-4">
				<label for="comissionValue">Valor:</label>

				<input
					type="text"
					name="comissionValue"
					id="comissionValue"
					[(ngModel)]="proc.valorComissao"
					class="form-control"
					placeholder="0.00"
					currencyMask
					[appBootstrapInput]
					required
				/>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<div class="row footer-actions">
		<div class="col-12 flexEnd">
			<button
				type="button"
				class="btn btn-primary close-button btn-sm waves-effect text-center"
				(click)="close()"
			>
				{{ "COMMON.CANCEL" | translate }}
			</button>

			<button
				type="button"
				class="btn btn-success btn-sm waves-effect text-center"
				[disabled]="form.invalid || !proc.convenioEspecialidadeProcedimentoId"
				(click)="save()"
			>
				{{ "COMMON.SAVE" | translate }}
			</button>
		</div>
	</div>
</div>
