<div class="row">
	<div class="col-12 flexCenter header-actions">
		<button (click)="emit(tab.DOCUMENT, issuableDocumentType.DOCUMENTO)"
				class="btn btn-sm btn-primary">{{'PATIENTS.EMIT_DOCUMENTS.HEADER.EMIT_DOCUMENT' | translate}}</button>
		<button (click)="emit(tab.PRESCRIPTION, issuableDocumentType.RECEITUARIO)"
				class="btn btn-sm btn-primary">{{'PATIENTS.EMIT_DOCUMENTS.HEADER.EMIT_PRESCRIPTION' | translate}}</button>
	</div>
	<div class="col-12 m-t-20">
		<ngb-tabset #ngbTabset="ngbTabset" (tabChange)="changeDatatableFilter($event)">
			<ngb-tab [id]="issuableDocumentType.DOCUMENTO" [title]="issuableDocumentTypeTranslate.DOCUMENTO">
				<ng-template ngbTabContent>
					<div *ngIf="!issuableDocuments; else issuableDocumentsTable" style="margin-top: 20px" class="d-flex justify-content-center">
						<div class="spinner-border" role="status">
						</div>
					</div>
					<ng-template #issuableDocumentsTable>
						<ngx-datatable class="data-table table-responsive"
									   [rows]="issuableDocuments"
									   [loadingIndicator]="true"
									   [columnMode]="'force'"
									   [appAutosizedDatatable]
									   [rowHeight]="40"
									   [limit]="10"
									   [headerHeight]="40"
									   [footerHeight]="40"
									   [messages]="_service.translate.instant('COMMON.footerMessage')">

							<ngx-datatable-column [maxWidth]="150" [minWidth]="150" [sortable]="false" [name]="'PATIENTS.EMIT_DOCUMENTS.TABLE.ACTIONS' | translate">
								<ng-template ngx-datatable-cell-template let-row="row">
									<button class="btn btn-option btn-primary" (click)="getPdfFromIssuableDocument(row, action.OPEN, issuableDocumentType.DOCUMENTO)"
											[ngbTooltip]="'COMMON.PRINT_BTN' | translate" placement="right">
										<i class="icofont icofont-printer ajustaIcon"></i>
									</button>
									<button class="btn btn-option btn-primary" (click)="getPdfFromIssuableDocument(row, action.DOWNLOAD, issuableDocumentType.DOCUMENTO)"
											[ngbTooltip]="'COMMON.DOWNLOAD_BTN' | translate" placement="right">
										<i class="icofont icofont-download-alt ajustaIcon"></i>
									</button>
									<button class="btn btn-option btn-danger" (click)="delete(row.id, issuableDocumentType.DOCUMENTO)"
											[ngbTooltip]="'COMMON.DELETE_REGISTER' | translate" placement="right">
										<i class="ci icon-delete ajustaIcon"></i>
									</button>
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column [sortable]="false" [name]="'PATIENTS.EMIT_DOCUMENTS.TABLE.NAME' | translate">
								<ng-template let-row="row" ngx-datatable-cell-template>
									{{ row.nomeModelo }}
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column [sortable]="false" [name]="'PATIENTS.EMIT_DOCUMENTS.TABLE.CREATE_AT' | translate">
								<ng-template let-row="row" ngx-datatable-cell-template>
									{{ row.data }}
								</ng-template>
							</ngx-datatable-column>
						</ngx-datatable>
					</ng-template>
				</ng-template>
			</ngb-tab>
			<ngb-tab [id]="issuableDocumentType.RECEITUARIO" [title]="issuableDocumentTypeTranslate.RECEITUARIO">
				<ng-template ngbTabContent>
					<div *ngIf="!prescriptions; else prescriptionsTable" style="margin-top: 20px" class="d-flex justify-content-center">
						<div class="spinner-border" role="status">
						</div>
					</div>
					<ng-template #prescriptionsTable>
						<ngx-datatable class="data-table table-responsive"
									   [rows]="prescriptions"
									   [loadingIndicator]="true"
									   [columnMode]="'force'"
									   [appAutosizedDatatable]
									   [rowHeight]="40"
									   [limit]="10"
									   [headerHeight]="40"
									   [footerHeight]="40"
									   [messages]="_service.translate.instant('COMMON.footerMessage')">

							<ngx-datatable-column [maxWidth]="150" [minWidth]="150" [sortable]="false" [name]="'PATIENTS.EMIT_DOCUMENTS.TABLE.ACTIONS' | translate">
								<ng-template ngx-datatable-cell-template let-row="row">
									<button class="btn btn-option btn-primary" (click)="getPdfFromIssuableDocument(row, action.OPEN, issuableDocumentType.RECEITUARIO)"
											[ngbTooltip]="'COMMON.PRINT_BTN' | translate" placement="right">
										<i class="icofont icofont-printer ajustaIcon"></i>
									</button>
									<button class="btn btn-option btn-primary" (click)="getPdfFromIssuableDocument(row, action.DOWNLOAD, issuableDocumentType.RECEITUARIO)"
											[ngbTooltip]="'COMMON.DOWNLOAD_BTN' | translate" placement="right">
										<i class="icofont icofont-download-alt ajustaIcon"></i>
									</button>
									<button class="btn btn-option btn-danger" (click)="delete(row.id, issuableDocumentType.RECEITUARIO)"
											[ngbTooltip]="'COMMON.DELETE_REGISTER' | translate" placement="right">
										<i class="ci icon-delete ajustaIcon"></i>
									</button>
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column [sortable]="false" [name]="'PATIENTS.EMIT_DOCUMENTS.TABLE.PRESCRIPTION_TYPE' | translate">
								<ng-template let-row="row" ngx-datatable-cell-template>
									{{ prescriptionTypeTranslate[row.tipoReceita] }}
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column [sortable]="false" [name]="'PATIENTS.EMIT_DOCUMENTS.TABLE.CREATE_AT' | translate">
								<ng-template let-row="row" ngx-datatable-cell-template>
									{{ row.data }}
								</ng-template>
							</ngx-datatable-column>
						</ngx-datatable>
					</ng-template>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>
