<div class="modal-header">
	<h4 class="modal-title">{{ "PAYMENT_RECEIPT.TITLE" | translate }}</h4>
	<button hidden></button>
	<button
		type="button"
		class="close custom-close-button"
		aria-label="Close"
		(click)="_activeModal.close(false)"
	>
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form *ngIf="paymentReceipt && paymentReceipt.nomeEmitente; else loading" #form="ngForm">
		<div class="row">
			<div class="col-4">
				<b>{{ "PAYMENT_RECEIPT.LABELS.DATE" | translate }}</b> {{ paymentReceipt.data }}
			</div>
			<div class="col-4 flexCenter">
				<b>{{ "PAYMENT_RECEIPT.LABELS.N" | translate }}</b> {{ paymentReceipt.numeroRecibo }}
			</div>
			<div class="col-4 flexEnd">
				<b>{{ "PAYMENT_RECEIPT.LABELS.VALUE" | translate }}</b>
				{{ paymentReceipt.valor | currency: "BRL" }}
			</div>
		</div>
		<div class="row m-t-15">
			<div class="col-6">
				<h6>{{ "PAYMENT_RECEIPT.LABELS.EMITTER" | translate }}</h6>
				<div class="radio minimal-blue-radio">
					<input
						id="clinic"
						type="radio"
						name="clinic"
						[(ngModel)]="emitter"
						(ngModelChange)="fillEmittentInfos(true)"
						[value]="'clinic'"
						[disabled]="paymentReceipt.id && emitter != 'clinic'"
					/>
					<label for="clinic">
						{{ "PAYMENT_RECEIPT.LABELS.CLINIC" | translate }}
					</label>
					<input
						id="dentist"
						type="radio"
						name="dentist"
						[(ngModel)]="emitter"
						(ngModelChange)="clearEmitterInputs()"
						[value]="'dentist'"
						[disabled]="paymentReceipt.id && emitter != 'dentist'"
					/>
					<label for="dentist">
						{{ "PAYMENT_RECEIPT.LABELS.DENTIST" | translate }}
					</label>
					<input
						id="simple"
						type="radio"
						name="simple"
						[(ngModel)]="emitter"
						(ngModelChange)="clearEmitterInputs()"
						[value]="'simple'"
						[disabled]="paymentReceipt.id && emitter != 'simple'"
					/>
					<label for="simple">
						{{ "PAYMENT_RECEIPT.LABELS.SIMPLE" | translate }}
					</label>
				</div>
			</div>
			<div *ngIf="emitter == 'dentist'" class="col-6">
				<label for="professionals">
					<b>{{ "PAYMENT_RECEIPT.LABELS.SELECT_DENTIST" | translate }}</b>
				</label>
				<ngx-select
					id="professionals"
					name="professionals"
					[items]="professionals"
					[(ngModel)]="paymentReceipt.profissionalId"
					[placeholder]="_service.translate.instant('COMMON.PLACEHOLDER')"
					[disabled]="!!paymentReceipt.id"
					(ngModelChange)="fillEmittentInfos(false)"
					required
					optionTextField="nome"
					optionValueField="id"
					[noResultsFound]="_service.translate.instant('COMMON.NORESULT')"
				>
				</ngx-select>
			</div>
		</div>
		<div *ngIf="loadingEmitter; else emitterRef" class="d-flex m-20 justify-content-center">
			<div class="spinner-border" role="status"></div>
		</div>
		<ng-template #emitterRef>
			<div class="row m-t-15">
				<div class="col-6">
					<label for="nomeEmitente"
						><b>{{ "PAYMENT_RECEIPT.LABELS.NAME" | translate }}</b></label
					>
					<input
						type="text"
						[(ngModel)]="paymentReceipt.nomeEmitente"
						[readonly]="paymentReceipt.id"
						required
						id="nomeEmitente"
						name="nomeEmitente"
						class="form-control"
					/>
				</div>
				<div class="col-6">
					<label for="cpfCnpjEmitente"
						><b>{{ "PAYMENT_RECEIPT.LABELS.CPF_CNPJ" | translate }}</b></label
					>
					<input
						type="text"
						[placeholder]="'PAYMENT_RECEIPT.LABELS.CPF_CNPJ' | translate"
						[(ngModel)]="paymentReceipt.cpfCnpjEmitente"
						(ngModelChange)="emitterCpfCnpjMask()"
						[readonly]="paymentReceipt.id"
						[maxLength]="CNPJ_LENGTH"
						[required]="emitter != 'simple'"
						id="cpfCnpjEmitente"
						name="cpfCnpjEmitente"
						class="form-control"
					/>
				</div>
			</div>
		</ng-template>
		<div class="row m-t-15">
			<div class="col-12">
				<div class="radio minimal-blue-radio">
					<b class="m-r-10">{{ "PAYMENT_RECEIPT.LABELS.RECEIPT_FOR" | translate }}</b>
					<input
						id="same"
						type="radio"
						name="same"
						[(ngModel)]="responsible"
						(ngModelChange)="
							paymentReceipt.cpfRespPagamento = null; paymentReceipt.nomeRespPagamento = null
						"
						[disabled]="paymentReceipt.id && responsible"
						[value]="false"
					/>
					<label for="same">
						{{ paymentReceipt.nomePaciente }}
					</label>
					<input
						id="another"
						type="radio"
						name="another"
						[(ngModel)]="responsible"
						[disabled]="paymentReceipt.id && !responsible"
						[value]="true"
					/>
					<label for="another">
						{{ "PAYMENT_RECEIPT.LABELS.ANOTHER" | translate }}
					</label>
				</div>
			</div>
			<div class="col-6">
				<label for="nomePaciente"
					><b>{{ "PAYMENT_RECEIPT.LABELS.NAME" | translate }}</b></label
				>
				<input
					type="text"
					[(ngModel)]="paymentReceipt.nomePaciente"
					[readonly]="paymentReceipt.id"
					required
					id="nomePaciente"
					name="nomePaciente"
					class="form-control"
				/>
			</div>
			<div class="col-6">
				<label for="cpfCnpjPaciente"
					><b>{{ "PAYMENT_RECEIPT.LABELS.CPF" | translate }}</b></label
				>
				<input
					type="text"
					[placeholder]="'PAYMENT_RECEIPT.LABELS.CPF' | translate"
					[(ngModel)]="paymentReceipt.cpfCnpjPaciente"
					[readonly]="paymentReceipt.id"
					required
					id="cpfCnpjPaciente"
					name="cpfCnpjPaciente"
					[dropSpecialCharacters]="false"
					[mask]="CPF_MASK"
					class="form-control"
				/>
			</div>
		</div>
		<div *ngIf="responsible" class="row m-t-15">
			<div class="col-12 m-b-15">
				<b>{{ "PAYMENT_RECEIPT.LABELS.RESPONSIBLE" | translate }}</b>
			</div>
			<div class="col-6">
				<label for="nomeRespPagamento"
					><b>{{ "PAYMENT_RECEIPT.LABELS.NAME" | translate }}</b></label
				>
				<input
					type="text"
					[(ngModel)]="paymentReceipt.nomeRespPagamento"
					[readonly]="paymentReceipt.id"
					required
					placeholder="Nome do responsável pelo pagamento"
					id="nomeRespPagamento"
					name="nomeRespPagamento"
					class="form-control"
				/>
			</div>
			<div class="col-6">
				<label for="cpfRespPagamento"
					><b>{{ "PAYMENT_RECEIPT.LABELS.CPF" | translate }}</b></label
				>
				<input
					type="text"
					[(ngModel)]="paymentReceipt.cpfRespPagamento"
					[readonly]="paymentReceipt.id"
					placeholder="CPF do responsável pelo pagamento"
					required
					id="cpfRespPagamento"
					name="cpfRespPagamento"
					[dropSpecialCharacters]="false"
					[mask]="CPF_MASK"
					class="form-control"
				/>
			</div>
		</div>
		<div class="row m-t-25">
			<div *ngFor="let via of vias" class="col-2">
				<div class="radio minimal-blue-radio">
					<input
						[attr.id]="via"
						type="radio"
						[name]="via"
						[(ngModel)]="selectedVia"
						[value]="via"
						[readonly]="paymentReceipt.id"
					/>
					<label [attr.for]="via">
						{{ via }}
					</label>
				</div>
			</div>
		</div>
		<div class="row footer-actions">
			<div class="col-md-6"></div>
			<div class="col-md-6 flexEnd">
				<button
					type="button"
					class="btn btn-primary close-button btn-sm waves-effect text-center"
					(click)="_activeModal.close()"
				>
					{{ "COMMON.BACK" | translate }}
				</button>
				<button
					type="button"
					[disabled]="form.invalid"
					class="btn btn-success btn-sm waves-effect text-center"
					(click)="emit()"
				>
					{{ "PAYMENT_RECEIPT.EMIT" | translate }}
				</button>
			</div>
		</div>
	</form>
	<ng-template #loading>
		<div class="d-flex m-20 justify-content-center">
			<div class="spinner-border" role="status"></div>
		</div>
	</ng-template>
</div>
