<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="signup-card card-block auth-body mr-auto ml-auto">
          <form class="md-float-material form-inline"
            (ngSubmit)="save()"
            #novaContaForm="ngForm">

            <div class="auth-box">
              <div class="row m-b-30">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Cadastre-se grátis no Mobidental</h3>
                </div>
              </div>

              <p class="text-inverse text-left">
                O Mobidental é um software odontológico.
              </p>

              <p class="text-inverse text-left">
                Com ele você consegue confirmar suas consultas, cuidar dos seus
                pacientes, organizar seu financeiro, controlar seu estoque, e
                muito mais!
              </p>
              <hr />

              <div class="row">
                <div class="input-group col">
                  <input type="email"
                    name="email"
                    [(ngModel)]="email"
                    class="form-control"
                    placeholder="Email *"
                    appBootstrapInput
                    required>
                </div>

                <div class="input-group col p-l-0">
                  <input type="password"
                    name="password"
                    [(ngModel)]="senha"
                    class="form-control"
                    placeholder="Senha *"
                    appBootstrapInput
                    required>
                </div>
              </div>

              <div class="row">
                <div class="input-group col">
                  <input type="text"
                    name="nomeResponsavel"
                    [(ngModel)]="nomeResponsavel"
                    class="form-control"
                    placeholder="Nome do Responsável *"
                    appBootstrapInput
                    required>
                </div>

                <div class="input-group col p-l-0">
                  <input type="text"
                    name="nomeClinica"
                    [(ngModel)]="nomeClinica"
                    class="form-control"
                    placeholder="Nome da Clínica *"
                    appBootstrapInput
                    required>
                </div>
              </div>

              <div class="row">
                <div class="input-group col">
                  <input type="text"
                    name="cpfCnpj"
                    [(ngModel)]="cpfCnpj"
                    [imask]="cpfCnpjMask"
                    [unmask]="false"
                    class="form-control"
                    placeholder="CPF ou CNPJ *"
                    appBootstrapInput
                    required>
                </div>

                <div class="col p-l-0">
                  <div class="row">
                    <div class="input-group col">
                      <input type="tel"
                        name="celular"
                        [(ngModel)]="celular"
                        [imask]="phoneNumberMask"
                        [unmask]="false"
                        class="form-control"
                        placeholder="Celular *"
                        appBootstrapInput
                        required>
                    </div>

                    <div class="input-group col p-l-0">
                      <input type="tel"
                        name="telefone"
                        [(ngModel)]="telefone"
                        [imask]="phoneNumberMask"
                        [unmask]="false"
                        class="form-control"
                        placeholder="Telefone *"
                        appBootstrapInput
                        required>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" [disabled]="novaContaForm.invalid"
                    [title]="novaContaForm.invalid ? 'Corrija os erros do formulário antes de continuar' : ''"
                    class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                    INICIAR TESTE GRATUITO
                  </button>
                </div>
              </div>

              <hr />

              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-center m-b-0">
                    Já é cliente?
                    <a style="text-decoration: underline"
                      routerLink="/auth/login/basic">Acesse sua conta!</a>
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
