<simple-notifications [options]="this.service.options"></simple-notifications>

<div class="card contentPage">
	<span class="pageTitle">Configurações de Comunicação</span>

	<div style="height: 34px"></div>

	<div *ngIf="comunicationSettings" style="background: #ececec" class="card contentPage">
		<span style="color: #616161; font-size: 15px; margin-bottom: 20px" class="pageTitle"
			>Confirmação de Agendamentos</span
		>
		<div class="card-mini card contentPage">
			<div>
				<span class="header-mini pageTitle">WhatsApp</span>
				<span class="subtitle-mini-inline pageTitle"
					><br />Permite enviar automaticamente mensagens de confirmação de consulta via
					WhatsApp.</span
				>
			</div>
			<div class="flexDefault">
				<div class="flexMiniItem">
					<span class="subtitle-mini pageTitle">Lembrete</span>
					<span *ngIf="comunicationSettings?.enviarLembrete" class="badge badge-fit bg-success"
						>Ativo</span
					>
					<span *ngIf="!comunicationSettings?.enviarLembrete" class="badge badge-fit bg-danger"
						>Inativo</span
					>
				</div>
				<div class="flexMiniItem">
					<span class="subtitle-mini pageTitle">Confirmação</span>
					<span
						*ngIf="comunicationSettings?.enviarWhatsAppConfirmacao"
						class="badge badge-fit bg-success"
						>Ativo</span
					>
					<span
						*ngIf="!comunicationSettings?.enviarWhatsAppConfirmacao"
						class="badge badge-fit bg-danger"
						>Inativo</span
					>
				</div>
				<div class="flexMiniItem">
					<i class="icofont icofont-gear ajustaIcon"></i>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="comunicationSettings" style="background: #ececec" class="card contentPage">
		<span style="color: #616161; font-size: 15px; margin-bottom: 20px" class="pageTitle"
			>Mensagens de Aniversário</span
		>
		<div class="card-mini card contentPage">
			<div>
				<span class="header-mini pageTitle">WhatsApp</span>
				<span class="subtitle-mini-inline pageTitle"
					><br />As mensagens são enviadas sempre no dia do aniversário, de forma automática.</span
				>
			</div>
			<div class="flexDefault">
				<div class="flexMiniItem">
					<span *ngIf="comunicationSettings?.enviarAniversario" class="badge badge-fit bg-success"
						>Ativo</span
					>
					<span *ngIf="!comunicationSettings?.enviarAniversario" class="badge badge-fit bg-danger"
						>Inativo</span
					>
				</div>
				<div class="flexMiniItem">
					<i class="icofont icofont-gear ajustaIcon"></i>
				</div>
			</div>
		</div>
		<div class="card-mini card contentPage">
			<div>
				<span class="header-mini pageTitle">SMS</span>
				<span class="subtitle-mini-inline pageTitle"
					><br />As mensagens são enviadas sempre no dia do aniversário, de forma automática.</span
				>
			</div>
			<div class="flexDefault">
				<div class="flexMiniItem">
					<span class="badge badge-fit bg-secondary text-light">Em Breve</span>
				</div>
				<div class="flexMiniItem">
					<i class="icofont icofont-gear ajustaIcon"></i>
				</div>
			</div>
		</div>
		<div class="card-mini card contentPage">
			<div>
				<span class="header-mini pageTitle">E-Mail</span>
				<span class="subtitle-mini-inline pageTitle"
					><br />As mensagens são enviadas sempre no dia do aniversário, de forma simples,
					automatizada e gratuita.</span
				>
			</div>
			<div class="flexDefault">
				<div class="flexMiniItem">
					<span class="badge badge-fit bg-secondary text-light">Em Breve</span>
				</div>
				<div class="flexMiniItem">
					<i class="icofont icofont-gear ajustaIcon"></i>
				</div>
			</div>
		</div>
	</div>
</div>
