.rowSearch {
	margin: 10px 0;
}

.insideInput {
	font-size: 1.2rem;
	position: absolute;
	left: 10px;
	top: 7px;
}

.inputWithIcon {
	padding-left: 35px !important;
}

::ng-deep .nome-col {
	flex: 1;
}

.card-mini {
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header-mini {
	color: #616161;
	font-size: 15px;
}

.subtitle-mini {
	color: #616161;
	font-size: 13px;
	font-weight: 500;
	display: block;
}

.subtitle-mini-inline {
	color: #616161;
	font-size: 13px;
	font-weight: 500;
}

.ajustaIcon {
	font-size: 25px;
}

.flexDefault {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.flexMiniItem {
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
}

.badge-fit {
	width: fit-content;
}
