.rowSearch {
	margin: 10px 0;
}

.titleTreatment {
	font-weight: bold;
	font-size: 1rem;
}

.rowCard {
	margin-bottom: 25px;
	margin-left: 15px;
	width: calc(100% - 30px) !important;
}

.iconReverse {
	color: #00bcd4;
	font-size: 1rem;
}

.multiLines {
	white-space: pre-line;
}

.rowDetailRecord {
	padding-left: 25px;
	margin-top: 20px;
}

::ng-deep .form-records__custom-tooltip .tooltip-inner {
	max-width: 500px;
	text-align: left;
}

.procedimento-cell {
	display: flex;
	align-items: center;
}
