<div class="card noHover">
	<div class="card-body row">
		<div class="row rowSearch col-12">
			<div class="col col-12 col-sm-12 col-md-6 p-r-0 m-b-15 p-l-0">
				<label for="selectProntuario">
					<b>{{ "PATIENTS.FORM_RECORDS.selectProntuario" | translate }}</b>
				</label>

				<br />

				<ngx-select
					id="selectProntuario"
					name="selectProntuario"
					[items]="recordsDropdown"
					[(ngModel)]="treatmentId"
					(open)="service.doOpenSelect()"
					size="medium"
					(select)="getRecordsData()"
					[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
					optionTextField="descricao"
					optionValueField="id"
					[noResultsFound]="service.translate.instant('COMMON.NORESULT')"
				>
				</ngx-select>
			</div>
			<div class="col col-12 col-sm-12 col-md-6 p-r-0 m-b-15 p-l-0 header-actions flexEnd">
				<button class="btn btn-primary" (click)="detachedTreatment()">
					{{ "PATIENTS.FORM_RECORDS.ADD_TREATMENT" | translate }}
				</button>
				<button type="button" class="btn btn-primary btn-sm text-center" (click)="print()">
					{{ "COMMON.PRINT_BTN" | translate }}
				</button>
			</div>
		</div>

		<div class="card-body w100">
			<ngx-datatable
				#tableRecords
				class="data-table table-responsive"
				[appAutosizedDatatable]
				[rows]="proceduresTable"
				[loadingIndicator]="true"
				[columnMode]="'force'"
				[headerHeight]="40"
				[footerHeight]="40"
				[rowHeight]="40"
				[reorderable]="true"
				[scrollbarH]="true"
				[messages]="
					!proceduresTable || proceduresTable.length === 0
						? service.translate.instant('PATIENTS.FORM_RECORDS.footerMessageProcedures.zero')
						: service.translate.instant('PATIENTS.FORM_RECORDS.footerMessageProcedures.approved')
				"
			>
				<ngx-datatable-column
					*ngFor="let column of tableProcedures; let indexColumn = index"
					[name]="column.name"
					[prop]="column.prop"
					[width]="column.width"
					[sortable]="column.sortable"
				>
					<ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
						<span
							*ngIf="
								!column.action &&
								!column.currency &&
								column.prop !== 'statusTratamentoServicoDescricao' &&
								column.prop !== 'convenioEspecialidadeProcedimentoProcedimentoNome'
							"
						>
							{{ row[column.prop] }}
						</span>

						<div
							*ngIf="column.prop === 'convenioEspecialidadeProcedimentoProcedimentoNome'"
							class="procedimento-cell"
						>
							<b>{{ row[column.prop] + buildFacesDescription(row) }}</b>
						</div>

						<span
							*ngIf="column.prop === 'statusTratamentoServicoDescricao'"
							[style.color]="
								getColorStatusTratamentoServicoDescricao(row['statusTratamentoServico'])
							"
						>
							<b>{{ row[column.prop] }}</b>
						</span>

						<span *ngIf="!column.action && column.currency && !row.editing">
							{{ "COMMON.CURRENCY_SYMBOL" | translate }}
							{{ row[column.prop] | decimalWithLocale: 2:locale }}
						</span>

						<button
							class="btn btn-option btn-primary"
							(click)="editProcedure(row)"
							*ngIf="column.action"
							[ngbTooltip]="'COMMON.EDIT_REGISTER' | translate"
							placement="right"
						>
							<i class="ci icon-edit ajustaIcon"></i>
						</button>

						<button
							[disabled]="row.dataFinalizacao"
							class="btn btn-option btn-success"
							(click)="finishProcedure(row)"
							*ngIf="column.action"
							[ngbTooltip]="'PATIENTS.FORM_RECORDS.FINISH' | translate"
							placement="right"
						>
							<i class="ci icon-check ajustaIcon"></i>
						</button>

						<ng-container
							*ngIf="column.action && (row.observacao?.trim() || row.diagnostico?.trim())"
						>
							<ng-template #tooltipContent>
								<p class="m-0" *ngIf="row.diagnostico?.trim()">
									<strong>Diagnóstico:</strong> {{ row.diagnostico.trim() }}
								</p>

								<p class="m-0" *ngIf="row.observacao?.trim()">
									<strong>Observação:</strong> {{ row.observacao.trim() }}
								</p>
							</ng-template>

							<button
								class="btn btn-option btn-primary"
								[ngbTooltip]="tooltipContent"
								tooltipClass="form-records__custom-tooltip"
								container="body"
							>
								<i class="ci icon-info ajustaIcon"></i>
							</button>
						</ng-container>

						<button
							class="btn btn-option btn-danger"
							(click)="deleteProcedure(row.id)"
							*ngIf="column.action && !row.tratamentoId"
							[ngbTooltip]="'COMMON.DELETE_REGISTER' | translate"
							placement="right"
						>
							<i class="ci icon-delete ajustaIcon"></i>
						</button>
					</ng-template>
				</ngx-datatable-column>
			</ngx-datatable>
		</div>
	</div>
</div>

<app-modal-animation
	*ngIf="showModalEditRecord"
	[backDrop]="true"
	[modalID]="'modal-edit-record'"
	[modalClass]="'md-effect-11 md-modal-lg'"
>
	<app-modal-edit-record [procedure]="selectedProcedure"> </app-modal-edit-record>
</app-modal-animation>
