<div class="page-body">
  <div class="row" *ngIf="dado$ | async as dados">
    <!-- order-card start -->
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total agendamentos</h6>
          <h2 class="text-right">
            <i class="ti-shopping-cart f-left"></i><span>{{ dados.totalAgendamentosMes }}</span>
          </h2>
          <p class="m-b-0">Neste mês</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-20">Pacientes cadastrados</h6>
          <h2 class="text-right">
            <i class="ti-tag f-left"></i><span>{{ dados.quantidadePacientesAtivos }}</span>
          </h2>
          <p class="m-b-0">Todo período</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-3 pointer" (click)="navigateToBirthDayReport()">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6 class="m-b-20">Aniversariantes</h6>
          <h2 class="text-right">
            <i class="ti-reload f-left"></i><span>{{ dados.quantidadeAniversariantesMes }}</span>
          </h2>
          <p class="m-b-0">Neste Mês</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-pink order-card">
        <div class="card-block">
          <h6 class="m-b-20">Débitos em atraso</h6>
          <h2 class="text-right">
            <i class="ti-wallet f-left"></i><span>{{ dados.quantidadeDebitos }}</span>
          </h2>
          <p class="m-b-0">Todo período</p>
        </div>
      </div>
    </div>
    <!-- order-card end -->
  </div>
</div>
