<div class="row">
  <div class="form-group col-md-7">
    <label for="input-nome">Nome/ Razão Social *</label>
    <input type="text"
      name="nome"
      id="input-nome"
      [(ngModel)]="conta.razaoSocial"
      class="form-control"
      appBootstrapInput
      required>
  </div>

  <div class="form-group col-md-5">
    <label for="input-cpf-cnpj">CNPJ *</label>
    <input type="text"
      name="cpfCnpj"
      id="input-cpf-cnpj"
      [(ngModel)]="conta.cpfCnpj"
      [imask]="cpfCnpjMask"
      class="form-control"
      appBootstrapInput
      required>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-6">
    <label for="input-email">Email *</label>
    <input type="email"
      name="email"
      id="input-email"
      [(ngModel)]="conta.email"
      class="form-control"
      appBootstrapInput
      required>
  </div>

  <div class="form-group col-md-3">
    <label for="input-telefone">Telefone *</label>
    <input type="tel"
      name="telefone"
      id="input-telefone"
      [(ngModel)]="conta.telefone"
      [imask]="phoneNumberMask"
      class="form-control"
      appBootstrapInput
      required>
  </div>

  <div class="form-group col-md-3">
    <label for="input-celular">Celular *</label>
    <input type="tel"
      name="celular"
      id="input-celular"
      [(ngModel)]="conta.celular"
      [imask]="phoneNumberMask"
      class="form-control"
      appBootstrapInput
      required>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-2">
    <label for="input-cep">CEP *</label>
    <input type="text"
      name="cep"
      id="input-cep"
      [(ngModel)]="conta.cep"
      [imask]="cepMask"
      class="form-control"
      appBootstrapInput
      required>
  </div>

  <div class="form-group col-md-4">
    <label for="input-endereco">Endereço *</label>
    <input type="text"
      name="endereco"
      id="input-endereco"
      [(ngModel)]="conta.endereco"
      class="form-control"
      appBootstrapInput
      required>
  </div>

  <div class="form-group col-md-1">
    <label for="input-numero">Número</label>
    <input type="text"
      name="numero"
      id="input-numero"
      [(ngModel)]="conta.numero"
      class="form-control"
      appBootstrapInput>
  </div>

  <div class="form-group col-md-5">
    <label for="input-complemento">Complemento</label>
    <input type="text"
      name="complemento"
      id="input-complemento"
      [(ngModel)]="conta.complemento"
      class="form-control"
      appBootstrapInput>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-6">
    <label for="input-bairro">Bairro</label>
    <input type="text"
      name="bairro"
      id="input-bairro"
      [(ngModel)]="conta.bairro"
      class="form-control"
      appBootstrapInput>
  </div>

  <div class="form-group col-md-4">
    <label for="input-cidade">Cidade</label>
    <input type="text"
      name="cidade"
      id="input-cidade"
      [(ngModel)]="conta.cidade"
      class="form-control"
      appBootstrapInput>
  </div>

  <div class="form-group col-md-2">
    <label for="input-uf">UF</label>

    <select id="input-uf"
      name="estado"
      class="form-control"
      [(ngModel)]="conta.estado">

      <option [value]="undefined">Não selecionado</option>
      <option *ngFor="let uf of ufs" [value]="uf">{{ uf }}</option>
    </select>
  </div>
</div>
