<div class="card noHover">
	<div class="card-body">
		<ngb-tabset [destroyOnHide]="true">
			<ngb-tab [title]="'REPORTS.SCHEDULINGS.STATISTICS_TITLE' | translate">
				<ng-template ngbTabContent>
					<app-scheduling-statistics></app-scheduling-statistics>
				</ng-template>
			</ngb-tab>
			<ngb-tab [title]="'REPORTS.SCHEDULINGS.REPORT_TITLE' | translate">
				<ng-template ngbTabContent>
					<app-schedulings-report-page></app-schedulings-report-page>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>
