.delete-medicine {
	cursor: pointer;
	color: black;
	font-size: 20px;
}

.col-20-percent {
	flex: 0 0 18% !important;
	max-width: 18% !important;
}

.col-60-percent {
	flex: 0 0 60% !important;
	max-width: 60% !important;
}
