<div class="row">
	<div class="col-12">
		<div *ngIf="!prescriptionForm; else form" class="d-flex justify-content-center">
			<div class="spinner-border" role="status">
			</div>
		</div>
		<ng-template #form>
			<form [formGroup]="prescriptionForm">
				<div class="row">
					<div *ngFor="let type of prescriptionTypes" class="col-3 flexStart form-group">
						<div class="radio minimal-blue-radio text-center">
							<input [id]="type" type="radio" formControlName="tipoReceita" [value]="type">
							<label [attr.for]="type">
								{{prescriptionTypesTranslate[type]}}
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-2">
						<label for="date">
							{{ "PATIENTS.EMIT_DOCUMENTS.LABELS.DATE" | translate }}
						</label>
						<div class="input-group">
							<input id="date" class="form-control inputDate"
								   formControlName="data"
								   name="date"
								   placeholder="{{_service.translate.instant('COMMON.PLACEHOLDER_DATE')}}"
								   #date="ngbDatepicker"
								   required
								   ngbDatepicker rInputMask="99/99/9999">
							<div class="input-group-append bg-default"
								 (click)="date.toggle()">
								<span class="icofont icofont-ui-calendar input-group-text"></span>
							</div>
						</div>
					</div>
					<div class="col-4 form-group">
						<label for="professionals">
							{{ "PATIENTS.EMIT_DOCUMENTS.LABELS.PROFESSIONAL" | translate }}
						</label>
						<ngx-select id="professionals"
									[items]="professionals"
									formControlName="profissionalId"
									[placeholder]="_service.translate.instant('COMMON.PLACEHOLDER')"
									optionTextField="nome"
									optionValueField="id"
									[noResultsFound]="_service.translate.instant('COMMON.NORESULT')">
						</ngx-select>
					</div>
					<hr>
				</div>
				<div formArrayName="medicamentos">
					<ng-container *ngFor="let file of medicineFormArray.controls; let i=index" [formGroupName]="i">
						<hr>
						<div class="row">
							<div class="col-5 form-group">
								<label for="name">
									{{ "PATIENTS.EMIT_DOCUMENTS.LABELS.MEDICINE_NAME" | translate }}
								</label>
								<ng-select id="name"
										   class="ng-select custom-ng-select-emit-prescription"
										   [items]="medicines"
										   formControlName="medicamentoId"
										   bindValue="id"
										   bindLabel="nome"
										   [markFirst]="true"
										   (clear)="deleteMedicine(i)"
										   (change)="fillPosologia($event, i)"
										   (search)="searchingMedicine = $event.term"
										   (keyup.enter)="prepareToSaveNewMedicine(searchingMedicine, i)"
										   [addTag]="true"
										   [placeholder]="_service.translate.instant('COMMON.PLACEHOLDER')">

									<div style="display: flex" *ng-option-tmp="let i = item">
										<div style="flex: 1">
											{{ i.nome }}
										</div>
									</div>

									<span *ng-tag-tmp="let s = searchTerm" (click)="initNewMedicine(s, i)">
										<strong>Adicionar:</strong>
										{{ s }}
									</span>
								</ng-select>
							</div>
							<div class="col-2 col-20-percent form-group" *ngIf="getArrayControlValue('medicamentoId', i)">
								<label for="qtd">
									{{ "PATIENTS.EMIT_DOCUMENTS.LABELS.QTD" | translate }}
								</label>
								<ngx-select id="qtd"
											[items]="medicineAmount"
											formControlName="quantidade"
											[placeholder]="_service.translate.instant('PATIENTS.EMIT_DOCUMENTS.LABELS.QTD')"
											optionTextField="name"
											optionValueField="value"
											(open)="_service.doOpenSelect()"
											(ngModelChange)="setMedidaRequiredIfNecessary($event, i)"
											[noResultsFound]="_service.translate.instant('COMMON.NORESULT')">
								</ngx-select>
							</div>
							<div class="col-2 col-20-percent form-group" *ngIf="getArrayControlValue('quantidade', i) &&
							getArrayControlValue('quantidade', i) !== usoContinuo">
								<label for="medida">
									{{ "PATIENTS.EMIT_DOCUMENTS.LABELS.MEASURE" | translate }}
								</label>
								<ngx-select id="medida"
											[items]="medicineMeasure"
											formControlName="unidadeMedida"
											[placeholder]="_service.translate.instant('PATIENTS.EMIT_DOCUMENTS.LABELS.MEASURE')"
											optionTextField="name"
											optionValueField="value"
											[noResultsFound]="_service.translate.instant('COMMON.NORESULT')">
								</ngx-select>
							</div>
							<div class="col-1 flexCenter" *ngIf="getArrayControlValue('medicamentoId', i)">
								<i (click)="deleteMedicine(i)" class="ci icon-delete delete-medicine"></i>
							</div>
						</div>
						<div class="row" *ngIf="getArrayControlValue('medicamentoId', i)">
							<div class="col-6 col-60-percent form-group">
								<label for="posologia">
									{{ "PATIENTS.EMIT_DOCUMENTS.LABELS.DOSAGE" | translate }}
								</label>
								<input id="posologia"
									   type="text"
									   class="form-control"
									   formControlName="posologia">
							</div>
						</div>
					</ng-container>
				</div>
			</form>
			<form #newMedicineForm="ngForm" *ngIf="newMedicine">
				<div class="row m-t-20">
					<div class="col-12">
						<h6>{{ "PATIENTS.EMIT_DOCUMENTS.LABELS.CREATE" | translate }}</h6>
						<hr>
					</div>
					<div class="col-3 flexStart" *ngFor="let uso of usos">
						<div class="radio minimal-blue-radio text-center">
							<input [attr.id]="uso" type="radio" name="uso" [(ngModel)]="newMedicine.tipoUso" [value]="uso">
							<label [attr.for]="uso">
								{{usoTranslate[uso]}}
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-5 form-group">
						<label for="new_nome">
							{{ "PATIENTS.EMIT_DOCUMENTS.LABELS.MEDICINE_NAME" | translate }}
						</label>
						<input id="new_nome"
							   name="nome"
							   required
							   class="form-control"
							   type="text"
							   [(ngModel)]="newMedicine.nome">
					</div>
				</div>
				<div class="row">
					<div class="col-6 col-60-percent form-group">
						<label for="new_posologia">
							{{ "PATIENTS.EMIT_DOCUMENTS.LABELS.DOSAGE" | translate }}
						</label>
						<input id="new_posologia"
							   name="posologia"
							   required
							   type="text"
							   class="form-control"
							   [(ngModel)]="newMedicine.posologia">
					</div>
				</div>
				<div class="row footer-actions">
					<div class="col-8 col-60-percent flexEnd">
						<button [disabled]="newMedicineForm.invalid"
								type="button"
								class="btn btn-success text-center"
								(click)="addNewMedicine()">
							{{'PATIENTS.EMIT_DOCUMENTS.LABELS.ADD' | translate}}
						</button>
					</div>
				</div>
			</form>
		</ng-template>
	</div>
</div>
<div class="card-block">
	<div class="row footer-actions">
		<div class="col-12 flexEnd">
			<button type="button"
					class="btn close-button text-center"
					(click)="close()">
				{{'COMMON.CLOSE' | translate}}
			</button>
			<button *ngIf="prescriptionForm"
					[disabled]="prescriptionForm.invalid"
					type="button"
					class="btn btn-success text-center"
					(click)="emit()">
				{{'PATIENTS.EMIT_DOCUMENTS.FOOTER.EMIT' | translate}}
			</button>
		</div>
	</div>
</div>
