<ngb-tabset class="form-tabs" (tabChange)="tabChanged($event)">
	<ngb-tab [id]="Tab.DETAILS">
		<span *ngbTabTitle>Dados do professional</span>
	</ngb-tab>

	<ngb-tab [id]="Tab.COMMISSION" *ngIf="isDentist && professionalId">
		<span *ngbTabTitle>Comissão</span>
	</ngb-tab>
</ngb-tabset>

<div #cardMain class="form-card card noHover">
	<div class="card-header customHeader">
		<div class="row p-l-20 m-r-10">
			<div class="col-8">
				<span *ngIf="currentTab === Tab.DETAILS">
					{{ "CONFIG.PROFESSIONAL.FORM.TITLE" | translate }}
				</span>
				<span *ngIf="currentTab === Tab.COMMISSION">Commissão</span>
			</div>

			<div *ngIf="formProfessional" class="col-4 flexEnd">
				<h5 style="margin: 0 10px 0 0">{{ translatedStatus }}</h5>
				<ui-switch
					size="small"
					*ngIf="emStatusUsuarioPerfilContaModulo !== aguardandoAtivacao"
					(change)="onStatusChange($event)"
					[checked]="emStatusUsuarioPerfilContaModulo === ativo"
				></ui-switch>
			</div>
		</div>
	</div>

	<div *ngIf="!formProfessional; else form" class="m-b-40 m-t-20 d-flex justify-content-center">
		<div class="spinner-border" role="status"></div>
	</div>

	<ng-template #form>
		<div class="card-body w100 m-l-0" *ngIf="formProfessional">
			<form [formGroup]="formProfessional" class="row">
				<ng-container *ngIf="currentTab === Tab.DETAILS; else commisionForm">
					<div
						class="col-12 col-sm-12 col-md-6 m-b-15"
						[ngClass]="service.aplicaCssErro('profissionalNome', formProfessional)"
					>
						<label for="profissionalNome">
							{{ "CONFIG.PROFESSIONAL.FORM.profissionalNome" | translate }}
						</label>

						<input
							type="text"
							autocomplete="off"
							spellcheck="false"
							formControlName="profissionalNome"
							id="profissionalNome"
							class="form-control"
						/>

						<div
							class="text-feedback"
							*ngIf="service.verificaValidTouched('profissionalNome', formProfessional)"
						>
							{{ "COMMON.REQUIRED" | translate }}
						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-3 m-b-15">
						<label for="profissionalDataNascimento">
							{{ "CONFIG.PROFESSIONAL.FORM.profissionalDataNascimento" | translate }}
						</label>

						<div class="col-sm-12 input-group m-0 p-0">
							<input
								id="profissionalDataNascimento"
								name="profissionalDataNascimento"
								class="form-control inputDate"
								placeholder="{{ service.translate.instant('COMMON.PLACEHOLDER_DATE') }}"
								formControlName="profissionalDataNascimento"
								ngbDatepicker
								#profissionalDataNascimento="ngbDatepicker"
								rInputMask="99/99/9999"
							/>

							<div
								class="input-group-append bg-default"
								(click)="profissionalDataNascimento.toggle()"
							>
								<span class="icofont icofont-ui-calendar input-group-text"></span>
							</div>
						</div>
					</div>

					<div
						class="col-12 col-sm-12 col-md-3 m-b-15"
						[ngClass]="service.aplicaCssErro('perfilContaModuloId', formProfessional)"
					>
						<label for="perfilContaModuloId">
							{{ "CONFIG.PROFESSIONAL.FORM.perfilContaModuloId" | translate }}
						</label>

						<ng-select
							id="perfilContaModuloId"
							[items]="listTypeProfessionals"
							formControlName="perfilContaModuloId"
							bindLabel="descricao"
							bindValue="id"
							[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
							[clearable]="false"
							(change)="changeTypeProfessional()"
						>
						</ng-select>

						<div
							class="text-feedback"
							*ngIf="service.verificaValidTouched('perfilContaModuloId', formProfessional)"
						>
							{{ "COMMON.REQUIRED" | translate }}
						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-4 m-b-15 groupGender">
						<label for="profissionalSexo">{{
							"CONFIG.PROFESSIONAL.FORM.profissionalSexo" | translate
						}}</label
						><br />

						<div
							class="btn-group btn-group-toggle w100"
							ngbRadioGroup
							name="profissionalSexo"
							formControlName="profissionalSexo"
						>
							<label ngbButtonLabel class="btn-primary group2Pieces btnRadio w50">
								<input ngbButton type="radio" [value]="'MASCULINO'" />

								<i
									*ngIf="formProfessional.get('profissionalSexo').value === 'MASCULINO'"
									class="icofont icofont-check"
								></i>

								{{ "COMMON.GENDER.MAN" | translate }}
							</label>

							<label ngbButtonLabel class="btn-primary group2Pieces btnRadio w50">
								<input ngbButton type="radio" [value]="'FEMININO'" />

								<i
									*ngIf="formProfessional.get('profissionalSexo').value === 'FEMININO'"
									class="icofont icofont-check"
								></i>

								{{ "COMMON.GENDER.WOMAN" | translate }}
							</label>
						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-4 m-b-15">
						<label for="profissionalCPF">
							{{ "CONFIG.PROFESSIONAL.FORM.profissionalCPF" | translate }}
						</label>

						<input
							type="text"
							formControlName="profissionalCPF"
							id="profissionalCPF"
							class="form-control"
							mask="000.000.000-00"
						/>
					</div>

					<div class="col-12 col-sm-12 col-md-4 m-b-15" *ngIf="isDentist">
						<label for="profissionalCRO">
							{{ "CONFIG.PROFESSIONAL.FORM.profissionalCRO" | translate }}
						</label>

						<input
							type="text"
							formControlName="profissionalCRO"
							id="profissionalCRO"
							class="form-control"
						/>
					</div>

					<div class="col-12">
						<h6>{{ "CONFIG.PROFESSIONAL.FORM.CONTACT" | translate }}</h6>
					</div>

					<div
						class="col-12 col-sm-12 col-md-6 m-b-15"
						[ngClass]="service.aplicaCssErro('usuarioEmail', formProfessional)"
					>
						<label for="usuarioEmail">
							{{ "CONFIG.PROFESSIONAL.FORM.usuarioEmail" | translate }}
						</label>

						<input
							type="text"
							formControlName="usuarioEmail"
							id="usuarioEmail"
							class="form-control"
						/>

						<div
							class="text-feedback"
							*ngIf="service.verificaValidTouched('usuarioEmail', formProfessional)"
						>
							{{ "COMMON.REQUIRED" | translate }}
						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-3 m-b-15">
						<label for="profissionalCelular">
							{{ "CONFIG.PROFESSIONAL.FORM.profissionalCelular" | translate }}
						</label>

						<input
							type="text"
							formControlName="profissionalCelular"
							id="profissionalCelular"
							class="form-control"
							mask="(00) 0 0000-0000"
						/>
					</div>

					<div class="col-12 col-sm-12 col-md-3 m-b-15">
						<label for="profissionalTelefone">
							{{ "CONFIG.PROFESSIONAL.FORM.profissionalTelefone" | translate }}
						</label>

						<input
							type="text"
							formControlName="profissionalTelefone"
							id="profissionalTelefone"
							class="form-control"
							mask="(00) 0000-0000"
						/>
					</div>

					<ngb-tabset *ngIf="isDentist" class="inner-tabs" (tabChange)="tabChanged($event)">
						<ngb-tab id="agenda-tab" [title]="'CONFIG.PROFESSIONAL.FORM.AGENDA' | translate">
							<div *ngbTabContent>
								<div class="row w100 m-t-10">
									<div class="col-12 col-sm-12 col-md-5 p-l-25 flexStart">
										<b>{{ "CONFIG.PROFESSIONAL.FORM.DAYOFWEEK" | translate }}</b>
									</div>

									<div
										class="col-12 col-sm-12 col-md-1 p-l-0 p-r-5 flexCenter"
										*ngFor="let item of weekAgenda"
									>
										<label class="toggle">
											<input
												class="toggle__input"
												type="checkbox"
												id="day-{{ item.model }}"
												name="day-{{ item.model }}"
												[(ngModel)]="item.checked"
												(ngModelChange)="wasUnchecked(item)"
												[ngModelOptions]="{ standalone: true }"
											/>

											<span class="toggle__label">
												<span class="toggle__text">{{ item.label }}</span>
											</span>
										</label>
									</div>

									<div class="col-12 col-sm-12 col-md-5 p-l-25 flexStart">
										<b>{{ "CONFIG.PROFESSIONAL.FORM.INITTIME" | translate }}</b>
									</div>

									<div
										class="col-12 col-sm-12 col-md-1 p-l-0 p-r-5"
										*ngFor="let item of weekAgenda"
									>
										<input
											type="text"
											mask="00:00"
											[dropSpecialCharacters]="false"
											id="init-{{ item.model }}"
											name="init-{{ item.model }}"
											[formControlName]="item.model + 'Inicial'"
											class="form-control"
										/>
									</div>

									<div class="col-12 col-sm-12 col-md-5 m-t-10 p-l-25 flexStart">
										<b>{{ "CONFIG.PROFESSIONAL.FORM.ENDTIME" | translate }}</b>
									</div>

									<div
										class="col-12 col-sm-12 col-md-1 p-l-0 p-r-5 m-t-10"
										*ngFor="let item of weekAgenda"
									>
										<input
											type="text"
											mask="00:00"
											[dropSpecialCharacters]="false"
											id="end-{{ item.model }}"
											name="end-{{ item.model }}"
											[formControlName]="item.model + 'Final'"
											class="form-control"
										/>
									</div>

									<div class="col-12 col-sm-12 col-md-4 m-b-15 p-l-25 m-t-15">
										<label for="profissionalIntervaloPadrao">
											{{ "CONFIG.PROFESSIONAL.FORM.profissionalIntervaloPadrao" | translate }}
										</label>

										<input
											type="text"
											formControlName="profissionalIntervaloPadrao"
											id="profissionalIntervaloPadrao"
											class="form-control"
											mask="00:00"
											[dropSpecialCharacters]="false"
										/>
									</div>

									<div class="col-12 col-sm-12 col-md-4 m-b-15 m-t-15 groupGender w100">
										<label for="fixedLunch">
											{{ "CONFIG.PROFESSIONAL.FORM.fixedLunch" | translate }}
										</label>

										<br />

										<div
											class="btn-group btn-group-toggle w100"
											ngbRadioGroup
											name="fixedLunch"
											[(ngModel)]="fixedLunch"
											[ngModelOptions]="{ standalone: true }"
										>
											<label ngbButtonLabel class="btn-primary group2Pieces btnRadio w50 p-l-10">
												<input ngbButton type="radio" [value]="false" />

												<i *ngIf="!fixedLunch" class="icofont icofont-check"></i>

												{{ "COMMON.YESNO.NO" | translate }}
											</label>

											<label ngbButtonLabel class="btn-primary group2Pieces btnRadio w50 p-r-10">
												<input ngbButton type="radio" [value]="true" />

												<i *ngIf="fixedLunch" class="icofont icofont-check"></i>

												{{ "COMMON.YESNO.YES" | translate }}
											</label>
										</div>
									</div>

									<div class="col-12 col-sm-12 col-md-2 m-b-15 m-t-15" *ngIf="fixedLunch">
										<label for="profissionalIntervaloAlmocoInicial">
											{{
												"CONFIG.PROFESSIONAL.FORM.profissionalIntervaloAlmocoInicial" | translate
											}}
										</label>

										<input
											type="text"
											formControlName="profissionalIntervaloAlmocoInicial"
											id="profissionalIntervaloAlmocoInicial"
											class="form-control"
											mask="00:00"
											[dropSpecialCharacters]="false"
										/>
									</div>

									<div class="col-12 col-sm-12 col-md-2 m-b-15 m-t-15" *ngIf="fixedLunch">
										<label for="profissionalIntervaloAlmocoFinal">
											{{ "CONFIG.PROFESSIONAL.FORM.profissionalIntervaloAlmocoFinal" | translate }}
										</label>

										<input
											type="text"
											formControlName="profissionalIntervaloAlmocoFinal"
											id="profissionalIntervaloAlmocoFinal"
											class="form-control"
											mask="00:00"
											[dropSpecialCharacters]="false"
										/>
									</div>
								</div>
							</div>
						</ngb-tab>
					</ngb-tabset>
				</ng-container>

				<ng-template #commisionForm>
					<div class="col-12 col-sm-12 col-md-6 col-lg-5 m-b-15">
						<label for="profissionalTipoComissao">
							{{ "CONFIG.PROFESSIONAL.FORM.profissionalTipoComissao" | translate }}
						</label>

						<ng-select
							id="profissionalTipoComissao"
							[items]="listCommission"
							formControlName="profissionalTipoComissao"
							bindLabel="label"
							bindValue="value"
							[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
							[clearable]="false"
							(change)="changeTypeProfessional()"
						>
						</ng-select>
					</div>

					<div
						class="col-12 col-sm-12 col-md-4 m-b-15"
						*ngIf="formProfessional.get('profissionalTipoComissao').value === 'PORCENTAGEM_FIXA'"
					>
						<label for="profissionalPorcentagemComissao">
							{{ "CONFIG.PROFESSIONAL.FORM.profissionalPorcentagemComissao" | translate }}
						</label>

						<input
							type="text"
							[imask]="percentageMask"
							[unmask]="'typed'"
							(accept)="patchComissao($event)"
							[ngModelOptions]="{ standalone: true }"
							[(ngModel)]="_comissao"
							id="profissionalPorcentagemComissao"
							class="form-control"
							step="1"
							max="100"
							min="0"
						/>
					</div>

					<div
						class="col-12 col-sm-12 col-md-6 m-b-15"
						*ngIf="formProfessional.get('profissionalTipoComissao').value !== 'PORCENTAGEM_FIXA'"
					></div>

					<div class="col-12 col-sm-12 col-md-4 m-b-15 groupGender">
						<label for="profissionalDescontaPorcentagemCartaoDebito">
							{{
								"CONFIG.PROFESSIONAL.FORM.profissionalDescontaPorcentagemCartaoDebito" | translate
							}}
						</label>

						<br />

						<div
							class="btn-group btn-group-toggle w100"
							ngbRadioGroup
							name="profissionalDescontaPorcentagemCartaoDebito"
							formControlName="profissionalDescontaPorcentagemCartaoDebito"
						>
							<label ngbButtonLabel class="btn-primary group2Pieces w50 btnRadio">
								<input ngbButton type="radio" [value]="false" />

								<i
									*ngIf="!formProfessional.get('profissionalDescontaPorcentagemCartaoDebito').value"
									class="icofont icofont-check"
								></i>

								{{ "COMMON.YESNO.NO" | translate }}
							</label>

							<label ngbButtonLabel class="btn-primary group2Pieces w50 btnRadio">
								<input ngbButton type="radio" [value]="true" />

								<i
									*ngIf="
										formProfessional.get('profissionalDescontaPorcentagemCartaoDebito').value ===
										true
									"
									class="icofont icofont-check"
								></i>

								{{ "COMMON.YESNO.YES" | translate }}
							</label>
						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-4 m-b-15 groupGender">
						<label for="profissionalDescontaPorcentagemCartaoCreditoVista">
							{{
								"CONFIG.PROFESSIONAL.FORM.profissionalDescontaPorcentagemCartaoCreditoVista"
									| translate
							}}
						</label>
						<br />

						<div
							class="btn-group btn-group-toggle w100"
							ngbRadioGroup
							name="profissionalDescontaPorcentagemCartaoCreditoVista"
							formControlName="profissionalDescontaPorcentagemCartaoCreditoVista"
						>
							<label ngbButtonLabel class="btn-primary group2Pieces w50 btnRadio">
								<input ngbButton type="radio" [value]="false" />

								<i
									*ngIf="
										!formProfessional.get('profissionalDescontaPorcentagemCartaoCreditoVista').value
									"
									class="icofont icofont-check"
								></i>

								{{ "COMMON.YESNO.NO" | translate }}
							</label>

							<label ngbButtonLabel class="btn-primary group2Pieces w50 btnRadio">
								<input ngbButton type="radio" [value]="true" />
								<i
									*ngIf="
										formProfessional.get('profissionalDescontaPorcentagemCartaoCreditoVista')
											.value === true
									"
									class="icofont icofont-check"
								></i>
								{{ "COMMON.YESNO.YES" | translate }}
							</label>
						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-4 m-b-15 groupGender">
						<label for="profissionalDescontaPorcentagemCartaoParcelado">
							{{
								"CONFIG.PROFESSIONAL.FORM.profissionalDescontaPorcentagemCartaoParcelado"
									| translate
							}}
						</label>

						<br />

						<div
							class="btn-group btn-group-toggle w100"
							ngbRadioGroup
							name="profissionalDescontaPorcentagemCartaoParcelado"
							formControlName="profissionalDescontaPorcentagemCartaoParcelado"
						>
							<label ngbButtonLabel class="btn-primary group2Pieces w50 btnRadio">
								<input ngbButton type="radio" [value]="false" />

								<i
									*ngIf="
										!formProfessional.get('profissionalDescontaPorcentagemCartaoParcelado').value
									"
									class="icofont icofont-check"
								></i>

								{{ "COMMON.YESNO.NO" | translate }}
							</label>

							<label ngbButtonLabel class="btn-primary group2Pieces w50 btnRadio">
								<input ngbButton type="radio" [value]="true" />

								<i
									*ngIf="
										formProfessional.get('profissionalDescontaPorcentagemCartaoParcelado').value ===
										true
									"
									class="icofont icofont-check"
								></i>

								{{ "COMMON.YESNO.YES" | translate }}
							</label>
						</div>
					</div>
				</ng-template>
			</form>

			<div
				class="row"
				*ngIf="
					currentTab === Tab.COMMISSION &&
					formProfessional.get('profissionalTipoComissao')?.value ===
						TipoComissao.VALOR_FIXO_PROCEDIMENTO
				"
			>
				<ngb-accordion
					class="w-100 comission-accord m-l-10 m-r-10"
					[destroyOnHide]="false"
					#commisionsAccordion
				>
					<ngb-panel id="listagem-comissao-panel">
						<div
							*ngbPanelHeader
							(click)="commisionsAccordion.toggle('listagem-comissao-panel')"
							class="row pointer"
						>
							<div class="col-md-9 d-flex">
								<button class="btn btn-link p-0"><h5>Procedimentos</h5></button>
							</div>

							<div class="col-md-3 flexEnd">
								<button
									type="button"
									(click)="$event.stopPropagation(); openModalForNewProcedure()"
									class="btn btn-primary btn-sm waves-effect text-center m-r-10"
								>
									Adicionar Procedimento
								</button>

								<i
									class="icofont togglePanelIcon"
									(click)="commisionsAccordion.toggle('listagem-comissao-panel')"
									[ngClass]="
										commisionsAccordion.isExpanded('listagem-comissao-panel')
											? 'icofont-rounded-up'
											: 'icofont-rounded-down'
									"
								></i>
							</div>
						</div>

						<ngx-datatable
							*ngbPanelContent
							class="data-table table-responsive pure"
							[rows]="procedimentosComissao"
							[appAutosizedDatatable]
							[loadingIndicator]="true"
							[columnMode]="'force'"
							[headerHeight]="40"
							[footerHeight]="0"
							[rowHeight]="40"
							[reorderable]="false"
							[messages]="{
								emptyMessage: 'Nenhum resultado encontrado',
								totalMessage: 'registros encontrados'
							}"
						>
							<ngx-datatable-column
								[width]="110"
								[sortable]="false"
								[canAutoResize]="false"
								[draggable]="false"
								[resizeable]="false"
							>
								<ng-container *ngx-datatable-cell-template="let proc = row">
									<button
										class="btn btn-option btn-primary"
										(click)="editComissionProcedure(proc)"
										[ngbTooltip]="'COMMON.EDIT_REGISTER' | translate"
										placement="right"
									>
										<i class="ci icon-edit ajustaIcon"></i>
									</button>

									<button
										class="btn btn-option btn-danger"
										(click)="deleteComissionProcedure(proc)"
										[ngbTooltip]="'COMMON.DELETE_REGISTER' | translate"
										placement="right"
									>
										<i class="ci icon-delete ajustaIcon"></i>
									</button>
								</ng-container>
							</ngx-datatable-column>
							<ngx-datatable-column name="Convênio" prop="convenioNome"></ngx-datatable-column>
							<ngx-datatable-column name="Especialidade">
								<ng-container *ngx-datatable-cell-template="let proc = row">
									{{
										proc.convenioEspecialidadeProcedimentoConvenioEspecialidadeEspecialidadeNome
											| titlecase
									}}
								</ng-container>
							</ngx-datatable-column>
							<ngx-datatable-column
								name="Procedimento"
								prop="convenioEspecialidadeProcedimentoProcedimentoNome"
							></ngx-datatable-column>
							<ngx-datatable-column name="Valor Comissão">
								<ng-container *ngx-datatable-cell-template="let proc = row">
									{{ proc.valorComissao | currency: "BRL" }}
								</ng-container>
							</ngx-datatable-column>
						</ngx-datatable>
					</ngb-panel>
				</ngb-accordion>
			</div>

			<div class="row footer-actions">
				<div class="col-md-6"></div>
				<div class="col-md-6 flexEnd">
					<button
						type="button"
						class="btn btn-primary close-button btn-sm waves-effect text-center"
						(click)="goBackToProfessionalsPage()"
					>
						{{ "COMMON.BACK" | translate }}
					</button>
					<button
						type="button"
						class="btn btn-success btn-sm waves-effect text-center"
						(click)="save()"
					>
						{{ "COMMON.SAVE" | translate }}
					</button>
				</div>
			</div>
		</div>
	</ng-template>
</div>
