@import "../../../../../scss/partials/adjusts";

.fixedLunch {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.iconTab {
	margin-right: 10px;
}

:host {
	.form-tabs {
		position: relative;
		z-index: 100;
		display: block;

		&::ng-deep .nav-link:hover:not(.active) {
			border-color: transparent;
		}
	}

	.comission-accord::ng-deep {
		.card {
			border: solid 1px #dee2e6;

			&:hover {
				@extend .noHover;
			}
		}

		.card-body {
			margin: 0;
			padding: 0 10px 10px 10px;
		}
	}
}

.form-card {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: solid 1px #dee2e6;
	border-top: none;
}
