@import "./../../../../../scss/partials/variables";

.iconDelete {
	color: $danger-color;
	font-size: 1.4rem;
}

.alterar-container {
	width: 100%;
	text-align: left;
}

a.alterar-link {
	font-size: 0.85rem;
}
