<div #cardMain class="card noHover" *ngIf="formProsthetic">
	<div class="card-header customHeader">
		<div class="row p-l-20 m-r-10">
			<div class="col-10 col-sm-10 p-0 p-l-30">
				<span>{{ "TOOLS.PROSTHETIC.FORM.TITLE" | translate }}</span>
			</div>
			<div class="col-2 col-sm-2 flexEnd p-0 p-r-30">
				<i class="icofont icofont-close iconModalClose" (click)="closeModal()"></i>
			</div>
		</div>
	</div>

	<div class="card-body w100 m-l-0">
		<form [formGroup]="formProsthetic" class="row">
			<div
				class="col-12 col-sm-12 col-md-4 m-t-10"
				[ngClass]="applyCssError('itemServicoProteticoId', formProsthetic)"
			>
				<label for="itemServicoProteticoId">
					{{ "TOOLS.PROSTHETIC.FORM.itemServicoProteticoId" | translate }}
				</label>

				<ng-select
					id="itemServicoProteticoId"
					[items]="listProstheticService"
					formControlName="itemServicoProteticoId"
					bindLabel="nome"
					bindValue="id"
					(search)="searchingProstheticTxt = $event.term"
					(keyup.enter)="addService(searchingProstheticTxt)"
					[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
					[clearable]="false"
					[addTag]="true"
				>
					<ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
						<div class="row">
							<div class="col col-sm-10">
								<span>{{ item.nome }}</span>
							</div>

							<div class="col col-sm-2 flexStart" (click)="deleteItemDrop(item.id)">
								<i class="ci icon-delete iconDelete"></i>
							</div>
						</div>
					</ng-template>

					<ng-template ng-tag-tmp let-search="searchTerm">
						<span (click)="addService(search)">
							<strong>Adicionar:</strong>
							{{ search }}
						</span>
					</ng-template>
				</ng-select>

				<div
					class="alterar-container"
					[ngStyle]="{
						visibility: formProsthetic.get('itemServicoProteticoId')?.value ? 'visible' : 'hidden'
					}"
				>
					<a
						href="javascript: void 0;"
						(click)="alterarNomeService()"
						class="text-primary alterar-link"
					>
						opções
					</a>
				</div>

				<div
					class="text-feedback"
					*ngIf="formFieldIsInvalid('itemServicoProteticoId', formProsthetic)"
				>
					<span>{{ "COMMON.REQUIRED" | translate }}</span>
				</div>
			</div>

			<div
				class="col-12 col-sm-12 col-md-6 m-t-10"
				[ngClass]="applyCssError('dentes', formProsthetic)"
			>
				<label for="dentes">{{ "TOOLS.PROSTHETIC.FORM.dentes" | translate }}</label>

				<ng-select
					class="'ng-select'"
					id="dentes"
					[multiple]="true"
					[items]="listTooth"
					formControlName="dentes"
					bindLabel="descricao"
					bindValue="enumIdentifier"
					[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
					[clearable]="false"
				>
				</ng-select>

				<div class="text-feedback" *ngIf="formFieldIsInvalid('dentes', formProsthetic)">
					<span>{{ "COMMON.REQUIRED" | translate }}</span>
				</div>
			</div>

			<div
				class="col-12 col-sm-12 col-md-2 m-t-10"
				[ngClass]="applyCssError('valor', formProsthetic)"
			>
				<label for="valor">{{ "TOOLS.PROSTHETIC.FORM.valor" | translate }}</label>

				<input
					type="text"
					autocomplete="off"
					spellcheck="false"
					currencyMask
					formControlName="valor"
					id="valor"
					class="form-control"
				/>

				<div class="text-feedback" *ngIf="formFieldIsInvalid('valor', formProsthetic)">
					<span>{{ "COMMON.REQUIRED" | translate }}</span>
				</div>
			</div>

			<div
				class="col-12 col-sm-12 col-md-4 m-t-10"
				[ngClass]="applyCssError('pacienteId', formProsthetic)"
			>
				<label for="pacienteId">{{ "TOOLS.PROSTHETIC.FORM.pacienteId" | translate }}</label>

				<input
					type="text"
					id="pacienteId"
					#patientSearch
					class="form-control"
					[value]="typeaheadValue"
					[ngbTypeahead]="search"
					[resultFormatter]="formatMatches"
					[inputFormatter]="formatMatches"
					(selectItem)="onSelectPatient($event)"
				/>

				<div class="text-feedback" *ngIf="formFieldIsInvalid('pacienteId', formProsthetic)">
					<span>{{ "COMMON.REQUIRED" | translate }}</span>
				</div>
			</div>

			<div
				class="col-12 col-sm-12 col-md-4 m-t-10"
				[ngClass]="applyCssError('proteticoId', formProsthetic)"
			>
				<label for="proteticoId">{{ "TOOLS.PROSTHETIC.FORM.proteticoId" | translate }}</label>

				<ng-select
					id="proteticoId"
					[items]="listProsthetic"
					formControlName="proteticoId"
					bindLabel="nome"
					bindValue="id"
					[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
					[clearable]="false"
				>
				</ng-select>

				<div class="text-feedback" *ngIf="formFieldIsInvalid('proteticoId', formProsthetic)">
					<span>{{ "COMMON.REQUIRED" | translate }}</span>
				</div>
			</div>

			<div
				class="col-12 col-sm-12 col-md-4 m-t-10"
				[ngClass]="applyCssError('profissionalId', formProsthetic)"
			>
				<label for="profissionalId">{{ "TOOLS.PROSTHETIC.FORM.profissionalId" | translate }}</label>

				<ng-select
					id="profissionalId"
					[items]="listProfessional"
					formControlName="profissionalId"
					bindLabel="nome"
					bindValue="id"
					[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
					[clearable]="false"
				>
				</ng-select>

				<div class="text-feedback" *ngIf="formFieldIsInvalid('profissionalId', formProsthetic)">
					<span>{{ "COMMON.REQUIRED" | translate }}</span>
				</div>
			</div>

			<div class="col-12 col-sm-12 col-md-4 m-t-10">
				<label for="dataPrevistaEntrega">
					{{ "TOOLS.PROSTHETIC.FORM.dataPrevistaEntrega" | translate }}
				</label>

				<div class="col-sm-12 input-group m-0 p-0">
					<input
						id="dataPrevistaEntrega"
						name="dataPrevistaEntrega"
						class="form-control inputDate"
						placeholder="{{ service.translate.instant('COMMON.PLACEHOLDER_DATE') }}"
						formControlName="dataPrevistaEntrega"
						ngbDatepicker
						#dataPrevistaEntrega="ngbDatepicker"
						rInputMask="99/99/9999"
					/>

					<div class="input-group-append bg-default" (click)="dataPrevistaEntrega.toggle()">
						<span class="icofont icofont-ui-calendar input-group-text"></span>
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-12 col-md-4 m-t-10">
				<label for="metal">{{ "TOOLS.PROSTHETIC.FORM.metal" | translate }}</label>
				<input type="text" formControlName="metal" id="metal" class="form-control" />
			</div>

			<div class="col-12 col-sm-12 col-md-4 m-t-10">
				<label for="cor">{{ "TOOLS.PROSTHETIC.FORM.cor" | translate }}</label>
				<input type="text" formControlName="cor" id="cor" class="form-control" />
			</div>
		</form>

		<div class="row footer-actions">
			<div class="col-md-6"></div>

			<div class="col-md-6 flexEnd">
				<button type="button" class="btn btn-sm close-button text-center" (click)="closeModal()">
					{{ "COMMON.CLOSE" | translate }}
				</button>
				<button type="button" class="btn btn-success text-center" (click)="save()">
					{{ "COMMON.SAVE" | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
