<div class="card noHover">
	<div class="card-header customHeader">
		<span>{{sheetTitle}}</span>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-12">
				<label for="initialDate">{{'REPORTS.FILTERS.EMISSION_DATE' | translate}}</label>
			</div>
		</div>
		<div class="row">
			<div class="col-2 input-group">
				<input id="initialDate" name="initialDate" class="form-control inputDate" placeholder="dd/mm/YYYY"
					   [(ngModel)]="filters.dataInicio" ngbDatepicker #initialDate="ngbDatepicker"
					   rInputMask="99/99/9999"/>

				<div class="input-group-append bg-default" (click)="initialDate.toggle()">
					<span class="icofont icofont-ui-calendar input-group-text"></span>
				</div>
			</div>
			<div class="col-1 input-group flexCenter">{{'REPORTS.FILTERS.AT' | translate}}</div>
			<div class="col-2 input-group">
				<input id="finalDate" name="finalDate" class="form-control inputDate" placeholder="dd/mm/YYYY"
					   [(ngModel)]="filters.dataFim" ngbDatepicker #finalDate="ngbDatepicker"
					   rInputMask="99/99/9999"/>

				<div class="input-group-append bg-default" (click)="finalDate.toggle()">
					<span class="icofont icofont-ui-calendar input-group-text"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<div class="row">
					<div class="form-group col-6">
						<label for="profissionalId">{{'REPORTS.FILTERS.PROFESSIONAL' | translate}}</label>
						<ngx-select id="profissionalId"
									[items]="professionals"
									[(ngModel)]="filters.profissionalId"
									optionTextField="nome"
									optionValueField="id"
									[allowClear]="true"
									(open)="_service.doOpenSelect()"
									[placeholder]="'REPORTS.FILTERS.ALL' | translate"
									[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate">
						</ngx-select>
					</div>
					<div class="form-group col-6">
						<label for="patientId">{{'REPORTS.FILTERS.PATIENT' | translate}}</label>
						<input type="text" id="patientId" class="form-control" [value]="typeaheadValue" [ngbTypeahead]="observableSearch"
							   [resultFormatter]="formatMatches" placeholder="Digite o nome do paciente"
							   [inputFormatter]="formatMatches" (selectItem)="selectPatient($event)">
					</div>
				</div>
			</div>
			<div class="col-6 flexEnd">
				<app-report-header-actions class="flexEnd header-actions" (printTrigger)="print($event)" (searchTrigger)="search()"></app-report-header-actions>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<app-report-datatable [columns]="columns" [rows]="ownData"></app-report-datatable>
		</div>
	</div>
</div>
