<div class="card customSize m-0">
  <div class="card-body row">
    <div class="col-12 col-sm-12 flexCenter">
      <ngb-datepicker #dp [(ngModel)]="date" (ngModelChange)="applyDate()"></ngb-datepicker>
    </div>
    <div class="col-12 col-sm-12 flexCenter">
      <ngb-timepicker [(ngModel)]="time" (ngModelChange)="applyDate()"></ngb-timepicker>
    </div>

  </div>
</div>
