<div class="card noHover contentPage" style="padding: 20px">
	<h4 class="m-b-20">Editar modelo de contrato</h4>

	<div class="row m-b-10">
		<div class="col-12 col-md-6">
			<div class="form-group">
				<label for="model-name">Nome do modelo</label>
				<input id="model-name" name="model-name" class="form-control" [(ngModel)]="nome" />
			</div>
		</div>
	</div>

	<div class="form-group">
		<ckeditor
			*ngIf="tags != null"
			[config]="{
				extraPlugins: 'autocomplete,mentions',
				mentions: [{ feed: tags, minChars: 0, marker: '#' }]
			}"
			[(ngModel)]="texto"
		>
		</ckeditor>
	</div>

	<div class="row">
		<div class="col">
			<h5>
				<span
					*ngFor="let tag of tags"
					[ngClass]="containsTag(tag) ? 'badge-primary' : 'badge-light'"
					class="badge"
					style="margin: 3px"
				>
					#{{ tag }}
				</span>
			</h5>
		</div>
	</div>

	<div class="row">
		<div class="col flexEnd">
			<button (click)="navigateBack()" type="button" class="btn m-r-10">Voltar</button>
			<button (click)="save()" type="button" class="btn btn-primary">Salvar</button>
		</div>
	</div>
</div>
