<simple-notifications [options]="this.service.options"></simple-notifications>

<div class="card contentPage">
  <span class="pageTitle">{{'CONFIG.COVENANT.TITLE' | translate}}</span>

  <div class="row rowSearch">
    <!-- <div class="col col-12 col-sm-12 col-md-2 p-l-0">
      <ng-select id="searchRange" name="searchRange" [items]="service.perPage" [(ngModel)]="searchParam.size"
        bindLabel="field" bindValue="value" [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
        (change)="populateTable()" [clearable]="false">
      </ng-select>
    </div> -->

    <!-- <div class="col col-12 col-sm-12 col-md-6 col-lg-7 p-l-0">
      <i class="ci icon-search insideInput"></i>
      <input #valueSearch type="text" [(ngModel)]="searchParam.nome" name="valueSearch"
        class="form-control inputWithIcon">
    </div> -->

    <div class="col-12 col-sm-12 col-md-8 col-lg-9"></div>

    <div class="col col-12 col-sm-12 col-md-4 col-lg-3 p-r-0 header-actions flexEnd">
      <button type="button"
        class="btn btn-primary btn-sm waves-effect text-center"
        (click)="formCovenant(null)">
        {{'COMMON.NEW' | translate}}
      </button>
    </div>
  </div>

  <ngx-datatable
    id="tablePatients"
    class="data-table table-responsive non-legacy"
    [appAutosizedDatatable]
    [rows]="rowsPage"
    [loadingIndicator]="true"
    [headerHeight]="40"
    [footerHeight]="40"
    [rowHeight]="40"
    [externalPaging]="true"
    [count]="page.totalElements"
    [offset]="page.pageNumber"
    [limit]="page.size"
    [scrollbarH]="true"
    [messages]="service.translate.instant('COMMON.footerMessage')"
    (page)='setPage($event)'>

    <ngx-datatable-column *ngFor="let column of columns; let indexColumn = index"
      [name]="column.name"
      [prop]="column.prop"
      [width]="column.prop !== 'nome' ? column.width : undefined"
      [headerClass]="column.prop === 'nome' ? 'nome-col' : ''"
      [cellClass]="column.prop === 'nome' ? 'nome-col' : ''"
      [sortable]="column.sortable">
      <ng-template let-rowIndex="rowIndex"
        let-row="row"
        ngx-datatable-cell-template>

        <span *ngIf="!column.action && column.prop !== 'isPadrao'">
          {{row[column.prop]}}
        </span>

        <i *ngIf="!column.action && column.prop === 'isPadrao'" class="f-20"
          [ngClass]="row[column.prop] ? 'text-success icofont icofont-check' : 'icofont icofont-minus'">
        </i>

        <button class="btn btn-option btn-primary"
          (click)="formCovenant(row)"
          *ngIf="column.action"
          [ngbTooltip]="'COMMON.EDIT_REGISTER' | translate"
          placement="right">
          <i class="ci icon-edit ajustaIcon"></i>
        </button>

        <button class="btn btn-option btn-danger"
          (click)="deleteConvenio(row.id)"
          *ngIf="column.action"
          [ngbTooltip]="'COMMON.DELETE_REGISTER' | translate"
          placement="right">
          <i class="ci icon-delete ajustaIcon"></i>
        </button>

      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

</div>

<app-modal-animation *ngIf="showModalCreate"
  [backDrop]="true"
  [modalID]="'modal-create-covenant'"
  [modalClass]="'md-effect-11 md-modal-lg'">
  <app-modal-create [modalId]="'modal-create-covenant'"
    [idDefault]="idDefault"
    [covenantList]="rowsPage"
    (resultModal)="processResultModalCreate($event)">
  </app-modal-create>
</app-modal-animation>
