.rowSearch {
  margin: 10px 0;
}

.insideInput {
  font-size: 1.2rem;
  position: absolute;
  left: 10px;
  top: 7px;
}

.inputWithIcon {
  padding-left: 35px !important;
}

::ng-deep .nome-col {
  flex: 1;
}
