<ngx-datatable
  *ngIf="pagina$ | async as resp"
  class="data-table table-responsive"
  [rows]="resp.content"
  [appAutosizedDatatable]
  [loadingIndicator]="true"
  [columnMode]="'force'"
  [externalSorting]="true"
  (sort)="updateSortings($event.sorts)"
  [externalPaging]="true"
  (page)="updatePage($event.offset)"
  [count]="resp.totalElements"
  [offset]="pageNumber$ | async"
  [limit]="resp.size"
  [headerHeight]="40"
  [footerHeight]="40"
  [rowHeight]="40"
  [reorderable]="true"
  [scrollbarH]="true"
  [messages]="{ emptyMessage: 'Nenhum resultado encontrado', totalMessage: 'registros encontrados' }"
>

  <ngx-datatable-column
    name="Ações"
    prop="_"
    [width]="105"
    [sortable]="false"
    [resizeable]="true"
    [canAutoResize]="false"
  >
    <ng-container *ngx-datatable-cell-template="let r = row">

      <button
        title="Editar"
        class="btn btn-option btn-primary action-btn"
        (click)="edit.next(r)"
      >
        <i class="ci icon-edit ajustaIcon"></i>
      </button>

      <button
        title="Apagar"
        (click)="delete.next(r)"
        class="btn btn-option btn-danger"
      >
        <i class="ci icon-delete ajustaIcon"></i>
      </button>
    </ng-container>
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Produto"
    prop="nome"
    [sortable]="true"
  >
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Unidade"
    prop="unidadeMedida"
    [sortable]="false"
  >
    <ng-container *ngx-datatable-cell-template="let r = row">
      {{ unidadeMedidaInfo(r.unidadeMedida).descricao }}
    </ng-container>
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Total Estoque"
    prop="produtoEstoqueQuantidade"
    cellClass="text-center"
    [canAutoResize]="false"
    [width]="137"
    [sortable]="false"
  >
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Minimo"
    prop="estoqueMinimo"
    cellClass="text-center"
    [width]="100"
    [canAutoResize]="false"
    [sortable]="false"
  >
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Lançamentos"
    [sortable]="false"
    [width]="160"
    prop="_"
    [canAutoResize]="false"
    *ngIf="!esconderLancamentos"
  >
    <ng-container *ngx-datatable-cell-template="let r = row">
      <button
        (click)="novaMovimentacao.next(r)"
        class="btn btn-sm btn-primary"
      >
        Fazer Lançamento
      </button>
    </ng-container>
  </ngx-datatable-column>

  <ngx-datatable-column
    name=""
    prop="_"
    [width]="170"
    [canAutoResize]="false"
    [sortable]="false"
  >
    <ng-container *ngx-datatable-cell-template="let r = row">
      <button
        [routerLink]="['..', 'movimentacoes', r.id]"
        class="btn btn-sm"
      >Ver Movimentações</button>
    </ng-container>
  </ngx-datatable-column>
</ngx-datatable>
