@import './../../../../../scss/partials/variables';

.logoLogin {
  max-height: 60px;
  margin-bottom: 20px
}

.titleAccount {
  font-weight: bold;
  color: $primary-color;
  font-size: medium;
}

.subtitleAccount {
  color: $theme-font-color;
  font-size: small;
  font-style: italic;
}

.containerFlip {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: transform 1s;
  -ms-transform: transform 1s;
  transform: transform 1s;
}

.rotateCard {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.authCard {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  position: absolute;
}

.accountCard {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  position: absolute;
}

.titleFont {
  color: $theme-font-color;
}
