<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row containerFlip flexCenter h100" [@flipState]="flip" no-padding>
          <div class="login-card card-block auth-body mr-auto ml-auto rotateCard authCard" #authCard>

            <form class="md-float-material" [formGroup]="formulario" (ngSubmit)="login()">
              <div class="auth-box">
                <div class="text-center">
                  <img src="assets/images/logo_mobi_blue.png" class="logoLogin" alt="Gradient Able">
                </div>

                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h5 class="text-center titleFont">{{'LOGIN.TITLE' | translate}}</h5>
                  </div>
                </div>

                <hr />

                <div class="input-group">
                  <input type="email" class="form-control" formControlName="login" placeholder="Seu endereço de Email">
                  <span class="md-line"></span>
                </div>

                <div class="input-group">
                  <input type="password" class="form-control" formControlName="senha" placeholder="Senha">
                  <span class="md-line"></span>
                </div>

                <div class="row m-t-25 text-left">
                  <div class="col-12">
                    <div class="forgot-phone text-right f-right">
                      <a [routerLink]="['/auth/forgot']"
                        class="text-right f-w-600 text-inverse">{{'LOGIN.FORGOT' | translate}}</a>
                    </div>
                  </div>
                </div>

                <div class="row m-t-30">
                  <div class="col-md-12">
                    <button class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" type="submit">

                      {{'LOGIN.SIGNIN' | translate}}
                    </button>
                  </div>
                </div>

                <hr />

                <div class="row p-10">
                  <p class="text-center p-b-10 text-inverse m-b-0">
                    Se ainda não tiver uma conta no Mobidental,
                    <a style="text-decoration: underline" [routerLink]="['/', 'auth', 'registration']">
                      Cadastre-se agora
                    </a>
                  </p>
                </div>

              </div>
            </form>
            <!-- end of form -->
          </div>

          <div class="login-card card-block auth-body mr-auto ml-auto rotateCard accountCard" #accountCard>
            <form class="md-float-material" [formGroup]="formulario">
              <div class="auth-box">
                <div class="text-center">
                  <img src="assets/images/logo.png" class="logoLogin" alt="Gradient Able">
                </div>

                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h5 class="text-center titleFont">{{'LOGIN.CHOOSE_ACCOUNT' | translate}}</h5>
                  </div>
                </div>

                <hr />

                <div *ngFor="let account of accounts" class="row m-0">
                  <div class="card col col-12 pointer" (click)="selectAccount(account.usuarioPerfilContaModuloId)">
                    <div class="card-body">
                      <span class="titleAccount">{{account.razaoSocial}}</span><br>
                      <span class="subtitleAccount">{{account.perfilContaModuloDescricao}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
