<div class="card noHover contentPage">
	<h4>{{ title | translate }}</h4>
	<div class="card-body">
		<form #form="ngForm">
			<div class="row">
				<div class="col-sm-12 col-md-6 form-group">
					<label> {{ ("CONFIG.DOCUMENT_MODEL.LABELS.NAME" | translate) + " *" }}</label>
					<br />

					<input
						class="form-control"
						name="question"
						type="text"
						required
						[placeholder]="'CONFIG.DOCUMENT_MODEL.LABELS.NAME' | translate"
						[(ngModel)]="documentModel.nome"
					/>
				</div>
			</div>

			<div class="row">
				<div class="col-12 form-group">
					<label>
						{{ "CONFIG.DOCUMENT_MODEL.LABELS.TEXT" | translate }}
					</label>

					<br />

					<ckeditor
						*ngIf="tagNames != null"
						name="text"
						[config]="{
							extraPlugins: 'autocomplete,mentions',
							mentions: [{ feed: tagNames, minChars: 0, marker: '#' }]
						}"
						[(ngModel)]="documentModel.texto"
					></ckeditor>
				</div>

				<div class="col-12 m-b-15">
					<h5>
						<span
							*ngFor="let tag of tags"
							[ngClass]="tagIncludesOnText(tag.tag) ? 'badge-primary' : 'badge-light'"
							class="badge"
						>
							{{ tag.tag }}
						</span>
					</h5>
				</div>

				<div class="col-12">
					<p style="color: grey">
						{{ "CONFIG.DOCUMENT_MODEL.LABELS.MESSAGE" | translate }}
					</p>
				</div>
			</div>
		</form>
	</div>

	<div class="card-block p-t-0">
		<div class="row footer-actions">
			<div class="col-12 flexEnd">
				<button type="button" class="btn close-button text-center" (click)="navigateBack()">
					{{ "COMMON.CLOSE" | translate }}
				</button>

				<button
					type="button"
					class="btn btn-success text-center"
					[disabled]="form.invalid || !(documentModel.texto || documentModel.texto.trim())"
					(click)="save()"
				>
					{{ "COMMON.SAVE" | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
