<div class="col-12 input-group m-0 p-0">
	<input [id]="id" name="dateTime" class="form-control inputDate"
		   [(ngModel)]="dateTime"
		   (ngModelChange)="changeDatetimeManually()"
		   [dropSpecialCharacters]="false"
		   placeholder="Data e Hora" [mask]="dateTimeMask">
	<div class="input-group-append bg-default" (click)="togglePicker()">
		<span class="icofont icofont-ui-calendar input-group-text"></span>
	</div>
</div>
<div *ngIf="incompletedDateTimeLength && dateTime.length > 0" class="row m-t-2">
	<div class="col-12">
		<span style="color: crimson; font-size: 10px"><i>Formato desejado {{dateTimeMask}}</i></span>
	</div>
</div>
<div class="commitment-popup-date-time" #htmlDivElement>
	<div *ngIf="showPicker && isComponentClicked" class="card">
		<div class="card-body row">
			<div class="col-12 flexCenter">
				<ngb-datepicker class="commitment-custom-datepicker" [(ngModel)]="date" (ngModelChange)="applyDateTime()"></ngb-datepicker>
			</div>
			<div *ngIf="!defaultTime" class="col-12 flexCenter m-t-5">
				<ngb-timepicker [(ngModel)]="time" [spinners]="false" (ngModelChange)="applyDateTime()"></ngb-timepicker>
			</div>
		</div>
	</div>
</div>
