<div class="card">

  <div class="card-header customHeader row">
    <div class="col-10 col-sm-10 p-l-20">
      <span>{{'AGENDA.PRINT.TITLE' | translate}}</span>
    </div>
    <div class="col-2 col-sm-2 flexEnd p-r-20">
      <i class="icofont icofont-close iconModalClose" (click)="service.closeModal('modal-print-agenda', null)"></i>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 m-b-15">
        <label for="dataInicial">{{'AGENDA.PRINT.DATE_INIT' | translate}}</label><br>
        <div class="col-sm-12 input-group m-0 p-0">
          <input id="dataInicial" name="dataInicial" class="form-control inputDate"
            placeholder="{{service.translate.instant('COMMON.PLACEHOLDER_DATE')}}" [(ngModel)]="searchParam.dataInicial"
            ngbDatepicker #dataInicial="ngbDatepicker" rInputMask="99/99/9999">

          <div class="input-group-append bg-default" (click)="dataInicial.toggle()">
            <span class="icofont icofont-ui-calendar input-group-text"></span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 m-b-15">
        <label for="dataFinal">{{'AGENDA.PRINT.DATE_END' | translate}}</label><br>
        <div class="col-sm-12 input-group m-0 p-0">
          <input id="dataFinal" name="dataFinal" class="form-control inputDate"
            placeholder="{{service.translate.instant('COMMON.PLACEHOLDER_DATE')}}" [(ngModel)]="searchParam.dataFinal"
            ngbDatepicker #dataFinal="ngbDatepicker" rInputMask="99/99/9999">

          <div class="input-group-append bg-default" (click)="dataFinal.toggle()">
            <span class="icofont icofont-ui-calendar input-group-text"></span>
          </div>
        </div>
      </div>

      <div class="col col-12 col-sm-12 m-b-20">
        <label for="professionalId">{{'AGENDA.PROFESSIONAL' | translate}}</label><br>

        <ngx-select id="professionalId" name="professionalId" [items]="professionals"
          [(ngModel)]="searchParam.profissionalId" (open)="service.doOpenSelect()" size="medium"
          [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')" optionTextField="nome" optionValueField="id"
          [noResultsFound]="service.translate.instant('COMMON.NORESULT')">
        </ngx-select>
      </div>

      <div class="col col-12 col-sm-12 m-b-20">
        <ng-select [ngClass]="'ng-select'" [items]="localLists.listStatusAgenda" [multiple]="true"
          [(ngModel)]="searchParam.listaStatusAgendamento">
        </ng-select>
      </div>


    </div>

    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-12 col-sm-12 col-md-3">
        <button type="button" class="btn btn-success btn-sm btn-block waves-effect text-center" (click)="print()">{{'AGENDA.PRINT.PRINT' | translate}}</button>
      </div>
    </div>
  </div>
</div>
