<simple-notifications [options]="this.service.options"></simple-notifications>

<div class="card noHover" *ngIf="parcel">
	<div class="card-header customHeader">
		<div class="row p-l-20 m-r-10">
			<div class="col-10 col-sm-10 p-0 p-l-30">
				<span>{{ "PATIENTS.MODAL_EDIT_PARCEL_ACCOUNT.TITLE" | translate }}</span>
			</div>

			<div class="col-2 col-sm-2 flexEnd p-0 p-r-30">
				<i class="icofont icofont-close iconModalClose" (click)="closeModal()"></i>
			</div>
		</div>
	</div>

	<div class="card-body row col-12 m-l-0 adjustModal p-t-0">
		<div class="row col-12 p-l-0 p-r-0 m-l-0 m-r-0 m-t-20">
			<div class="col-12 col-sm-12 col-md-6 p-l-0 m-b-10">
				<span>
					<b>{{ "PATIENTS.MODAL_PAYMENT.parcel" | translate }}: </b>
					{{ parcel.numeroParcela + "/" + totalParcels }}
				</span>
			</div>

			<div class="col-12 col-sm-12 col-md-6 p-l-0 m-b-10">
				<span>
					<b>{{ "PATIENTS.MODAL_PAYMENT.paymentDateLimit" | translate }}: </b>
					{{ parcel.dataVencimento }}
				</span>
			</div>

			<div class="col-12 col-sm-12 col-md-6 p-l-0 m-b-20">
				<span class="amount">
					<b>{{ "PATIENTS.MODAL_PAYMENT.amount" | translate }}: </b>
					{{ "COMMON.CURRENCY_SYMBOL" | translate }}
					{{ parcel.valor | decimalWithLocale: 2:locale }}
				</span>
			</div>

			<div class="col-12 col-sm-12 col-md-6 p-l-0 m-b-10">
				<span [style.color]="status.color">
					<b>{{ "PATIENTS.MODAL_PAYMENT.status" | translate }}: </b>
					{{ status.text }}
				</span>
			</div>

			<div class="form-group col-9 p-l-0">
				<label for="input-desc">Descrição</label>
				<input id="input-desc" class="form-control" type="text" [(ngModel)]="descricao" />
			</div>

			<div class="col-3 p-r-0">
				<label for="dataVencimento">
					{{ "PATIENTS.MODAL_EDIT_PARCEL_ACCOUNT.dataVencimento" | translate }}
				</label>

				<br />

				<div class="col-sm-12 input-group m-0 p-0">
					<input
						id="dataVencimento"
						name="dataVencimento"
						class="form-control inputDate"
						placeholder="dd/mm/YYYY"
						[(ngModel)]="dataVencimentoData"
						ngbDatepicker
						#dataVencimento="ngbDatepicker"
						(focus)="dataVencimento.toggle()"
						[readonly]="true"
					/>

					<div class="input-group-append bg-default" (click)="dataVencimento.toggle()">
						<span class="icofont icofont-ui-calendar input-group-text"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="row col-12 p-l-0 p-r-0 m-l-0 m-r-0 m-t-20">
			<div class="col-md-9"></div>

			<div class="col-12 col-sm-12 col-md-3">
				<button
					type="button"
					class="btn btn-success btn-sm btn-block waves-effect text-center"
					(click)="save()"
				>
					{{ "COMMON.SAVE" | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
