<div class="card contentPage">
	<span class="pageTitle">{{ "TOOLS.PROSTHETIC.TITLE" | translate }}</span>

	<div class="row col-12 m-r-0 p-r-0 m-l-0 p-l-0 m-t-20 rowSearch">
		<div class="col col-12 col-sm-12 col-md-3 p-l-0 m-l-0 m-b-15">
			<label for="dataFim">{{ "COMMON.RANGE" | translate }}</label
			><br />

			<ng-select
				id="searchRange"
				name="searchRange"
				[items]="listSearchRange"
				[(ngModel)]="searchRange"
				bindLabel="label"
				bindValue="value"
				[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
				(change)="onrangeChange()"
				[clearable]="false"
			>
			</ng-select>
		</div>

		<div class="col-md-6" *ngIf="searchRange !== BY_RANGE"></div>

		<div class="col-12 col-sm-12 col-md-3 m-b-15" *ngIf="searchRange === BY_RANGE">
			<label for="dataInicio">{{ "COMMON.INIT_DATE" | translate }}</label
			><br />

			<div class="col-sm-12 input-group m-0 p-0">
				<input
					id="dataInicio"
					name="dataInicio"
					class="form-control inputDate"
					placeholder="dd/mm/YYYY"
					[(ngModel)]="searchParam.dataInicio"
					(dateSelect)="onDateSelect()"
					ngbDatepicker
					#dataInicio="ngbDatepicker"
					rInputMask="99/99/9999"
					(keyup)="applyDate($event)"
				/>

				<div class="input-group-append bg-default" (click)="dataInicio.toggle()">
					<span class="icofont icofont-ui-calendar input-group-text"></span>
				</div>
			</div>
		</div>

		<div class="col-12 col-sm-12 col-md-3 m-b-15" *ngIf="searchRange === BY_RANGE">
			<label for="dataFim">{{ "COMMON.END_DATE" | translate }}</label
			><br />

			<div class="col-sm-12 input-group m-0 p-0">
				<input
					id="dataFim"
					name="dataFim"
					(dateSelect)="onDateSelect()"
					class="form-control inputDate"
					placeholder="dd/mm/YYYY"
					[(ngModel)]="searchParam.dataFim"
					ngbDatepicker
					#dataFim="ngbDatepicker"
					rInputMask="99/99/9999"
					(keyup)="applyDate($event)"
				/>

				<div class="input-group-append bg-default" (click)="dataFim.toggle()">
					<span class="icofont icofont-ui-calendar input-group-text"></span>
				</div>
			</div>
		</div>

		<div class="row col-12 p-0 m-0">
			<div class="col col-12 col-sm-12 col-md-3 p-l-0 m-l-0">
				<label for="dataFim">{{ "TOOLS.PROSTHETIC.PROSTHETIC" | translate }}</label
				><br />

				<ng-select
					id="proteticoId"
					name="proteticoId"
					[items]="listProsthetic"
					[(ngModel)]="searchParam.proteticoId"
					bindLabel="nome"
					bindValue="id"
					[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
					(change)="onSelectChange()"
					[clearable]="false"
				>
				</ng-select>
			</div>

			<div class="col col-12 col-sm-12 col-md-3 p-l-0 m-l-0">
				<label for="dataFim">{{ "TOOLS.PROSTHETIC.DENTIST" | translate }}</label
				><br />

				<ng-select
					id="profissionalId"
					name="profissionalId"
					[items]="listProferssional"
					[(ngModel)]="searchParam.profissionalId"
					bindLabel="nome"
					bindValue="id"
					[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
					(change)="onSelectChange()"
					[clearable]="false"
				>
				</ng-select>
			</div>

			<div class="col col-12 col-sm-12 col-md-3 p-r-0 m-r-0 flexEnd align-items-end">
				<button type="button" class="btn btn-primary btn-sm btn-block text-center">
					{{ "TOOLS.PROSTHETIC.CLEAR_FILTER" | translate }}
				</button>
			</div>

			<div class="col col-12 col-sm-12 col-md-3 p-r-0 m-r-0 flexEnd align-items-end">
				<button
					type="button"
					class="btn btn-primary btn-sm btn-block text-center adjustBtn"
					(click)="formService(null)"
				>
					{{ "TOOLS.PROSTHETIC.ADD_SERVICE" | translate }}
				</button>
			</div>
		</div>

		<div class="row col-12 p-l-0 m-t-20 m-b-0">
			<div class="col-12 col-sm-12 col-md-6 m-b-15 groupGender">
				<div
					class="btn-group btn-group-toggle w100"
					ngbRadioGroup
					name="typeService"
					[(ngModel)]="searchParam.statusServicoProtetico"
					(ngModelChange)="changeStatus()"
				>
					<label ngbButtonLabel class="btn-primary group2Pieces btnRadio w50">
						<input ngbButton type="radio" [value]="'ABERTO'" />
						<i
							*ngIf="searchParam.statusServicoProtetico === 'ABERTO'"
							class="icofont icofont-check"
						></i>
						{{ "TOOLS.PROSTHETIC.OPEN" | translate }}
					</label>

					<label ngbButtonLabel class="btn-primary group2Pieces btnRadio w50">
						<input ngbButton type="radio" [value]="'RECEBIDO'" />
						<i
							*ngIf="searchParam.statusServicoProtetico === 'RECEBIDO'"
							class="icofont icofont-check"
						></i>
						{{ "TOOLS.PROSTHETIC.RECEIVED" | translate }}
					</label>
				</div>
			</div>
		</div>
	</div>

	<ngx-datatable
		id="tablePatients"
		class="data-table table-responsive"
		[rows]="rowsPage"
		[loadingIndicator]="true"
		[columnMode]="'force'"
		[headerHeight]="40"
		[footerHeight]="40"
		[rowHeight]="40"
		[reorderable]="true"
		[externalPaging]="true"
		[count]="page.totalElements"
		[offset]="page.pageNumber"
		[limit]="page.size"
		[scrollbarH]="true"
		[messages]="service.translate.instant('COMMON.footerMessage')"
	>
		<ngx-datatable-column
			*ngFor="let column of columns; let indexColumn = index"
			[name]="column.name"
			[prop]="column.prop"
			[width]="column.width"
			[sortable]="column.sortable"
		>
			<ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
				<span *ngIf="!column.action && !column.currency">
					{{ row[column.prop] }}
				</span>

				<span *ngIf="!column.action && column.currency">
					{{ "COMMON.CURRENCY_SYMBOL" | translate }}
					{{ row[column.prop] | decimalWithLocale: 2:locale }}
				</span>

				<button
					class="btn btn-option btn-primary"
					(click)="formService(row)"
					*ngIf="column.action && row.statusServicoProtetico === 'ABERTO'"
					[ngbTooltip]="'COMMON.EDIT_REGISTER' | translate"
					placement="right"
				>
					<i class="ci icon-edit ajustaIcon"></i>
				</button>

				<button
					class="btn btn-option btn-success adjustBtn"
					(click)="doneService(row.id)"
					*ngIf="column.action && row.statusServicoProtetico === 'ABERTO'"
					[ngbTooltip]="'TOOLS.PROSTHETIC.TOOLTIP_DONE' | translate"
					placement="right"
				>
					<i class="icofont icofont-checked"></i>
				</button>

				<button
					class="btn btn-option btn-danger"
					(click)="delete(row)"
					*ngIf="column.action && row.statusServicoProtetico === 'ABERTO'"
					[ngbTooltip]="'COMMON.DELETE_REGISTER' | translate"
					placement="right"
				>
					<i class="ci icon-delete ajustaIcon"></i>
				</button>

				<button
					class="btn btn-option btn-warning"
					(click)="removeDelivery(row)"
					*ngIf="column.action && row.statusServicoProtetico !== 'ABERTO'"
					[ngbTooltip]="'TOOLS.PROSTHETIC.TOOLTIP_REMOVE_DELIVERY' | translate"
					placement="right"
				>
					<i class="ci icon-cancel ajustaIcon"></i>
				</button>

				<button
					class="btn btn-option btn-success"
					(click)="pay(row.id)"
					*ngIf="column.action && row.statusServicoProtetico !== 'ABERTO' && !row.dataPagamento"
					[ngbTooltip]="'TOOLS.PROSTHETIC.TOOLTIP_PAY' | translate"
					placement="right"
				>
					<i class="ci icon-save-money ajustaIcon"></i>
				</button>
			</ng-template>
		</ngx-datatable-column>
	</ngx-datatable>
</div>

<app-modal-animation
	*ngIf="showModalCreate"
	[backDrop]="true"
	[modalID]="'modal-create-service-prosthetic'"
	[modalClass]="'md-effect-11 md-modal-lg'"
>
	<app-form-service-prosthetic
		[modalId]="'modal-create-service-prosthetic'"
		[prosthetic]="serviceProsthetic"
		(resultModal)="processResultModalCreate($event)"
	>
	</app-form-service-prosthetic>
</app-modal-animation>

<app-modal-animation
	*ngIf="showModalConfirm"
	[backDrop]="true"
	[modalID]="'modal-confirm-service-prosthetic'"
	[modalClass]="'md-effect-11 md-modal-lg'"
>
	<app-confirm
		[modalId]="'modal-confirm-service-prosthetic'"
		[prosthetic]="serviceProsthetic"
		(resultModal)="processResultModalConfirm($event)"
	>
	</app-confirm>
</app-modal-animation>

<app-modal-animation
	*ngIf="showAccount"
	[backDrop]="true"
	[modalID]="'modal-account-pay'"
	[modalClass]="'md-effect-11 md-modal-lg'"
>
	<app-account-pay
		[account]="account"
		[centerCost]="centerCost"
		[category]="category"
		(resultModal)="processResultModalAccount($event)"
	>
	</app-account-pay>
</app-modal-animation>
