<div class="card noHover">
	<div class="card-header customHeader">
		<span>{{sheetTitle}}</span>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-9">
				<div class="row">
					<div class="col-12">
						<label for="period">{{'REPORTS.FILTERS.PERIOD' | translate}}</label>
					</div>
					<div class="form-group col-3">
						<ngx-select id="period"
									[items]="periods"
									[(ngModel)]="currentPeriod"
									(select)="onChandePeriod()"
									optionTextField="label"
									optionValueField="value"
									(open)="_service.doOpenSelect()"
									[placeholder]="'REPORTS.FILTERS.ALL' | translate"
									[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate">
						</ngx-select>
					</div>
					<ng-container *ngIf="currentPeriod === Period.PERIOD">
						<div class="col-3 input-group">
							<input id="initialDate" name="initialDate" class="form-control inputDate" placeholder="dd/mm/YYYY"
								   [(ngModel)]="filters.dataInicio" ngbDatepicker #initialDate="ngbDatepicker"
								   rInputMask="99/99/9999"/>

							<div class="input-group-append bg-default" (click)="initialDate.toggle()">
								<span class="icofont icofont-ui-calendar input-group-text"></span>
							</div>
						</div>
						<div class="col-1 input-group flexCenter">{{'REPORTS.FILTERS.AT' | translate}}</div>
						<div class="col-3 input-group">
							<input id="finalDate" name="finalDate" class="form-control inputDate" placeholder="dd/mm/YYYY"
								   [(ngModel)]="filters.dataFim" ngbDatepicker #finalDate="ngbDatepicker"
								   rInputMask="99/99/9999"/>

							<div class="input-group-append bg-default" (click)="finalDate.toggle()">
								<span class="icofont icofont-ui-calendar input-group-text"></span>
							</div>
						</div>
					</ng-container>
				</div>
			</div>
			<div class="col-3 flexEnd">
				<app-report-header-actions class="flexEnd header-actions" (printTrigger)="print($event)" (searchTrigger)="search()"></app-report-header-actions>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 flexCenter">
			<ngx-charts-pie-chart *ngIf="results && results.length > 0; else noData"
								  [view]="[550, 350]"
								  [scheme]="colorScheme"
								  [results]="results"
								  [gradient]="true"
								  [labelFormatting]="labelFormatting"
								  [trimLabels]="false"
								  legendTitle="Indicações"
								  [legend]="true"
								  legendPosition="below"
								  [labels]="true"
			>
				<ng-template #tooltipTemplate let-model="model">
					<div class="pieChartTooltip">
						<b class="header">{{model.label}}</b>
						<br>
						Quantidade: {{model.value}}
						<br>
						{{percents[model.label]}}
					</div>
				</ng-template>
			</ngx-charts-pie-chart>
			<ng-template #noData>
				<img style="opacity: .2" src="assets/images/reports/grafico_indicacoes.png" alt="Imagem de gráfico">
			</ng-template>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<app-report-datatable [columns]="columns" [rows]="ownData"></app-report-datatable>
		</div>
	</div>
</div>
