<div class="card noHover">
  <div class="card-header customHeader">
    <div class="row p-l-20 m-r-10">
      <div class="col-10 col-sm-10 p-0 p-l-30">
        <span>{{ titulo }}</span>
      </div>

      <div class="col-2 col-sm-2 flexEnd p-0 p-r-30">
        <i class="icofont icofont-close iconModalClose"
          (click)="service.closeModal('modal-config-financial', null)">
        </i>
      </div>
    </div>
  </div>
  <div class="card-body row col-12 m-l-0 adjustModal">
    <div class="row col-12 p-l-0 p-r-0 m-l-0 m-r-0 m-t-20">
      <div class="col col-12 col-sm-12 col-md-8 m-b-15 p-l-0">
        <label for="titular">
          {{ "CONFIG.FINANCIAL.MODAL.DESCRIPTION" | translate }}
        </label>

        <input [(ngModel)]="item.description"
          name="description"
          class="form-control" />
      </div>

      <div class="col-12 col-sm-12 col-md-4 m-b-15 groupGender">
        <label for="pessoaNome">
          {{'CONFIG.FINANCIAL.MODAL.ACTIVE' | translate}}
        </label>

        <br>

        <div class="btn-group btn-group-toggle w100"
          ngbRadioGroup
          name="active"
          [(ngModel)]="item.active">

          <label ngbButtonLabel class="btn-primary group2Pieces btnRadio w50">
            <input ngbButton type="radio" [value]="false">

            <i *ngIf="item.active === false" class="icofont icofont-check"></i>

            {{'COMMON.YESNO.NO' | translate}}
          </label>

          <label ngbButtonLabel class="btn-primary group2Pieces btnRadio w50">
            <input ngbButton type="radio" [value]="true">

            <i *ngIf="item.active === true" class="icofont icofont-check"></i>

            {{'COMMON.YESNO.YES' | translate}}
          </label>
        </div>
      </div>
    </div>

    <div class="row col-12 p-l-0 p-r-0 m-l-0 m-r-0 m-t-20">
      <div class="col-md-9"></div>

      <div class="col-12 col-sm-12 col-md-3">
        <button [disabled]="!item.description"
          type="button"
          class="btn btn-success btn-sm btn-block waves-effect text-center"
          (click)="add()">

          {{'COMMON.SAVE' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
