<div class="card noHover p-10">
  <form
    class="container"
    (ngSubmit)="salvar()"
  >
    <div class="row">
      <div class="col">
        <h4>Adicionar Movimentação</h4>
      </div>
    </div>

    <div
      class="row"
      style="margin-top: 5px; margin-bottom: 10px;"
    >
      <div class="col">
        <strong>Nome: </strong>
        {{ produto.nome }}
      </div>
    </div>

    <div
      class="row"
      style="margin-top: 5px; margin-bottom: 5px;"
    >
      <div class="col">
        <strong>Saldo em estoque: </strong>
        {{ produto.produtoEstoqueQuantidade }}
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="form-group">
          <label for="tipo-movimentacao">Tipo</label>
          <select
            id="tipo-movimentacao"
            class="form-control"
            name="tipo"
            type="text"
            [(ngModel)]="data.tipoMovimento"
          >
            <option
              *ngFor="let tipo of tiposMovimentacao"
              [value]="tipo"
            >
              {{ getTipoMovimentoInfo(tipo).descricao }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="quantidade">Quantidade</label>
          <input
            type="number"
            name="quantidade"
            id="quantidade"
            class="form-control"
            [(ngModel)]="data.quantidadeMovimentada"
          >
        </div>
      </div>
    </div>

    <div
      class="row"
      *ngIf="data?.tipoMovimento === TipoMovimentacao.SAIDA"
    >
      <div class="col">
        <div class="form-group">
          <label for="destino">Destino:</label>

          <ng-select
            id="destino"
            name="destino"
            [(ngModel)]="destinoId"
            (search)="searchSubject.next($event.term)"
            (add)="onSaveNew(searchSubject.value)"
            (keyup.enter)="onSaveNew($event.currentTarget.innerText)"
            bindValue="id"
            bindLabel="descricao"
            [items]="resultado$ | async"
            [clearable]="false"
            [addTag]="true">

            <div style="display: flex" *ng-option-tmp="let i = item">
              <div style="flex: 1">
                {{ i.descricao }}
              </div>
              <i class="ci icon-delete iconDelete" (click)="apagarDestino(i.id)"></i>
            </div>

            <span *ng-tag-tmp="let s = searchTerm" (click)="onSaveNew(s)">
              <strong>Adicionar:</strong>
              {{ s }}
            </span>
          </ng-select>

          <div style="display: flex; justify-content: flex-start; padding: 2px 2px 0;" [hidden]="!destinoId">
            <div (click)="altereONome(destinoId)">
              <a class="text-primary" href="javascript: void 0">opções</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="movimentacao-observacao">Observação</label>
          <input
            id="movimentacao-observacao"
            name="observacao"
            [(ngModel)]="data.observacao"
            type="text"
            class="form-control"
          >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-8"></div>

      <div class="col-2">
        <button
          class="btn btn-sm close-button"
          type="button"
          (click)="cancelar()"
        >
          Cancelar
        </button>
      </div>

      <div class="col-2">
        <button
          class="btn btn-sm btn-success"
          type="submit"
        >
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>
