<div class="card noHover">
	<div class="card-header customHeader">
		<span>{{ prefixTranslate + "TITLE" | translate }}</span>
	</div>
	<div class="card-body">
		<div class="row col-12">
			<div class="form-group col-3">
				<ngx-select
					id="months"
					[items]="months"
					[(ngModel)]="filter.mes"
					(ngModelChange)="_fetchSellReport()"
					optionTextField="label"
					optionValueField="value"
					(open)="_service.doOpenSelect()"
					[placeholder]="'REPORTS.FILTERS.ALL' | translate"
					[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate"
				>
				</ngx-select>
			</div>

			<div class="form-group col-sm-3 col-lg-2">
				<ngx-select
					id="years"
					[items]="years"
					[(ngModel)]="filter.ano"
					(ngModelChange)="_fetchSellReport()"
					(open)="_service.doOpenSelect()"
					[placeholder]="'REPORTS.FILTERS.ALL' | translate"
					[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate"
				>
				</ngx-select>
			</div>

			<app-report-header-actions
				class="flexEnd form-group header-actions col-sm-6 col-lg-7"
				[searchEnable]="false"
				(printTrigger)="print($event)"
			></app-report-header-actions>
		</div>

		<div class="flexCenter">
			<div class="col-md-4 col-lg-3">
				<div class="card">
					<div class="card-body">
						<p style="margin-bottom: 0" class="txt-primary">
							<b>{{ prefixTranslate + "CARDS.SALES" | translate }}</b>
						</p>

						<p style="font-size: 25px; margin-bottom: 0" class="txt-primary">
							{{ numberToBRLCurrency(sellReport?.totalVenda) || "Não disponível" }}
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-lg-3">
				<div class="card">
					<div class="card-body">
						<p style="margin-bottom: 0" class="text-green">
							<b>{{ prefixTranslate + "CARDS.ENTRANCES" | translate }}</b>
						</p>

						<p style="font-size: 25px; margin-bottom: 0" class="text-green">
							{{ numberToBRLCurrency(sellReport?.totalEntrada) || "Não disponível" }}
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-lg-3">
				<div class="card">
					<div class="card-body">
						<p style="margin-bottom: 0" class="text-crimson">
							<b>{{ prefixTranslate + "CARDS.OUT" | translate }}</b>
						</p>

						<p style="font-size: 25px; margin-bottom: 0" class="text-crimson">
							{{ numberToBRLCurrency(sellReport?.totalSaida) || "Não disponível" }}
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row col-12">
			<hr style="border: 1px solid BLACK; border-left: none" width="1" size="100%" />
			<ngb-accordion
				(panelChange)="rotateArrowIcon($event)"
				#acc="ngbAccordion"
				class="sell-report-list"
			>
				<ngb-panel *ngFor="let item of sellReport?.items; let i = index">
					<ng-template ngbPanelTitle>
						<div class="flexStart">
							<div class="p-0 flexStart">
								<span class="badge badge-primary m-r-5">
									{{ item.dayOfMonth }}
									<br />
									{{ item.monthAbbreviation }}
								</span>
							</div>

							<div class="col-1 p-0 flexCenter dayOfWeek">
								{{ item.dayOfWeek }}
							</div>

							<div class="currency-card col-3 m-r-10">
								<p style="margin-bottom: 0" class="txt-primary">
									<b>{{ prefixTranslate + "CARDS.SALES" | translate }}</b>
								</p>

								<p style="margin-bottom: 0" class="txt-primary">
									{{ numberToBRLCurrency(item?.totalVenda) || "Não disponível" }}
								</p>
							</div>

							<div class="currency-card col-3 m-r-10">
								<p style="margin-bottom: 0" class="text-green">
									<b>{{ prefixTranslate + "CARDS.ENTRANCES" | translate }}</b>
								</p>

								<p style="margin-bottom: 0" class="text-green">
									{{ numberToBRLCurrency(item?.totalEntrada) || "Não disponível" }}
								</p>
							</div>

							<div class="currency-card col-3 m-r-10">
								<p style="margin-bottom: 0" class="text-crimson">
									<b>{{ prefixTranslate + "CARDS.OUT" | translate }}</b>
								</p>

								<p style="margin-bottom: 0" class="text-crimson">
									{{ numberToBRLCurrency(item?.totalSaida) || "Não disponível" }}
								</p>
							</div>

							<div style="font-size: 30px" class="col-1 flexEnd pointer">
								<i [id]="'ngb-panel-' + i.toString()" class="icofont icofont-simple-right"></i>
							</div>
						</div>
					</ng-template>

					<ng-template ngbPanelContent style="padding-left: 20px">
						<ul class="list-group list-group-flush">
							<ng-container *ngIf="item.childrens && item.childrens.length > 0; else noData">
								<li *ngFor="let children of item.childrens" class="list-group-item">
									<div class="childrens-table">
										<div class="childrens-table__row row">
											<div class="col-5">
												<span>{{ prefixTranslate + "LIST.PATIENT" | translate }}</span>
												{{ children.nomePaciente || "Não disponível" }}
											</div>

											<div class="col-5">
												<span>{{ prefixTranslate + "LIST.DESCRIPTION" | translate }}</span>
												{{ children.descricao || "Não disponível" }}
											</div>

											<div class="col-2" [ngClass]="getTextColor(children)">
												<b>{{ numberToBRLCurrency(children.valor) || "Não disponível" }}</b>
											</div>
										</div>

										<div class="childrens-table__row row">
											<div class="col-5">
												<span>{{ prefixTranslate + "LIST.TYPE" | translate }}</span>
												<span [ngClass]="getBadgeColor(children)" class="badge text-white">
													{{
														SellReportItemTypeDescription[children.emTipoItemContaCorrente] ||
															"Não disponível"
													}}
												</span>
											</div>

											<div class="col-5">
												<span>{{ prefixTranslate + "LIST.PAYMENT_METHOD" | translate }}</span>
												{{
													descricoesPagamentos[children.emFormaDeRecebimento] || "Não disponível"
												}}
											</div>
										</div>
									</div>
								</li>
							</ng-container>

							<ng-template #noData>
								<li class="list-group-item">
									<p style="color: grey; font-style: italic">
										{{ prefixTranslate + "LIST.NO_DATA" | translate }}
									</p>
								</li>
							</ng-template>
						</ul>
					</ng-template>
				</ngb-panel>
			</ngb-accordion>
		</div>
	</div>
</div>
