li:nth-child(even) {
  background-color: whitesmoke;
}

hr {
  margin: 20px 0 0;
  position: absolute;
  left: 3.5em;
  z-index: 1;
  height: 97%;
  border-color: grey;
}

.childrens-table {
  &__row {
    div span:not(.badge) {
      padding-right: 5px;
    }

    .badge {
      width: 100px;
      font-size: 14px;
    }
  }

  span {
    color: grey;
  }
}

.currency-card {
  border-radius: 5px;
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  text-align: left;
  transition: all 0.3s ease-in-out;
}
