<simple-notifications [options]="this.service.options"></simple-notifications>

<div class="card contentPage">
	<span class="pageTitle">{{'FINANCIAL.BILLS_TO_PAY.TITLE' | translate}}</span>

	<div class="row col-12 m-r-0 p-r-0 m-l-0 p-l-0 m-t-20 m-b-20  rowSearch">
		<div class="col col-12 col-sm-12 col-md-3 p-l-0 m-l-0">
			<label for="dataFim">{{'COMMON.RANGE' | translate}}</label><br>

			<ng-select id="searchRange"
					   name="searchRange"
					   [items]="localLists.listSearchRange"
					   [(ngModel)]="searchRange"
					   bindLabel="label"
					   bindValue="value"
					   [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
					   (change)="onrangeChange()"
					   [clearable]="false">
			</ng-select>
		</div>

		<div class="col-md-6" *ngIf="searchRange !== localConst.BY_RANGE"></div>

		<div class="col-12 col-sm-12 col-md-3 m-b-15"
			 *ngIf="searchRange === localConst.BY_RANGE">

			<label for="dataInicio">{{'COMMON.INIT_DATE' | translate}}</label><br>

			<div class="col-sm-12 input-group m-0 p-0">
				<input id="dataInicio"
					   name="dataInicio"
					   class="form-control inputDate"
					   placeholder="dd/mm/YYYY"
					   [(ngModel)]="searchParam.dataInicio"
					   (dateSelect)="onDateSelect()"
					   ngbDatepicker
					   #dataInicio="ngbDatepicker"
					   rInputMask="99/99/9999"
					   (keyup)="applyDate($event)">

				<div class="input-group-append bg-default"
					 (click)="dataInicio.toggle()">
					<span class="icofont icofont-ui-calendar input-group-text"></span>
				</div>
			</div>
		</div>

		<div class="col-12 col-sm-12 col-md-3 m-b-15"
			 *ngIf="searchRange === localConst.BY_RANGE">

			<label for="dataFim">{{'COMMON.END_DATE' | translate}}</label><br>

			<div class="col-sm-12 input-group m-0 p-0">
				<input id="dataFim"
					   name="dataFim"
					   (dateSelect)="onDateSelect()"
					   class="form-control inputDate"
					   placeholder="dd/mm/YYYY"
					   [(ngModel)]="searchParam.dataFim"
					   ngbDatepicker
					   #dataFim="ngbDatepicker"
					   rInputMask="99/99/9999"
					   (keyup)="applyDate($event)">

				<div class="input-group-append bg-default" (click)="dataFim.toggle()">
					<span class="icofont icofont-ui-calendar input-group-text"></span>
				</div>
			</div>
		</div>

		<div class="col col-12 col-sm-12 col-md-3 p-r-0 m-r-0 header-actions flexEnd">
			<div class="col-8 flexEnd">
				<div ngbDropdown class="dropdown-secondary dropdown">
					<button ngbDropdownToggle class="btn btn-sm btn-primary dropdown-toggle waves-light" type="button" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'COMMON.PRINT_BTN' | translate}}</button>
					<div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown2" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
						<a class="dropdown-item waves-light waves-effect" href="javascript:" (click)="generateReport(reportType.SYNTHETIC)">{{'FINANCIAL.BILLS_TO_PAY.PRINT_REPORT.SYNTHETIC' | translate}}</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item waves-light waves-effect" href="javascript:" (click)="generateReport(reportType.ANALYTICAL)">{{'FINANCIAL.BILLS_TO_PAY.PRINT_REPORT.ANALYTICAL' | translate}}</a>
					</div>
				</div>
			</div>
			<div class="col-4 flexEnd">
				<button type="button"
						class="btn btn-primary btn-sm text-center adjustBtn"
						(click)="formAccount(null)">

					{{'COMMON.NEW' | translate}}
				</button>
			</div>
		</div>
	</div>

	<ngb-accordion #a="ngbAccordion">
		<ngb-panel id="panel" #panel>
			<ng-template ngbPanelHeader>
				<div class="row">
					<div class="col-12 col-sm-11 col-md-9">
						<button ngbPanelToggle
								class="btn btn-link p-0"
								(click)="moreFilter = !moreFilter">

							<h5 class="m-0">{{moreFilter ?
									('FINANCIAL.BILLS_TO_PAY.LESS_SEARCH' | translate) :
									('FINANCIAL.BILLS_TO_PAY.MORE_SEARCH' | translate)}}</h5>
						</button>
					</div>

					<div class="col-sm-12 col-md-3 flexEnd">
						<button *ngIf="haveFilters()"
								type="button"
								class="btn btn-primary btn-sm waves-effect text-center"
								(click)="removeAllFilters()">{{'COMMON.REMOVE_ALL_FILTERS' | translate}}
						</button>

						<i class="icofont togglePanelIcon"
						   (click)="a.toggle('panel'); moreFilter = !moreFilter"
						   [ngClass]="moreFilter ? 'icofont-rounded-up' : 'icofont-rounded-down'"></i>
					</div>
				</div>
			</ng-template>

			<ng-template ngbPanelContent>
				<div class="row col-12 m-r-0 p-r-0 m-l-0 p-l-0 m-b-20">

					<div class="col col-12 col-sm-6 m-b-20 p-l-0">
						<label>{{'FINANCIAL.BILLS_TO_PAY.TYPE_BILL' | translate}}</label><br>

						<ng-select name="typeBill"
								   appendTo="body"
								   [hideSelected]="'true'"
								   [ngClass]="'ng-select'"
								   [items]="localLists.listTypeBill"
								   [multiple]="true"
								   [(ngModel)]="searchParam.tipoLancamento"
								   bindLabel="label"
								   bindValue="value"
								   [placeholder]="service.translate.instant('FINANCIAL.BILLS_TO_PAY.PLACEHOLDERS.TYPE_BILL')">

							<ng-template ng-header-tmp>
								<button (click)="selectAllListTypeBill()"
										class="btn btn-sm btn-primary m-r-10">
									{{'COMMON.SELECT_ALL' | translate}}
								</button>

								<button (click)="searchParam.tipoLancamento = []"
										class="btn btn-sm btn-primary">
									{{'COMMON.UNSELECT_ALL' | translate}}
								</button>
							</ng-template>
						</ng-select>
					</div>

					<div class="col col-12 col-sm-6 m-b-20 p-l-0">
						<label for="typePayment">
							{{'FINANCIAL.BILLS_TO_PAY.TYPE_PAYMENT' | translate}}
						</label>

						<br>

						<ng-select name="typePayment"
								   appendTo="body"
								   [hideSelected]="'true'"
								   [ngClass]="'ng-select'"
								   [items]="localLists.listTypePayment"
								   [multiple]="true"
								   [(ngModel)]="searchParam.formaDeRecebimento"
								   bindLabel="label"
								   bindValue="value"
								   [placeholder]="service.translate.instant('FINANCIAL.BILLS_TO_PAY.PLACEHOLDERS.TYPE_PAYMENT')">

							<ng-template ng-header-tmp>
								<button (click)="selectAllListTypePayment()"
										class="btn btn-sm btn-primary m-r-10">
									{{'COMMON.SELECT_ALL' | translate}}
								</button>

								<button (click)="searchParam.formaDeRecebimento = []"
										class="btn btn-sm btn-primary">
									{{'COMMON.UNSELECT_ALL' | translate}}
								</button>
							</ng-template>
						</ng-select>
					</div>

					<div class="col-12 col-sm-12 col-md-12 m-b-15 p-l-0">
						<label for="categoriaId">
							{{ "FINANCIAL.BILLS_TO_PAY.ACCOUNT.categoriaId" | translate }}
						</label>

						<br/>

						<ng-select [multiple]="true"
								   id="categoriaId"
								   name="categoriaId"
								   [items]="categories"
								   bindLabel="descricao"
								   bindValue="id"
								   [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
								   [clearable]="false"
								   [(ngModel)]="searchParam.categorias">
						</ng-select>
					</div>

					<div class="col-12 col-sm-12 col-md-5 m-b-15 p-l-0">
						<label for="pessoaNome">
							{{'COMMON.FIND_BY' | translate}}
						</label>

						<br>

						<div class="btn-group btn-group-toggle w100"
							 ngbRadioGroup
							 name="active"
							 [(ngModel)]="findBy">

							<label ngbButtonLabel
								   class="btn-primary group2Pieces btnRadio w50">

								<input ngbButton type="radio" [value]="'documento'">

								<i *ngIf="findBy === 'documento'"
								   class="icofont icofont-check"></i>

								{{'FINANCIAL.FIND_BY.DOC' | translate}}
							</label>

							<label ngbButtonLabel
								   class="btn-primary group2Pieces btnRadio w50">

								<input ngbButton type="radio" [value]="'descricao'">

								<i *ngIf="findBy === 'descricao'"
								   class="icofont icofont-check"></i>

								{{'FINANCIAL.FIND_BY.DESC' | translate}}
							</label>
						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-7 m-b-15 p-l-0">
						<label for="searchValue">
							{{'FINANCIAL.FIND_BY.VALUE' | translate}}
						</label>

						<input type="text"
							   [(ngModel)]="findByValue"
							   name="searchValue"
							   class="form-control">
					</div>
				</div>

				<div class="row footer-actions">
					<div class="col-6"></div>

					<div class="col-6 flexEnd">
						<button type="button"
								class="btn btn-primary text-center adjustBtn"
								(click)="populateTable()">
							{{'COMMON.APPLY_FILTER' | translate}}
						</button>
					</div>
				</div>
			</ng-template>
		</ngb-panel>
	</ngb-accordion>

	<div class="totals" *ngIf="totals">
		<app-totalizers style="padding: 20px"
						[noBottomPadding]="true"
						[max]="false"
						labelTotal="Total Despesas"
						labelExecutado="Pago"
						labelRestante="A Pagar"
						[item]="{ key: 'all' }"
						[progress]="{ all: totals }">
		</app-totalizers>
	</div>

	<ngx-datatable id="billsToPay"
				   class="data-table table-responsive"
				   [rows]="rowsPage"
				   [loadingIndicator]="true"
				   [columnMode]="'force'"
				   [headerHeight]="40"
				   [footerHeight]="40"
				   [rowHeight]="40"
				   [reorderable]="true"
				   [limit]="50"
				   [scrollbarH]="true"
				   [messages]="service.translate.instant('COMMON.footerMessage')">

		<ngx-datatable-column *ngFor="let column of columns; let indexColumn = index"
							  [name]="column.name"
							  [prop]="column.prop"
							  [width]="column.width"
							  [sortable]="column.sortable">
			<ng-template let-rowIndex="rowIndex"
						 let-row="row"
						 ngx-datatable-cell-template>

        <span *ngIf="!column.action && !column.currency &&
          column.prop !== 'contaPagarDescricao' && column.prop !== 'status'
          && column.prop !== 'itemsRateio'">
          {{row[column.prop]}}
        </span>

				<span *ngIf="!column.action && column.currency">
          {{'COMMON.CURRENCY_SYMBOL' | translate}}
					{{row[column.prop] | decimalWithLocale:2:locale}}
        </span>

				<span *ngIf="!column.action && column.prop === 'parcel'">
          {{row['numeroParcela'] + '/' + row['numeroTotalParcelas']}}
        </span>

				<span *ngIf="column.prop === 'status'"
					  style="border-radius: 0.25rem"
					  class="badge"
					  [ngClass]="getStatusColor(row)">
							<b>{{getStatus(row)}}</b>
              	</span>

				<button class="btn btn-option btn-primary"
						(click)="formAccount(row)"
						*ngIf="column.action && !accountIsPaid(row)"
						[ngbTooltip]="'COMMON.EDIT_REGISTER' | translate"
						placement="right">
					<i class="ci icon-edit sm-table-icon ajustaIcon"></i>
				</button>

				<button class="btn btn-option btn-primary"
						(click)="formAccount(row, true)"
						*ngIf="column.action && accountIsPaid(row)"
						[ngbTooltip]="'COMMON.VIEW_REGISTER' | translate"
						placement="right">
					<i class="ci icon-eye sm-table-icon ajustaIcon"></i>
				</button>

				<button class="btn btn-option"
						*ngIf="column.action"
						(click)="togglePay(row)"
						[ngClass]="accountIsPaid(row) ? 'btn-danger' : 'btn-success'"
						[ngbTooltip]="accountIsPaid(row) ?
           ('FINANCIAL.BILLS_TO_PAY.REVERSE_PAY' | translate) :
           ('FINANCIAL.BILLS_TO_PAY.PAY' | translate)"
						placement="right">
					<i class="ci sm-table-icon ajustaIcon"
					   [ngClass]="accountIsPaid(row) ? 'icon-money-back iconBack' : 'icon-save-money'"></i>
				</button>

				<button class="btn btn-option btn-danger"
						[disabled]="accountIsPaid(row)"
						(click)="removeBill(row)"
						*ngIf="column.action"
						[ngbTooltip]="'COMMON.DELETE_REGISTER' | translate"
						placement="right">
					<i class="ci icon-delete sm-table-icon ajustaIcon"></i>
				</button>
			</ng-template>
		</ngx-datatable-column>
	</ngx-datatable>
</div>

<app-modal-animation *ngIf="showModal"
					 [backDrop]="true"
					 [modalID]="'modal-ccost-cat'"
					 [modalClass]="'md-effect-11 md-modal-lg'">
	<app-modal-ccost-category [isAccount]="false"
							  [items]="itemsTreeview"
							  [typeComp]="typeComp"
							  (resultModal)="processResultModal($event)">
	</app-modal-ccost-category>
</app-modal-animation>

<app-modal-animation *ngIf="showAccount"
					 [backDrop]="true"
					 [modalID]="'modal-account-pay'"
					 [modalClass]="'md-effect-11 md-modal-lg'">
	<app-account-pay [account]="account"
					 [centerCost]="centerCost"
					 [category]="category"
					 [paid]="currentAccountIsPaid"
					 (resultModal)="processResultModalAccount($event)">
	</app-account-pay>
</app-modal-animation>

<app-modal-animation *ngIf="showAccountPay"
					 [backDrop]="true"
					 [modalID]="'modal-account-payment'"
					 [modalClass]="'md-effect-11 md-modal-lg'">
	<app-form-payment [account]="accountTable"
					  (resultModal)="processResultModalPayment($event)">
	</app-form-payment>
</app-modal-animation>
