.adjustBtn {
	margin-top: 13px;
}

.spanRow {
	white-space: normal;
	text-align: center;
	width: 100%;
	font-size: small;
}

.grabbing {
	cursor: grabbing;
}

.grab {
	cursor: grab;
}

.header-actions button {
	padding: 8px 1em !important;
}

.togglePanelIcon {
	font-size: 1.6rem;
	cursor: pointer;
}

.iconBack {
	font-size: 1.2rem;
}


.dropdown-toggle::after {
	margin-left: 1em !important;
}
