<simple-notifications [options]="this.service.options"></simple-notifications>

<div class="card contentPage">
	<span class="pageTitle">{{ "FINANCIAL.COMMISSION.TITLE" | translate }}</span>

	<div class="row col-12 m-r-0 p-r-0 m-l-0 p-l-0 m-t-20 rowSearch">
		<div class="col col-12 col-sm-12 col-md-3 p-l-0 m-l-0 m-b-15">
			<label for="dataFim">{{ "FINANCIAL.COMMISSION.PAYMENT_TYPE" | translate }}</label>

			<br />

			<ng-select
				id="paymentType"
				name="paymentType"
				[items]="listPaymentType"
				[(ngModel)]="searchParam.tipoDoPagamento"
				(ngModelChange)="populateTable()"
				bindLabel="display"
				bindValue="value"
				[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
				[clearable]="false"
			>
			</ng-select>
		</div>

		<div class="col col-12 col-sm-12 col-md-3 p-l-0 m-l-0 m-b-15">
			<label for="dataFim">{{ "COMMON.RANGE" | translate }}</label>

			<br />

			<ng-select
				id="searchRange"
				name="searchRange"
				[items]="listSearchRange"
				[(ngModel)]="searchRange"
				(ngModelChange)="onrangeChange(); populateTable()"
				bindLabel="label"
				bindValue="value"
				[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
				[clearable]="false"
			>
			</ng-select>
		</div>

		<div class="col-md-6" *ngIf="searchRange !== BY_RANGE"></div>

		<div class="col-12 col-sm-12 col-md-3 m-b-15" *ngIf="searchRange === BY_RANGE">
			<label for="dataInicio">{{ "COMMON.INIT_DATE" | translate }}</label>

			<br />

			<div class="col-sm-12 input-group m-0 p-0">
				<input
					id="dataInicio"
					name="dataInicio"
					class="form-control inputDate"
					placeholder="dd/mm/YYYY"
					[(ngModel)]="searchParam.dataInicio"
					(ngModelChange)="populateTable()"
					ngbDatepicker
					#dataInicio="ngbDatepicker"
					rInputMask="99/99/9999"
				/>

				<div class="input-group-append bg-default" (click)="dataInicio.toggle()">
					<span class="icofont icofont-ui-calendar input-group-text"></span>
				</div>
			</div>
		</div>

		<div class="col-12 col-sm-12 col-md-3 m-b-15" *ngIf="searchRange === BY_RANGE">
			<label for="dataFim">{{ "COMMON.END_DATE" | translate }}</label>

			<br />

			<div class="col-sm-12 input-group m-0 p-0">
				<input
					id="dataFim"
					name="dataFim"
					class="form-control inputDate"
					placeholder="dd/mm/YYYY"
					[(ngModel)]="searchParam.dataFim"
					(ngModelChange)="populateTable()"
					ngbDatepicker
					#dataFim="ngbDatepicker"
					rInputMask="99/99/9999"
				/>

				<div class="input-group-append bg-default" (click)="dataFim.toggle()">
					<span class="icofont icofont-ui-calendar input-group-text"></span>
				</div>
			</div>
		</div>

		<div class="row col-12 p-0 m-0">
			<div class="col col-12 col-sm-12 col-md-3 p-l-0 m-l-0">
				<label for="dataFim">{{ "FINANCIAL.COMMISSION.CONVENANT" | translate }}</label>

				<br />

				<ng-select
					id="convenioId"
					name="convenioId"
					[items]="listConvenant"
					[(ngModel)]="searchParam.convenioId"
					(ngModelChange)="populateTable()"
					bindLabel="nome"
					bindValue="id"
					[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
					[clearable]="false"
				>
				</ng-select>
			</div>

			<div class="col col-12 col-sm-12 col-md-3 p-l-0 m-l-0">
				<label for="dataFim">{{ "TOOLS.PROSTHETIC.DENTIST" | translate }}</label>

				<br />

				<ng-select
					id="profissionalId"
					name="profissionalId"
					[items]="listProfessional"
					[(ngModel)]="searchParam.profissionalId"
					(ngModelChange)="populateTable()"
					bindLabel="nome"
					bindValue="id"
					[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
					[clearable]="false"
				>
				</ng-select>
			</div>
		</div>

		<div class="row col-12 p-l-0 m-t-20 m-b-0">
			<div class="col-6 m-b-15 groupGender">
				<div
					class="btn-group btn-group-toggle w100"
					ngbRadioGroup
					name="typeService"
					[(ngModel)]="searchParam.statusComissao"
					(ngModelChange)="changeStatus()"
				>
					<label ngbButtonLabel class="btn-primary group2Pieces btnRadio w33">
						<input ngbButton type="radio" [value]="'ABERTO'" />

						<i *ngIf="searchParam.statusComissao === 'ABERTO'" class="icofont icofont-check"></i>

						{{ "FINANCIAL.COMMISSION.STATUS.OPEN" | translate }}
					</label>

					<label ngbButtonLabel class="btn-primary group2Pieces btnRadio w33">
						<input ngbButton type="radio" [value]="'AUTORIZADO'" />

						<i
							*ngIf="searchParam.statusComissao === 'AUTORIZADO'"
							class="icofont icofont-check"
						></i>

						{{ "FINANCIAL.COMMISSION.STATUS.AUTHORIZED" | translate }}
					</label>

					<label ngbButtonLabel class="btn-primary group2Pieces btnRadio w33">
						<input ngbButton type="radio" [value]="'PAGO'" />

						<i *ngIf="searchParam.statusComissao === 'PAGO'" class="icofont icofont-check"></i>

						{{ "FINANCIAL.COMMISSION.STATUS.PAID" | translate }}
					</label>
				</div>
			</div>

			<div
				class="col-6 m-b-15"
				style="display: flex; align-items: center; justify-content: flex-end"
			>
				<button class="btn btn-sm btn-primary" type="button" (click)="imprimir()">Exportar</button>
			</div>
		</div>
	</div>

	<div class="row m-b-10">
		<div
			class="col col-12 col-sm-12 col-md-3 p-r-0 m-r-0 flexEnd align-items-end"
			*ngIf="searchParam.statusComissao === 'ABERTO'"
		>
			<button
				type="button"
				class="btn btn-success btn-sm btn-block waves-effect text-center"
				(click)="authorizeSelecteds(false, 'SWAL_AUTHORIZE')"
			>
				{{ "FINANCIAL.COMMISSION.AUTHORIZE" | translate }}
			</button>
		</div>

		<div
			class="col col-12 col-sm-12 col-md-3 p-r-0 m-r-0 flexEnd align-items-end"
			*ngIf="searchParam.statusComissao === 'AUTORIZADO'"
		>
			<button
				type="button"
				class="btn btn-success btn-sm btn-block waves-effect text-center"
				(click)="paySelecteds()"
			>
				{{ "FINANCIAL.COMMISSION.PAY" | translate }}
			</button>
		</div>

		<div
			class="col col-12 col-sm-12 col-md-3 p-r-0 m-r-0 flexEnd align-items-end"
			*ngIf="searchParam.statusComissao === 'AUTORIZADO'"
		>
			<button
				type="button"
				class="btn btn-danger btn-sm btn-block waves-effect text-center"
				(click)="authorizeSelecteds(true, 'SWAL_UNAUTHORIZE')"
			>
				{{ "FINANCIAL.COMMISSION.UNAUTHORIZE" | translate }}
			</button>
		</div>

		<div
			class="col col-12 col-sm-12 col-md-3 p-r-0 m-r-0 flexEnd align-items-end"
			*ngIf="searchParam.statusComissao === 'PAGO'"
		>
			<button
				type="button"
				class="btn btn-danger btn-sm btn-block waves-effect text-center"
				(click)="authorizeSelecteds(false, 'SWAL_UNPAY')"
			>
				{{ "FINANCIAL.COMMISSION.REMOVE_PAYMENT" | translate }}
			</button>
		</div>
	</div>

	<ngx-datatable
		id="tablePatients"
		class="data-table table-responsive no-wrap-header"
		[rows]="rowsPage"
		[loadingIndicator]="true"
		[columnMode]="'force'"
		[headerHeight]="40"
		[footerHeight]="40"
		[rowHeight]="40"
		[reorderable]="true"
		[externalPaging]="true"
		[count]="page.totalElements"
		[offset]="page.pageNumber"
		[limit]="page.size"
		[scrollbarH]="true"
		[messages]="service.translate.instant('COMMON.footerMessage')"
	>
		<ngx-datatable-column
			*ngFor="let column of columns; let indexColumn = index"
			[comparator]="column.comparator"
			[name]="column.name"
			[prop]="column.prop"
			[width]="column.width"
			[sortable]="column.sortable"
		>
			<ng-container *ngIf="indexColumn === 0">
				<ng-container *ngx-datatable-header-template>
					<div *ngIf="rowsPage.length > 0" class="check-cell">
						<label class="toggle m-t-10 m-b-10">
							<input
								class="toggle__input"
								type="checkbox"
								id="checkAll"
								name="checkAll"
								[(ngModel)]="checkAll"
								[ngModelOptions]="{ standalone: true }"
								(ngModelChange)="checkAllItens()"
							/>

							<span class="toggle__label">
								<span class="toggle__text"></span>
							</span>
						</label>
					</div>
				</ng-container>
			</ng-container>

			<ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
				<span *ngIf="!column.action && !column.currency">
					{{ row[column.prop] }}
				</span>

				<span *ngIf="!column.action && column.currency">
					{{ "COMMON.CURRENCY_SYMBOL" | translate }}
					{{ row[column.prop] | decimalWithLocale: 2:locale }}
				</span>

				<div *ngIf="column.action" class="check-cell">
					<label class="toggle m-t-10 m-b-10">
						<input
							class="toggle__input"
							type="checkbox"
							id="row-{{ rowIndex }}"
							name="row-{{ rowIndex }}"
							[(ngModel)]="row.checked"
							(ngModelChange)="getStatusAllItens()"
						/>

						<span class="toggle__label">
							<span class="toggle__text"></span>
						</span>
					</label>
				</div>
			</ng-template>
		</ngx-datatable-column>
	</ngx-datatable>
</div>

<app-modal-animation
	*ngIf="showAccount"
	[backDrop]="true"
	[modalID]="'modal-account-pay'"
	[modalClass]="'md-effect-11 md-modal-lg'"
>
	<app-account-pay
		[account]="account"
		[centerCost]="centerCost"
		[category]="category"
		(resultModal)="processResultModalAccount($event)"
	>
	</app-account-pay>
</app-modal-animation>
