<simple-notifications [options]="this.service.options"></simple-notifications>

<div class="card contentPage">
	<span class="pageTitle">{{ "PATIENTS.TITLE" | translate }}</span>

	<div class="row rowSearch">
		<div class="col col-12 col-sm-12 col-md-2 p-l-0">
			<ngx-select
				id="pessoaEstadoCivil"
				name="pessoaEstadoCivil"
				[items]="service.perPage"
				[(ngModel)]="searchParam.size"
				(open)="service.doOpenSelect()"
				size="medium"
				[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
				(ngModelChange)="populateTable()"
				optionTextField="field"
				optionValueField="value"
				[noResultsFound]="service.translate.instant('COMMON.NORESULT')"
			>
			</ngx-select>
		</div>

		<div class="col col-12 col-sm-12 col-md-6 col-lg-7 p-l-0">
			<i class="ci icon-search insideInput"></i>
			<input
				type="text"
				[(ngModel)]="searchParam.query"
				(keyup)="startCronometro()"
				(keydown)="stopCronometro()"
				name="valueSearch"
				class="form-control inputWithIcon"
			/>
		</div>
		<div class="col col-12 col-sm-12 col-md-4 col-lg-3 p-r-0 header-actions flexEnd">
			<button type="button" class="btn btn-primary btn-sm waves-effect text-center" (click)="new()">
				{{ "PATIENTS.NEW" | translate }}
			</button>
		</div>
	</div>

	<ngx-datatable
		id="tablePatients"
		class="data-table table-responsive"
		[rows]="rowsPage"
		[loadingIndicator]="true"
		[columnMode]="'force'"
		[headerHeight]="40"
		[footerHeight]="40"
		[rowHeight]="40"
		[reorderable]="true"
		[externalPaging]="true"
		[count]="page.totalElements"
		[offset]="page.pageNumber"
		[limit]="page.size"
		[scrollbarH]="true"
		[messages]="translate.instant('COMMON.footerMessage')"
		(page)="setPage($event)"
	>
		<ngx-datatable-column
			*ngFor="let column of columns; let indexColumn = index"
			[name]="column.name"
			[prop]="column.prop"
			[maxWidth]="column.fixed ? column.width : undefined"
			[width]="column.width"
			[sortable]="column.sortable"
		>
			<ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
				<span *ngIf="!column.action && !column.cellphone">
					{{ row[column.prop] }}
				</span>

				<ng-container *ngIf="column.cellphone">
					<div class="flexSpaceBetween">
						<span>
							{{ getCellphoneWithMask(row[column.prop]) }}
						</span>

						<span id="hehe" *ngIf="row[column.prop] && row[column.prop].length > 0">
							<img
								src="assets/icon/whatsapp.svg"
								style="font-size: 15px; cursor: pointer; color: green"
								placement="bottom"
								[ngbTooltip]="'AGENDA.RETURN_ALERT.WHATSAPP_TOOLTIP' | translate"
								(click)="goToPatientWhatsapp(row[column.prop])"
							/>
						</span>
					</div>
				</ng-container>

				<button
					class="btn btn-option btn-primary"
					(click)="edit(row.id)"
					*ngIf="column.action"
					[ngbTooltip]="'COMMON.EDIT_REGISTER' | translate"
					placement="right"
				>
					<i class="ci icon-edit ajustaIcon"></i>
				</button>

				<button
					class="btn btn-option btn-danger"
					(click)="delete(row.id)"
					*ngIf="column.action && hasPermission(PATIENT_PERMISSIONS.DELETE)"
					[ngbTooltip]="'COMMON.DELETE_REGISTER' | translate"
					placement="right"
				>
					<i class="ci icon-delete ajustaIcon"></i>
				</button>
			</ng-template>
		</ngx-datatable-column>
	</ngx-datatable>
</div>
