<div class="modal-header">
	<h4 class="modal-title">{{'PATIENTS.TREATMENT_PRINT.TITLE' | translate}}</h4>
</div>
<div class="modal-body">
	<form>
		<div class="row">
			<div class="col-sm-2 col-md-1">
				<ui-switch size="small" name="showImage" [(ngModel)]="printConfigurations.showImage"></ui-switch>

			</div>
			<div class="col-sm-10 col-md-4 flexStart">
				<h6>
					{{'PATIENTS.TREATMENT_PRINT.PRINT_IMAGE' | translate}}
				</h6>
			</div>
			<div class="col-2"></div>
			<div class="col-sm-2 col-md-1">
				<ui-switch size="small" name="onlyTotalValue" [(ngModel)]="printConfigurations.onlyTotalValue"></ui-switch>
			</div>
			<div class="col-sm-10 col-md-4 flexStart">
				<h6>
					{{'PATIENTS.TREATMENT_PRINT.PRINT_TOTAL_VALUE' | translate}}
				</h6>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<div class="row footer-actions">
		<div class="col-md-6"></div>
		<div class="col-md-6 flexEnd">
			<button type="button"
					class="btn btn-primary close-button btn-sm waves-effect text-center"
					(click)="close()">
				{{'COMMON.CANCEL' | translate}}
			</button>
			<button type="button"
					class="btn btn-success btn-sm waves-effect text-center"
					(click)="print()">{{'COMMON.PRINT_BTN' | translate}}
			</button>
		</div>
	</div>
</div>
