<div class="card-body row p-0">
	<div class="row rowSearch col-12">
		<div class="col col-6 col-sm-6 p-r-0 m-b-15 p-l-0">
			<label for="selectProntuario">
				<b>{{ "PATIENTS.FORM_RECORDS.selectProntuario" | translate }}</b>
			</label>

			<br/>

			<ngx-select id="selectProntuario"
						name="selectProntuario"
						[items]="recordsDropdown"
						[(ngModel)]="treatmentId"
						(open)="service.doOpenSelect()"
						size="medium"
						(select)="getRecordsData()"
						[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
						optionTextField="descricao"
						optionValueField="id"
						[noResultsFound]="service.translate.instant('COMMON.NORESULT')">
			</ngx-select>
		</div>
		<div class="col-6 p-r-0 m-b-15 p-l-0 header-actions flexEnd align-items-end">
			<button class="btn btn-primary" (click)="detachedParcel()">{{'PATIENTS.FORM_RECORDS.DETACHED_PARCEL.TITLE' | translate}}</button>

			<div ngbDropdown class="dropdown-secondary dropdown" placement="bottom-right">
				<button ngbDropdownToggle class="btn btn-sm btn-primary dropdown-toggle waves-light" type="button" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'COMMON.PRINT_BTN' | translate}}</button>
				<div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
					<a class="dropdown-item waves-light waves-effect" href="javascript:" (click)="generateReport()">{{'PATIENTS.FORM_RECORDS.REPORT' | translate}}</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item waves-light waves-effect" href="javascript:" (click)="generateParcelDocument(PARCEL_DOCUMENT_TYPE.PROMISSORY)">{{'PATIENTS.FORM_RECORDS.PROMISSORY' | translate}}</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item waves-light waves-effect" href="javascript:" (click)="generateParcelDocument(PARCEL_DOCUMENT_TYPE.BOOKLET)">{{'PATIENTS.FORM_RECORDS.BOOKLET' | translate}}</a>
				</div>
			</div>
		</div>
	</div>

	<div class="card-body w100 p-0">
		<app-totalizers class="m-l-0 w100 row"
						[max]="false"
						[item]="itemTotal"
						labelTotal="Total Geral"
						labelExecutado="Pago"
						labelRestante="A Pagar"
						[progress]="progressTotal">
		</app-totalizers>
	</div>

	<div class="card-body w100">
		<ng-template #noResult><em>Nenhum resultado</em></ng-template>

		<ngx-datatable #tableParcels *ngIf="billsTable?.length; else noResult"
					   [appAutosizedDatatable]
					   id="tableParcels"
					   class="data-table table-responsive"
					   [rows]="billsTable"
					   [loadingIndicator]="true"
					   [columnMode]="'force'"
					   [headerHeight]="40"
					   [footerHeight]="0"
					   [rowHeight]="40"
					   [reorderable]="true"
					   [scrollbarH]="true"
					   [messages]="
            !billsTable || billsTable.length === 0 ?
              service.translate.instant('PATIENTS.FORM_CHECKING_ACCOUNT.footerMessageProcedures.zero') :
              service.translate.instant('PATIENTS.FORM_CHECKING_ACCOUNT.footerMessageProcedures.parcel')">

			<ngx-datatable-row-detail [rowHeight]="'100%'">

				<ng-template let-row="row"
							 let-expanded="expanded"
							 ngx-datatable-row-detail-template>

					<div class="tableDetails">
						<ngx-datatable #tableDetails *ngIf="row.children"
									   class="data-table table-responsive"
									   [rows]="row.children"
									   [loadingIndicator]="true"
									   [columnMode]="'force'"
									   [headerHeight]="40"
									   [footerHeight]="0"
									   [rowHeight]="40"
									   [reorderable]="true"
									   [scrollbarH]="true">

							<ngx-datatable-column
									*ngFor="let columnDetail of tableColumnsDetails; let indexColumnDetail = index"
									[name]="columnDetail.name"
									[prop]="columnDetail.prop"
									[width]="columnDetail.width"
									[sortable]="columnDetail.sortable">

								<ng-template let-rowIndex="rowIndex"
											 let-rowDetail="row"
											 ngx-datatable-cell-template>

                      <span *ngIf="!columnDetail.action && !columnDetail.currency">
                        {{rowDetail[columnDetail.prop]}}
                      </span>

									<span *ngIf="!columnDetail.action && columnDetail.currency">
                        {{'COMMON.CURRENCY_SYMBOL' | translate}}
										{{rowDetail[columnDetail.prop] | decimalWithLocale:2:locale}}
                      </span>

									<button class="btn btn-option btn-danger"
											(click)="reversePayment(rowDetail)"
											*ngIf="columnDetail.action"
											[ngbTooltip]="'PATIENTS.FORM_CHECKING_ACCOUNT.reverse' | translate"
											placement="right">

										<i class="ci icon-money-back sm-table-icon ajustaIconReverse"></i>
									</button>


									<button class="btn btn-option btn-success"
											(click)="emitPaymentReceipt(rowDetail)"
											*ngIf="columnDetail.action && rowDetail.dataRecebimento"
											[ngbTooltip]="(rowDetail.reciboId ? 'PAYMENT_RECEIPT.PRINT_TOOLTIP' : 'PAYMENT_RECEIPT.EMIT_TOOLTIP') | translate"
											placement="right">

										<i class="icofont icofont-file-text sm-table-icon"></i>
									</button>
								</ng-template>
							</ngx-datatable-column>
						</ngx-datatable>
					</div>
				</ng-template>
			</ngx-datatable-row-detail>

			<ngx-datatable-column *ngFor="let column of tableBills; let indexColumn = index"
								  [name]="column.name"
								  [prop]="column.prop"
								  [width]="column.width"
								  [sortable]="column.sortable">

				<ng-template let-rowIndex="rowIndex"
							 let-row="row"
							 ngx-datatable-cell-template>

              <span *ngIf="!column.action
                && !column.currency
                && column.prop !== 'statusTratamentoServicoDescricao'
                && column.prop !== 'valorRecebido'
                && column.prop !== 'numeroParcela'">

                {{row[column.prop]}}
              </span>
					<span *ngIf="column.prop === 'numeroParcela'">
                		{{row[column.prop] + '/' + row['numeroTotalParcelas']}}
              		</span>

					<span *ngIf="column.prop === 'status'"
						  style="border-radius: 0.25rem"
						  class="badge"
						  [ngClass]="getStatusColor(row)">
							<b>{{getStatusDesc(row)}}</b>
              </span>

					<div class="w100 flexCenter"
						 *ngIf="column.prop === 'valorRecebido'">

                  <span>
                    {{'COMMON.CURRENCY_SYMBOL' | translate}}
					  {{row[column.prop] | decimalWithLocale:2:locale}}
                  </span>

						<span class="p-l-10" *ngIf="row.valorRecebido" (click)="toggleExpandRow(row)">
							<i class="ci icon-info iconReverse"></i>
						</span>
					</div>

					<span *ngIf="!column.action
                && column.currency
                && !row.editing
                && column.prop !== 'valorRecebido'">

                {{'COMMON.CURRENCY_SYMBOL' | translate}}
						{{row[column.prop] | decimalWithLocale:2:locale}}
              </span>

					<button [disabled]="paid(row)"
							class="btn btn-option btn-primary"
							(click)="editParcel(row, billsTable.length)"
							*ngIf="column.action"
							[ngbTooltip]="'COMMON.EDIT_REGISTER' | translate"
							placement="right">

						<i class="ci icon-edit sm-table-icon ajustaIcon"></i>
					</button>

					<button [disabled]="paid(row)"
							class="btn btn-option btn-success"
							(click)="payParcel(row, billsTable.length)"
							*ngIf="column.action"
							[ngbTooltip]="'PATIENTS.FORM_CHECKING_ACCOUNT.RECEIVE' | translate"
							placement="right">

						<i class="ci icon-save-money sm-table-icon ajustaIcon"></i>
					</button>

					<button [disabled]="paid(row) || row.emTipoParcelaReceber === parcelTypeCannotDelete"
							class="btn btn-option btn-danger"
							(click)="deleteParcel(row)"
							*ngIf="column.action && !row.tratamentoId"
							[ngbTooltip]="'COMMON.DELETE_REGISTER' | translate"
							placement="right">

						<i class="ci icon-delete sm-table-icon ajustaIcon"></i>
					</button>
				</ng-template>
			</ngx-datatable-column>
		</ngx-datatable>
	</div>
</div>

<app-modal-animation *ngIf="showModalPayParcel"
					 #parcelModal
					 [backDrop]="true"
					 [modalID]="'modal-parcel'"
					 (closed)="saveParcel(selectedParcel, $event)"
					 [modalClass]="'md-effect-11 md-modal-lg'">

	<app-modal-payment [parcel]="selectedParcel"
					   [modal]="parcelModal"
					   [payment]="payment"
					   [totalParcels]="totalParcels"
					   [status]="parcelStatus">
	</app-modal-payment>
</app-modal-animation>

<app-modal-animation *ngIf="showModalEditParcel"
					 [backDrop]="true"
					 [modalID]="'modal-edit-parcel-account'"
					 [modalClass]="'md-effect-11 md-modal-lg'">

	<app-modal-edit-parcel-account [parcel]="selectedParcel"
								   [totalParcels]="totalParcels"
								   (onSave)="getRecordsData()"
								   (onClose)="showModalEditParcel = false"
								   [status]="parcelStatus">
	</app-modal-edit-parcel-account>
</app-modal-animation>
