@import './../../../../scss/partials/variables';

.rowSearch {
  margin: 10px 0;
}

.titleTreatment {
  font-weight: bold;
  font-size: 1.1rem !important;
}

.rowCard {
  margin-bottom: 25px;
  margin-left: 15px;
  width: calc(100% - 30px) !important;
}

.multiLines {
  white-space: pre-line;
}

.rowDetailRecord {
  padding-left: 25px;
  margin-top: 20px;
}

.iconReverse {
  color: $info-color;
  font-size: 1rem;
  cursor: pointer;
}

.ajustaIconReverse {
  font-size: 1.8rem;
}

.btnReverse {
  padding: 0px 4px;
}

.tableDetails {
  padding: 20px;
  width: 100%;
}

.resumeAccount {
  font-weight: bold;
}

.iconInfo {
  font-size: 3.0rem;
}

.iconInfoMin {
  font-size: 1.5rem;
}

.colorWhite {
  color: #fff;
}

.textInfo {
  font-size: 1.3rem;
}

.adjustValue {
  margin-top: -15px;
}

.resumeAccount {
  font-weight: bold;
}

.cardResume {
  width: 100%;
  margin-left: 0px;
  margin-top: 15px;
}

.iconToggleMaxMin {
  font-size: 1.6rem;
}

.containerToogleMinMax {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.cardTotal {
  margin-left: 15px;
  width: calc(100% - 30px);
}
