<div class="card noHover">
	<div class="card-header">
		<h4>{{'CONFIG.ANNOTATIONS.TITLE' | translate}}</h4>
		<div class="row">
			<div class="col-12 header-actions flexEnd align-items-end">
				<button class="btn btn-primary btn-sm" (click)="createAnnotation()">{{'CONFIG.ANNOTATIONS.ADD_BUTTON' | translate}}</button>
			</div>
		</div>
	</div>
	<div class="card-body">
		<ngx-datatable class="data-table table-responsive"
					   [rows]="annotations"
					   [loadingIndicator]="true"
					   [columnMode]="'force'"
					   [appAutosizedDatatable]
					   [headerHeight]="40"
					   [footerHeight]="40"
					   [rowHeight]="40"
					   [messages]="portugueseMessages">

			<ngx-datatable-column [minWidth]="150" [maxWidth]="150" [sortable]="false" [name]="'CONFIG.ANNOTATIONS.TABLE.ACTIONS' | translate">
				<ng-template ngx-datatable-cell-template let-row="row">
					<button class="btn btn-option btn-primary" (click)="createAnnotation(row.id)"
							[ngbTooltip]="'COMMON.EDIT_REGISTER' | translate" placement="right">
						<i class="ci icon-edit ajustaIcon"></i>
					</button>

					<button class="btn btn-option btn-danger" (click)="remove(row.id)"
							[ngbTooltip]="'COMMON.DELETE_REGISTER' | translate" placement="right">
						<i class="ci icon-delete ajustaIcon"></i>
					</button>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [sortable]="false" [name]="'CONFIG.ANNOTATIONS.TABLE.SUBJECT' | translate">
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{ row.assunto }}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [sortable]="false" [name]="'CONFIG.ANNOTATIONS.TABLE.LAST_UPDATE' | translate">
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{ row.dataUltimaAlteracao }}
				</ng-template>
			</ngx-datatable-column>
		</ngx-datatable>
	</div>
</div>
