<div class="fluxo-caixa-tabs" style="padding: 15px; height: 100%">
  <ngb-tabset [destroyOnHide]="false">
    <ngb-tab title="Fluxo de Caixa">
      <ng-template ngbTabContent>
        <div class="container-fluxo-caixa">
          <app-fluxo-caixa-filtros (dates)="atualizarDates($event)"
                                   class="fluxo-caixa__filters"></app-fluxo-caixa-filtros>
          <app-fluxo-caixa-listagem *ngIf="fluxoDeCaixa$ | async as fc" [fluxo]="fc"
                                    (generateReport)="generateReport($event)"
                                    class="fluxo-caixa__listagem"></app-fluxo-caixa-listagem>
          <app-fluxo-caixa-resumo *ngIf="fluxoDeCaixa$ | async as fc" [totais]="fc.totais"
                                  class="fluxo-caixa__resumo"></app-fluxo-caixa-resumo>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Relatório">
      <ng-template ngbTabContent>
        <app-cash-flow-report></app-cash-flow-report>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
