:host {
  display: block;
  height: 100%;
}

.container-fluxo-caixa {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
}

.fluxo-caixa__listagem {
  flex: 1;
  min-height: 0;
  overflow: auto;
}

.fluxo-caixa__listagem {
  margin: 0 0 10px;
}

.fluxo-caixa__filters {
  margin: 0 20px;
}

.fluxo-caixa__filters,
.fluxo-caixa__listagem,
.fluxo-caixa__resumo {
  min-height: 0;
}
