<!-- -------------------------- CARD VALOR TOTAL --------------------------- -->

<div class="col-12 col-sm-12 col-md-4 p-r-0">
  <div class="card noHover cardTotal p-15" [class.m-0]="noBottomPadding">
    <div class="card-body w100 p-0">
      <div class="row m-0 p-l-0">
        <div class="col-1 p-0 flexStart" *ngIf="!max">
          <i class="ci icon-bill iconInfoMin colorWhite"></i>
        </div>

        <div class="p-l-10 p-r-0 flexStart"
          [ngClass]="max ? 'm-b-10 col-9 col-sm-9' : 'col-5'">
          <span class="titleInfo colorWhite">
            {{
              labelTotal || (
                  max
                      ? ('PATIENTS.FORM_RECORDS.TOTAL_TREAT' | translate)
                      : ('PATIENTS.FORM_RECORDS.TOTAL_TREAT_MIN' | translate)
              )
            }}
          </span>
        </div>

        <div class="col-6 p-0 flexEnd">
          <span *ngIf="!max" class="textInfoMin colorWhite">
            {{ ('COMMON.CURRENCY_SYMBOL' | translate) }}
            {{ progress[item.key].total | decimalWithLocale:2:locale }}
          </span>
        </div>

        <div class="col-6 col-sm-6 p-0 flexStart" *ngIf="max">
          <i class="ci icon-bill iconInfo colorWhite"></i>
        </div>

        <div class="col-6 col-sm-6 p-0 flexEnd" *ngIf="max">
          <span class="textInfo colorWhite">
            {{'COMMON.CURRENCY_SYMBOL' | translate}}
            {{progress[item.key].total | decimalWithLocale:2:locale}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- --------------------------- CARD VALOR PAGO --------------------------- -->

<div class="col-12 col-sm-12 col-md-4 p-r-15 p-l-15">
  <div class="card noHover cardPaid p-15" [class.m-0]="noBottomPadding">
    <div class="card-body w100 p-0">
      <div class="row m-0 p-l-0">
        <div class="col-2 p-0 flexStart" *ngIf="!max">
          <i class="ci icon-received iconInfoMin colorWhite"></i>
        </div>

        <div class="p-0 flexStart"
          [ngClass]="max ? 'm-b-10 col-8 col-sm-8' : 'col-4'">
          <span class="titleInfo colorWhite">
            {{ labelExecutado || ('PATIENTS.FORM_RECORDS.TOTAL_RECEIVED' | translate) }}
          </span>
        </div>

        <div class="col-6 p-0 flexEnd">
          <span *ngIf="!max" class="textInfoMin colorWhite">
            {{ ('COMMON.CURRENCY_SYMBOL' | translate) }}
            {{progress[item.key].received | decimalWithLocale:2:locale}}</span>
        </div>

        <div class="col-3 col-sm-3 flexStart" *ngIf="max">
          <i class="ci icon-received iconInfo colorWhite"></i>
        </div>

        <div class="row col-9 col-sm-9 p-0 adjustValue" *ngIf="max">
          <div class="col-12 col-sm-12 p-r-0 flexEnd">
            <span class="textInfo colorWhite">{{'COMMON.CURRENCY_SYMBOL' | translate}}
              {{progress[item.key].received | decimalWithLocale:2:locale}}</span>
          </div>

          <div class="col-12 col-sm-12 p-r-0">
            <div class="meter animateMeter adjustMeter">
              <span [style.width]="progress[item.key].percent + '%'"></span>
              <p class="progressText">{{ progress[item.key].percent}}%
                {{'PATIENTS.FORM_RECORDS.PAYMENT_MADE' | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ------------------------- CARD VALOR RESTANTE ------------------------- -->

<div class="col-12 col-sm-12 col-md-4 p-l-0">
  <div class="card noHover cardRemaining p-15" [class.m-0]="noBottomPadding">
    <div class="card-body w100 p-0">
      <div class="row m-0 p-l-0">
        <div class="col-2 p-0 flexStart" *ngIf="!max">
          <i class="ci icon-credit-card iconInfoMin colorWhite"></i>
        </div>

        <div class="p-0 flexStart"
          [ngClass]="max ? 'm-b-10 col-8 col-sm-8' : 'col-4'">
          <span class="titleInfo colorWhite">
            {{ labelRestante || ('PATIENTS.FORM_RECORDS.TOTAL_REMAINING' | translate) }}
          </span>
        </div>

        <div class="col-6 p-0 flexEnd">
          <span *ngIf="!max" class="textInfoMin colorWhite">
            {{ ('COMMON.CURRENCY_SYMBOL' | translate) }}
            {{(progress[item.key].total - progress[item.key].received) | decimalWithLocale:2:locale}}
          </span>
        </div>

        <div class="col-6 col-sm-6 p-0 flexStart" *ngIf="max">
          <i class="ci icon-credit-card iconInfo colorWhite"></i>
        </div>

        <div class="col-6 col-sm-6 p-0 flexEnd" *ngIf="max">
          <span class="textInfo colorWhite">{{'COMMON.CURRENCY_SYMBOL' | translate}}
            {{(progress[item.key].total - progress[item.key].received) | decimalWithLocale:2:locale}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
