@import './../../../scss/partials/variables';

.resumeAccount {
  font-weight: bold;
}

.cardResume {
  width: 100%;
  margin-left: 0px;
  margin-top: 15px;
}

.progressText {
  color: #ffff;
  font-weight: bold;
  font-size: 0.7rem;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  text-align: center;
}

.cardTotal {
  background-color: $primary-color;
}

.cardPaid {
  background-color: $approved-color;
}

.cardRemaining {
  background-color: $warning-color;
}

.iconInfo {
  font-size: 3.0rem;
}

.iconInfoMin {
  font-size: 1.5rem;
}

.colorWhite {
  color: #fff;
}

.textInfo {
  font-size: 1.3rem;
}

.textInfoMin {
  font-size: 1em;
}

.titleInfo {
  font-weight: bold;
  font-size: 0.8rem;
}

.adjustValue {
  margin-top: -15px;
}

.adjustMeter {
  margin-top: -12px;
}
