<div class="card noHover contentPage">
	<h5>{{'CONFIG.ANAMNESE.TITLE' | translate}}</h5>

	<div class="row header-actions">
		<div class="col-12 flexEnd">
			<button class="btn btn-primary" [routerLink]="['..', 'novo']">
				{{'CONFIG.ANAMNESE.BUTTONS.NEW_MODEL' | translate}}
			</button>
		</div>
	</div>

	<ngx-datatable
			style="margin-top: 20px"
			class="data-table anamnese-custom"
			[appAutosizedDatatable]
			[columnMode]="ColumnMode.force"
			[headerHeight]="50"
			[footerHeight]="50"
			[messages]="portugueseMessages"
			rowHeight="auto"
			[limit]="10"
			[rows]="anamneses">
		<ngx-datatable-column [maxWidth]="150" [minWidth]="150" [sortable]="false" [name]="'CONFIG.ANAMNESE.TABS.ACTIONS' | translate">
			<ng-template ngx-datatable-cell-template let-row="row">
				<button class="btn btn-option btn-primary" [routerLink]="['..', row.id]"
						[ngbTooltip]="'COMMON.EDIT_REGISTER' | translate" placement="right">
					<i class="ci icon-edit ajustaIcon"></i>
				</button>

				<button class="btn btn-option btn-danger" (click)="delete(row.id)"
						[ngbTooltip]="'COMMON.DELETE_REGISTER' | translate" placement="right">
					<i class="ci icon-delete ajustaIcon"></i>
				</button>
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column [sortable]="false" [name]="'CONFIG.ANAMNESE.TABS.NAME' | translate">
			<ng-template let-row="row" ngx-datatable-cell-template>
				{{ row.nome }}
			</ng-template>
		</ngx-datatable-column>
	</ngx-datatable>

</div>
