<div class="card noHover"
     *ngIf="(aba === 'entradas' ? fluxo?.entradas : fluxo?.saidas) || [] as data"
     style="height: 100%; box-sizing: border-box; margin: 0">

    <div class="row width-100">
        <div class="col-10">
            <div class="md-tabs sm-tabs">
                <ngb-tabset (tabChange)="aba = $event.nextId" style="width: 100%">
                    <ngb-tab id="entradas">
                        <span *ngbTabTitle>Entradas</span>
                    </ngb-tab>
                    <ngb-tab id="saidas">
                        <span *ngbTabTitle>Saídas</span>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
        <div class="col-2 header-actions flexEnd">
            <app-report-header-actions [searchEnable]="false" (printTrigger)="print($event)"></app-report-header-actions>
        </div>
    </div>

    <ngx-datatable
            class="data-table table-responsive pure"
            style="height: 100%; border-radius: 0 0 8px 8px"
            [rows]="data"
            [appAutosizedDatatable]
            [loadingIndicator]="true"
            [columnMode]="'force'"
            [headerHeight]="40"
            [footerHeight]="0"
            [rowHeight]="40"
            [reorderable]="true"
            [scrollbarV]="true"
            [scrollbarH]="true"
            [limit]="limite"
            [messages]="{ emptyMessage: 'Nenhum resultado encontrado', totalMessage: 'registros encontrados' }">

        <ng-container *ngIf="aba === 'entradas'; else saidas">
            <ngx-datatable-column name="Cliente" prop="cliente">
                <ng-container *ngx-datatable-cell-template="let r = row">
                    <span class="link" (click)="goToPatientPage(r.pacienteId)">{{r.cliente}}</span>
                </ng-container>
            </ngx-datatable-column>
            <ngx-datatable-column name="Descrição" prop="descricao"></ngx-datatable-column>
            <ngx-datatable-column name="Vencimento" prop="dataVencimento" [width]="80"></ngx-datatable-column>
            <ngx-datatable-column name="Dt. Recebimento" prop="dataRecebimento" [width]="120"></ngx-datatable-column>
            <ngx-datatable-column name="Tipo Parcela" prop="tipoParcela">
                <ng-container *ngx-datatable-cell-template="let r = row">
                    {{ tipoParcela(r.tipoParcela).descricao }}
                </ng-container>
            </ngx-datatable-column>
            <ngx-datatable-column name="Forma Recebimento" prop="formaDeRecebimento">
                <ng-container *ngx-datatable-cell-template="let r = row">
                    {{ descricaoFormaPagamento(r.formaDeRecebimento) }}
                </ng-container>
            </ngx-datatable-column>
            <ngx-datatable-column name="Valor" prop="valor" [width]="80">
                <ng-container *ngx-datatable-cell-template="let r = row">
                    {{ r.valor | currency: 'BRL' }}
                </ng-container>
            </ngx-datatable-column>
            <ngx-datatable-column name="Usuário" prop="usuario" [width]="80"></ngx-datatable-column>
        </ng-container>

        <ng-template #saidas>
            <ngx-datatable-column name="Descrição" prop="descricao"></ngx-datatable-column>
            <ngx-datatable-column name="Dt. Vencimento" [width]="120" prop="dataVencimento"></ngx-datatable-column>
            <ngx-datatable-column name="Dt. Pagamento" [width]="120" prop="dataPagamento"></ngx-datatable-column>
            <ngx-datatable-column name="Nr. Parcela" prop="numeroDocumento" [width]="30"></ngx-datatable-column>
            <ngx-datatable-column name="Forma Pagamento" prop="formaDeRecebimento">
                <ng-container *ngx-datatable-cell-template="let r = row">
                    {{ descricaoFormaPagamento(r.formaDeRecebimento) }}
                </ng-container>
            </ngx-datatable-column>
            <ngx-datatable-column name="Valor" prop="valor">
                <ng-container *ngx-datatable-cell-template="let r = row">
                    {{ r.valor | currency: 'BRL' }}
                </ng-container>
            </ngx-datatable-column>
            <ngx-datatable-column name="Usuário" prop="usuario"></ngx-datatable-column>
        </ng-template>
    </ngx-datatable>
</div>
