<div class="card noHover">
  <div class="card-body">
    <div class="row" style="align-items: start">
      <div class="col-12" style="display: flex">
        <div class="btn-group btn-group-toggle m-r-30" ngbRadioGroup name="radioBasic" [(ngModel)]="currentPeriodicity">
          <label *ngFor="let period of periodicityList" ngbButtonLabel class="btn-primary" style="width: 100px"
          (click)="changeVisualization(period.value)">
            <input ngbButton type="radio" [value]="period.value">{{period.label}}
          </label>
        </div>
        <div *ngIf="this.dailyCashFlow" class="form-group m-r-30">
          <ngx-select id="months"
                      [items]="months"
                      [(ngModel)]="filter.mes"
                      (ngModelChange)="_fetchCashFlow()"
                      optionTextField="label"
                      optionValueField="value"
                      (open)="_service.doOpenSelect()"
                      [placeholder]="'REPORTS.FILTERS.ALL' | translate"
                      [noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate">
          </ngx-select>
        </div>
        <div class="form-group">
          <ngx-select id="years"
                      [items]="years"
                      [(ngModel)]="filter.ano"
                      (ngModelChange)="_fetchCashFlow()"
                      (open)="_service.doOpenSelect()"
                      [placeholder]="'REPORTS.FILTERS.ALL' | translate"
                      [noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate">
          </ngx-select>
        </div>
      </div>
    </div>
    <div class="row m-t-20">
      <div class="col-12 flexSpaceBetween">
        <h3>{{sheetTitle}}</h3>
        <app-report-header-actions *ngIf="this.dailyCashFlow; else monthlyCashFlow" class="flexEnd header-actions"
                                   [searchEnable]="false"
                                   (printTrigger)="print($event)"></app-report-header-actions>
        <ng-template #monthlyCashFlow>
          <button style="font-size: 14px" (click)="print(1)" class="btn btn-sm btn-primary">{{'REPORTS.FILTERS.SHEETS' | translate}}</button>
        </ng-template>
      </div>
    </div>
    <app-daily-cash-flow [hidden]="!this.dailyCashFlow" [filter]="filter"></app-daily-cash-flow>
    <app-monthly-cash-flow [hidden]="this.dailyCashFlow" [filter]="filter"></app-monthly-cash-flow>
  </div>
</div>
