<div class="row">
	<div class="col-12">
		<div *ngIf="!issuableDocument; else form" class="d-flex justify-content-center">
			<div class="spinner-border" role="status"></div>
		</div>
		<ng-template #form>
			<form #modelForm="ngForm">
				<div class="row">
					<div class="col-3">
						<label for="date">
							{{ "PATIENTS.EMIT_DOCUMENTS.LABELS.DATE" | translate }}
						</label>
						<div class="input-group">
							<input
								id="date"
								class="form-control inputDate"
								[(ngModel)]="issuableDocument.data"
								name="date"
								placeholder="{{ _service.translate.instant('COMMON.PLACEHOLDER_DATE') }}"
								#date="ngbDatepicker"
								required
								ngbDatepicker
								rInputMask="99/99/9999"
							/>
							<div class="input-group-append bg-default" (click)="date.toggle()">
								<span class="icofont icofont-ui-calendar input-group-text"></span>
							</div>
						</div>
					</div>
					<div class="col-5 form-group">
						<label for="professionals">
							{{ "PATIENTS.EMIT_DOCUMENTS.LABELS.PROFESSIONAL" | translate }}
						</label>
						<ngx-select
							id="professionals"
							name="professional"
							[items]="professionals"
							[(ngModel)]="issuableDocument.profissionalId"
							required
							[placeholder]="_service.translate.instant('COMMON.PLACEHOLDER')"
							optionTextField="nome"
							optionValueField="id"
							[noResultsFound]="_service.translate.instant('COMMON.NORESULT')"
						>
						</ngx-select>
					</div>
				</div>
				<div class="row">
					<div class="col-8 form-group">
						<label for="models">
							{{ "PATIENTS.EMIT_DOCUMENTS.LABELS.MODEL" | translate }}
						</label>
						<ngx-select
							id="models"
							name="model"
							[items]="models"
							[(ngModel)]="issuableDocument.nomeModelo"
							[placeholder]="_service.translate.instant('COMMON.PLACEHOLDER')"
							optionTextField="nome"
							optionValueField="nome"
							(selectionChanges)="getModelText($event)"
							[noResultsFound]="_service.translate.instant('COMMON.NORESULT')"
						>
						</ngx-select>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div *ngIf="loadingText; else editor" class="d-flex justify-content-center">
							<div class="spinner-border" role="status"></div>
						</div>
						<ng-template #editor>
							<ckeditor [(ngModel)]="issuableDocument.texto" required name="text"></ckeditor>
						</ng-template>
						<img [src]="" />
					</div>
				</div>
				<div class="card-block">
					<div class="row footer-actions">
						<div class="col-12 flexEnd">
							<button type="button" class="btn close-button text-center" (click)="close()">
								{{ "COMMON.CLOSE" | translate }}
							</button>
							<button
								*ngIf="issuableDocument"
								type="button"
								class="btn btn-success text-center"
								[disabled]="modelForm.invalid"
								(click)="emit()"
							>
								{{ "PATIENTS.EMIT_DOCUMENTS.FOOTER.EMIT" | translate }}
							</button>
						</div>
					</div>
				</div>
			</form>
		</ng-template>
	</div>
</div>
