<ngb-tabset *ngIf="formAgenda" [destroyOnHide]="false">
    <ngb-tab [title]="'AGENDA.TABS.CURRENT_SCHEDULING' | translate">
        <ng-template ngbTabContent>
            <form (click)="toggleModalDate(true, $event)" class="margin-top" [formGroup]="formAgenda">
                <div class="row">
                    <div class="col-10 col-sm-10 col-md-8 m-b-15"
                         [ngClass]="service.aplicaCssErro('pacienteId', formAgenda)">
                        <label for="pacienteId">{{'AGENDA.FORM.pacienteId' | translate}}</label>

                        <input type="text" id="pacienteId" class="form-control" [value]="typeaheadValue"
                               [ngbTypeahead]="search"
                               (input)="onChangePatientText($any($event.target).value)"
                               [resultFormatter]="formatMatches"
                               [inputFormatter]="formatMatches" (selectItem)="onSelectPatient($event)">

                        <div class="text-feedback text-feedback--no-danger">
                            <a href="javascript: void 0" (click)="onCadastrar()"
                               *ngIf="formAgenda.get('nomePaciente')?.value  && formAgenda.get('id')?.value">
                                Cadastrar
                            </a>

                            <a *ngIf="formAgenda.get('pacienteId')?.value"
                               [routerLink]="getPatientRecordLink(formAgenda.get('pacienteId').value)">
                                Abrir ficha do paciente
                            </a>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-4">
                        <label for="pacienteId">
                            {{'AGENDA.FORM.pacienteCodigoProntuario' | translate}}
                        </label>

                        <h5>{{medicalRecord}}</h5>
                    </div>

                    <div class="col-12 col-sm-12 col-md-3 m-b-15">
                        <label for="celular">{{'AGENDA.FORM.celular' | translate}}</label>

                        <input type="text" formControlName="celular" id="celular" class="form-control"
                               mask="(00) 0 0000-0000">
                    </div>

                    <div class="col-12 col-sm-12 col-md-3 m-b-15">
                        <label for="telefoneFixo">{{'AGENDA.FORM.telefoneFixo' | translate}}</label>

                        <input type="text" formControlName="telefoneFixo" id="telefoneFixo" class="form-control"
                               mask="(00) 0000-0000">
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 m-b-15">
                        <label for="email">{{'AGENDA.FORM.email' | translate}}</label>

                        <input type="email" formControlName="email" id="email" class="form-control">
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 m-b-15 groupGender"
                         [ngClass]="service.aplicaCssErro('profissionalId', formAgenda)">
                        <label for="profissionalId">
                            {{'AGENDA.FORM.profissionalId' | translate}}
                        </label>

                        <br>

                        <ngx-select id="profissionalId" name="profissionalId" [items]="professionals"
                                    formControlName="profissionalId"
                                    (open)="service.doOpenSelect()" size="medium"
                                    [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
                                    optionTextField="nome" optionValueField="id"
                                    [noResultsFound]="service.translate.instant('COMMON.NORESULT')">
                        </ngx-select>

                        <div class="text-feedback" *ngIf="service.verificaValidTouched('profissionalId', formAgenda)">
                            <span>{{'COMMON.REQUIRED' | translate}}</span>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 m-b-15 groupGender"
                         [ngClass]="service.aplicaCssErro('convenioId', formAgenda)">
                        <label for="convenioId">{{'AGENDA.FORM.convenioId' | translate}}</label><br>

                        <ngx-select id="convenioId" name="convenioId" [items]="convenantsList"
                                    formControlName="convenioId"
                                    (open)="service.doOpenSelect()" size="medium"
                                    [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
                                    optionTextField="nome" optionValueField="id"
                                    [noResultsFound]="service.translate.instant('COMMON.NORESULT')">
                        </ngx-select>

                        <div class="text-feedback" *ngIf="service.verificaValidTouched('convenioId', formAgenda)">
                            <span>{{'COMMON.REQUIRED' | translate}}</span>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-3 m-b-15"
                         [ngClass]="service.aplicaCssErro('tipoAtendimentoId', formAgenda)">
                        <label for="tipoAtendimentoId">{{'AGENDA.FORM.tipoAtendimentoId' | translate}}
                        </label><br>

                        <ng-select
                                class="tipo-atendimento-select"
                                id="tipoAtendimentoId"
                                name="tipoAtendimentoId"
                                formControlName="tipoAtendimentoId"
                                (search)="searchingTipoAtendimento = $event.term"
                                (keyup.enter)="prepareToSaveNewTipoAtendimento()"
                                [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
                                bindValue="id"
                                bindLabel="descricao"
                                [items]="tipoAtendimentoList"
                                [markFirst]="true"
                                [clearable]="false"
                                [addTag]="true">

                            <div style="display: flex" *ng-option-tmp="let i = item">
                                <div style="flex: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                    {{ i.descricao }}
                                </div>
                                <i class="ci icon-delete" style="color: crimson"
                                   (click)="removeTipoAtendimento(i.id); $event.stopPropagation()"></i>
                            </div>

                            <span *ng-tag-tmp="let search = searchTerm" (click)="saveNewTipoAtendimento()">
                          <strong>{{'COMMON.ADD' | translate}}:</strong>
                                {{ search }}
                        </span>
                        </ng-select>
                        <div style="display: flex; justify-content: flex-start; padding: 2px 2px 0;"
                             [hidden]="!formAgenda.get('tipoAtendimentoId').value">
                            <div (click)="editCurrentTipoAtendimento()">
                                <a class="text-primary" href="javascript: void 0">opções</a>
                            </div>
                        </div>

                        <div class="text-feedback"
                             *ngIf="service.verificaValidTouched('tipoAtendimentoId', formAgenda)">
                            <span>{{'COMMON.REQUIRED' | translate}}</span>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-3 m-b-15">
                        <label for="dataHoraInicialEvento">{{'AGENDA.FORM.dataHoraInicialEvento' | translate}}</label><br>

                        <div class="col-sm-12 input-group m-0 p-0">
                            <input id="dataHoraInicialEvento" name="dataHoraInicialEvento"
                                   class="form-control inputDate"
                                   placeholder="dd/mm/YYYY" formControlName="dataHoraInicialEvento"
                                   [mask]="'00/00/0000 00:00'"
                                   [dropSpecialCharacters]="false"
                                   (focus)="toggleModalDate(false, $event, 'dataHoraInicialEvento'); $event.stopPropagation()"
                                   [readonly]="true">

                            <app-date-time-picker (selectDate)="applyDate($event)" *ngIf="showDateTimePicker"
                                                  [dateTime]="formAgenda.get('dataHoraInicialEvento').value"
                                                  class="popupDateTime">
                            </app-date-time-picker>

                            <div class="input-group-append bg-default"
                                 (click)="toggleModalDate(); $event.stopPropagation()">
                                <span class="icofont icofont-ui-calendar input-group-text"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-3 m-b-15"
                         [ngClass]="service.aplicaCssErro('duracao', formAgenda)">

                        <label for="duracao">{{'AGENDA.FORM.duracao' | translate}}</label>

                        <input type="text" numeric [allowDecimals]="false" [allowSign]="false" formControlName="duracao"
                               id="duracao"
                               class="form-control">

                        <div class="text-feedback" *ngIf="service.verificaValidTouched('duracao', formAgenda)">

                            <span>{{'COMMON.REQUIRED' | translate}}</span>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-3 m-b-15 groupGender">
                        <label for="emStatusAgendamento">
                            {{'AGENDA.FORM.emStatusAgendamento' | translate}}
                        </label>

                        <br>

                        <ngx-select class="text-nowrap" id="emStatusAgendamento" name="emStatusAgendamento"
                                    [items]="statusList"
                                    formControlName="emStatusAgendamento" (open)="service.doOpenSelect()" size="medium"
                                    [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
                                    optionTextField="label"
                                    optionValueField="value"
                                    [noResultsFound]="service.translate.instant('COMMON.NORESULT')">
                        </ngx-select>
                    </div>

                    <div class="col-12">
                        <label for="anotacoes">
                            {{'AGENDA.FORM.anotacoes' | translate}}
                        </label>
                        <textarea id="anotacoes" formControlName="anotacoes" class="form-control"></textarea>
                    </div>
                </div>

                <div class="row footer-actions">
                    <div class="col-6 modifications-infos">
                        {{lastModificationInfo}}
                    </div>
                    <div class="col-6 flexEnd">
                        <button type="button"
                                class="btn close-button text-center" (click)="close.emit()">
                            {{'COMMON.BACK' | translate}}
                        </button>
                        <button type="button" *ngIf="formAgenda.get('id')?.value"
                                class="btn delete-button text-center" (click)="removeEvent()">
                            {{'COMMON.DELETE' | translate}}
                        </button>
                        <button type="button" [disabled]="formAgenda.invalid"
                                class="btn btn-success text-center" (click)="saveEvent()">
                            {{'COMMON.SAVE' | translate}}
                        </button>
                    </div>
                </div>
            </form>
        </ng-template>
    </ngb-tab>
    <ngb-tab [title]="'AGENDA.TABS.SCHEDULING_HISTORY.TITLE' | translate">
        <ng-template ngbTabContent>
            <app-history-patient-scheduling class="margin-top"
                                            [refresh]="fetchShedulings"></app-history-patient-scheduling>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
