<div #cardMain class="card noHover" *ngIf="formProsthetic">
  <div class="card-header customHeader">
    <div class="row p-l-20 m-r-10">
      <div class="col-10 col-sm-10 p-0 p-l-30">
        <span>{{'TOOLS.PROSTHETIC.FORM.TITLE' | translate}}</span>
      </div>
      <div class="col-2 col-sm-2 flexEnd p-0 p-r-30">
        <i class="icofont icofont-close iconModalClose"
          (click)="closeModal()"></i>
      </div>
    </div>
  </div>

  <div class="card-body w100 m-l-0">
    <form [formGroup]="formProsthetic" class="row">
      <div class="col-12 col-sm-12 col-md-6">
        <span><b>{{'TOOLS.PROSTHETIC.CONFIRM.PATIENT' | translate}}: </b>{{prosthetic.pacientePessoaNome}}
        </span>
      </div>
      <div class="col-12 col-sm-12 col-md-6">
        <span><b>{{'TOOLS.PROSTHETIC.CONFIRM.SERVICE' | translate}}: </b>{{prosthetic.itemServicoProteticoNome}}
        </span>
      </div>
      <div class="col-12 col-sm-12 col-md-6 m-b-20">
        <span><b>{{'TOOLS.PROSTHETIC.CONFIRM.PROSTHETIC' | translate}}:
        </b>{{prosthetic.proteticoNome}}</span>
      </div>
      <div class="col-12 col-sm-12 col-md-6 m-b-20">
        <span><b>{{'TOOLS.PROSTHETIC.CONFIRM.PROFESSIONAL' | translate}}:
        </b>{{prosthetic.profissionalNome}}</span>
      </div>

      <div class="col-12 col-sm-12 col-md-4 m-b-15">
        <label for="dataPrevistaEntrega">{{'TOOLS.PROSTHETIC.FORM.dataPrevistaEntrega' | translate}}</label>
        <div class="col-sm-12 input-group m-0 p-0">
          <input id="dataPrevistaEntrega"
            name="dataPrevistaEntrega"
            class="form-control inputDate"
            placeholder="{{service.translate.instant('COMMON.PLACEHOLDER_DATE')}}"
            formControlName="dataPrevistaEntrega"
            ngbDatepicker
            #dataPrevistaEntrega="ngbDatepicker"
            rInputMask="99/99/9999">

          <div class="input-group-append bg-default"
            (click)="dataPrevistaEntrega.toggle()">
            <span class="icofont icofont-ui-calendar input-group-text"></span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-4 m-b-15">
        <label for="dataEntrega">{{'TOOLS.PROSTHETIC.FORM.dataEntrega' | translate}}</label>
        <div class="col-sm-12 input-group m-0 p-0">
          <input id="dataEntrega"
            name="dataEntrega"
            class="form-control inputDate"
            placeholder="{{service.translate.instant('COMMON.PLACEHOLDER_DATE')}}"
            formControlName="dataEntrega"
            ngbDatepicker
            #dataEntrega="ngbDatepicker"
            rInputMask="99/99/9999">

          <div class="input-group-append bg-default"
            (click)="dataEntrega.toggle()">
            <span class="icofont icofont-ui-calendar input-group-text"></span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-4 m-b-15"
        [ngClass]="service.aplicaCssErro('valor', formProsthetic)">
        <label for="valor">{{'TOOLS.PROSTHETIC.FORM.valor' | translate}}</label>
        <input type="text"
          autocomplete="off"
          spellcheck="false"
          currencyMask
          formControlName="valor"
          id="valor"
          class="form-control">
        <div class="text-feedback"
          *ngIf="service.verificaValidTouched('valor', formProsthetic)">
          <span>{{'COMMON.REQUIRED' | translate}}</span>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-4 p-l-15 p-r-5">
        <label class="toggle">
          <input class="toggle__input"
            type="checkbox"
            id="paid"
            name="paid"
            [(ngModel)]="paid"
            [ngModelOptions]="{standalone: true}">
          <span class="toggle__label">
            <span class="toggle__text">{{'TOOLS.PROSTHETIC.CONFIRM.PAID' | translate}}</span>
          </span>
        </label>
      </div>

      <div class="col-12 col-sm-12 col-md-4 m-b-15" *ngIf="paid">
        <label for="dataPagamento">{{'TOOLS.PROSTHETIC.FORM.dataPagamento' | translate}}</label>
        <div class="col-sm-12 input-group m-0 p-0">
          <input id="dataPagamento"
            name="dataPagamento"
            class="form-control inputDate"
            placeholder="{{service.translate.instant('COMMON.PLACEHOLDER_DATE')}}"
            formControlName="dataPagamento"
            ngbDatepicker
            #dataPagamento="ngbDatepicker"
            rInputMask="99/99/9999">

          <div class="input-group-append bg-default"
            (click)="dataPagamento.toggle()">
            <span class="icofont icofont-ui-calendar input-group-text"></span>
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-md-9 flexStart">
      </div>
      <div class="col-md-3 p-t-15">
        <button type="button"
          [disabled]="formProsthetic.invalid"
          class="btn btn-success btn-sm btn-block waves-effect text-center"
          (click)="save()"><i
          class="icofont icofont-check"></i>{{'COMMON.SAVE' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
