<div class="card noHover">
  <div class="card-body">
    <div *ngIf="anamneses && !(anamneses.length > 0); else existAnamneseModels">
      <p>Não há modelos de anamnese cadastrados.</p>
    </div>
    <ng-template #existAnamneseModels>
      <div *ngIf="currentAnamnese" class="row">
        <div class="col-4">
          <label>{{'CONFIG.ANAMNESE.TITLE' | translate}}</label><br/>

          <ngx-select id="status"
                      [(ngModel)]="currentAnamnese.id"
                      [items]="anamneses"
                      size="medium"
                      optionTextField="nome"
                      optionValueField="id"
                      (ngModelChange)="_initForm()"
                      [noResultsFound]="_service.translate.instant('COMMON.NORESULT')">
          </ngx-select>
        </div>
        <div class="col-8 flexEnd header-actions">
          <button (click)="exportAnamneseAsPDF(true)"
                  class="btn btn-sm">{{'CONFIG.ANAMNESE.BUTTONS.EMPTY_PRINT' | translate}}</button>
          <button (click)="exportAnamneseAsPDF()"
                  class="btn btn-sm btn-primary">{{'CONFIG.ANAMNESE.BUTTONS.FILLED_PRINT' | translate}}</button>
        </div>
      </div>
      <hr>
      <div *ngIf="loadingForm; else form" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
        </div>
      </div>
      <ng-template #form>
        <form style="margin-top: 20px" [formGroup]="anamneseForm">
          <div class="row" formArrayName="questions">
            <div class="col-12" *ngFor="let question of formArrayControls; let i=index"
                 [formGroupName]="i">
              <div class="col-12">
                <label><strong>{{getQuestionFromControl(question).pergunta}}</strong></label>
              </div>
              <div class="col-12" formGroupName="answer"
                   *ngIf="getQuestionFromControl(question).tipoPergunta !== tipoPerguntaAnamnese.TEXTO">
                <div class="radio minimal-blue-radio">
                  <input [id]="i+'yes'" type="radio" formControlName="respostaSimNao" [value]="yesOrNot.SIM">
                  <label [attr.for]="i+'yes'">
                    {{yesOrNotTranslated.SIM}}
                  </label>
                  <input [id]="i+'not'" type="radio" formControlName="respostaSimNao" [value]="yesOrNot.NAO">
                  <label [attr.for]="i+'not'">
                    {{yesOrNotTranslated.NAO}}
                  </label>
                </div>
              </div>
              <div class="input-group col-12" formGroupName="answer"
                   *ngIf="getQuestionFromControl(question).tipoPergunta !== tipoPerguntaAnamnese.SIM_NAO">
                <input type="text"
                       formControlName="resposta"
                       class="form-control"
                       [placeholder]="'CONFIG.ANAMNESE.LABELS.ANSWER_PLACEHOLDER' | translate">
              </div>
            </div>
          </div>
        </form>
      </ng-template>
    </ng-template>
  </div>
  <div *ngIf="anamneseForm" class="card-block flexEnd">
    <button class="btn btn-sm btn-success" (click)="save()">{{'CONFIG.ANAMNESE.BUTTONS.SAVE' | translate}}</button>
  </div>
</div>

<!--
Modelo para impressão da Anamnese
Display none para não aparecer na tela (só aparece quando vai imprimir mas depois some novamente)
-->
<div style="display: none" id="htmlToPdf" *ngIf="anamneseForm">
  <div class="row">
    <div class="col-4">
      <img width="100px" [src]="patientProfileImage">
    </div>
    <div class="col-8 flexStart">
      <h2>Ficha do Paciente</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h6>IDENTIFICAÇÃO</h6>
    </div>
    <div class="col-4">
      <ul>
        <li><strong>Nome: </strong>{{this.patient.pessoaNome}}</li>
        <li><strong>Data Nascimento: </strong>{{getFormatedBirthDate(this.patient.pessoaDataNascimento)}}</li>
        <li><strong>CPF: </strong>{{getFormatedCpf(this.patient.pessoaCpfCnpj)}}</li>
        <li><strong>E-mail: </strong>{{this.patient.pessoaEmail}}</li>
        <li><strong>Convênio:</strong>{{this.patient.convenioNome}}</li>
      </ul>
    </div>
    <div class="col-4">
      <ul>
        <li><strong>Idade: </strong>{{this.patient.idade}}</li>
        <li><strong>Data Cadastro: </strong>{{this.patient.pessoaDataCadastro}}</li>
        <li><strong>RG: </strong>{{this.patient.pessoaRgIe}}</li>
        <li><strong>Celular: </strong>{{getFormatedCellPhone(this.patient.pessoaCelular)}}</li>
        <li><strong>Nro. Convênio: </strong>{{this.patient.numeroCarteirinha}}</li>
      </ul>
    </div>
    <div class="col-4">
      <ul>
        <li><strong>Estado Civil: </strong>{{marital}}</li>
        <li><strong>Sexo: </strong>{{pessoaSexo}}</li>
        <li><strong>Profissão: </strong>{{profession}}</li>
        <li><strong>Telefone: </strong>{{getFormatedPhone(this.patient.pessoaTelefone)}}</li>
      </ul>
    </div>
    <div class="col-6">
      <ul>
        <li><strong>Encaminhado por: </strong>{{this.patient.descricaoIndicacao}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h6>ENDEREÇO</h6>
    </div>
    <div class="col-6">
      <ul>
        <li><strong>Endereço: </strong>{{this.patient.pessoaEndereco}}</li>
        <li><strong>Cidade: </strong>{{this.patient.pessoaCidade}}</li>
      </ul>
    </div>
    <div class="col-6">
      <ul>
        <li><strong>Bairro: </strong>{{this.patient.pessoaBairro}}</li>
        <li><strong>CEP: </strong>{{getFormatedCep(this.patient.pessoaCep)}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 flexCenter">
      <h6>INVENTÁRIO DE SAÚDE</h6>
    </div>
    <p>Este questionario tem a finalidade de informar dados que possa influir no tratamento ou medicação a ser
      receitada.
      Suas respostas têm valor confidencial</p>
  </div>
  <div class="row">
    <div class="col-12 question flexStart" *ngFor="let question of formArrayControls">
      <div>
        <strong>{{question.value.question.pergunta}}</strong>
      </div>
      <div *ngIf="questionTypesToAlert.includes(question.value.question.tipoPergunta)">
        <span class="yesNotSpaces" [innerHTML]="getYesOrNotOptionsForPrint(question.value.answer)"></span>
      </div>
      <div style="flex-grow: 1" *ngIf="questionTexts.includes(question.value.question.tipoPergunta)">
        <span *ngIf="printEmptyAnamnese"><hr></span>
        <span class="showText" *ngIf="!printEmptyAnamnese">
          <span>{{question.value.answer.resposta}}</span>
          <hr>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 flexCenter">
      <p>Declaro serem verdadeiras as informações prestadas por mim contidas neste questionário. Declaro ainda não ter
        omitido nenhuma informação sobre a
        história da minha saúde pregressa.</p>
    </div>
    <div class="col-6 text-center">
      <hr>
      <p>Paciente ou Responsável</p>
      <p *ngIf="!firstPrint">Paciente ou Responsável</p>
    </div>
    <div class="col-6 text-center">
      <hr>
      <p>Data</p>
      <p *ngIf="!firstPrint">Data</p>
    </div>
  </div>
</div>
