.col-8.flexEnd button:first-child {
  &:hover {
    text-decoration: underline;
  }
}

#htmlToPdf {
  .row {
    margin: 15px auto;
  }

  li {
    font-size: 13px;
  }

  hr {
    border-top: 1px solid black;
  }

  p {
    text-align: center;
    font-size: 13px;
  }

  .question {
    font-size: 12px;
    margin-bottom: 5px;

    hr {
      display: inline-block;
      width: 100%;
      margin: 0 0 0 10px;
    }

    .showText {
      margin: 0 0 0 10px;

      hr, span {
        position: absolute;
        bottom: 0;
        margin: 0;
      }
    }

    .yesNotSpaces {
      margin-left: 10px;
    }
  }
}
