<router-outlet>
  <app-spinner></app-spinner>
</router-outlet>

<app-modal-animation [backDrop]="true"
                     [modalID]="'loading'"
                     [modalClass]="'md-effect-11 md-loading'">

  <div>
    <div class="preloader3 loader-block">
      <div class="circ1 loader-primary"></div>
      <div class="circ2 loader-primary"></div>
      <div class="circ3 loader-primary"></div>
      <div class="circ4 loader-primary"></div>
    </div>
    <p class="tituloLoading">{{service.loadingTxt}}</p>
  </div>
</app-modal-animation>

<simple-notifications [options]="notificationOptions"></simple-notifications>
