<div id="pcoded"
	 class="pcoded"
	 [attr.nav-type]="navType"
	 [attr.theme-layout]="themeLayout"
	 [attr.vertical-placement]="verticalPlacement"
	 [attr.vertical-layout]="verticalLayout"
	 [attr.pcoded-device-type]="pcodedDeviceType"
	 [attr.vertical-nav-type]="verticalNavType"
	 [attr.vertical-effect]="verticalEffect"
	 [attr.vnavigation-view]="vnavigationView"
	 [attr.fream-type]="freamType"
	 [attr.sidebar-img]="sidebarImg"
	 [attr.sidebar-img-type]="sidebarImgType"
	 [attr.layout-type]="layoutType"
	 style="height: 100%"
	 (window:resize)="onResize($event)">

	<div class="pcoded-overlay-box"></div>

	<div class="pcoded-container navbar-wrapper">
		<nav class="navbar header-navbar pcoded-header"
			 [attr.header-theme]="headerTheme"
			 [attr.pcoded-header-position]="pcodedHeaderPosition">

			<div class="navbar-wrapper">
				<div class="navbar-logo">
					<a class="mobile-menu"
					   id="mobile-collapse"
					   href="javascript:"
					   (click)="toggleOpened()"
					   [exclude]="'#main_navbar'"
					   (clickOutside)="onClickedOutsideSidebar($event)">

						<i class="ti-menu"></i>
					</a>

					<a [routerLink]="['/dashboard/default/']">
						<img class="img-fluid logoAdmin"
							 src="assets/images/logo.png"
							 alt="Theme-Logo"/>
					</a>

					<a href="javascript:"
					   class="mobile-options"
					   (click)="toggleHeaderNavRight()">

						<i class="ti-more"></i>
					</a>
				</div>

				<div class="navbar-container container-fluid">
					<ul class="nav-left">
						<li>
							<div class="sidebar_toggle">
								<a href="javascript:"><i class="ti-menu"></i></a></div>
						</li>
					</ul>

					<ul [@mobileHeaderNavRight]="navRight"
						[ngClass]="navRight"
						class="nav-right">

						<li (clickOutside)="notificationOutsideClick('profile')"
							class="user-profile header-notification"
							[ngClass]="profileNotificationClass"
							(click)="toggleProfileNotification()">

							<a href="javascript:">
								<img [src]="currentContaImage" class="img-radius">

								<span>{{ currentConta?.razaoSocial }}</span>

								<i class="ti-angle-down"></i>
							</a>

							<ul [@notificationBottom]="profileNotification"
								class="show-notification profile-notification user-menu-dropdown">

								<app-account-chooser (currentConta)="atualizarConta($event)">
								</app-account-chooser>

								<li class="pointer" [routerLink]="['/config/perfil']">
									<a>
										<i class="ti-user"></i> Perfil
									</a>
								</li>

								<li class="pointer" (click)="logout()">
									<a>
										<i class="ti-layout-sidebar-left"></i>{{'ADMIN.LOGOUT' | translate}}
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="pcoded-main-container" [style.margin-top]="headerFixedMargin">
			<div class="pcoded-wrapper" style="height: 100%;">
				<nav id="main_navbar"
					 class="pcoded-navbar"
					 (clickOutside)="onClickedOutsideSidebar($event)"
					 [exclude]="'#mobile-collapse'"
					 [attr.pcoded-header-position]="pcodedHeaderPosition"
					 [attr.navbar-theme]="navBarTheme"
					 [attr.active-item-theme]="activeItemTheme"
					 sub-item-theme="theme2"
					 active-item-style="style0"
					 [attr.pcoded-navbar-position]="pcodedSidebarPosition">

					<div class="pcoded-inner-navbar main-menu" appAccordion>
						<perfect-scrollbar [style.max-width]="'235px'"
										   [style.max-height]="sidebarFixedHeight"
										   [config]="config">

              <span *ngFor="let asideItems of menuItems.getAll()"
					class="d-color">

                <ul class="pcoded-item pcoded-left-item"
					[attr.item-border]="itemBorder"
					[attr.item-border-style]="itemBorderStyle"
					[attr.subitem-border]="subItemBorder"
					*ngFor="let asideItem of asideItems.main"
					appAccordionLink
					group="{{asideItem.state}}">

                  <li [routerLinkActive]="['active']"
					  *ngIf="asideItem.type === 'link' && service.checkPermission(asideItem.permission)"
					  appAccordionLink
					  group="{{asideItem.state}}">

                    <a [routerLink]="['/', asideItem.main_state, asideItem.state]"
					   target="{{asideItem.target ? '_blank' : '_self'}}"
					   appAccordionToggle
					   *ngIf="asideItem.main_state; else mainContent">

                      <span class="pcoded-micon">
                        <i class="{{ asideItem.icon }}"></i>
                        <b>{{ asideItem.short_label }}</b>
                      </span>

                      <span class="pcoded-mtext">{{ asideItem.name }}</span>

                      <span *ngFor="let asideBadge of asideItem.badge"
							class="pcoded-badge label label-{{ asideBadge.type }}">
                        {{asideBadge.value}}
                      </span>

                      <span class="pcoded-mcaret"></span>
                    </a>

                    <ng-template #mainContent>
                      <a [routerLink]="['/', asideItem.state]"
						 target="{{asideItem.target ? '_blank' : '_self'}}"
						 appAccordionToggle>

                        <span class="pcoded-micon">
                          <i class="{{ asideItem.icon }}"></i>
                          <b>{{ asideItem.short_label }}</b>
                        </span>

                        <span class="pcoded-mtext">{{ asideItem.name }}</span>

                        <span *ngFor="let asideBadge of asideItem.badge"
							  class="pcoded-badge label label-{{ asideBadge.type }}">
                          {{asideBadge.value}}
                        </span>

                        <span class="pcoded-mcaret"></span>
                      </a>
                    </ng-template>
                  </li>

                  <li [routerLinkActive]="['active']"
					  *ngIf="asideItem.type === 'sub'  && service.checkPermission(asideItem.permission)"
					  class="pcoded-hasmenu"
					  [attr.dropdown-icon]="dropDownIcon"
					  [attr.subitem-icon]="subItemIcon"
					  appAccordionLink
					  group="{{asideItem.state}}">

                    <a [routerLinkActive]="['active']"
					   href="javascript:;"
					   appAccordionToggle>

                      <span class="pcoded-micon">
                        <i class="{{ asideItem.icon }}"></i>
                        <b>{{ asideItem.short_label }}</b>
                      </span>

                      <span class="pcoded-mtext">{{ asideItem.name }}</span>

                      <span *ngFor="let asideBadge of asideItem.badge"
							class="pcoded-badge label label-{{ asideBadge.type }}">
                        {{asideBadge.value}}
                      </span>

                      <span class="pcoded-mcaret"></span>
                    </a>

                    <ul class="pcoded-submenu">
                      <ng-template ngFor
								   let-asideChildren
								   [ngForOf]="asideItem.children">

                        <li [routerLinkActive]="['active']"
							*ngIf="asideChildren.type !== 'sub' && service.checkPermission(asideChildren.permission, true)">

                          <a [routerLink]="['/', asideItem.state, asideChildren.state]"
							 target="{{asideChildren.target ? '_blank' : '_self'}}">

                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>

                            <span class="pcoded-mtext">{{ asideChildren.name }} </span>

                            <span *ngFor="let asideChildrenBadge of asideChildren.badge"
								  class="pcoded-badge label label-{{ asideChildrenBadge.type }}">
                              {{asideChildrenBadge.value}}
                            </span>

                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>

                        <li [routerLinkActive]="['active']"
							class="pcoded-hasmenu"
							[attr.dropdown-icon]="dropDownIcon"
							[attr.subitem-icon]="subItemIcon"
							*ngIf="asideChildren.type === 'sub' && service.checkPermission(asideChildren.permission, asideChildren.children)"
							appAccordionLink
							group="{{asideChildren.state}}"
							type="sub">

                          <a href="javascript:;" appAccordionToggle>
                            <span class="pcoded-micon"><i class="ti-direction-alt"></i></span>
                            <span class="pcoded-mtext">{{ asideChildren.name }}</span>
                            <span *ngFor="let asideChildrenBadge of asideChildren.badge"
								  class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                            <span class="pcoded-mcaret"></span>
                          </a>

                          <ul class="pcoded-submenu pcoded-sub-submenu">
                            <ng-container *ngFor="let asideChildrenSub of asideChildren.children">
                              <li *ngIf="service.checkPermission(asideChildrenSub.permission, true)" [routerLinkActive]="['active']">
                                <a [routerLink]="['/', asideItem.state, asideChildren.state, asideChildrenSub.state]"
								   target="{{asideChildrenSub.target ? '_blank' : '_self'}}">

                                  <span class="pcoded-micon"><i class="ti-angle-right"></i></span>

                                  <span class="pcoded-mtext">{{ asideChildrenSub.name }}</span>

                                  <span *ngFor="let asideChildrenSubBadge of asideChildrenSub.badge"
										class="pcoded-badge label label-{{ asideChildrenSubBadge.type }}">
                                    {{asideChildrenSubBadge.value}}
                                  </span>

                                  <span class="pcoded-mcaret"></span>
                                </a>
                              </li>
                            </ng-container>
                          </ul>
                        </li>
                      </ng-template>
                    </ul>
                  </li>
                </ul>
              </span>
						</perfect-scrollbar>
					</div>
				</nav>

				<div class="pcoded-content" style="height: 100%; overflow: auto;">
					<app-alert *ngIf="showAlertOfContractData" [message]="contractData.mensagemStatusContrato"></app-alert>
					<div [ngClass]="{ 'pcoded-inner-content': !router.activatedRouteData.NO_WRAPPER, 'max-height': router.activatedRouteData.NO_WRAPPER }">
						<div [ngClass]="{ 'main-body': !router.activatedRouteData.NO_WRAPPER, 'max-height': router.activatedRouteData.NO_WRAPPER }">
							<div [ngClass]="{ 'page-wrapper': !router.activatedRouteData.NO_WRAPPER, 'max-height': router.activatedRouteData.NO_WRAPPER }">
								<router-outlet #router="outlet">
									<app-title></app-title>
									<app-breadcrumbs></app-breadcrumbs>
									<app-spinner></app-spinner>
								</router-outlet>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
