<simple-notifications [options]="this.service.options"></simple-notifications>

<div class="card noHover" *ngIf="procedure">
    <div class="card-header customHeader">
        <div class="row p-l-20 m-r-10">
            <div class="col-10 col-sm-10 p-0 p-l-30">
                <span>{{'PATIENTS.MODAL_EDIT_RECORD.TITLE' | translate}}</span>
            </div>
            <div class="col-2 col-sm-2 flexEnd p-0 p-r-30">
                <i class="icofont icofont-close iconModalClose" (click)="closeModal()"></i>
            </div>
        </div>
    </div>
    <div class="card-body row col-12 m-l-0 adjustModal">
        <div class="row col-12 p-l-0 p-r-0 m-l-0 m-r-0 m-t-20">
            <div class="col-12 col-sm-12 p-l-0 m-b-10">
        <span><b>{{'PATIENTS.MODAL_EDIT_RECORD.procedure' | translate}}: </b>
            {{procedure.convenioEspecialidadeProcedimentoProcedimentoNome}}
        </span>
            </div>

            <div class="col-12 col-sm-12 col-md-6 p-l-0 m-b-10">
        <span><b>{{'PATIENTS.MODAL_EDIT_RECORD.tooth' | translate}}: </b>
            {{procedure.emDenteDescricao}}
        </span>
            </div>

            <div class="col-12 col-sm-12 col-md-6 p-l-15 m-b-10">
				<span><b>{{'PATIENTS.MODAL_EDIT_RECORD.professional' | translate}}: </b></span>
				<ngx-select id="professionals"
							name="professional"
							[(ngModel)]="procedure.profissionalId"
							[items]="professionals"
							required
							[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
							optionTextField="nome"
							optionValueField="id"
							[noResultsFound]="service.translate.instant('COMMON.NORESULT')">
				</ngx-select>
            </div>

            <div class="col-12 col-sm-12 col-md-6 p-l-0 m-b-15">
                <label for="formaDeRecebimento">{{
                    "PATIENTS.MODAL_EDIT_RECORD.status" | translate
                    }}</label><br/>

                <ngx-select id="formaDeRecebimento" name="formaDeRecebimento" [items]="listaStatusTratamentoServico"
                            [(ngModel)]="procedure.statusTratamentoServico" (open)="service.doOpenSelect()"
                            size="medium"
                            [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')" (select)="changeStatus()"
                            optionTextField="label" optionValueField="value"
                            [noResultsFound]="service.translate.instant('COMMON.NORESULT')">
                </ngx-select>
            </div>

            <div class="col-12 col-sm-12 col-md-6 m-b-15">
                <label for="dataFinalizacao">{{'PATIENTS.MODAL_EDIT_RECORD.finish' | translate}}</label><br>
                <div class="col-sm-12 input-group m-0 p-0">
                    <input id="dataFinalizacao" name="dataFinalizacao" class="form-control inputDate"
                           placeholder="dd/mm/YYYY"
                           [(ngModel)]="procedure.dataFinalizacao" ngbDatepicker #dataFinalizacao="ngbDatepicker"
                           (focus)="dataFinalizacao.toggle()" [readonly]="true">

                    <div class="input-group-append bg-default" (click)="dataFinalizacao.toggle()">
                        <span class="icofont icofont-ui-calendar input-group-text"></span>
                    </div>
                </div>
            </div>

            <div class="col col-12 col-sm-12 m-b-15 p-l-0">
                <label for="diagnostico">{{'PATIENTS.MODAL_EDIT_RECORD.diagnostic' | translate}}</label>
                <textarea rows="4" [(ngModel)]="procedure.diagnostico" id="diagnostico" class="form-control"></textarea>
            </div>

            <div class="col col-12 col-sm-12 p-l-0">
                <label for="observacao">{{'PATIENTS.MODAL_EDIT_RECORD.obs' | translate}}</label>
                <textarea rows="4" [(ngModel)]="procedure.observacao" id="observacao" class="form-control"></textarea>
            </div>
        </div>

        <div class="row col-12 p-l-0 p-r-0 m-l-0 m-r-0 footer-actions">
            <div class="col-md-6"></div>
            <div class="col-md-6 flexEnd">
                <button type="button" class="btn btn-success close-button text-center"
                        (click)="closeModal()">{{'COMMON.CLOSE' | translate}}</button>
                <button type="button" class="btn btn-success text-center"
                        (click)="save()">{{'COMMON.SAVE' | translate}}</button>
            </div>
        </div>
    </div>
</div>
