<simple-notifications [options]="this.service.options"></simple-notifications>

<div class="card contentPage">
  <div class="card-header customHeaderComp">
    <span>{{'CONFIG.FINANCIAL.TITLE.' + typeComp | translate}}</span>
  </div>

  <div class="card-body m-b-0">
    <div class="row">
      <div class="col-md-9"></div>

      <div class="col-12 col-sm-12 col-md-3 m-b-15">
        <button type="button"
          class="btn btn-success btn-sm btn-block waves-effect text-center"
          (click)="add()">

          {{typeComp === 'centerCost' ?
            ('CONFIG.FINANCIAL.ADD_CCOST' | translate) :
            ('CONFIG.FINANCIAL.ADD_CAT' | translate)}}
        </button>
      </div>
    </div>

    <div class="row rowSearch">
      <ng-template #itemTemplate
        let-item="item"
        let-onCollapseExpand="onCollapseExpand"
        let-onCheckedChange="onCheckedChange">
        <div class="form-inline row-item w100 rowTree">

          <i *ngIf="!item.children"
            class="icofont iconCollapsed"
            [ngClass]="treeviewService.getClassIconItem(item, typeComp)"
            [class.fa-caret-right]="item.collapsed"
            [class.fa-caret-down]="!item.collapsed"></i>

          <i *ngIf="item.children"
            (click)="onCollapseExpand()"
            aria-hidden="true"
            class="icofont iconCollapsed"
            [ngClass]="item.collapsed ? 'icofont-rounded-down' : 'icofont-rounded-up'"
            [class.fa-caret-right]="item.collapsed"
            [class.fa-caret-down]="!item.collapsed"></i>

          <div class="form-check w100">
            <span class="form-check-label labelTree w100"
              (click)="onCollapseExpand();"
              [ngClass]="treeviewService.getClassItem(item, typeComp)">
              {{item.text}}

              <button class="btn btn-tree btn-danger f-right"
                (click)="delete(item); $event.stopPropagation()"
                [ngbTooltip]="'COMMON.DELETE_REGISTER' | translate"
                container="body"
                placement="left">
                <i class="ci icon-delete"></i>
              </button>

              <button class="btn btn-tree btn-danger f-right"
                (click)="toggleActive(item); $event.stopPropagation()"
                [ngClass]="item.value.status ? 'btn-success' : 'btn-danger'"
                [ngbTooltip]=" item.value.status ?
                service.translate.instant('CONFIG.FINANCIAL.ACTIVE') :
                service.translate.instant('CONFIG.FINANCIAL.DEACTIVE')"
                container="body"
                placement="left">
                <i class="icofont"
                  [ngClass]="item.value.status ? 'icofont-check' : 'icofont-ui-block iconBlock'">
                </i>
              </button>

              <button class="btn btn-tree btn-primary f-right"
                (click)="edit(item); $event.stopPropagation()"
                [ngbTooltip]="service.translate.instant('COMMON.EDIT_REGISTER')"
                container="body"
                placement="left">
                <i class="ci icon-edit"></i>
              </button>

              <button class="btn btn-tree btn-primary f-right"
                (click)="addChildren(item); $event.stopPropagation()"
                [ngbTooltip]="typeComp === 'centerCost' ?
                  service.translate.instant('CONFIG.FINANCIAL.ADD_CCOST_CHILD') + item.text.toUpperCase() :
                  service.translate.instant('CONFIG.FINANCIAL.ADD_CAT_CHILD') + item.text.toUpperCase()"
                container="body"
                placement="left">
                <i class="icofont icofont-ui-add"></i>
              </button>
            </span>
          </div>
        </div>
      </ng-template>

      <ngx-treeview class="w100 p-r-10"
        style="display: block;"
        [config]="treeview.config"
        [items]="treeview.items"
        [itemTemplate]="itemTemplate">
      </ngx-treeview>
    </div>
  </div>
</div>

<app-modal-animation *ngIf="showModalDetails"
  [backDrop]="true"
  [modalID]="'modal-config-financial'"
  (closed)="objectParentDescription = undefined"
  [modalClass]="'md-effect-11 md-modal-lg'">

  <app-modal-details [typeComp]="typeComp"
    [titulo]="tituloModal()"
    [object]="object"
    (reloadItems)="getDataTreeView()">
  </app-modal-details>
</app-modal-animation>
