@import './../../../../scss/partials/variables';

.contentPage {
  margin-bottom: 0 !important;
}

.iconCollapsed {
  font-size: 1.4rem;
  margin-left: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.iconStatus {
  font-size: 1.4rem;
  margin-left: 10px;
  cursor: pointer;
}

.labelTree {
  cursor: pointer;
  width: 100%;
}

.nodeText {
  font-weight: bold;
  font-size: normal;
}

.nodeTextWithoutChildren {
  font-weight: bold;
  font-size: normal;
  padding-left: 30px;
}

.labelTree:hover {
  color: $primary-color;
}

.simpleText {
  font-weight: normal;
  font-size: small;
  font-style: italic;
  padding-left: 30px;
}

.rowTree {
  margin-bottom: 0.4rem !important
}

.iconBlock {
  // font-size: 1.2rem;
}

.btn-tree {
  height: 25px;
  width: 25px;
  padding: 0;
  margin-left: 7px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    margin-right: 0 !important;
  }
}
