<div class="card noHover">
	<div class="card-body">
		<div class="row">
			<div class="col-12">
				<label for="period">{{'REPORTS.FILTERS.PERIOD' | translate}}</label>
			</div>
			<div class="form-group col-3 col-22-percent">
				<ngx-select id="period"
							[items]="periods"
							[(ngModel)]="currentPeriod"
							(select)="onChandePeriod()"
							optionTextField="label"
							optionValueField="value"
							[placeholder]="'REPORTS.FILTERS.ALL' | translate"
							[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate">
				</ngx-select>
			</div>
			<ng-container *ngIf="currentPeriod === Period.PERIOD">
				<div class="col-3 input-group col-22-percent">
					<input id="initialDate" name="initialDate" class="form-control inputDate" placeholder="dd/mm/YYYY"
						   [(ngModel)]="filters.dataInicio" ngbDatepicker #initialDate="ngbDatepicker"
						   rInputMask="99/99/9999"/>

					<div class="input-group-append bg-default" (click)="initialDate.toggle()">
						<span class="icofont icofont-ui-calendar input-group-text"></span>
					</div>
				</div>
				<div class="col-1 input-group flexCenter">{{'REPORTS.FILTERS.AT' | translate}}</div>
				<div class="col-3 input-group col-22-percent">
					<input id="finalDate" name="finalDate" class="form-control inputDate" placeholder="dd/mm/YYYY"
						   [(ngModel)]="filters.dataFim" ngbDatepicker #finalDate="ngbDatepicker"
						   rInputMask="99/99/9999"/>

					<div class="input-group-append bg-default" (click)="finalDate.toggle()">
						<span class="icofont icofont-ui-calendar input-group-text"></span>
					</div>
				</div>
			</ng-container>
		</div>
		<div class="row">
			<div class="col-8">
				<div class="row">
					<div class="form-group col-4">
						<label for="profissionalId">{{'REPORTS.FILTERS.PROFESSIONAL' | translate}}</label>
						<ngx-select id="profissionalId"
									[items]="professionals"
									[(ngModel)]="filters.profissionalId"
									optionTextField="nome"
									optionValueField="id"
									[allowClear]="true"
									(open)="_service.doOpenSelect()"
									[placeholder]="'REPORTS.FILTERS.ALL' | translate"
									[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate">
						</ngx-select>
					</div>
					<div class="form-group col-4">
						<label for="convenioId">{{'REPORTS.FILTERS.COVENANT' | translate}}</label>
						<ngx-select id="convenioId"
									[items]="covenants"
									[(ngModel)]="filters.convenioId"
									optionTextField="nome"
									optionValueField="id"
									[allowClear]="true"
									(open)="_service.doOpenSelect()"
									[placeholder]="'REPORTS.FILTERS.ALL' | translate"
									[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate">
						</ngx-select>
					</div>
					<div class="form-group col-4">
						<label for="schedulingsReport__listaStatusTratamento">{{'REPORTS.FILTERS.SITUATION' | translate}}</label>
						<ngx-select id="schedulingsReport__listaStatusTratamento"
									[items]="statusAgenda"
									[(ngModel)]="filters.listaStatusAgendamento"
									optionTextField="label"
									optionValueField="value"
									[allowClear]="true"
									(open)="_service.doOpenSelect()"
									[placeholder]="'REPORTS.FILTERS.ALL' | translate"
									[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate">
						</ngx-select>
					</div>
				</div>
			</div>
			<div class="col-4 flexEnd">
				<app-report-header-actions class="flexEnd header-actions" (printTrigger)="print($event)" (searchTrigger)="search()"></app-report-header-actions>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<app-report-datatable [columns]="columns" [rows]="ownData"></app-report-datatable>
		</div>
	</div>
</div>
