<div class="modal-header">
	<h4 class="modal-title">{{title}}</h4>
	<button hidden></button>
	<button type="button" class="close custom-close-button" aria-label="Close" (click)="close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form #form="ngForm">
		<div class="row">
			<div class="col-12"><h4><b>{{'PATIENTS.FORM_RECORDS.PARCEL_DOCUMENT.PATIENT.TITLE' | translate}}</b></h4></div>
			<div class="col-6">
				<label for="name"><b>{{'PATIENTS.FORM_RECORDS.PARCEL_DOCUMENT.PATIENT.NAME' | translate}}</b></label>
				<input type="text"
					   [(ngModel)]="parcelDocument.name"
					   required
					   id="name"
					   name="name"
					   class="form-control">
			</div>
			<div class="col-6">
				<label for="cpf"><b>{{'PATIENTS.FORM_RECORDS.PARCEL_DOCUMENT.PATIENT.CPF' | translate}}</b></label>
				<input type="text"
					   [(ngModel)]="parcelDocument.cpf"
					   required
					   mask="000.000.000-00"
					   [dropSpecialCharacters]="false"
					   id="cpf"
					   name="cpf"
					   class="form-control">
			</div>
			<div class="col-12 m-t-10">
				<label for="address"><b>{{'PATIENTS.FORM_RECORDS.PARCEL_DOCUMENT.PATIENT.ADDRESS' | translate}}</b></label>
				<input type="text"
					   [(ngModel)]="parcelDocument.address"
					   required
					   id="address"
					   name="address"
					   class="form-control">
			</div>
			<div class="col-6 m-t-10">
				<label for="neighborhood"><b>{{'PATIENTS.FORM_RECORDS.PARCEL_DOCUMENT.PATIENT.NEIGHBORHOOD' | translate}}</b></label>
				<input type="text"
					   [(ngModel)]="parcelDocument.neighborhood"
					   required
					   id="neighborhood"
					   name="neighborhood"
					   class="form-control">
			</div>
			<div class="col-6 m-t-10">
				<label for="zipcode"><b>{{'PATIENTS.FORM_RECORDS.PARCEL_DOCUMENT.PATIENT.ZIP_CODE' | translate}}</b></label>
				<input type="text"
					   [(ngModel)]="parcelDocument.zipCode"
					   required
					   mask="00000-000"
					   [dropSpecialCharacters]="false"
					   id="zipcode"
					   name="zipcode"
					   class="form-control">
			</div>
		</div>
		<div class="row m-t-20">
			<div class="col-12"><h4><b>{{'PATIENTS.FORM_RECORDS.PARCEL_DOCUMENT.CLINIC.TITLE' | translate}}</b></h4></div>
			<div class="col-6">
				<label for="clinicName"><b>{{'PATIENTS.FORM_RECORDS.PARCEL_DOCUMENT.CLINIC.NAME' | translate}}</b></label>
				<input type="text"
					   [(ngModel)]="parcelDocument.clinicName"
					   required
					   id="clinicName"
					   name="clinicName"
					   class="form-control">
			</div>
			<div class="col-6">
				<label for="clinicCpfCnpj"><b>{{'PATIENTS.FORM_RECORDS.PARCEL_DOCUMENT.CLINIC.CPF_CNPJ' | translate}}</b></label>
				<input type="text"
					   [(ngModel)]="parcelDocument.clinicCpfCnpj"
					   (ngModelChange)="clinicCpfCnpjMask()"
					   [maxLength]="CNPJ_LENGTH"
					   required
					   id="clinicCpfCnpj"
					   name="clinicCpfCnpj"
					   class="form-control">
			</div>
		</div>
		<div class="row m-t-20">
			<div class="col-12">
				<p style="color: grey">{{'PATIENTS.FORM_RECORDS.PARCEL_DOCUMENT.ALERT_MESSAGE' | translate}}</p>
			</div>
		</div>
		<div class="card-block footer-actions flexEnd">
			<button class="btn btn-sm close-button" (click)="close()">{{'COMMON.CANCEL' | translate}}</button>
			<button class="btn btn-sm btn-success" [disabled]="form.invalid" (click)="save()">{{confirmText}}</button>
		</div>
	</form>
</div>
