@import './../../../../../scss/partials/variables';

.iconDelete {
  color: $danger-color;
  font-size: 1.4rem;
}

.cardDetails {
  margin: 0px 15px 15px;
}

.titleCard {
  padding: 5px 5px 0px 15px !important;

  span {
    font-weight: bold;
    font-size: 1rem !important;
  }
}

.appAccount {
  min-height: 55vh;
  max-height: 95vh;
  overflow-y: auto;
}

.separator {
  border-bottom: 1px solid $border-color;
  margin-bottom: 15px;
  margin-top: 5px;
}

.iconDel {
  font-size: 1.8rem;
  color: $danger-color;
  cursor: pointer;
}

.errorText {
  color: $danger-color;
  font-style: italic;
}

.containerDel {
  // height: 100%;
  // margin-bottom: 20px;
  margin-left: 15px;
}

.shade {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 65px;
  z-index: 10;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(44%, rgba(152, 152, 152, 0)), color-stop(89%, #828080), color-stop(99%, #6b6969));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(152, 152, 152, 0) 44%, #828080 89%, #6b6969 99%);
}

.btn-primary-custom {
  opacity: 1;
  background-color: #0062cc;
  border-color: #005cbf;
}
