<div #cardMain
	 class="card noHover appAccount"
	 *ngIf="formAccount"
	 (scroll)="detectScrollPos()">
	<div class="card-header customHeader">
		<div class="row p-l-20 m-r-10">
			<div class="col-10 col-sm-10 p-0 p-l-30">
        <span>{{paid ? ('FINANCIAL.BILLS_TO_PAY.ACCOUNT.VIEW_TITLE' | translate) : (account.id
				? ('FINANCIAL.BILLS_TO_PAY.ACCOUNT.TITLE_EDIT' | translate)
				: ('FINANCIAL.BILLS_TO_PAY.ACCOUNT.TITLE' | translate))}}</span>
			</div>
			<div class="col-2 col-sm-2 flexEnd p-0 p-r-30">
				<i class="icofont icofont-close iconModalClose"
				   (click)="closeModal('modal-account-pay')"></i>
			</div>
		</div>
	</div>
	<div class="card-body row col-12 m-l-0">
		<form [formGroup]="formAccount" class="row">

			<div class="col-12 col-sm-12 col-md-6 m-b-15"
				 [ngClass]="service.aplicaCssErro('descricao', formAccount)">
				<label for="descricao">{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.descricao' | translate}}</label>
				<input type="text"
					   formControlName="descricao"
					   id="descricao"
					   class="form-control">
				<div class="text-feedback"
					 *ngIf="service.verificaValidTouched('descricao', formAccount)">
					<span>{{'COMMON.REQUIRED' | translate}}</span>
				</div>
			</div>

			<div class="col-12 col-sm-12 col-md-2 m-b-15">
				<label for="numeroDocumento">{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.numeroDocumento' | translate}}</label>
				<input type="text"
					   formControlName="numeroDocumento"
					   id="numeroDocumento"
					   class="form-control">
			</div>

			<div class="col-12 col-sm-12 col-md-4 m-b-15">
				<label for="tipoCusto">{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.tipoCusto' | translate}}</label><br>

				<div class="btn-group btn-group-toggle w100"
					 ngbRadioGroup
					 name="tipoCusto"
					 formControlName="tipoCusto">
					<label [ngClass]="paid && tipoCusto === financialConsts.FIXED ? 'btn-primary-custom' : 'btn-primary'" ngbButtonLabel class="btn-primary group2Pieces btnRadio w50">
						<input ngbButton type="radio" [value]="financialConsts.FIXED">
						<i *ngIf="tipoCusto === financialConsts.FIXED"
						   class="icofont icofont-check"></i>
						{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.TYPE_COST.FIXED' | translate}}
					</label>
					<label [ngClass]="paid && tipoCusto === financialConsts.VARIABLE ? 'btn-primary-custom' : 'btn-primary'" ngbButtonLabel class="btn-primary group2Pieces btnRadio w50">
						<input ngbButton type="radio" [value]="financialConsts.VARIABLE">
						<i *ngIf="tipoCusto === financialConsts.VARIABLE"
						   class="icofont icofont-check"></i>
						{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.TYPE_COST.VARIABLE' | translate}}
					</label>
				</div>
			</div>

			<div class="col-12 col-sm-12 col-md-3 m-b-15"
				 [ngClass]="service.aplicaCssErro('dataCompetencia', formAccount)">
				<label for="dataCompetencia">{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.dataCompetencia' | translate}}</label>
				<div class="col-sm-12 input-group m-0 p-0">
					<input id="dataCompetencia"
						   name="dataCompetencia"
						   class="form-control inputDate"
						   placeholder="{{service.translate.instant('COMMON.PLACEHOLDER_DATE')}}"
						   formControlName="dataCompetencia"
						   ngbDatepicker
						   #dataCompetencia="ngbDatepicker"
						   rInputMask="99/99/9999">

					<div class="input-group-append bg-default"
						 (click)="dataCompetencia.toggle()">
						<span class="icofont icofont-ui-calendar input-group-text"></span>
					</div>
				</div>

				<div class="text-feedback"
					 *ngIf="service.verificaValidTouched('dataCompetencia', formAccount)">
					<span>{{'COMMON.REQUIRED' | translate}}</span>
				</div>
			</div>

			<div class="col-12 col-sm-12 col-md-3 m-b-15"
				 [ngClass]="service.aplicaCssErro('valor', formAccount)">
				<label for="valor">{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.valor' | translate}}</label>
				<input type="text"
					   autocomplete="off"
					   spellcheck="false"
					   currencyMask
					   formControlName="valor"
					   id="valor"
					   class="form-control">
				<div class="text-feedback"
					 *ngIf="service.verificaValidTouched('valor', formAccount)">
					<span>{{'COMMON.REQUIRED' | translate}}</span>
				</div>
			</div>

			<div class="col-12 col-sm-12 col-md-3 m-b-15"
				 [ngClass]="validaTotalParcelas() ? '' : 'has-error'">
				<label for="numeroTotalParcelas">{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.numeroTotalParcelas' | translate}}</label>
				<input type="text"
					   numeric
					   [allowDecimals]="false"
					   [allowSign]="false"
					   formControlName="numeroTotalParcelas"
					   id="numeroTotalParcelas"
					   class="form-control">
				<div class="text-feedback" *ngIf="!validaTotalParcelas()">
					<span>{{'COMMON.REQUIRED' | translate}}</span>
				</div>
			</div>

			<div class="col-12 col-sm-12 col-md-3 m-b-15"
				 [ngClass]="service.aplicaCssErro('dataVencimento', formAccount)">
				<label for="dataVencimento">{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.dataVencimento' | translate}}</label>
				<div class="col-sm-12 input-group m-0 p-0">
					<input id="dataVencimento"
						   name="dataVencimento"
						   class="form-control inputDate"
						   placeholder="{{service.translate.instant('COMMON.PLACEHOLDER_DATE')}}"
						   formControlName="dataVencimento"
						   placement="bottom"
						   ngbDatepicker
						   #dataVencimento="ngbDatepicker"
						   rInputMask="99/99/9999">

					<div class="input-group-append bg-default"
						 (click)="dataVencimento.toggle()">
						<span class="icofont icofont-ui-calendar input-group-text"></span>
					</div>
				</div>

				<div class="text-feedback"
					 *ngIf="service.verificaValidTouched('dataVencimento', formAccount)">
					<span>{{'COMMON.REQUIRED' | translate}}</span>
				</div>
			</div>

			<div class="col-12 col-sm-12 col-md-6 m-b-15"
				 [ngClass]="service.aplicaCssErro('categoriaId', formAccount)">
				<label for="categoriaId">{{
					"FINANCIAL.BILLS_TO_PAY.ACCOUNT.categoriaId" | translate
					}}</label><br/>

				<ng-select
						id="destino"
						name="destino"
						formControlName="categoriaId"
						(keyup.enter)="adicionarNovaCategoria($event.currentTarget.innerText)"
						(search)="procurarCategoria($event.term)"
						(clear)="clearSearch()"
						(blur)="clearSearch()"
						bindLabel="descricao"
						bindValue="id"
						[items]="(categoriasFiltrada$ | async) || []"
						[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
						[clearable]="false"
						[addTag]="true">

					<div style="display: flex" *ng-option-tmp="let i = item">
						<div style="flex: 1">
							{{ i.descricao }}
						</div>
						<i class="ci icon-delete iconDelete" (click)="apagarCategoria(i.id)"></i>
					</div>

					<span *ng-tag-tmp="let s = searchTerm" (click)="adicionarNovaCategoria(s)">
            <strong>Adicionar:</strong>
						{{ s }}
          </span>
				</ng-select>

				<div class="text-feedback"
					 *ngIf="service.verificaValidTouched('categoriaId', formAccount)">
					<span>{{'COMMON.REQUIRED' | translate}}</span>
				</div>

				<div style="display: flex; justify-content: flex-start; padding: 2px 2px 0;" [hidden]="!formAccount.getRawValue().categoriaId">
					<div (click)="editeCategoria()">
						<a class="text-primary" href="javascript: void 0">opções</a>
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-12 col-md-6 m-b-15">
				<label for="formaDeRecebimento">{{
					"FINANCIAL.BILLS_TO_PAY.ACCOUNT.formaDeRecebimento" | translate
					}}</label><br/>

				<ng-select id="formaDeRecebimento"
						   name="formaDeRecebimento"
						   [items]="localLists.listTypePayment"
						   formControlName="formaDeRecebimento"
						   bindLabel="label"
						   bindValue="value"
						   [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
						   [clearable]="false">
				</ng-select>
			</div>

			<div *ngIf="account.id" class="col-12 col-sm-12 col-md-4 m-b-15">
				<label for="dataPagamento">{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.dataPagamento' | translate}}</label>
				<div class="col-sm-12 input-group m-0 p-0">
					<input id="dataPagamento"
						   name="dataPagamento"
						   class="form-control inputDate"
						   placeholder="{{service.translate.instant('COMMON.PLACEHOLDER_DATE')}}"
						   formControlName="dataPagamento"
						   ngbDatepicker
						   #dataPagamento="ngbDatepicker"
						   rInputMask="99/99/9999">

					<div class="input-group-append bg-default"
						 (click)="dataPagamento.toggle()">
						<span class="icofont icofont-ui-calendar input-group-text"></span>
					</div>
				</div>
			</div>

			<div *ngIf="account.id" class="col-12 col-sm-12 col-md-4 m-b-15">
				<label for="juros">{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.juros' | translate}}</label>
				<input type="text"
					   autocomplete="off"
					   spellcheck="false"
					   currencyMask
					   formControlName="juros"
					   id="valor"
					   class="form-control">
			</div>

			<div *ngIf="account.id" class="col-12 col-sm-12 col-md-4 m-b-15">
				<label for="desconto">{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.desconto' | translate}}</label>
				<input type="text"
					   autocomplete="off"
					   spellcheck="false"
					   currencyMask
					   formControlName="desconto"
					   id="valor"
					   class="form-control">
			</div>

			<div class="col-12 col-sm-12 m-b-15">
				<label for="observacao">{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.observacao' | translate}}</label>
				<input type="text"
					   formControlName="observacao"
					   id="observacao"
					   class="form-control">
			</div>

		</form>

		<div class="row col-12 p-l-0 p-r-0 m-l-0 m-r-0 footer-actions">
			<div class="col-6 flexStart">
				<h5>
					Total a pagar:
					{{ ((+formAccount.get('juros').value)
						+ (+formAccount.get('valor').value)
						- (+formAccount.get('desconto').value)
				) | currency: 'BRL' }}
				</h5>
			</div>

			<div class="col-6 p-0 flexEnd">
				<button type="button"
						class="btn close-button text-center"
						(click)="closeModal('modal-account-pay')">{{'COMMON.CLOSE' | translate}}</button>
				<button *ngIf="!paid" [disabled]="formAccount.invalid"
						type="button"
						class="btn btn-success text-center"
						(click)="save()">{{'COMMON.SAVE' | translate}}</button>

			</div>
		</div>
	</div>
</div>
