<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
	<!-- Container-fluid starts -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<!-- Authentication card start -->
				<div class="login-card card-block auth-body mr-auto ml-auto">
					<form class="md-float-material">
						<div class="text-center">
							<img src="assets/images/logo.png" alt="logo.png">
						</div>
						<div class="auth-box">
							<div class="row m-b-20">
								<div class="col-md-12">
									<h3 class="text-left">{{'FORGOT.TITLE' | translate}}</h3>
								</div>
							</div>
							<p class="text-inverse b-b-default text-right">{{'FORGOT.BACK' | translate}} <a
									[routerLink]="[loginUrl]">Login.</a>
							</p>
							<div class="input-group">
								<input class="form-control" [(ngModel)]="email" name="email"
									   placeholder="{{'FORGOT.EMAIL' | translate}}">
								<span class="md-line"></span>
							</div>
							<div class="row">
								<div class="col-md-12">
									<button (click)="recovery()" type="button"
											class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
										{{'FORGOT.RECOVERY' | translate}}
									</button>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-12">
									<p class="text-inverse text-left"><b>As instruções para redefinição de senha serão enviadas para seu e-mail de acesso ao Mobidental.</b></p>
								</div>
							</div>
						</div>
					</form>
					<!-- end of form -->
				</div>
				<!-- Authentication card end -->
			</div>
			<!-- end of col-sm-12 -->
		</div>
		<!-- end of row -->
	</div>
	<!-- end of container-fluid -->
</section>
