<!-- <simple-notifications [options]="this.service.options"></simple-notifications> -->

<div class="card noHover" *ngIf="parcel && payment">
	<div class="card-header customHeader">
		<div class="row p-l-20 m-r-10">
			<div class="col-10 col-sm-10 p-0 p-l-30">
				<span>{{'PATIENTS.MODAL_PAYMENT.TITLE' | translate}}</span>
			</div>

			<div class="col-2 col-sm-2 flexEnd p-0 p-r-30">
				<i class="icofont icofont-close iconModalClose"
				   (click)="closeModal()"></i>
			</div>
		</div>
	</div>

	<div class="card-body row col-12 m-l-0 adjustModal">
		<div class="row col-12 p-l-0 p-r-0 m-l-0 m-r-0 m-t-20">
			<div class="col-12 col-sm-12 col-md-4 p-l-0">
        		<span>
        		  <b>{{'PATIENTS.MODAL_PAYMENT.DESCRIPTION' | translate}}:</b>
					{{parcel.descricao}}
        		</span>
			</div>
		</div>

		<div class="row col-12 p-l-0 p-r-0 m-l-0 m-r-0 m-t-10">
			<div class="col-12 col-sm-12 col-md-4 p-l-0 m-b-10">
        <span>
          <b>{{'PATIENTS.MODAL_PAYMENT.parcel' | translate}}:</b>
			{{parcel.numeroParcela + '/' + totalParcels}}
        </span>
			</div>

			<div class="col-12 col-sm-12 col-md-4 p-l-0 m-b-10">
        <span>
          <b>{{'PATIENTS.MODAL_PAYMENT.paymentDateLimit' | translate}}:</b>
			{{parcel.dataVencimento}}
        </span>
			</div>

			<div class="col-12 col-sm-12 col-md-4 p-l-0 m-b-10">
        <span [style.color]="status.color">
          <b>{{'PATIENTS.MODAL_PAYMENT.status' | translate}}: </b>
			{{status.text}}
        </span>
			</div>

			<div class="col-12 col-sm-12 col-md-4 p-l-0 m-b-20">
        <span class="amount">
          <b>{{'PATIENTS.MODAL_PAYMENT.amount' | translate}}: </b>
			{{'COMMON.CURRENCY_SYMBOL' | translate}} {{parcel.valor | decimalWithLocale:2:locale}}
        </span>
			</div>

			<div class="col-12 col-sm-12 col-md-4 p-l-0 m-b-20">
        <span class="amountPaid">
          <b>{{'PATIENTS.MODAL_PAYMENT.amountPaid' | translate}}: </b>
			{{'COMMON.CURRENCY_SYMBOL' | translate}} {{(parcel.valor - payment.saldoAPagar) | decimalWithLocale:2:locale}}
        </span>
			</div>

			<div class="col-12 col-sm-12 col-md-4 p-l-0 m-b-20">
        <span class="amountRemaining"><b>{{'PATIENTS.MODAL_PAYMENT.amountRemaining' | translate}}: </b>
			{{'COMMON.CURRENCY_SYMBOL' | translate}} {{payment.saldoAPagar | decimalWithLocale:2:locale}}
        </span>
			</div>

			<div class="col-12 col-sm-12 col-md-4 p-l-0 m-b-15">
				<label for="paymentDate">{{'PATIENTS.MODAL_PAYMENT.paymentDate' | translate}}</label><br>
				<div class="col-sm-12 input-group m-0 p-0">
					<input id="paymentDate"
						   name="paymentDate"
						   class="form-control inputDate"
						   placeholder="dd/mm/YYYY"
						   [(ngModel)]="dataRecebimento"
						   ngbDatepicker
						   #paymentDate="ngbDatepicker"
						   (focus)="paymentDate.toggle()"
						   [readonly]="true">

					<div class="input-group-append bg-default"
						 (click)="paymentDate.toggle()">
						<span class="icofont icofont-ui-calendar input-group-text"></span>
					</div>
				</div>
			</div>

			<div class="col col-12 col-sm-12 col-md-4 m-b-15 p-l-0"
				 [ngClass]="payment.valorRecebido && payment.valorRecebido > 0 ? '' : 'has-error'">
				<label for="payAmount">
					{{ "PATIENTS.MODAL_PAYMENT.payAmount" | translate }}
				</label>

				<input currencyMask
					   [(ngModel)]="payment.valorRecebido"
					   name="payAmount"
					   class="form-control"/>

				<div class="text-feedback"
					 *ngIf="!payment.valorRecebido || payment.valorRecebido <= 0">
					<span>{{('COMMON.MORE_THAN_ZERO' | translate)}}</span>
				</div>
			</div>

			<div class="col-12 col-sm-12 col-md-4 p-l-0 m-b-15">
				<label for="formaDeRecebimento">
					{{ "PATIENTS.FORM_TREATMENT.formaDeRecebimento" | translate }}
				</label><br/>

				<ngx-select id="formaDeRecebimento"
							name="formaDeRecebimento"
							[items]="LISTAS_LOCAIS.listaFormaRecebimento"
							[(ngModel)]="payment.formaDeRecebimento"
							(open)="service.doOpenSelect()"
							size="medium"
							[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
							optionTextField="label"
							optionValueField="value"
							[noResultsFound]="service.translate.instant('COMMON.NORESULT')">
				</ngx-select>
			</div>
		</div>

		<div class="row col-12 p-l-0 p-r-0 m-l-0 m-r-0 m-t-20"
			 *ngIf="payment.formaDeRecebimento === cheque">

			<div class="col-12 col-sm-12 col-md-3 p-l-0 m-b-15">
				<label for="dataBomPara">
					{{'PATIENTS.MODAL_PAYMENT.dataBomPara' | translate}}
				</label>

				<br>

				<div class="col-sm-12 input-group m-0 p-0">
					<input id="dataBomPara"
						   name="dataBomPara"
						   class="form-control inputDate"
						   placeholder="dd/mm/YYYY"
						   [(ngModel)]="dataRecebimento"
						   ngbDatepicker
						   #dataBomPara="ngbDatepicker"
						   (focus)="dataBomPara.toggle()"
						   [readonly]="true">

					<div class="input-group-append bg-default"
						 (click)="dataBomPara.toggle()">
						<span class="icofont icofont-ui-calendar input-group-text"></span>
					</div>
				</div>
			</div>

			<div class="col col-12 col-sm-12 col-md-6 m-b-15 p-l-0">
				<label for="titular">
					{{ "PATIENTS.MODAL_PAYMENT.titular" | translate }}
				</label>

				<input [(ngModel)]="payment.titular"
					   name="titular"
					   class="form-control"/>
			</div>

			<div class="col col-12 col-sm-12 col-md-3 m-b-15 p-l-0">
				<label for="numCheque">
					{{ "PATIENTS.MODAL_PAYMENT.numCheque" | translate }}
				</label>

				<input [(ngModel)]="payment.numCheque"
					   name="numCheque"
					   class="form-control"/>
			</div>

			<div class="col col-12 col-sm-12 col-md-3 m-b-15 p-l-0">
				<label for="banco">{{ "PATIENTS.MODAL_PAYMENT.banco" | translate }}</label>

				<input [(ngModel)]="payment.banco" name="banco" class="form-control"/>
			</div>

			<div class="col col-12 col-sm-12 col-md-3 m-b-15 p-l-0">
				<label for="agencia">{{ "PATIENTS.MODAL_PAYMENT.agencia" | translate }}</label>

				<input [(ngModel)]="payment.agencia"
					   name="agencia"
					   class="form-control"/>
			</div>

			<div class="col col-12 col-sm-12 col-md-3 m-b-15 p-l-0">
				<label for="chequeConta">{{ "PATIENTS.MODAL_PAYMENT.chequeConta" | translate }}</label>

				<input [(ngModel)]="payment.chequeConta"
					   name="chequeConta"
					   class="form-control"/>
			</div>

			<div class="col col-12 col-sm-12 col-md-3 m-b-15 p-l-0">
				<label for="cpfCnpj">{{ "PATIENTS.MODAL_PAYMENT.cpfCnpj" | translate }}</label>

				<input [(ngModel)]="payment.cpfCnpj"
					   name="cpfCnpj"
					   class="form-control"/>
			</div>

			<div class="col col-12 col-sm-12 m-b-15 p-l-0">
				<label for="observacao">{{ "PATIENTS.MODAL_PAYMENT.observacao" | translate }}</label>

				<input [(ngModel)]="payment.observacao"
					   name="observacao"
					   class="form-control"/>
			</div>
		</div>

		<div class="row col-12 p-l-0 p-r-0 m-l-0 m-r-0 m-t-20">
			<div class="col-md-9"></div>

			<div class="col-12 col-sm-12 col-md-3">
				<button [disabled]="!payment.valorRecebido || payment.valorRecebido <=0 || disableSave"
						type="button"
						class="btn btn-success btn-sm btn-block waves-effect text-center"
						(click)="pay(); disableSave = true">

					{{'PATIENTS.MODAL_PAYMENT.pay' | translate}}
				</button>
			</div>
		</div>
	</div>
</div>
