@import './../../../../scss/partials/variables';

.amount {
  font-size: 1rem;
  color: $primary-color;
}

.amountPaid {
  font-size: 1rem;
  color: $approved-color;
}

.amountRemaining {
  font-size: 1rem;
  color: $danger-color;
}
