<ngx-datatable
	style="margin-top: 20px"
	class="data-table report-datatable-custom"
	[appAutosizedDatatable]
	[columnMode]="ColumnMode.force"
	[headerHeight]="50"
	[footerHeight]="50"
	[messages]="messages()"
	rowHeight="auto"
	[limit]="10"
	[rows]="rows"
>
	<ngx-datatable-column
		*ngFor="let column of columns"
		[sortable]="false"
		[name]="column.translation | translate"
		[headerClass]="column.headerClassName"
		[cellClass]="column.cellClassName"
	>
		<ng-container [ngSwitch]="column.type">
			<ng-template *ngSwitchCase="ColumnType.CURRENCY" let-row="row" ngx-datatable-cell-template>
				<span class="text-right">{{ currency(row[column.prop]) }}</span>
			</ng-template>

			<ng-template *ngSwitchCase="ColumnType.DATE" let-row="row" ngx-datatable-cell-template>
				{{ date(row[column.prop]) }}
			</ng-template>

			<ng-template *ngSwitchCase="ColumnType.CELL" let-row="row" ngx-datatable-cell-template>
				{{ cell(row[column.prop]) }}
			</ng-template>

			<ng-template *ngSwitchCase="ColumnType.PHONE" let-row="row" ngx-datatable-cell-template>
				{{ phone(row[column.prop]) }}
			</ng-template>

			<ng-template *ngSwitchCase="ColumnType.CPF_CNPJ" let-row="row" ngx-datatable-cell-template>
				{{ cpfCnpj(row[column.prop]) }}
			</ng-template>

			<ng-template *ngSwitchCase="ColumnType.ICON" let-row="row" ngx-datatable-cell-template>
				<i (click)="column.function(row)" [class]="column.iconClass"></i>
			</ng-template>

			<ng-template *ngSwitchCase="ColumnType.TOOLTIP" let-row="row" ngx-datatable-cell-template>
				<i
					(click)="column.function(row)"
					[class]="column.iconClass"
					[ngbTooltip]="column.tooltipText || ''"
				></i>
			</ng-template>

			<ng-template *ngSwitchDefault let-row="row" ngx-datatable-cell-template>
				{{ row[column.prop] || "" }}
			</ng-template>
		</ng-container>
	</ngx-datatable-column>
</ngx-datatable>
