<div class="row">
  <div class="col-md-3 form-group">
    <label for="input-hora-desconto-debito">Desconto Débito</label>
    <input type="text" class="form-control text-center"
      id="input-hora-desconto-debito"
      name="porcentagemDescontoDebito"
      placeholder="0.00"
      currencyMask
      [options]="maskOptions"
      [(ngModel)]="conta.porcentagemDescontoDebito"
      appBootstrapInput>
  </div>

  <div class="col-md-3 form-group">
    <label for="input-hora-desconto-credito">Desconto Crédito</label>
    <input type="text" class="form-control text-center"
      id="input-hora-desconto-credito"
      name="porcentagemDescontoCredito"
      placeholder="0.00"
      currencyMask
      [options]="maskOptions"
      [(ngModel)]="conta.porcentagemDescontoCredito"
      appBootstrapInput>
  </div>

  <div class="col-md-3 form-group">
    <label for="input-hora-desconto-credito-parcelado">Desconto Crédito Parcelado</label>
    <input type="text" class="form-control text-center"
      id="input-hora-desconto-credito-parcelado"
      name="porcentagemDescontoCreditoParcelado"
      placeholder="0.00"
      currencyMask
      [options]="maskOptions"
      [(ngModel)]="conta.porcentagemDescontoCreditoParcelado"
      appBootstrapInput>
  </div>
</div>
