<div class="card noHover m-b-0">
	<div class="card-header customHeader">
		<span>{{
			(annotationId ? "CONFIG.ANNOTATIONS.DIALOG.EDIT" : "CONFIG.ANNOTATIONS.DIALOG.NEW")
				| translate
		}}</span>
	</div>

	<div
		*ngIf="(annotationId && annotation.id) || !annotationId; else loading"
		class="create-return-alert-body card-body"
	>
		<form #form="ngForm">
			<div class="row">
				<div class="col-8 form-group">
					<label for="subject">{{ "CONFIG.ANNOTATIONS.DIALOG.SUBJECT" | translate }}</label>
					<div class="input-group">
						<input
							id="subject"
							name="subject"
							type="text"
							class="form-control"
							required
							[(ngModel)]="annotation.assunto"
						/>
					</div>
				</div>
				<div *ngIf="annotationId" class="col-4 header-actions flexEnd">
					<button type="button" class="btn btn-primary text-center" (click)="print()">
						{{ "CONFIG.ANNOTATIONS.DIALOG.PRINT" | translate }}
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-12 form-group">
					<ckeditor [(ngModel)]="annotation.descricao" required name="text"></ckeditor>
				</div>
			</div>
			<div class="row footer-actions">
				<div class="col-12 flexEnd">
					<button type="button" class="btn close-button text-center" (click)="close()">
						{{ "COMMON.BACK" | translate }}
					</button>
					<button
						type="button"
						[disabled]="form.invalid"
						class="btn btn-success text-center"
						(click)="save()"
					>
						{{ "COMMON.SAVE" | translate }}
					</button>
				</div>
			</div>
		</form>
	</div>
	<ng-template #loading>
		<div class="d-flex m-20 justify-content-center">
			<div class="spinner-border" role="status"></div>
		</div>
	</ng-template>
</div>
