@import './../../../../scss/partials/variables';

.labelTree {
  cursor: pointer;
  width: 100%;
}

.nodeText {
  font-weight: bold;
  font-size: normal;
}

.nodeTextWithoutChildren {
  font-weight: bold;
  font-size: normal;
  padding-left: 30px;
}

.labelTree:hover {
  color: $primary-color;
}

.simpleText {
  font-weight: normal;
  font-size: small;
  font-style: italic;
}

.rowTree {
  margin-bottom: 0.4rem !important;
}
