<div class="card" *ngIf="treeview.items.length > 0">
  <div class="card-header customHeader">
    <div class="row p-l-20 m-r-10">
      <div class="col-10 col-sm-10 p-0 p-l-30">
      </div>
      <div class="col-2 col-sm-2 flexEnd p-0 p-r-30">
        <i class="icofont icofont-close iconModalClose"
          (click)="service.closeModal(isAccount ? 'modal-ccost-cat-account' : 'modal-ccost-cat', null)"></i>
      </div>
    </div>
  </div>

  <div class="card-body">
    <ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand"
      let-onCheckedChange="onCheckedChange">
      <div class="form-inline row-item w100 rowTree">

        <div class="form-check w100">
          <input *ngIf="!isAccount" type="checkbox" class="form-check-input" [(ngModel)]="item.checked"
            (ngModelChange)="onCheckedChange()" [disabled]="item.disabled" [indeterminate]="item.indeterminate" />

          <span class="form-check-label labelTree w100" (click)="clickItem(item);"
            [ngClass]="treeviewService.getClassItem(item, typeComp)">
            {{item.text}}
          </span>
        </div>
      </div>
    </ng-template>

    <div class="card noHover w100 p-t-20 p-b-20 m-b-0 p-l-20">

      <div class="row m-r-0 m-b-10" *ngIf="!isAccount">
        <div class="col-md-6"></div>
        <div class="col-12 col-sm-12 col-md-3">
          <button type="button" class="btn btn-warning btn-sm btn-block waves-effect text-center adjustBtn"
            (click)="checkAll(false)"><i class="ti-layout-width-full"></i>{{'COMMON.UNSELECT_ALL' | translate}}</button>
        </div>
        <div class="col-12 col-sm-12 col-md-3">
          <button type="button" class="btn btn-primary btn-sm btn-block waves-effect text-center adjustBtn"
            (click)="checkAll(true)"><i class="ti-check-box"></i>{{'COMMON.SELECT_ALL' | translate}}</button>
        </div>
      </div>

      <ngx-treeview class="w100 p-r-10" [config]="treeview.config" [items]="treeview.items"
        [itemTemplate]="itemTemplate" (selectedChange)="onSelectedChange($event)">
      </ngx-treeview>
    </div>
  </div>

  <div class="row m-l-0 m-r-0 m-b-20" *ngIf="!isAccount">
    <div class="col-md-9"></div>
    <div class="col-12 col-sm-12 col-md-3">
      <button type="button" class="btn btn-success btn-sm btn-block waves-effect text-center adjustBtn"
        (click)="applyFilter()">{{'COMMON.APPLY' | translate}}</button>
    </div>
  </div>

</div>
