@import './../../../../scss/partials/variables';

.containerTableModal {
  height: 270px !important;
  max-height: 270px !important;
}

.btnCheck {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnCheckInner {
  border-radius: 5px;
  border: 1px solid $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.unselected {
  background-color: #fff;
  color: #000;
}

.selected {
  background-color: $primary-color;
  color: white;
}

.divFaces {
  padding-left: 0;
  height: 25px;
}
