<simple-notifications [options]="this.service.options"></simple-notifications>

<div class="card noHover" *ngIf="specialties.length > 0">
    <div class="card-header customHeader">
        <div class="row p-l-20 m-r-10">
            <div class="col-10 col-sm-10 p-0 p-l-30">
                <span>{{'PATIENTS.MODAL_PROCEDURE.TITLE' | translate}}</span>
            </div>
            <div class="col-2 col-sm-2 flexEnd p-0 p-r-30">
                <i class="icofont icofont-close iconModalClose" (click)="close()"></i>
            </div>
        </div>
    </div>
    <div class="card-body row">
        <div class="col col-12 col-md-5 col-lg-5 containerTableModal p-r-0">
            <ngx-datatable id="tableSpecialties" class="data-table table-responsive tableModal" [rows]="specialties"
                           [loadingIndicator]="true" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="0"
                           [rowHeight]="40"
                           [reorderable]="true" [scrollbarH]="true"
                           [messages]="service.translate.instant('COMMON.footerMessage')"
                           [selectionType]="'single'" [selected]="selectedSpecialties"
                           (select)='selectProcedures($event)'>

                <ngx-datatable-column *ngFor="let column of columnsEspecialidades; let indexColumn = index"
                                      [name]="column.name"
                                      [prop]="column.prop" [width]="column.width" [sortable]="column.sortable">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>
              {{row[column.prop]}}
            </span>
                    </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
        </div>
        <div class="col col-12 col-md-7 col-lg-7 containerTableModal">
            <input style="padding-right: 30px;"
                   type="text"
                   placeholder="Busque procedimentos pelo nome"
                   [(ngModel)]="procedureFilter"
                   (ngModelChange)="filterProcedures()"
                   id="procedimentoNome"
                   class="form-control"/>
            <i (click)="clearProcedureFilter()" style="cursor: pointer; top: 10px; right: 25px; position: absolute"
               class="icofont icofont-close"></i>
            <ngx-datatable id="tableProcedures" class="data-table table-responsive tableModal tableModal_height"
                           [rows]="filteredProcedures"
                           [loadingIndicator]="true" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="0"
                           [rowHeight]="40"
                           [reorderable]="true" [scrollbarH]="true"
                           [messages]="service.translate.instant('COMMON.footerMessage')"
                           [selectionType]="'single'" [selected]="selectedProcedures"
                           (select)='markProcedure($event)'>

                <ngx-datatable-column *ngFor="let column of columnsProcedures; let indexColumn = index"
                                      [name]="column.name"
                                      [prop]="column.prop" [width]="column.width" [sortable]="column.sortable">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>
              {{row[column.prop]}}
            </span>
                    </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
        </div>

        <div class="row col-12 p-l-0 p-r-0 m-l-0 m-r-0 m-t-20">

            <div class="col col-12 col-md-4"
                 [ngClass]="!listaDentes || listaDentes.length === 0 ? 'has-error' : ''">
                <label for="selectedTooths">{{'PATIENTS.MODAL_PROCEDURE.TOOTHS' | translate}}</label><br>

                <ng-select [ngClass]="'ng-select'" [items]="tooths" [multiple]="true"
                           [(ngModel)]="listaDentes"></ng-select>

                <div class="text-feedback" *ngIf="!listaDentes || listaDentes.length === 0">
                    <span>{{'COMMON.REQUIRED' | translate}}</span>
                </div>
            </div>

            <div class="col col-12 col-md-2" [ngClass]="procedure.valor && procedure.valor > 0 ? '' : 'has-error'">
                <label for="valor">{{'PATIENTS.MODAL_PROCEDURE.VALUE' | translate}}</label>
                <input currencyMask [(ngModel)]="procedure.valor" id="valor" class="form-control">
                <div class="text-feedback" *ngIf="!procedure.valor || procedure.valor <= 0">
                    <span>{{('COMMON.MORE_THAN_ZERO' | translate)}}</span>
                </div>
            </div>

            <div class="col col-12 col-md-3" [ngClass]="procedure.profissionalId ? '' : 'has-error'">
                <label for="professional">{{'PATIENTS.MODAL_PROCEDURE.PROFESSIONAL' | translate}}</label><br>

                <ngx-select id="professional" name="professional" [items]="profissionais"
                            [(ngModel)]="procedure.profissionalId"
                            (open)="service.doOpenSelect()" size="medium"
                            [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
                            optionTextField="nome" optionValueField="id"
                            [noResultsFound]="service.translate.instant('COMMON.NORESULT')">
                </ngx-select>

                <div class="text-feedback" *ngIf="!procedure.profissionalId">
                    <span>{{'COMMON.REQUIRED' | translate}}</span>
                </div>
            </div>

            <div class="col col-12 col-md-3">
                <label for="status">{{'PATIENTS.MODAL_PROCEDURE.STATUS' | translate}}</label><br>

                <ngx-select id="status" name="status" [items]="listaStatusTratamentoServico"
                            [(ngModel)]="procedure.statusTratamentoServico" (open)="service.doOpenSelect()"
                            size="medium"
                            [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')" optionTextField="label"
                            optionValueField="value"
                            [noResultsFound]="service.translate.instant('COMMON.NORESULT')">
                </ngx-select>
            </div>
        </div>

        <div class="row col-12 p-r-0 m-l-0 m-r-0 m-t-20" *ngIf="isFace">
            <div class="col-12 col-sm-12 divFaces">
                <p>{{'PATIENTS.MODAL_PROCEDURE.FACES' | translate}}</p><br>
            </div>
            <div class="col-12 col-md-2 btnCheck" *ngFor="let item of listFace"
                 (click)="procedure[item.porp] = !procedure[item.porp]">
                <div class="btnCheckInner" [ngClass]="procedure[item.porp] ? 'selected' : 'unselected'">
                    <i *ngIf="procedure[item.porp]" class="icofont icofont-check"></i>
                    <span>{{item.label}}</span>
                </div>
            </div>
        </div>

        <div class="row col-12 p-l-0 p-r-0 m-l-0 m-r-0 m-t-20">
            <div class="col-md-9"></div>
            <div class="col-12 col-sm-12 col-md-3">
                <div class="btn-group" style="width: 100%">
                    <button [disabled]="disableSaveButton" type="button"
                            class="btn btn-success btn-sm text-center"
                            style="width: 90%"
                            (click)="insertProcedure(false)">{{'PATIENTS.MODAL_PROCEDURE.ADD_AND_NEW' | translate}}</button>
                    <div class="btn-group" ngbDropdown role="group" placement="bottom-right">
                        <button [disabled]="disableSaveButton" class="btn btn-success btn-sm dropdown-toggle-split"
                                ngbDropdownToggle></button>
                        <div class="dropdown-menu" ngbDropdownMenu style="padding: 0">
                            <button ngbDropdownItem (click)="insertProcedure()">
                                {{'PATIENTS.MODAL_PROCEDURE.ADD' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
