<div class="modal-body">
  <div class="row flexCenter text-center">
	<div class="col-12">
	  <div class="swal2-icon swal2-question swal2-animate-question-icon" style="display: flex;"></div>
	</div>
	<div class="col-12 modal-title">
	  <h3 class="grey-color">{{'PATIENTS.DOCUMENT.DELETE.TITLE' | translate}}</h3>
	</div>
	<div class="col-12 modal-message">
	  <p>{{'PATIENTS.DOCUMENT.DELETE.MESSAGE' | translate}} <strong>{{document.descricao}}</strong> ?</p>
	</div>
  </div>
</div>
<div class="modal-footer">
  <div class="row">
	<div class="col-6 flexCenter">
	  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">{{'PATIENTS.DOCUMENT.DELETE.DECLINE' | translate}}</button>
	</div>
	<div class="col-6 flexCenter">
	  <button type="button" autofocus class="btn btn-danger" (click)="activeModal.close(true)">{{'PATIENTS.DOCUMENT.DELETE.CONFIRM' | translate}}</button>
	</div>
  </div>
</div>
