<div class="card noHover">
	<div class="card-header customHeader">
		<span>{{sheetTitle}}</span>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-12" #barVerticalComponent>
				<ngx-charts-bar-vertical
						(window:resize)="resizeChart()"
						[view]="barChartView"
						[scheme]="colorScheme"
						[results]="chartResults"
						[gradient]="true"
						[xAxis]="true"
						[yAxis]="true"
						[noBarWhenZero]="false"
						(select)="fetchByRange($event)">
					<ng-template #tooltipTemplate let-model="model">
						<div class="barChartTooltip">
							<b class="header">{{model.label}}</b>
							<br>
							Aniversariantes: {{model.value}}
						</div>
					</ng-template>
				</ngx-charts-bar-vertical>
			</div>
		</div>
		<div class="row m-t-20">
			<div class="col-6 flexVEndHStart">
				<p class="m-0" *ngIf="currentMonth"><b>{{'REPORTS.BIRTHDAY.CURRENT_MONTH' | translate}}</b> {{currentMonth}}</p>
			</div>
			<div class="col-6 flexEnd">
				<app-report-header-actions class="flexEnd header-actions" [searchEnable]="false" (printTrigger)="print($event)"></app-report-header-actions>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<app-report-datatable [columns]="columns" [rows]="ownData"></app-report-datatable>
		</div>
	</div>
</div>
