@import './../../../../../scss/partials/_variables';

.headerSpecial {
  padding: 10px;
}

.back-btn {
  border: solid 1px currentColor;
}

.divSpecial {
  padding: 5px;
  border: 1px solid #cecece;
  border-radius: 5px;
  cursor: pointer;
}

.divProcedure {
  padding: 5px;
  border: 1px solid #cecece;
  border-radius: 5px;
}

.divSpecial:hover {
  background-color: #e2e2e2;
}

.cardProcedures {
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

.selectedIcon {
  font-size: 1.3rem;
  margin-right: 5px;
  color: #fff;
}

.selectedDiv {
  color: #fff;
  background-color: $primary-color;
  font-weight: bold;
}

.unselectedDiv {
  color: $theme-font-color;
  background-color: #fff;
  font-weight: normal;
}

.containerButton {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.action-btn:not(:last-of-type) {
  margin-bottom: 3px;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown {
  position: absolute;
}

.fa-ellipsis-v {
  font-size: 1.5em;
  color: grey;

  &:hover {
    cursor: pointer;
  }
}

.dropdown-item {
  padding: 5px 5px;
  font-size: 13px;
}
