<simple-notifications [options]="this.service.options"></simple-notifications>

<div class="card contentPage">
	<div class="row">
		<div class="col-8">
			<span class="pageTitle">{{ "CONFIG.COVENANT.FORM.TITLE" | translate }}</span>
		</div>
		<div *ngIf="editMode" class="col-4 flexEnd">
			<h6 style="margin-right: 15px">
				{{ covenantIsPadrao ? "Convênio padrão" : "Tornar padrão" }}
			</h6>
			<ui-switch
				size="small"
				[disabled]="covenantIsPadrao"
				[(ngModel)]="covenant.isPadrao"
			></ui-switch>
		</div>
	</div>

	<form [formGroup]="formCovenant" class="row m-t-10" *ngIf="procedures">
		<div
			class="col-12 col-sm-12 col-md-5 m-b-15"
			[ngClass]="service.aplicaCssErro('nome', formCovenant)"
		>
			<label for="nome">{{ "CONFIG.COVENANT.FORM.nome" | translate }}</label>

			<input id="nome" name="nome" class="form-control" formControlName="nome" />

			<div class="text-feedback" *ngIf="service.verificaValidTouched('nome', formCovenant)">
				<span>{{ "COMMON.REQUIRED" | translate }}</span>
			</div>
		</div>

		<div class="col-md-3 m-b-15"></div>

		<div class="col-4 flexEnd footer-actions m-t-0">
			<button type="button" class="btn close-button text-center" (click)="back()">
				{{ "COMMON.BACK" | translate }}
			</button>
			<button
				type="button"
				[disabled]="formCovenant.invalid"
				class="btn btn-success text-center"
				(click)="save()"
			>
				{{ "COMMON.SAVE" | translate }}
			</button>
		</div>

		<div class="col-12 col-sm-12 col-md-3">
			<div class="card noHover p-l-0 col-12">
				<div class="card-header headerSpecial">
					<h6>{{ "CONFIG.COVENANT.FORM.SPECIALTIES" | translate }}</h6>
				</div>
				<div class="card-body p-t-0 p-l-10">
					<div
						class="col-sm-12 m-l-0 m-b-5 divSpecial"
						[ngClass]="specialSelected === i ? 'selectedDiv' : 'unselectedDiv'"
						*ngFor="let item of formCovenant.get('especialidades')['controls']; let i = index"
						formArrayName="especialidades"
						(click)="selectSpecialty(i)"
					>
						<div class="row col-sm-12 p-0 m-0" [formGroupName]="i">
							<i class="icofont icofont-check selectedIcon" *ngIf="specialSelected === i"> </i>

							<span>{{ item.get("nome").value }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 col-sm-12 col-md-9 p-l-0">
			<div class="card noHover p-10">
				<div class="card-header cardProcedures">
					<h6>{{ "CONFIG.COVENANT.FORM.PROCEDURES" | translate }}</h6>
					<br />

					<div class="flexStart">
						<input
							#searchProcedure
							class="form-control"
							[(ngModel)]="searchProc"
							(keyup)="listenToKeyEvent($event)"
							[ngModelOptions]="{ standalone: true }"
						/>

						<button
							class="btn btn-option btn-primary m-l-10"
							(click)="addProc()"
							[ngbTooltip]="'CONFIG.COVENANT.FORM.ADD_PROC' | translate"
							placement="left"
						>
							<i class="icofont icofont-plus ajustaIcon"></i>
						</button>
					</div>
				</div>

				<div class="row col-sm-12 p-0 m-0" [formArrayName]="'especialidades'">
					<div class="row col-sm-12 p-0 m-0" [formGroupName]="specialSelected">
						<ngx-datatable
							[rows]="procedures.controls"
							class="data-table l-data-table table-responsive"
							[appAutosizedDatatable]
							[loadingIndicator]="true"
							[columnMode]="'force'"
							[headerHeight]="40"
							[footerHeight]="0"
							[rowHeight]="40"
							formArrayName="procedimentos"
						>
							<ngx-datatable-column
								name="Nome"
								cellClass="l-multiple-lines"
								[sortable]="false"
								[width]="300"
							>
								<ng-container *ngx-datatable-cell-template="let control = row; let i = rowIndex">
									<ng-container *ngIf="control?.value as procedimento">
										{{ procedimento.procedimentoNome }}
									</ng-container>
								</ng-container>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" name="Valor" [maxWidth]="110">
								<ng-container *ngx-datatable-cell-template="let control = row; let i = rowIndex">
									<ng-container *ngIf="control?.value as procedimento">
										{{ procedimento.preco || 0 | currency: "BRL" }}
									</ng-container>
								</ng-container>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" name="Comissão" [maxWidth]="110">
								<ng-container *ngx-datatable-cell-template="let control = row; let i = rowIndex">
									<ng-container *ngIf="control?.value as procedimento">
										{{ procedimento.procedimentoPorcentagemComissao || 0 | decimalWithLocale }} %
									</ng-container>
								</ng-container>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" name="Protetico" [maxWidth]="110">
								<ng-container *ngx-datatable-cell-template="let control = row; let i = rowIndex">
									<ng-container *ngIf="control?.value as procedimento">
										{{ procedimento.procedimentoValorCustoProtetico || 0 | decimalWithLocale }} %
									</ng-container>
								</ng-container>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" name="Faces" [maxWidth]="80">
								<ng-container *ngx-datatable-cell-template="let control = row; let i = rowIndex">
									<ng-container *ngIf="control?.value as procedimento">
										{{ procedimento.procedimentoIsAceitaFace ? "Sim" : "Não" }}
									</ng-container>
								</ng-container>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" name="Ativo" [maxWidth]="80">
								<ng-container *ngx-datatable-cell-template="let control = row; let i = rowIndex">
									<ng-container *ngIf="control?.value as procedimento">
										{{ procedimento.procedimentoStatus ? "Sim" : "Não" }}
									</ng-container>
								</ng-container>
							</ngx-datatable-column>

							<ngx-datatable-column cellClass="align-baseline" [sortable]="false" [maxWidth]="30">
								<ng-container *ngx-datatable-cell-template="let control = row; let i = rowIndex">
									<ng-container *ngIf="control?.value as procedimento">
										<a ngbDropdown placement="left">
											<i id="dropdownControls" class="fas fa-ellipsis-v" ngbDropdownToggle></i>
											<div ngbDropdownMenu aria-labelledby="dropdownControls">
												<button ngbDropdownItem (click)="edit(procedimento, control)">
													Editar
												</button>
												<button ngbDropdownItem (click)="deleteProc(procedimento)">Remover</button>
											</div>
										</a>
									</ng-container>
								</ng-container>
							</ngx-datatable-column>
						</ngx-datatable>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<app-modal-animation
	*ngIf="showModal"
	#formModal
	[backDrop]="true"
	[modalID]="'modal-create-proc'"
	(closed)="showModal = false"
	[modalClass]="'md-effect-11 md-modal-lg'"
>
	<app-modal-add-procedure
		[modalId]="'modal-create-proc'"
		[model]="editingProcedimento"
		[editando]="modalEditando"
		(resultModal)="
			showModal = false;
			$event && (editingProcedimento ? receiveEditModel($event) : processResultModalCreate($event))
		"
	>
	</app-modal-add-procedure>
</app-modal-animation>
