.btn-remove-upload-file {
	background-color: transparent;
	border: none;
	color: crimson;
	margin-top: 5px;

	&:hover {
		text-decoration: underline;
	}
}

.upload-file-container {
	height: 200px;
	width: 100%;
	margin: auto;
	border: 2px dashed #85dbdb;
	border-radius: 2px;

	p {
		margin: .5px;
	}
}

.upload-file-container:hover {
	background-color: white !important;
	cursor: pointer;
}
