<div class="modal-header">
  <h4 class="modal-title">{{'PATIENTS.DOCUMENT.SAVE.TITLE' | translate}}</h4>
</div>
<div class="modal-body">
  <form [formGroup]="filesForm">
	<div class="row" formArrayName="files">
	  <ng-container *ngFor="let file of formArray.controls; let i=index" [formGroupName]="i">
		<div class="col-md-5 col-sm-12">
		  <ng-container *ngIf="!existFiles; else imagePreview">
			<div class="upload-file-container flexCenter text-center"
				 appDragDrop
				 (click)="fileInput.click()"
				 (onFileDropped)="onFileChanged($event)">
			  <p>
				{{'PATIENTS.DOCUMENT.SAVE.MESSAGE' | translate}}
			  </p>
			  <input type="file"
					 hidden
					 #fileInput
					 multiple [accept]="acceptableFileExtensions"
					 (change)="onFileChanged($event.target?.files)">
			</div>
		  </ng-container>
		  <ng-template #imagePreview>
			<div class="card noHover">
			  <div class="card-header">
				<div class="row">
				  <div class="col-12 flexCenter">
					<img width="100%"
						 style="max-width: 200px" [src]="getPreview(i)">
				  </div>
				  <div class="col-12 flexCenter">
					<button type="button" class="btn-remove-upload-file" (click)="deleteFile(i)">
					  {{'PATIENTS.DOCUMENT.SAVE.REMOVE' | translate}}
					</button>
				  </div>
				</div>
			  </div>
			</div>
		  </ng-template>
		</div>
		<div class="col-md-7 col-sm-12">
		  <div class="row">
			<div class="col-12">
			  <label> {{'PATIENTS.DOCUMENT.EDIT.DESCRIPTION' | translate}} </label>
			</div>
			<div class="input-group col-12">
			  <input type="text"
					 name="description"
					 formControlName="description"
					 class="form-control"
					 placeholder="Descrição *"
					 appBootstrapInput
					 required>
			</div>
			<div class="col-12">
			  <label> {{'PATIENTS.DOCUMENT.EDIT.NOTE' | translate}} </label>
			</div>
			<div class="input-group col-12">
            <textarea type="text"
						[maxLength]="255"
					  name="note"
					  formControlName="note"
					  class="form-control"
					  placeholder="Observação"></textarea>
			</div>
		  </div>
		</div>
	  </ng-container>
	</div>
  </form>
</div>
<div class="modal-footer">
	<div class="row footer-actions">
		<div class="col-md-6"></div>
		<div class="col-md-6 flexEnd">
			<button type="button"
					class="btn btn-primary close-button btn-sm waves-effect text-center"
					(click)="activeModal.close(false)">{{'PATIENTS.DOCUMENT.EDIT.DECLINE' | translate}}
			</button>
			<button type="button"
					class="btn btn-success btn-sm waves-effect text-center"
					[disabled]="filesForm.invalid"
					(click)="save()">{{'PATIENTS.DOCUMENT.EDIT.CONFIRM' | translate}}
			</button>
		</div>
	</div>
</div>
