<div class="card">
	<form class="card-body" (ngSubmit)="salvar()" #form="ngForm">
		<h4 class="card-title">Meu Perfil</h4>

		<div class="card-text m-t-20">
			<div class="row">
				<div class="form-group col-md-6">
					<label for="input-nome">Seu nome *</label>
					<input type="text"
						   name="nome"
						   id="input-nome"
						   class="form-control"
						   [(ngModel)]="nome"
						   appBootstrapInput
						   required>
				</div>

				<div class="form-group col-md-6">
					<label for="input-email">Email *</label>
					<input type="text"
						   name="nome"
						   id="input-email"
						   [value]="email || ''"
						   class="form-control"
						   appBootstrapInput
						   required
						   readonly>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-6">
					<label for="input-nova-senha">Nova Senha</label>
					<input type="password"
						   name="nova-senha"
						   [(ngModel)]="senha"
						   id="input-nova-senha"
						   class="form-control"
						   appBootstrapInput>
				</div>

				<div class="form-group col-md-6">
					<label for="confirmacao-senha">Confirmação Senha</label>
					<input type="password"
						   [(ngModel)]="confirmacaoSenha"
						   name="confirmacao-senha"
						   id="confirmacao-senha"
						   class="form-control"
						   appBootstrapInput>
				</div>
			</div>
		</div>

		<div class="row footer-actions">
			<div class="col-12 flexEnd">
				<button class="btn btn-success"
						[disabled]="!senhasConfirmadas || form.invalid">
					Salvar
				</button>
			</div>
		</div>
	</form>
</div>
