@import '../../../../scss/partials/variables';

.logoLogin {
  max-height: 60px;
  margin-bottom: 20px
}

.titleAccount {
  font-weight: bold;
  color: $primary-color;
  font-size: medium;
}

.subtitleAccount {
  color: $theme-font-color;
  font-size: small;
  font-style: italic;
}

.titleFont {
  color: $theme-font-color;
}
