<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row containerFlip flexCenter h100">
          <div class="login-card card-block auth-body mr-auto ml-auto rotateCard accountCard">
            <form class="md-float-material">
              <div class="auth-box">
                <div class="text-center">
                  <img src="assets/images/logo.png"
                    class="logoLogin"
                    alt="Gradient Able">
                </div>

                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h5 class="text-center titleFont">{{'LOGIN.CHOOSE_ACCOUNT' | translate}}</h5>
                  </div>
                </div>

                <hr />

                <div *ngFor="let account of accounts | async" class="row m-0">
                  <div class="card col col-12 pointer"
                    (click)="selectAccount(account)">

                    <div class="card-body">
                      <span class="titleAccount">{{account.razaoSocial}}</span>

                      <br>

                      <span class="subtitleAccount">{{account.perfilContaModuloDescricao}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
