.conta-config {
	display: flex;
	flex-direction: column;

	&__nav-link {
		line-height: 2;
	}

	&__form {
		padding: 20px;
	}

	&__actions {
		padding: 20px;
	}
}

.conta-info {
	padding: 20px;
	display: flex;
	flex-direction: row;

	&__avatar {
		$size: 100px;

		width: $size;
		height: $size;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;

		i {
			display: none;
		}

		&:hover {
			opacity: .5;
		}

		&:hover i {
			display: block;
			color: white;
			font-size: 30px;
		}
	}

	&__titulo {
		font-size: 1.8em;
		flex: 1;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		padding-left: 20px;
	}
}

.nav-item {
	width: calc(100% / 3) !important;
}
