<div class="card conta-info">
	<input type="file" #hiddenPicker
		   style="display: none;"
		   accept=".jpg,.jpeg,.png"
		   (change)="pickFile($event)">

	<div class="conta-info__avatar pointer flexCenter" (click)="hiddenPicker.click()"
		 [style.backgroundImage]="profileBackgroundUrl(conta.urlImagem)">
		<i class="icofont icofont-camera-alt"></i>
	</div>

	<div class="conta-info__titulo"><h2>{{ conta.razaoSocial }}</h2></div>
</div>

<form class="card conta-config" (ngSubmit)="save()" #form="ngForm">
	<ul class="nav nav-tabs md-tabs">
		<li class="nav-item pointer" (click)="switchPage(ContaConfigForm.CADASTRO)">
      <span class="nav-link conta-config__nav-link"
			[class.active]="paginaAtual === ContaConfigForm.CADASTRO">
        Cadastro
      </span>

			<div class="slide"></div>
		</li>

		<li class="nav-item pointer" (click)="switchPage(ContaConfigForm.AGENDA)">
      <span class="nav-link conta-config__nav-link"
			[class.active]="paginaAtual === ContaConfigForm.AGENDA">
        Agenda
      </span>

			<div class="slide"></div>
		</li>

		<li class="nav-item pointer"
			(click)="switchPage(ContaConfigForm.FINANCEIRO)">

      <span class="nav-link active conta-config__nav-link"
			[class.active]="paginaAtual === ContaConfigForm.FINANCEIRO">
        Configuraçao Financeira
      </span>

			<div class="slide"></div>
		</li>
	</ul>

	<div class="conta-config__form">
		<app-conta-config-cadastro [conta]="conta"
								   [hidden]="paginaAtual !== ContaConfigForm.CADASTRO">
		</app-conta-config-cadastro>

		<app-conta-config-agenda [conta]="conta"
								 [hidden]="paginaAtual !== ContaConfigForm.AGENDA">
		</app-conta-config-agenda>

		<app-conta-config-financeiro [conta]="conta"
									 [hidden]="paginaAtual !== ContaConfigForm.FINANCEIRO">
		</app-conta-config-financeiro>
	</div>

	<div class="conta-config__actions row footer-actions">
		<div class="col-12 flexEnd">
			<button class="btn btn-success" [disabled]="form.invalid">
				Salvar
			</button>
		</div>
	</div>
</form>
