<div class="row">
    <div class="col-12" [hidden]="!chart || loading" style="height: 50vh">
        <canvas id="daily-canvas">{{ chart }}</canvas>
    </div>
</div>
<ng-container *ngIf="!loading; else loadingTemplate">
    <div class="row m-t-20">
        <div class="col-12">
            <ngx-datatable *ngIf="cashFlow && cashFlow.items && cashFlow.items.length > 0"
                    class="data-table daily-cash-flow"
                    [appAutosizedDatatable]
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [messages]="portugueseMessages"
                    rowHeight="auto"
                    [rows]="cashFlow?.items">
                <ngx-datatable-column [sortable]="false" [name]="'REPORTS.CASH_FLOW.DAILY.TABLE.DATE' | translate">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row.data }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [name]="'REPORTS.CASH_FLOW.DAILY.TABLE.RECEIPTS' | translate"
                                      cellClass="daily-cash-flow__monetary__cell"
                                      headerClass="daily-cash-flow__monetary__header">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row.totalEntrada?.toFixed(2) }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [name]="'REPORTS.CASH_FLOW.DAILY.TABLE.PAYMENTS' | translate"
                                      cellClass="daily-cash-flow__monetary__cell"
                                      headerClass="daily-cash-flow__monetary__header">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row.totalSaida?.toFixed(2) }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [name]="'REPORTS.CASH_FLOW.DAILY.TABLE.BALANCE' | translate"
                                      cellClass="daily-cash-flow__balance__cell"
                                      headerClass="daily-cash-flow__balance__header">
                    <ng-template let-row="row" ngx-datatable-cell-template>
          <span style="border-radius: 0.25rem"
                class="badge"
                [ngClass]="row.badgeClassName">
							<b>{{numberToBRLCurrency(row.saldo) }}</b>
			</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                    <ng-template ngx-datatable-footer-template>
                        <div class="col-6 flexEnd">
                            <b>Total: </b> {{numberToBRLCurrency(cashFlow?.totalEntrada)}}
                        </div>
                        <div class="col-3 flexEnd">
                            {{numberToBRLCurrency(cashFlow?.totalSaida)}}
                        </div>
                        <div class="col-3 flexEnd p-r-5">
            <span style="border-radius: 0.25rem; font-size: 20px"
                  class="badge"
                  [ngClass]="cashFlow?.badgeClassName">
							<b>{{numberToBRLCurrency(cashFlow?.saldo)}}</b>
            </span>
                        </div>
                    </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>
        </div>
    </div>
</ng-container>

<ng-template #loadingTemplate>
    <app-loading-spinner></app-loading-spinner>
</ng-template>
