<div class="modal-header">
	<h4 class="modal-title">{{title}}</h4>
	<button hidden></button>
	<button type="button" class="close custom-close-button" aria-label="Close" (click)="close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-12">
			<p>{{message}}</p>
		</div>
	</div>
	<div class="row m-t-20">
		<div *ngFor="let option of options; let i=index" class="col-12">
			<div class="radio minimal-blue-radio">
				<input [id]="i" type="radio" [(ngModel)]="choosed" [value]="option.value">
				<label [attr.for]="i">
					{{option.label}}
				</label>
			</div>
		</div>
	</div>
	<div class="row m-t-20">
		<div class="col-12">
			<p style="color: grey">{{alertMessage}}</p>
		</div>
	</div>
	<div class="card-block footer-actions flexEnd">
		<button class="btn btn-sm close-button" (click)="close()">{{closeText}}</button>
		<button class="btn btn-sm btn-success" (click)="emitChoosed()">{{confirmText}}</button>
	</div>
</div>
