<div class="modal-header">
	<h4 class="modal-title">{{'PATIENTS.DETACHED_TREATMENT.TITLE' | translate}}</h4>
</div>
<div class="modal-body">
	<form #form="ngForm">
		<!-- Este input é somente para tirar o foco (automático) do primeiro select e não causar expressionChangeException-->
		<input hidden>
		<div class="row">
			<div class="col-3">
				<label for="covenantId">
					{{ "PATIENTS.DETACHED_TREATMENT.COVENANT" | translate }}
				</label>

				<ngx-select id="covenantId"
							name="covenantId"
							[items]="covenants"
							[(ngModel)]="covenantId"
							(open)="_service.doOpenSelect()"
							size="medium"
							placeholder="Selecione"
							optionTextField="nome"
							optionValueField="id"
							[noResultsFound]="_service.translate.instant('COMMON.NORESULT')">
				</ngx-select>
			</div>
			<div class="col-4">
				<label for="procedureId">
					{{ "PATIENTS.DETACHED_TREATMENT.PROCEDURE" | translate }}
				</label>

				<div id="scrollable-dropdown-menu">
					<input type="text" id="procedureId" class="form-control"
						   placeholder="Nome do procedimento"
						   [readonly]="!covenantId"
						   [value]="searchProcedureValue"
						   (input)="detachedTreatment.convenioEspecialidadeProcedimentoId = null"
						   (selectItem)="fillProcedure($event.item)"
						   [ngbTypeahead]="procedures"
						   [resultFormatter]="formatMatches"
						   [inputFormatter]="formatMatches">
				</div>
			</div>
			<div class="col-3">
				<label for="tooth">
					{{ "PATIENTS.DETACHED_TREATMENT.TOOTH" | translate }}
				</label>

				<ngx-select id="tooth"
							name="tooth"
							[items]="teeth"
							[(ngModel)]="detachedTreatment.emDente"
							(open)="_service.doOpenSelect()"
							required
							size="medium"
							placeholder="Selecione"
							optionTextField="descricao"
							optionValueField="enumIdentifier"
							[noResultsFound]="_service.translate.instant('COMMON.NORESULT')">
				</ngx-select>
			</div>
			<div class="form-group col-2">
				<label for="value">{{ "PATIENTS.DETACHED_TREATMENT.VALUE" | translate }}</label>
				<input type="text"
					   name="value"
					   id="value"
					   [(ngModel)]="detachedTreatment.valor"
					   class="form-control"
					   placeholder="0.00"
					   currencyMask
					   appBootstrapInput
					   required>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<label for="professionalId">
					{{ "PATIENTS.DETACHED_TREATMENT.PROFESSIONAL" | translate }}
				</label>

				<ngx-select id="professionalId"
							name="professionalId"
							[items]="professionals"
							[(ngModel)]="detachedTreatment.profissionalId"
							(open)="_service.doOpenSelect()"
							size="medium"
							placeholder="Selecione"
							required
							optionTextField="nome"
							optionValueField="id"
							[noResultsFound]="_service.translate.instant('COMMON.NORESULT')">
				</ngx-select>
			</div>
			<div *ngIf="showFaces" class="col-6">
				<div class="row">
					<div class="col-12">
						<label>
							{{ "PATIENTS.DETACHED_TREATMENT.FACES" | translate }}
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<ng-container *ngFor="let face of faces; let i = index">
							<label class="toggle m-r-15">
								<input class="toggle__input"
									   type="checkbox"
									   [id]="i"
									   [name]="i.toString()"
									   [(ngModel)]="detachedTreatment[face.prop]">

								<span class="toggle__label"><span class="toggle__text">{{face.label}}</span></span>
							</label>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<div class="row footer-actions">
		<div class="col-12 flexEnd">
			<button type="button"
					class="btn btn-primary close-button btn-sm waves-effect text-center"
					(click)="close()">
				{{'COMMON.CANCEL' | translate}}
			</button>
			<button type="button"
					class="btn btn-success btn-sm waves-effect text-center"
					[disabled]="form.invalid || !detachedTreatment.convenioEspecialidadeProcedimentoId"
					(click)="save()">{{'COMMON.SAVE' | translate}}
			</button>
		</div>
	</div>
</div>
