<div class="card noHover contentPage">
	<h4>{{'CONFIG.PRINT.TITLE' | translate}}</h4>
	<div class="card-body">
		<div *ngIf="!printConfiguration; else configuration" class="d-flex justify-content-center">
			<div class="spinner-border" role="status">
			</div>
		</div>
		<ng-template #configuration>
			<div class="row m-b-10">
				<div class="col-12 m-t-15 flexStart">
					<ui-switch size="small" [(ngModel)]="printConfiguration.mostraCabecalho"></ui-switch>
					<span class="m-l-10">{{'CONFIG.PRINT.HEADER.SHOW' | translate}}</span>
				</div>
			</div>
			<div *ngIf="printConfiguration.mostraCabecalho" class="row">
				<div *ngFor="let position of _logoPositions" class="col-4">
					<div class="radio minimal-blue-radio text-center">
						<input [id]="position" type="radio" [(ngModel)]="printConfiguration.posicaoLogomarcaCabelho" [value]="position">
						<label [attr.for]="position">
							{{logoPositionTranslated[position]}}
						</label>
					</div>
					<div class="m-t-10 flexCenter">
						<img *ngIf="printConfiguration.posicaoLogomarcaCabelho === position"
							 width="100px"
							 alt="Logo"
							 [src]="printConfiguration.urlImagem || MOBI_DENTAL_PATH">
					</div>
				</div>
			</div>
			<div class="row flexCenter m-t-10">
				<i class="non-urlimage" *ngIf="!printConfiguration.urlImagem">{{'CONFIG.PRINT.HEADER.MESSAGE' | translate}}</i>
			</div>
			<hr>
			<div class="row m-t-10">
				<div class="col-4 flexStart">
					<ui-switch size="small" [(ngModel)]="printConfiguration.mostraRodape"></ui-switch>
					<span class="m-l-10">{{'CONFIG.PRINT.FOOTER.TITLE' | translate}}</span>
				</div>
				<div *ngIf="printConfiguration.mostraRodape" class="col-12 print-footer">
					<div class="col-12 m-t-10 flexEnd">
						<input id="first" name="first" class="form-control"
							   [(ngModel)]="printConfiguration.rodapeLinha1"
							   [placeholder]="footerLines?.rodapeLinha1">
					</div>
					<div class="col-12 m-t-10 flexEnd">
						<input id="second" name="second" class="form-control"
							   [(ngModel)]="printConfiguration.rodapeLinha2"
							   [placeholder]="footerLines?.rodapeLinha2">
					</div>
					<div class="col-12 m-t-10 m-b-10 flexEnd">
						<input id="third" name="third" class="form-control"
							   [(ngModel)]="printConfiguration.rodapeLinha3"
							   [placeholder]="footerLines?.rodapeLinha3">
					</div>
					<div class="col-12 flexEnd">
						<i>{{'CONFIG.PRINT.FOOTER.MESSAGE' | translate}}</i>
					</div>
				</div>
			</div>
		</ng-template>
	</div>
	<div *ngIf="printConfiguration" class="card-block">
		<div class="row footer-actions">
			<div class="col-12 flexEnd">
				<button type="button"
						class="btn btn-success text-center"
						(click)="save()">
					{{'COMMON.SAVE' | translate}}
				</button>
			</div>
		</div>
	</div>
</div>
