<div class="modal-header">
	<h4 class="modal-title">{{'PATIENTS.DOCUMENT.EDIT.TITLE' | translate}}</h4>
</div>
<div class="modal-body">
	<form>
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<div class="card noHover">
					<div class="card-header">
						<img width="100%" [src]="document.urlAnexoThumb" [alt]="document.descricao">
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12">
				<div class="row">
					<div class="col-12">
						<label> {{'PATIENTS.DOCUMENT.EDIT.DESCRIPTION' | translate}} </label>
					</div>
					<div class="input-group col-12">
						<input type="text"
							   name="description"
							   [(ngModel)]="document.descricao"
							   class="form-control"
							   placeholder="Descrição *"
							   appBootstrapInput
							   required>
					</div>
					<div class="col-12">
						<label> {{'PATIENTS.DOCUMENT.EDIT.NOTE' | translate}} </label>
					</div>
					<div class="input-group col-12">
            <textarea type="text"
					  [maxLength]="255"
					  name="notes"
					  [(ngModel)]="document.observacao"
					  class="form-control"
					  placeholder="Observação"></textarea>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<div class="row footer-actions">
		<div class="col-md-6"></div>
		<div class="col-md-6 flexEnd">
			<button type="button"
					class="btn btn-primary close-button btn-sm waves-effect text-center"
					(click)="activeModal.close(false)">{{'PATIENTS.DOCUMENT.EDIT.DECLINE' | translate}}
			</button>
			<button type="button"
					class="btn btn-success btn-sm waves-effect text-center"
					[disabled]="!requiredFieldsAreFilleds"
					(click)="edit()">{{'PATIENTS.DOCUMENT.EDIT.CONFIRM' | translate}}
			</button>
		</div>
	</div>
</div>
