.rowSearch {
  margin: 10px 0;
}

.insideInput {
  font-size: 1.2rem;
  position: absolute;
  left: 10px;
  top: 7px;
}

.inputWithIcon {
  padding-left: 35px !important;
}

.ajustaIconMail {
  font-size: 1.6rem;
}

.adjustBtn {
  padding-left: 5px !important;
  padding-right: 6px;
}
