<div class="card contentPage">
	<span class="pageTitle">{{'CONFIG.PROFESSIONAL.TITLE' | translate}}</span>

	<div class="row rowSearch">
		<div class="col col-12 col-sm-12 col-md-4 col-lg-3 p-l-0">
			<ng-select id="searchRange" name="searchRange" [items]="service.perPage" [(ngModel)]="searchParam.size"
					   bindLabel="field" bindValue="value" [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
					   (change)="populateTable()" [clearable]="false">
			</ng-select>
		</div>

		<div class="col col-12 col-sm-12 col-md-4 col-lg-3 p-l-0">
			<ng-select id="searchRange" name="searchRange" [items]="filteredStatusList"
					   [(ngModel)]="searchParam.emStatusUsuarioPerfilContaModulo" bindLabel="label" bindValue="value"
					   [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')" (change)="populateTable()" [clearable]="false">
			</ng-select>
		</div>

		<div class="col-lg-3"></div>

		<div class="col col-12 col-sm-12 col-md-4 col-lg-3 p-r-0 header-actions flexEnd">
			<button type="button" class="btn btn-sm btn-primary waves-effect text-center"
					[routerLink]="['..', 'novo']">{{'COMMON.NEW' | translate}}</button>
		</div>
	</div>

	<ngx-datatable id="tablePatients" class="data-table table-responsive" [rows]="rowsPage" [loadingIndicator]="true"
				   [columnMode]="'force'" [headerHeight]="40" [footerHeight]="40" [rowHeight]="40" [reorderable]="true"
				   [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
				   [scrollbarH]="true" [messages]="service.translate.instant('COMMON.footerMessage')" (page)='setPage($event)'>

		<ngx-datatable-column *ngFor="let column of columns; let indexColumn = index" [name]="column.name"
							  [prop]="column.prop" [width]="column.width" [sortable]="column.sortable">
			<ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>

        <span *ngIf="!column.action && column.prop !== 'emStatusUsuarioPerfilContaModulo'">
          {{row[column.prop]}}
        </span>

				<span *ngIf="!column.action && column.prop === 'emStatusUsuarioPerfilContaModulo'">
          {{getStatus(row[column.prop])}}
        </span>

				<button class="btn btn-option btn-primary" [routerLink]="['..', row.id]"
						*ngIf="column.action"
						[ngbTooltip]="'COMMON.EDIT_REGISTER' | translate" placement="right">
					<i class="ci icon-edit ajustaIcon"></i>
				</button>

				<button class="btn btn-option btn-primary adjustBtn" (click)="sendMail(row.id)"
						*ngIf="column.action && awaitingActivation(row)"
						[ngbTooltip]="'CONFIG.PROSTHETIC.TOOLTIP_MAIL' | translate" placement="right">
					<i class="icofont icofont-send-mail ajustaIconMail"></i>
				</button>

				<button class="btn btn-option btn-danger" (click)="delete(row.id)"
						*ngIf="column.action && awaitingActivation(row)"
						[ngbTooltip]="'COMMON.DELETE_REGISTER' | translate" placement="right">
					<i class="ci icon-delete ajustaIcon"></i>
				</button>

			</ng-template>
		</ngx-datatable-column>
	</ngx-datatable>

</div>
