<div class="card noHover m-b-0">

	<div class="card-header customHeader">
		<span>{{'AGENDA.RETURN_ALERT.CREATE.TITLE' | translate}}</span>
	</div>

	<div *ngIf="reasons; else loading" class="create-return-alert-body card-body">
		<form #form="ngForm">
			<div class="row form-group">
				<div class="col-12">
					<label for="patientId">{{'AGENDA.RETURN_ALERT.CREATE.PATIENT' | translate}}</label>
					<input type="text" id="patientId" class="form-control" [value]="typeaheadValue" [ngbTypeahead]="search"
						   (input)="returnAlert.pacienteId = null" [resultFormatter]="formatMatches"
						   placeholder="Digite o nome do paciente" [readOnly]="returnAlert.id"
						   [inputFormatter]="formatMatches" (selectItem)="selectPatient($event)">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-12">
					<label for="professionalId">{{'AGENDA.RETURN_ALERT.CREATE.PROFESSIONAL' | translate}}</label>
					<ngx-select id="professionalId" name="professionalId" [items]="professionals" required
								[(ngModel)]="returnAlert.profissionalId" (open)="service.doOpenSelect()" size="medium"
								[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')" optionTextField="nome" optionValueField="id"
								[noResultsFound]="service.translate.instant('COMMON.NORESULT')">
					</ngx-select>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-12">
					<label for="reasonId">{{'AGENDA.RETURN_ALERT.CREATE.REASON' | translate}}</label>
					<ng-select
							class="custom-ng-select-form-patients"
							id="reasonId"
							name="reasonId"
							[(ngModel)]="returnAlert.motivoId"
							(search)="searchingReason = $event.term"
							(keyup.enter)="prepareToSaveNewReason()"
							[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
							bindValue="id"
							bindLabel="nome"
							[items]="reasons"
							[markFirst]="true"
							[clearable]="false"
							[addTag]="true">

						<div style="display: flex" *ng-option-tmp="let i = item">
							<div style="flex: 1">
								{{ i.nome }}
							</div>
							<i class="ci icon-delete" (click)="removeReason(i.id)"></i>
						</div>

						<span *ng-tag-tmp="let search = searchTerm" (click)="saveNewReason()">
                          <strong>{{'COMMON.ADD' | translate}}:</strong>
							{{ search }}
                        </span>
					</ng-select>
					<div style="display: flex; justify-content: flex-start; padding: 2px 2px 0;"
						 [hidden]="!returnAlert.motivoId">
						<div (click)="editCurrentReason()">
							<a class="text-primary" href="javascript: void 0">opções</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-12">
					<label for="obs">{{'AGENDA.RETURN_ALERT.CREATE.OBS' | translate}}</label>
					<textarea id="obs" name="obs" class="form-control" rows="1" [(ngModel)]="returnAlert.observacao" placeholder="Observações"></textarea>
				</div>
			</div>
			<div *ngIf="!returnAlert.id; else editDate" class="row form-group">
				<div class="col-5">
					<label for="return_at">{{'AGENDA.RETURN_ALERT.CREATE.RETURN_AT' | translate}}</label>
					<ngx-select id="return_at" [items]="months"
								(open)="service.doOpenSelect()" size="medium"
								(select)="selectMonth($event)"
								[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')" optionTextField="nome" optionValueField="id"
								[noResultsFound]="service.translate.instant('COMMON.NORESULT')">
					</ngx-select>
				</div>
				<div class="col-7 flexCenter align-items-end">
					<div class="row">
						<div class="col-4">
							{{'AGENDA.RETURN_ALERT.CREATE.OR_AT' | translate}}
						</div>
						<div class="col-7 input-group m-0 p-0">
							<input id="dataRetorno" name="dataRetorno" class="form-control inputDate"
								   placeholder="{{service.translate.instant('COMMON.PLACEHOLDER_DATE')}}"
								   ngbDatepicker #i="ngbDatepicker"
								   [(ngModel)]="ngbDatePickerModel"
								   [minDate]="minDate"
								   (dateSelect)="changeDataRetorno()"
								   (focus)="i.toggle()" [readonly]="true">

							<div class="input-group-append bg-default" (click)="i.toggle()">
								<span class="icofont icofont-ui-calendar input-group-text"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<ng-template #editDate>
				<div class="row form-group">
					<div class="col-6">
						<label for="editDate">{{'AGENDA.RETURN_ALERT.CREATE.RETURN_AT' | translate}}</label>
						<div class="input-group m-0 p-0">
							<input id="editDate" name="editDate" class="form-control inputDate"
								   placeholder="{{service.translate.instant('COMMON.PLACEHOLDER_DATE')}}"
								   ngbDatepicker #i="ngbDatepicker"
								   [(ngModel)]="ngbDatePickerModel"
								   (dateSelect)="changeDataRetorno('editDate')"
								   (focus)="i.toggle()" [readonly]="true">

							<div class="input-group-append bg-default" (click)="i.toggle()">
								<span class="icofont icofont-ui-calendar input-group-text"></span>
							</div>
						</div>
					</div>
				</div>
			</ng-template>
			<div class="row footer-actions">
				<div class="col-12 flexEnd">
					<button type="button"
							class="btn close-button text-center" (click)="close()">
						{{'COMMON.BACK' | translate}}
					</button>
					<button type="button"
							[disabled]="form.invalid || !returnAlert.dataRetorno || !returnAlert.pacienteId"
							class="btn btn-success text-center" (click)="save()">
						{{'COMMON.SAVE' | translate}}
					</button>
				</div>
			</div>
		</form>
	</div>
	<ng-template #loading>
		<div class="d-flex m-20 justify-content-center">
			<div class="spinner-border" role="status">
			</div>
		</div>
	</ng-template>
</div>
