<div #cardMain class="card noHover">
  <div class="card-header customHeader">
    <div class="row p-l-20 m-r-10">
      <div class="col-10 col-sm-10 p-0 p-l-30">
        <span>{{'FINANCIAL.BILLS_TO_PAY.PAY_TITLE' | translate}}</span>
      </div>
      <div class="col-2 col-sm-2 flexEnd p-0 p-r-30">
        <i class="icofont icofont-close iconModalClose"
          (click)="closeModal('modal-account-payment')"></i>
      </div>
    </div>
  </div>

  <div class="card-body w100 m-l-0">
    <form [formGroup]="formAccount" class="row">
      <div class="col-12 col-sm-12 col-md-6 m-b-15">
        <label for="descricao">{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.descricao' | translate}}</label>
        <input type="text"
          autocomplete="off"
          spellcheck="false"
          formControlName="descricao"
          id="descricao"
          class="form-control">
      </div>

      <div class="col-12 col-sm-12 col-md-3 m-b-15">
        <label for="dataVencimento">{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.dataVencimento' | translate}}</label>
        <input type="text"
          autocomplete="off"
          spellcheck="false"
          formControlName="dataVencimento"
          id="dataVencimento"
          class="form-control">
      </div>

      <div class="col-12 col-sm-12 col-md-3 m-b-15">
        <label for="valor">{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.valor' | translate}}</label>
        <input type="text"
          autocomplete="off"
          spellcheck="false"
          currencyMask
          formControlName="valor"
          id="valor"
          class="form-control">
      </div>

      <div class="col-12 col-sm-12 col-md-3 m-b-15"
        [ngClass]="service.aplicaCssErro('dataPagamento', formAccount)">
        <label for="dataPagamento">{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.dataPagamento' | translate}}</label>
        <div class="col-sm-12 input-group m-0 p-0">
          <input id="dataPagamento"
            name="dataPagamento"
            class="form-control inputDate"
            placeholder="{{service.translate.instant('COMMON.PLACEHOLDER_DATE')}}"
            formControlName="dataPagamento"
            ngbDatepicker
            #dataPagamento="ngbDatepicker"
            rInputMask="99/99/9999">

          <div class="input-group-append bg-default"
            (click)="dataPagamento.toggle()">
            <span class="icofont icofont-ui-calendar input-group-text"></span>
          </div>
        </div>

        <div class="text-feedback"
          *ngIf="service.verificaValidTouched('dataPagamento', formAccount)">
          <span>{{'COMMON.REQUIRED' | translate}}</span>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-3 m-b-15 p-r-0">
        <label for="formaDeRecebimento">{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.formaDeRecebimento' | translate}}</label>
        <ng-select id="formaDeRecebimento"
          [items]="localLists.listTypePayment"
          formControlName="formaDeRecebimento"
          bindLabel="label"
          bindValue="value"
          [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
          [clearable]="false">
        </ng-select>
      </div>

      <div class="col-12 col-sm-12 col-md-3 m-b-15">
        <label for="juros">{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.juros' | translate}}</label>
        <input type="text"
          autocomplete="off"
          spellcheck="false"
          currencyMask
          formControlName="juros"
          id="juros"
          class="form-control">
      </div>

      <div class="col-12 col-sm-12 col-md-3 m-b-15">
        <label for="desconto">{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.desconto' | translate}}</label>
        <input type="text"
          autocomplete="off"
          spellcheck="false"
          currencyMask
          formControlName="desconto"
          id="desconto"
          class="form-control">
      </div>

      <div class="col-12 col-sm-12">
        <label for="observacao">{{'FINANCIAL.BILLS_TO_PAY.ACCOUNT.observacao' | translate}}</label>
        <textarea rows="2"
          formControlName="observacao"
          id="observacao"
          class="form-control"></textarea>
      </div>
    </form>

    <div class="row footer-actions">
      <div class="col-md-6 flexStart">
        <h5>{{('FINANCIAL.BILLS_TO_PAY.ACCOUNT.totalToPay' | translate) + ': ' +
        ('COMMON.CURRENCY_SYMBOL' | translate) + ((account.valor + formAccount.get(
          'juros').value -
          formAccount.get('desconto').value) | decimalWithLocale:2:locale)}}</h5>
      </div>
      <div class="col-md-6 flexEnd">
        <button type="button"
          [disabled]="formAccount.invalid"
          class="btn btn-success text-center"
          (click)="pay()">{{'FINANCIAL.BILLS_TO_PAY.PAY_BTN' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
