@import "./../../../../scss/partials/variables";

.iconTab {
	font-size: 1.8rem;
	margin-right: 7px;
}

:host .footer-tabs ::ng-deep li.nav-item {
	width: calc(100% / 4);
}

.btn-modal-margin {
	margin: 30px 0 0 10px;
}

.pointerSpan:hover {
	cursor: pointer;
}

.ngx-datatable.overflow-data-table-first {
	overflow: visible !important;
}

.ngx-datatable.overflow-data-table-first ::ng-deep .datatable-body {
	overflow: visible !important;
}

.ngx-datatable.overflow-data-table-first ::ng-deep .datatable-body-cell:first-child {
	overflow: visible !important;
	width: 130px !important;
}

.ngx-datatable.overflow-data-table-first ::ng-deep .datatable-header-cell:first-child {
	width: 130px !important;
}

.ngx-datatable.table-modal-scroll ::ng-deep .datatable-body-cell {
	overflow-x: auto !important;
	font-size: 15px;
	color: black;
}

.dropdown-menu {
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.ngx-datatable.table-modal-scroll ::ng-deep .datatable-header-cell {
	font-weight: 800;
	color: black;
}

.ngx-datatable.table-modal-scroll ::ng-deep .datatable-body-cell:first-child {
	width: 40px !important;
}

.ngx-datatable.table-modal-scroll ::ng-deep .datatable-header-cell:first-child {
	width: 40px !important;
}

.group2Pieces {
	width: 50% !important;
}

.nomeTitularDoConvenio {
	font-weight: bold;
	color: $primary-color;
	font-size: 1.3rem;
}

.codigoProntuario {
	font-style: italic;
}

.imgProfile {
	border-radius: 50%;
	height: 80px;
	width: 80px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
}

.arrowBack {
	font-size: 1.8rem;
}

.divArrowBack {
	cursor: pointer;
	margin-right: 15px;
}

.divProfile {
	margin-right: 15px;
	cursor: pointer;
}

.profile-image {
	cursor: pointer;
	align-items: center;
	text-align: center;
	max-height: 500px;
}

.containerBtnCam {
	padding: 20px;
}

.icon-delete.delete-dropdown-item {
	color: #ff5370;
}

.show-notification.profile-notification.user-menu-dropdown {
	background: white;
	box-shadow: rgba(0, 0, 0, 0.25) 0 0 35px 0;
	border-radius: 5px;
	padding: 0 15px;
	opacity: 1;
	position: absolute;
	right: 0;
	transform: translateY(20px);
	overflow: hidden;
	z-index: 2;
}
