<simple-notifications [options]="this.service.options"></simple-notifications>

<div class="card" *ngIf="formPatient">
	<div class="card-header customHeader">
		<span>{{ cardTitle }}</span>
	</div>
	<div class="card-body">
		<div class="row contaierProfile">
			<div class="col-6 flexStart">
				<div class="divArrowBack flexStart" (click)="navigateClients()">
					<i class="ci icon-arrow-left arrowBack"></i>
				</div>
				<div class="divProfile" (click)="chooseOriginImage()">
					<input
						id="file"
						type="file"
						style="display: none"
						name="file"
						(change)="changeListenerArquivos($event)"
						accept="image/*"
						#selectFoto
					/>

					<div class="imgProfile" [style.backgroundImage]="buildImageCssUrl()"></div>
				</div>
				<div>
					<span class="nomeTitularDoConvenio">
						{{ formPatient.get("pessoaNome").value }}
					</span>
					<br />
					<span class="codigoProntuario">
						{{ "PATIENTS.FORM.MEDICAL_RECORDS" | translate }}:
						{{ patient ? patient.codigoProntuario : "-" }}
					</span>
					<span class="m-l-20" *ngIf="showWhatsappIcon">
						<img
							src="assets/icon/whatsapp.svg"
							style="font-size: 20px; cursor: pointer; color: green"
							placement="bottom"
							[ngbTooltip]="'AGENDA.RETURN_ALERT.WHATSAPP_TOOLTIP' | translate"
							(click)="goToPatientWhatsapp()"
						/>
					</span>
				</div>
			</div>
			<div class="col-6 flexEnd">
				<div
					*ngIf="patient?.respostasAlerta?.length > 0"
					(clickOutside)="notificationOutsideClick('respostasAlerta')"
					class="user-profile header-notification"
					[ngClass]="answerAlertNotificationClass"
					(click)="toggleProfileNotification()"
				>
					<a href="javascript:">
						<span style="font-size: 15px" class="m-r-10 badge text-white badge-warning">
							<i class="icofont icofont-warning label-warning m-r-10"></i>
							{{ patient.respostasAlerta.length }} {{ "PATIENTS.ALERTS" | translate }}
						</span>
						<i class="ti-angle-down"></i>
					</a>
					<ul
						[@notificationBottom]="answerAlertNotification"
						class="show-notification profile-notification user-menu-dropdown"
					>
						<li *ngFor="let alert of patient.respostasAlerta">
							<p>
								<b>{{ alert.perguntaPergunta || "Não disponível" }}</b>
								<br />
								<span style="color: grey"
									>{{ SIM_NAO_TRANSLATE[alert.respostaSimNao]
									}}{{ alert.resposta ? ", " + alert.resposta || "Não disponível" : "" }}</span
								>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="md-tabs">
			<ngb-tabset (tabChange)="changeTabEvent($event)">
				<ngb-tab id="main">
					<ng-template ngbTabTitle>
						{{ "PATIENTS.FORM.PERSONAL" | translate }}
					</ng-template>
					<ng-template ngbTabContent>
						<div [@fadeInOutTranslate] class="m-t-15">
							<form [formGroup]="formPatient">
								<div class="card noHover">
									<div class="card-body row">
										<div
											class="col-12 col-sm-12 col-md-6 m-b-15"
											[ngClass]="service.aplicaCssErro('pessoaNome', formPatient)"
										>
											<label for="pessoaNome">{{ "PATIENTS.FORM.pessoaNome" | translate }}</label>
											<input
												type="text"
												formControlName="pessoaNome"
												id="pessoaNome"
												class="form-control"
											/>
											<div
												class="text-feedback"
												*ngIf="service.verificaValidTouched('pessoaNome', formPatient)"
											>
												<span>{{ "COMMON.REQUIRED" | translate }}</span>
											</div>
										</div>

										<div class="col-12 col-sm-12 col-md-3 m-b-15 groupGender">
											<label for="pessoaNome">{{ "PATIENTS.FORM.pessoaSexo" | translate }}</label
											><br />

											<div
												class="btn-group btn-group-toggle w100"
												ngbRadioGroup
												name="pessoaSexo"
												formControlName="pessoaSexo"
											>
												<label ngbButtonLabel class="btn-primary group2Pieces btnRadio">
													<input ngbButton type="radio" [value]="'MASCULINO'" />
													<i
														*ngIf="formPatient.get('pessoaSexo').value === 'MASCULINO'"
														class="icofont icofont-check"
													></i>
													{{ "COMMON.GENDER.MAN" | translate }}
												</label>
												<label ngbButtonLabel class="btn-primary group2Pieces btnRadio">
													<input ngbButton type="radio" [value]="'FEMININO'" />
													<i
														*ngIf="formPatient.get('pessoaSexo').value === 'FEMININO'"
														class="icofont icofont-check"
													></i>
													{{ "COMMON.GENDER.WOMAN" | translate }}
												</label>
											</div>
										</div>

										<div class="col-12 col-sm-12 col-md-3 m-b-15">
											<label for="pessoaNome">{{
												"PATIENTS.FORM.pessoaEstadoCivil" | translate
											}}</label
											><br />

											<ngx-select
												id="pessoaEstadoCivil"
												name="pessoaEstadoCivil"
												[items]="marital"
												formControlName="pessoaEstadoCivil"
												(open)="service.doOpenSelect()"
												size="medium"
												[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
												optionTextField="label"
												optionValueField="value"
												[noResultsFound]="service.translate.instant('COMMON.NORESULT')"
											>
											</ngx-select>
										</div>

										<div class="col-12 col-sm-12 col-md-3 m-b-15">
											<label for="pessoaNome">{{
												"PATIENTS.FORM.pessoaDataNascimento" | translate
											}}</label
											><br />
											<div class="col-sm-12 input-group m-0 p-0">
												<input
													id="pessoaDataNascimento"
													name="pessoaDataNascimento"
													class="form-control inputDate"
													placeholder="dd/mm/YYYY"
													formControlName="pessoaDataNascimento"
													[minDate]="minDate"
													ngbDatepicker
													#pessoaDataNascimento="ngbDatepicker"
													(focus)="pessoaDataNascimento.toggle()"
												/>

												<div
													class="input-group-append bg-default"
													(click)="pessoaDataNascimento.toggle()"
												>
													<span class="icofont icofont-ui-calendar input-group-text"></span>
												</div>
											</div>
										</div>

										<div class="col-12 col-sm-12 col-md-3 m-b-15">
											<label for="pessoaCpfCnpj">{{
												"PATIENTS.FORM.pessoaCpfCnpj" | translate
											}}</label>
											<input
												type="text"
												formControlName="pessoaCpfCnpj"
												id="pessoaCpfCnpj"
												class="form-control"
												mask="000.000.000-00"
											/>
										</div>

										<div class="col-12 col-sm-12 col-md-3 m-b-15">
											<label for="pessoaRgIe">{{ "PATIENTS.FORM.pessoaRgIe" | translate }}</label>
											<input
												type="text"
												formControlName="pessoaRgIe"
												id="pessoaRgIe"
												class="form-control"
											/>
										</div>

										<div class="col-12 col-sm-12 col-md-3 m-b-15">
											<label for="pessoaEmissorRgIe">{{
												"PATIENTS.FORM.pessoaEmissorRgIe" | translate
											}}</label>
											<input
												type="text"
												formControlName="pessoaEmissorRgIe"
												id="pessoaEmissorRgIe"
												class="form-control"
											/>
										</div>

										<div class="col-12 col-sm-12 col-md-3 m-b-15">
											<label for="pessoaCelular">{{
												"PATIENTS.FORM.pessoaCelular" | translate
											}}</label>
											<input
												type="text"
												formControlName="pessoaCelular"
												id="pessoaCelular"
												class="form-control"
												mask="(00) 0 0000-0000"
											/>
										</div>

										<div class="col-sm-12 col-md-3">
											<label for="pessoaCelular2">{{
												"PATIENTS.FORM.pessoaCelular2" | translate
											}}</label>

											<input
												type="text"
												formControlName="pessoaCelular2"
												id="pessoaCelular2"
												class="form-control"
												mask="(00) 0 0000-0000"
											/>
										</div>

										<div class="col-12 col-sm-12 col-md-3 m-b-15">
											<label for="pessoaTelefone">{{
												"PATIENTS.FORM.pessoaTelefone" | translate
											}}</label>
											<input
												type="text"
												formControlName="pessoaTelefone"
												id="pessoaTelefone"
												class="form-control"
												mask="(00) 0000-0000"
											/>
										</div>

										<div class="col-12 col-sm-12 col-md-3 m-b-15">
											<label for="pessoaEmail">{{ "PATIENTS.FORM.pessoaEmail" | translate }}</label>
											<input
												type="text"
												formControlName="pessoaEmail"
												id="pessoaEmail"
												class="form-control"
											/>
										</div>

										<div class="col-sm-12 col-md-3">
											<label for="profissionalId">{{
												"PATIENTS.FORM.profissionalId" | translate
											}}</label>

											<ngx-select
												id="profissionalId"
												name="profissionalId"
												[items]="profissionais"
												formControlName="profissionalId"
												(open)="service.doOpenSelect()"
												size="medium"
												[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
												optionTextField="nome"
												optionValueField="id"
												[noResultsFound]="service.translate.instant('COMMON.NORESULT')"
											>
											</ngx-select>
										</div>

										<div class="col-sm-12 col-md-3">
											<label for="pessoaProfissaoId">{{
												"PATIENTS.FORM.pessoaProfissaoId" | translate
											}}</label>

											<ng-select
												class="custom-ng-select-form-patients"
												id="pessoaProfissaoId"
												formControlName="pessoaProfissaoId"
												(search)="searchProfession.next($event.term)"
												(keyup.enter)="prepareToSaveNewProfession($event.currentTarget.innerText)"
												[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
												bindValue="id"
												bindLabel="nome"
												[items]="professions"
												[clearable]="false"
												[markFirst]="true"
												[addTag]="true"
											>
												<div style="display: flex" *ng-option-tmp="let i = item">
													<div style="flex: 1" (click)="setFormProfessionValue(i.id)">
														{{ i.nome }}
													</div>
													<i
														class="ci icon-delete delete-dropdown-item"
														(click)="deleteProfession(i.id)"
													></i>
												</div>

												<span
													*ng-tag-tmp="let search = searchTerm"
													(click)="prepareToSaveNewProfession(search)"
												>
													<strong>{{ "COMMON.ADD" | translate }}:</strong>
													{{ search }}
												</span>
											</ng-select>

											<div
												style="display: flex; justify-content: flex-start; padding: 2px 2px 0"
												[hidden]="!getFormProfessionValue()"
											>
												<div (click)="editCurrentProfession()">
													<a class="text-primary" href="javascript: void 0">opções</a>
												</div>
											</div>
										</div>

										<div class="col-sm-12 col-md-3">
											<label for="emIndicacao">{{ "PATIENTS.FORM.emIndicacao" | translate }}</label>

											<ngx-select
												id="emIndicacao"
												[items]="indications"
												formControlName="emIndicacao"
												(open)="service.doOpenSelect()"
												[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
												optionTextField="label"
												optionValueField="value"
												[noResultsFound]="service.translate.instant('COMMON.NORESULT')"
											>
											</ngx-select>
										</div>

										<div class="col-sm-12 col-md-3">
											<label for="descricaoIndicacao">{{
												"PATIENTS.FORM.descricaoIndicacao" | translate
											}}</label>

											<input
												type="text"
												formControlName="descricaoIndicacao"
												id="descricaoIndicacao"
												class="form-control"
											/>
										</div>

										<div class="col-sm-12 col-md-3 m-t-15">
											<label for="situacaoId">{{ "PATIENTS.FORM.situacaoId" | translate }}</label>

											<ng-select
												class="custom-ng-select-form-patients"
												id="situacaoId"
												formControlName="situacaoId"
												(search)="searchSituation.next($event.term)"
												(keyup.enter)="prepareToSaveNewSituation($event.currentTarget.innerText)"
												[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
												bindValue="id"
												bindLabel="descricao"
												[items]="situations"
												[clearable]="false"
												[markFirst]="true"
												[addTag]="true"
											>
												<div style="display: flex" *ng-option-tmp="let i = item">
													<div style="flex: 1" (click)="setFormValue(SITUATION_KEY, i.id)">
														{{ i.descricao }}
													</div>
													<i
														class="ci icon-delete delete-dropdown-item"
														(click)="deleteSituation(i.id)"
													></i>
												</div>

												<span
													*ng-tag-tmp="let search = searchTerm"
													(click)="prepareToSaveNewSituation(search)"
												>
													<strong>{{ "COMMON.ADD" | translate }}:</strong>
													{{ search }}
												</span>
											</ng-select>

											<div
												style="display: flex; justify-content: flex-start; padding: 2px 2px 0"
												[hidden]="!getFormValue(SITUATION_KEY)"
											>
												<div (click)="editCurrentSituation()">
													<a class="text-primary" href="javascript: void 0">opções</a>
												</div>
											</div>
										</div>

										<div class="col-sm-12 col-md-3 m-t-15">
											<label for="empresaId">{{ "PATIENTS.FORM.empresaId" | translate }}</label>

											<ng-select
												class="custom-ng-select-form-patients"
												id="empresaId"
												formControlName="empresaId"
												(search)="searchOrganization.next($event.term)"
												(keyup.enter)="prepareToSaveNewOrganization($event.currentTarget.innerText)"
												[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
												bindValue="id"
												bindLabel="nome"
												[items]="organizations"
												[clearable]="false"
												[markFirst]="true"
												[addTag]="true"
											>
												<div style="display: flex" *ng-option-tmp="let i = item">
													<div style="flex: 1" (click)="setFormValue(ORGANIZATION_KEY, i.id)">
														{{ i.nome }}
													</div>
													<i
														class="ci icon-delete delete-dropdown-item"
														(click)="deleteOrganization(i.id)"
													></i>
												</div>

												<span
													*ng-tag-tmp="let search = searchTerm"
													(click)="prepareToSaveNewOrganization(search)"
												>
													<strong>{{ "COMMON.ADD" | translate }}:</strong>
													{{ search }}
												</span>
											</ng-select>

											<div
												style="display: flex; justify-content: flex-start; padding: 2px 2px 0"
												[hidden]="!getFormValue(ORGANIZATION_KEY)"
											>
												<div (click)="editCurrentOrganization()">
													<a class="text-primary" href="javascript: void 0">opções</a>
												</div>
											</div>
										</div>

										<div class="col-sm-12 col-md-6 m-t-15">
											<label for="especialidadesPaciente">{{
												"PATIENTS.FORM.especialidadesPaciente" | translate
											}}</label>

											<ng-select
												class="custom-ng-select-form-patients"
												id="especialidadesPaciente"
												[ngModelOptions]="{ standalone: true }"
												[(ngModel)]="especialidadesPaciente"
												(search)="searchExpertise.next($event.term)"
												(keyup.enter)="prepareToSaveNewExpertise($event.currentTarget.innerText)"
												[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
												bindLabel="nome"
												[items]="expertises"
												[clearable]="false"
												[markFirst]="true"
												[addTag]="true"
												[multiple]="true"
											>
												<div style="display: flex" *ng-option-tmp="let i = item">
													<div style="flex: 1">
														{{ i.nome }}
													</div>
													<i
														class="ci icon-delete delete-dropdown-item"
														(click)="deleteExpertise(i)"
													></i>
												</div>

												<span
													*ng-tag-tmp="let search = searchTerm"
													(click)="prepareToSaveNewExpertise(search)"
												>
													<strong>{{ "COMMON.ADD" | translate }}:</strong>
													{{ search }}
												</span>
											</ng-select>
										</div>

										<div class="col-12 m-t-15">
											<label for="descricaoIndicacao">{{
												"PATIENTS.FORM.pessoaObservacao" | translate
											}}</label>

											<textarea
												type="text"
												formControlName="pessoaObservacao"
												id="pessoaObservacao"
												class="form-control"
											></textarea>
										</div>
									</div>
								</div>

								<div class="card noHover footer-tabs">
									<ngb-tabset>
										<div class="card-body row">
											<ngb-tab>
												<ng-template ngbTabTitle
													><i class="ci icon-location2 iconTab"></i
													>{{ "PATIENTS.FORM.ADDRESS" | translate }}
												</ng-template>
												<ng-template ngbTabContent>
													<div [@fadeInOutTranslate] class="m-t-15 row p-15">
														<div class="col-12 col-sm-12 col-md-3 m-b-15">
															<label for="pessoaCep">{{
																"PATIENTS.FORM.pessoaCep" | translate
															}}</label>
															<input
																type="text"
																formControlName="pessoaCep"
																id="pessoaCep"
																class="form-control"
																mask="00.000-000"
																(ngModelChange)="getCep()"
															/>
														</div>

														<div class="col-12 col-sm-12 col-md-6 m-b-15">
															<label for="pessoaEndereco">{{
																"PATIENTS.FORM.pessoaEndereco" | translate
															}}</label>
															<input
																type="text"
																formControlName="pessoaEndereco"
																id="pessoaEndereco"
																class="form-control"
															/>
														</div>

														<div class="col-12 col-sm-12 col-md-3 m-b-15">
															<label for="pessoaNumeroEndereco">{{
																"PATIENTS.FORM.pessoaNumeroEndereco" | translate
															}}</label>
															<input
																type="text"
																formControlName="pessoaNumeroEndereco"
																id="pessoaNumeroEndereco"
																class="form-control"
															/>
														</div>

														<div class="col-12 col-sm-12 col-md-3 m-b-15">
															<label for="pessoaBairro">{{
																"PATIENTS.FORM.pessoaBairro" | translate
															}}</label>
															<input
																type="text"
																formControlName="pessoaBairro"
																id="pessoaBairro"
																class="form-control"
															/>
														</div>

														<div class="col-12 col-sm-12 col-md-3 m-b-15">
															<label for="pessoaCidade">{{
																"PATIENTS.FORM.pessoaCidade" | translate
															}}</label>
															<input
																type="text"
																formControlName="pessoaCidade"
																id="pessoaCidade"
																class="form-control"
															/>
														</div>

														<div class="col-12 col-sm-12 col-md-2 m-b-15">
															<label for="pessoaUfCidade">{{
																"PATIENTS.FORM.pessoaUfCidade" | translate
															}}</label
															><br />

															<ngx-select
																id="pessoaUfCidade"
																name="pessoaUfCidade"
																[items]="ufList"
																formControlName="pessoaUfCidade"
																(open)="service.doOpenSelect()"
																size="medium"
																[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
																optionTextField="field"
																optionValueField="value"
																[noResultsFound]="service.translate.instant('COMMON.NORESULT')"
															>
															</ngx-select>
														</div>

														<div class="col-12 col-sm-12 col-md-4 m-b-15">
															<label for="pessoaComplemento">{{
																"PATIENTS.FORM.complemento" | translate
															}}</label>
															<input
																type="text"
																formControlName="pessoaComplemento"
																id="pessoaComplemento"
																class="form-control"
															/>
														</div>
													</div>
												</ng-template>
											</ngb-tab>

											<ngb-tab>
												<ng-template ngbTabTitle
													><i class="ci icon-aid-kit iconTab"></i
													>{{ "PATIENTS.FORM.AGREEMENT" | translate }}
												</ng-template>
												<ng-template ngbTabContent>
													<div [@fadeInOutTranslate] class="m-t-15 row p-15">
														<div class="col-12 col-sm-12 col-md-3 m-b-15">
															<label for="convenioId">{{
																"PATIENTS.FORM.convenioNome" | translate
															}}</label
															><br />

															<ngx-select
																id="convenioId"
																name="convenioId"
																[items]="convenios"
																formControlName="convenioId"
																(open)="service.doOpenSelect()"
																size="medium"
																[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
																optionTextField="nome"
																optionValueField="id"
																[noResultsFound]="service.translate.instant('COMMON.NORESULT')"
															>
															</ngx-select>
														</div>

														<div class="col-12 col-sm-12 col-md-3 m-b-15 groupGender">
															<label for="pessoaNome">{{
																"PATIENTS.FORM.isTitularConvenio" | translate
															}}</label
															><br />

															<div
																class="btn-group btn-group-toggle w100"
																ngbRadioGroup
																name="isTitularConvenio"
																formControlName="isTitularConvenio"
															>
																<label ngbButtonLabel class="btn-primary group2Pieces btnRadio">
																	<input ngbButton type="radio" [value]="true" />
																	<i
																		*ngIf="formPatient.get('isTitularConvenio').value === true"
																		class="icofont icofont-check"
																	></i>
																	{{ "COMMON.YESNO.YES" | translate }}
																</label>
																<label ngbButtonLabel class="btn-primary group2Pieces btnRadio">
																	<input ngbButton type="radio" [value]="false" />
																	<i
																		*ngIf="formPatient.get('isTitularConvenio').value === false"
																		class="icofont icofont-check"
																	></i>
																	{{ "COMMON.YESNO.NO" | translate }}
																</label>
															</div>
														</div>

														<div class="col-12 col-sm-12 col-md-3 m-b-15">
															<label for="numeroCarteirinha">{{
																"PATIENTS.FORM.numeroCarteirinha" | translate
															}}</label>
															<input
																type="text"
																formControlName="numeroCarteirinha"
																id="numeroCarteirinha"
																class="form-control"
															/>
														</div>

														<div class="col-12 col-sm-12 col-md-3 m-b-15">
															<label for="vencimentoCarterinha">{{
																"PATIENTS.FORM.vencimentoCarterinha" | translate
															}}</label
															><br />
															<div class="col-sm-12 input-group m-0 p-0">
																<input
																	id="vencimentoCarterinha"
																	name="vencimentoCarterinha"
																	class="form-control inputDate"
																	placeholder="dd/mm/YYYY"
																	formControlName="vencimentoCarterinha"
																	[minDate]="minDate"
																	ngbDatepicker
																	#vencimentoCarterinha="ngbDatepicker"
																	(focus)="vencimentoCarterinha.toggle()"
																/>

																<div
																	class="input-group-append bg-default"
																	(click)="vencimentoCarterinha.toggle()"
																>
																	<span class="icofont icofont-ui-calendar input-group-text"></span>
																</div>
															</div>
														</div>
													</div>
												</ng-template>
											</ngb-tab>

											<ngb-tab>
												<ng-template ngbTabTitle
													><i class="ci icon-user-tie iconTab"></i
													>{{ "PATIENTS.FORM.RESPONSIBLE" | translate }}
												</ng-template>
												<ng-template ngbTabContent>
													<div [@fadeInOutTranslate] class="m-t-15 row p-15">
														<div class="col-12 col-sm-12 col-md-6 m-b-15">
															<label for="pessoaNomeResponsavel">{{
																"PATIENTS.FORM.pessoaNomeResponsavel" | translate
															}}</label>
															<input
																type="text"
																formControlName="pessoaNomeResponsavel"
																id="pessoaNomeResponsavel"
																class="form-control"
															/>
														</div>

														<div class="col-12 col-sm-12 col-md-3 m-b-15">
															<label for="pessoaDataNascimentoResponsavel">{{
																"PATIENTS.FORM.pessoaDataNascimentoResponsavel" | translate
															}}</label
															><br />
															<div class="col-sm-12 input-group m-0 p-0">
																<input
																	id="pessoaDataNascimentoResponsavel"
																	name="pessoaDataNascimentoResponsavel"
																	class="form-control inputDate"
																	placeholder="dd/mm/YYYY"
																	formControlName="pessoaDataNascimentoResponsavel"
																	[minDate]="minDate"
																	ngbDatepicker
																	#pessoaDataNascimentoResponsavel="ngbDatepicker"
																	(focus)="pessoaDataNascimentoResponsavel.toggle()"
																/>

																<div
																	class="input-group-append bg-default"
																	(click)="vencimentoCarterinha.toggle()"
																>
																	<span class="icofont icofont-ui-calendar input-group-text"></span>
																</div>
															</div>
														</div>

														<div class="col-12 col-sm-12 col-md-3 m-b-15">
															<label for="pessoaCelularResponsavel">{{
																"PATIENTS.FORM.pessoaCelularResponsavel" | translate
															}}</label>
															<input
																type="text"
																formControlName="pessoaCelularResponsavel"
																id="pessoaCelularResponsavel"
																class="form-control"
																mask="(00) 0 0000-0000"
															/>
														</div>

														<div class="col-12 col-sm-12 col-md-3 m-b-15">
															<label for="pessoaCpfResponsavel">{{
																"PATIENTS.FORM.pessoaCpfResponsavel" | translate
															}}</label>
															<input
																type="text"
																formControlName="pessoaCpfResponsavel"
																id="pessoaCpfResponsavel"
																class="form-control"
																mask="000.000.000-00"
															/>
														</div>

														<div class="col-12 col-sm-12 col-md-3 m-b-15">
															<label for="pessoaRgResponsavel">{{
																"PATIENTS.FORM.pessoaRgResponsavel" | translate
															}}</label>
															<input
																type="text"
																formControlName="pessoaRgResponsavel"
																id="pessoaRgResponsavel"
																class="form-control"
															/>
														</div>
													</div>
												</ng-template>
											</ngb-tab>
											<ngb-tab *ngIf="canEditCodigoProntuario">
												<ng-template ngbTabTitle
													><i class="icofont icofont-contact-add iconTab"></i
													>{{ "PATIENTS.FORM.ADDITIONAL_DATA" | translate }}
												</ng-template>
												<ng-template ngbTabContent>
													<div [@fadeInOutTranslate] class="m-t-15 row p-15">
														<div
															class="col-12 col-sm-12 col-md-3 m-b-15"
															[ngClass]="service.aplicaCssErro('codigoProntuario', formPatient)"
														>
															<label for="codigoProntuario">{{
																"PATIENTS.FORM.MEDICAL_RECORDS" | translate
															}}</label>
															<input
																type="text"
																formControlName="codigoProntuario"
																id="codigoProntuario"
																class="form-control"
															/>
															<div
																class="text-feedback"
																*ngIf="
																	service.verificaValidTouched('codigoProntuario', formPatient)
																"
															>
																<span>{{ "COMMON.REQUIRED" | translate }}</span>
															</div>
														</div>
													</div>
												</ng-template>
											</ngb-tab>
										</div>
									</ngb-tabset>
								</div>

								<div class="row footer-actions">
									<div class="col-md-6"></div>
									<div class="col-md-6 flexEnd">
										<button
											type="button"
											class="btn btn-primary close-button btn-sm waves-effect text-center"
											(click)="service.back()"
										>
											{{ "COMMON.BACK" | translate }}
										</button>
										<button
											type="button"
											[disabled]="!userCanSave"
											class="btn btn-success btn-sm waves-effect text-center"
											(click)="savePatient()"
										>
											{{ "COMMON.SAVE" | translate }}
										</button>
									</div>
								</div>
							</form>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab id="documents">
					<ng-template ngbTabTitle>
						{{ "PATIENTS.FORM.DOCUMENTS" | translate }}
					</ng-template>
					<ng-template ngbTabContent>
						<div [@fadeInOutTranslate] class="m-t-15">
							<div class="p-0">
								<app-list-documents [patientId]="patient.id"></app-list-documents>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab id="anamnese">
					<ng-template ngbTabTitle>
						{{ "PATIENTS.FORM.ANAMNESE" | translate }}
					</ng-template>
					<ng-template ngbTabContent>
						<div [@fadeInOutTranslate] class="m-t-15">
							<div class="p-0">
								<app-anamnese
									[patient]="patient"
									[profession]="getPatientProfession()"
									[marital]="getPatientMarital()"
								></app-anamnese>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab id="treatment">
					<ng-template ngbTabTitle>
						{{ "PATIENTS.FORM.TREATMENT" | translate }}
					</ng-template>
					<ng-template ngbTabContent>
						<div [@fadeInOutTranslate] class="m-t-15">
							<div *ngIf="treatmentStep === 'table'" class="p-0">
								<div class="row m-b-20">
									<div class="col col-md-9"></div>
									<div class="col col-12 col-sm-12 col-md-3 flexEnd">
										<button
											type="button"
											class="btn btn-primary btn-sm text-center"
											(click)="formTreatment(null)"
										>
											{{ "PATIENTS.FORM.NEW_TREATMENT" | translate }}
										</button>
									</div>
								</div>

								<ngx-datatable
									#tableTreatment
									id="tableTreatment"
									class="overflow-data-table-first data-table table-responsive"
									[rows]="rowsPageTreatment"
									[loadingIndicator]="true"
									[columnMode]="'force'"
									[headerHeight]="40"
									[footerHeight]="40"
									[rowHeight]="40"
									[reorderable]="true"
									[externalPaging]="true"
									[count]="pagesTreatment.totalElements"
									[offset]="pagesTreatment.pageNumber"
									[limit]="pagesTreatment.size"
									[scrollbarH]="true"
									[messages]="service.translate.instant('COMMON.footerMessage')"
									(page)="setPageTreatment($event)"
								>
									<ngx-datatable-column
										*ngFor="let column of columnsTreatment; let indexColumn = index"
										[name]="column.name"
										[prop]="column.prop"
										[width]="column.width"
										[sortable]="column.sortable"
									>
										<ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
											<span
												class="pointerSpan"
												*ngIf="
													!column.action &&
													!column.currency &&
													['descricao', 'posicaoTratamento'].includes(column.prop)
												"
												(click)="formTreatment(row)"
											>
												{{ row[column.prop] }}
											</span>

											<span
												*ngIf="
													!column.action &&
													!column.currency &&
													!['descricao', 'posicaoTratamento'].includes(column.prop) &&
													column.prop !== 'statusTratamento'
												"
											>
												{{ row[column.prop] }}
											</span>

											<span
												*ngIf="!column.action && column.prop === 'statusTratamento'"
												[style.color]="getColorStatus(row[column.prop])"
											>
												<b>{{ getStatus(row[column.prop]) }}</b>
											</span>

											<span *ngIf="!column.action && column.currency">
												{{ "COMMON.CURRENCY_SYMBOL" | translate }}
												{{ row[column.prop] | decimalWithLocale: 2:locale }}
											</span>

											<div
												*ngIf="column.action"
												ngbDropdown
												class="dropdown-secondary dropdown"
												style="display: inline-block"
												placement="right-top right-bottom"
											>
												<button
													ngbDropdownToggle
													class="btn btn-option btn-primary dropdown-toggle waves-light"
													style="text-transform: capitalize !important; font-weight: 300 !important"
													type="button"
													id="dropdown"
													data-toggle="dropdown"
													aria-haspopup="true"
													aria-expanded="false"
												>
													<i class="icofont icofont-gear ajustaIcon"></i>
													Ações
												</button>

												<div
													ngbDropdownMenu
													class="dropdown-menu dropdown-menu-left"
													aria-labelledby="dropdown"
													data-dropdown-in="fadeIn"
													data-dropdown-out="fadeOut"
												>
													<!-- Omitindo gerar um novo plano de tratamento pois não estava funcional por conta do back-end
													<a
														*ngIf="
															column.action && row['statusTratamento'] !== AGUARDANDO_APROVACAO
														"
														class="dropdown-item waves-light waves-effect pointer"
														(click)="newTreatmentsNotApproved(row)"
													>
														<i class="icofont icofont-refresh ajustaIcon"></i>Novo Não Aprovados
													</a>
											
													<div
														*ngIf="
															column.action && row['statusTratamento'] !== AGUARDANDO_APROVACAO
														"
														class="dropdown-divider"
													></div>

														-->
													<a
														class="dropdown-item waves-light waves-effect pointer"
														(click)="formTreatment(row)"
														><i class="ci icon-edit sm-table-icon ajustaIcon"></i>Editar
														Orçamento</a
													>
													<div class="dropdown-divider"></div>
													<a
														class="dropdown-item waves-light waves-effect pointer"
														(click)="treatmentResume(row)"
														><i class="icofont icofont-listine-dots ajustaIcon"></i>Resumo</a
													>
													<div class="dropdown-divider"></div>
													<a
														class="dropdown-item waves-light waves-effect pointer"
														(click)="treatmentPrintOptions(row.id)"
														><i class="icofont icofont-printer ajustaIcon"></i>Imprimir
														Tratamento</a
													>
													<div
														class="dropdown-divider"
														*ngIf="
															column.action && row['statusTratamento'] === AGUARDANDO_APROVACAO
														"
													></div>
													<a
														*ngIf="
															column.action && row['statusTratamento'] === AGUARDANDO_APROVACAO
														"
														class="dropdown-item waves-light waves-effect pointer"
														(click)="deleteTreatment(row.id)"
														><i class="ci icon-delete ajustaIcon"></i>Excluir</a
													>
													<div
														*ngIf="
															column.action && row['statusTratamento'] !== AGUARDANDO_APROVACAO
														"
														class="dropdown-divider"
													></div>
													<a
														*ngIf="
															column.action && row['statusTratamento'] !== AGUARDANDO_APROVACAO
														"
														class="dropdown-item waves-light waves-effect pointer"
														(click)="printContract(row)"
														><i class="icofont icofont-printer ajustaIcon"></i>Imprimir Contrato</a
													>
												</div>
											</div>
										</ng-template>
									</ngx-datatable-column>
								</ngx-datatable>
							</div>

							<div class="p-0" *ngIf="treatmentStep === 'form'">
								<app-form-treatment
									[convenios]="convenios"
									[profissionais]="profissionais"
									[editMode]="isEdit"
									[treatment]="selectedTreatment"
									(close)="closeTreatment($event)"
								></app-form-treatment>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab id="annotations">
					<ng-template ngbTabTitle>
						{{ "PATIENTS.FORM.ANNOTATIONS" | translate }}
					</ng-template>
					<ng-template ngbTabContent>
						<div [@fadeInOutTranslate] class="m-t-15">
							<div class="p-0">
								<app-annotations [patient]="patient"></app-annotations>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab id="emit-documents">
					<ng-template ngbTabTitle>
						{{ "PATIENTS.FORM.EMIT_DOCUMENTS" | translate }}
					</ng-template>
					<ng-template ngbTabContent>
						<div [@fadeInOutTranslate] class="m-t-15">
							<div class="p-0">
								<app-emit-documents [patient]="patient"></app-emit-documents>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab id="records">
					<ng-template ngbTabTitle>
						{{ "PATIENTS.FORM.RECORDS" | translate }}
					</ng-template>
					<ng-template ngbTabContent>
						<div class="p-0">
							<app-form-records [patient]="patient"></app-form-records>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab id="financial">
					<ng-template ngbTabTitle>
						{{ "PATIENTS.FORM.BILLING" | translate }}
					</ng-template>
					<ng-template ngbTabContent>
						<div class="p-0">
							<app-form-conta-corrente [patientModel]="patient"></app-form-conta-corrente>
						</div>
					</ng-template>
				</ngb-tab>
			</ngb-tabset>
		</div>
	</div>
</div>

<div class="col-sm-12" *ngIf="showCam">
	<app-modal-animation
		[backDrop]="true"
		[modalID]="'webCamModal'"
		[modalClass]="'md-effect-1  modal-lg'"
	>
		<div class="row p-l-20 m-r-10">
			<div class="col-10 col-sm-10 p-0 p-l-30"></div>
			<div class="col-2 col-sm-2 flexEnd p-0 p-r-30">
				<i class="icofont icofont-close iconModalClose" (click)="closeWebCamModal()"></i>
			</div>
		</div>

		<div class="flexCenter">
			<webcam
				[height]="500"
				[width]="500"
				[trigger]="triggerObservable"
				(imageCapture)="handleImage($event)"
				[allowCameraSwitch]="allowCameraSwitch"
				[switchCamera]="nextWebcamObservable"
				[videoOptions]="videoOptions"
				[imageQuality]="1"
				(cameraSwitched)="cameraWasSwitched($event)"
				(initError)="handleInitError($event)"
			></webcam>
		</div>

		<div class="flexCenter containerBtnCam">
			<button (click)="applyImage('cam')" class="btn btn-primary btnConfig btn-block">
				<i class="ci icon-crop"></i>{{ "PATIENTS.FORM.CUT_IMAGE" | translate }}
			</button>
		</div>
	</app-modal-animation>
</div>

<div class="col-sm-12" *ngIf="showCropper">
	<app-modal-animation
		[backDrop]="true"
		[modalID]="'choiseImage'"
		[modalClass]="'md-effect-1  modal-lg'"
	>
		<app-card [cardOptionBlock]="true">
			<div class="row p-l-20 m-r-10">
				<div class="col-10 col-sm-10 p-0 p-l-30"></div>
				<div class="col-2 col-sm-2 flexEnd p-0 p-r-30">
					<i
						class="icofont icofont-close iconModalClose"
						(click)="service.closeModal('choiseImage', null); showCropper = false"
					></i>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="profile-image">
						<a
							class="profile-image"
							style="display: flex; align-items: center; flex-direction: column"
						>
							<image-cropper
								*ngIf="!cropperCam"
								[imageChangedEvent]="imageChangedEvent"
								[maintainAspectRatio]="true"
								[aspectRatio]="4 / 4"
								[resizeToWidth]="512"
								format="png"
								roundCropper="true"
								(imageCropped)="imageCropped($event)"
								(imageLoaded)="imageLoaded()"
								(loadImageFailed)="loadImageFailed($event)"
							>
							</image-cropper>

							<image-cropper
								*ngIf="cropperCam"
								[maintainAspectRatio]="true"
								[aspectRatio]="4 / 4"
								[resizeToWidth]="512"
								format="png"
								roundCropper="true"
								(imageCropped)="imageCropped($event)"
								[imageBase64]="webcamImage.imageAsDataUrl"
								(imageLoaded)="imageLoaded()"
								(loadImageFailed)="loadImageFailed($event)"
							>
							</image-cropper>
						</a>
					</div>
					<button
						(click)="applyImage(); showCropper = false"
						class="btn btn-primary btnConfig btn-block"
					>
						<i class="ci icon-crop"></i>{{ "PATIENTS.FORM.CUT_IMAGE" | translate }}
					</button>
				</div>
			</div>
		</app-card>
	</app-modal-animation>
</div>

<div class="col-sm-12" *ngIf="showTreatmentResumeModal">
	<app-modal-animation
		[backDrop]="true"
		[modalID]="'treatmentResumeModal'"
		[modalClass]="'md-effect-1 modal-lg md-show modal-max-width'"
	>
		<div class="clickoutside" (clickOutside)="closeTreatmentResumeModal()">
			<div class="row p-l-20 m-r-10">
				<div class="col-10 col-sm-10 p-0 p-l-30"></div>
				<div class="col-2 col-sm-2 flexEnd p-0 p-r-30">
					<i class="icofont icofont-close iconModalClose" (click)="closeTreatmentResumeModal()"></i>
				</div>
			</div>
			<div class="flexCenter" style="padding: 0; font-size: 25px; font-weight: 600">
				Procedimentos do Plano de Tratamento
			</div>
			<div class="flexCenter" style="font-size: 15px; padding-top: 0">
				Abaixo a lista de procedimentos aprovados
			</div>
			<div
				class="flexCenter"
				style="max-height: 500px; overflow-y: auto; align-items: flex-start !important"
			>
				<ngx-datatable
					id="tableProcedures"
					class="data-table table-responsive table-modal-scroll"
					[rows]="modalTreatmentsTable"
					[loadingIndicator]="true"
					[columnMode]="'force'"
					[headerHeight]="40"
					[footerHeight]="0"
					[rowHeight]="40"
					[reorderable]="true"
					[scrollbarH]="true"
				>
					<ng-container
						*ngFor="let column of columnsTables.tableProceduresModal; let indexColumn = index"
					>
						<ngx-datatable-column
							[name]="column.name"
							[prop]="column.prop"
							[width]="column.width"
							[sortable]="false"
							[resizeable]="false"
						>
							<ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
								<span *ngIf="!column.currency && !column.fixed">
									{{ row[column.prop] }}
								</span>
								<span *ngIf="column.currency">
									{{ "COMMON.CURRENCY_SYMBOL" | translate }}
									{{ row[column.prop] | decimalWithLocale: 2:locale }}
								</span>
								<span *ngIf="column.fixed">
									<i style="color: green" class="icofont icofont-check"></i>
								</span>
							</ng-template>
						</ngx-datatable-column>
					</ng-container>
					<ngx-datatable-footer></ngx-datatable-footer>
				</ngx-datatable>
			</div>

			<div class="flexEnd">
				<button
					class="btn close-button btn-sm text-center btn-modal-margin"
					(click)="closeTreatmentResumeModal()"
				>
					Fechar
				</button>
				<button
					class="btn btn-primary btn-sm text-center btn-modal-margin"
					(click)="closeTreatmentResumeModal(); formTreatment(selectedResumeTreatment)"
				>
					Editar Orçamento
				</button>
			</div>
		</div>
	</app-modal-animation>
</div>
