<div class="row">
    <div class="form-group col-md-4">
        <ng-select [(ngModel)]="periodo"
                   [items]="periodosOptions"
                   style="height: 32px"
                   bindValue="value"
                   name="date-format"
                   id="date-format">
        </ng-select>
    </div>

    <ng-container *ngIf="periodo === FormatoPeriodo.ESPECIFICO">
        <div class="form-group col-md-4 p-r-0">
            <div class="input-group m-0">
                <input id="data-inicio"
                       style="height: 36px"
                       name="data-inicio"
                       class="form-control"
                       placeholder="dd/mm/YYYY"
                       ngbDatepicker
                       rInputMask="99/99/9999"
                       [(ngModel)]="ngStartDate"
                       (dateSelect)="selectDate()"
                       (keyup)="maybeSelectDate()"
                       (focus)="dataInicialDatepicker.toggle()"
                       #dataInicialDatepicker="ngbDatepicker">

                <div class="input-group-append bg-default"
                     (click)="dataInicialDatepicker.toggle()">

                    <div class="icofont icofont-ui-calendar input-group-text"></div>
                </div>
            </div>
        </div>

        <div class="form-group col-md-4 p-l-0">
            <div class="input-group m-0">
                <div style="display: flex; align-items: center; padding: 0 10px">até</div>
                <input id="data-fim"
                       name="data-fim"
                       style="height: 36px"
                       class="form-control"
                       placeholder="dd/mm/YYYY"
                       ngbDatepicker
                       rInputMask="99/99/9999"
                       [(ngModel)]="ngEndDate"
                       (dateSelect)="selectDate()"
                       (keyup)="maybeSelectDate()"
                       (focus)="dataFimDatepicker.toggle()"
                       #dataFimDatepicker="ngbDatepicker">

                <div class="input-group-append bg-default"
                     (click)="dataFimDatepicker.toggle()">

                    <div class="icofont icofont-ui-calendar input-group-text"></div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
