<button *ngIf="searchEnable" (click)="searchTrigger.emit()" class="btn btn-sm btn-primary">
	{{ "REPORTS.FILTERS.SEARCH" | translate }}
</button>

<div *ngIf="printEnable" ngbDropdown class="text-center">
	<button
		ngbDropdownToggle
		class="btn btn-sm btn-primary"
		data-toggle="dropdown"
		aria-expanded="true"
	>
		{{ "REPORTS.FILTERS.PRINT" | translate }}
	</button>

	<div ngbDropdownMenu data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
		<a class="dropdown-item" href="javascript:" (click)="printTrigger.emit(reportPrintType.PDF)">
			{{ "REPORTS.FILTERS.PDF" | translate }}
		</a>

		<a class="dropdown-item" href="javascript:" (click)="printTrigger.emit(reportPrintType.SHEETS)">
			{{ "REPORTS.FILTERS.SHEETS" | translate }}
		</a>
	</div>
</div>
