<div
	ngbDropdown
	#dropOptions="ngbDropdown"
	style="position: absolute"
	[ngStyle]="{ left: dropdownPos[0] + 'px', top: dropdownPos[1] + 'px' }"
>
	<div class="no-icon-dropdown" ngbDropdownAnchor></div>
	<div class="pointer" ngbDropdownMenu>
		<div ngbDropdownItem (click)="toggleNumeroGuiaColumn()">Mostrar Nº Guia</div>
	</div>
</div>

<ngx-datatable
	#tableParcels
	*ngIf="bills?.length; else noRecords"
	id="tableParcels"
	class="data-table table-responsive"
	[appAutosizedDatatable]
	[rows]="bills"
	[loadingIndicator]="true"
	[columnMode]="'force'"
	[headerHeight]="40"
	[footerHeight]="40"
	[rowHeight]="40"
	[reorderable]="true"
	[scrollbarH]="true"
	[limit]="50"
	[messages]="
		bills.length === 0
			? translateService.instant('PATIENTS.FORM_CHECKING_ACCOUNT.footerMessageProcedures.zero')
			: translateService.instant('PATIENTS.FORM_CHECKING_ACCOUNT.footerMessageProcedures.parcel')
	"
	(tableContextmenu)="handleContextMenu($event); dropOptions.open()"
>
	<ngx-datatable-row-detail [rowHeight]="'100%'">
		<ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
			<div class="tableDetails">
				<ngx-datatable
					#tableDetails
					*ngIf="row.children?.length"
					class="data-table table-responsive"
					[rows]="row.children"
					[loadingIndicator]="true"
					[columnMode]="'force'"
					[headerHeight]="40"
					[footerHeight]="0"
					[rowHeight]="40"
					[reorderable]="true"
					[scrollbarH]="true"
				>
					<ngx-datatable-column
						*ngFor="let columnDetail of detailColumns"
						[name]="columnDetail.name"
						[prop]="columnDetail.prop"
						[width]="columnDetail.width"
						[sortable]="columnDetail.sortable"
					>
						<ng-template let-rowIndex="rowIndex" let-rowDetail="row" ngx-datatable-cell-template>
							<span *ngIf="!columnDetail.action && !columnDetail.currency">
								{{ rowDetail[columnDetail.prop] }}
							</span>

							<span *ngIf="!columnDetail.action && columnDetail.currency">
								{{ "COMMON.CURRENCY_SYMBOL" | translate }}
								{{ rowDetail[columnDetail.prop] | decimalWithLocale: 2:locale }}
							</span>

							<button
								class="btn btn-option btn-danger btnReverse"
								(click)="doReversePayment(rowDetail)"
								*ngIf="columnDetail.action"
								[ngbTooltip]="'PATIENTS.FORM_CHECKING_ACCOUNT.reverse' | translate"
								placement="right"
							>
								<i class="ci icon-money-back sm-table-icon ajustaIconReverse"></i>
							</button>

							<button
								class="btn btn-option btn-success"
								(click)="emitPaymentReceipt(row, rowDetail)"
								*ngIf="columnDetail.action && rowDetail.dataRecebimento"
								[ngbTooltip]="
									(rowDetail.reciboId
										? 'PAYMENT_RECEIPT.PRINT_TOOLTIP'
										: 'PAYMENT_RECEIPT.EMIT_TOOLTIP'
									) | translate
								"
								placement="right"
							>
								<i class="icofont icofont-file-text"></i>
							</button>
						</ng-template>
					</ngx-datatable-column>
				</ngx-datatable>
			</div>
		</ng-template>
	</ngx-datatable-row-detail>

	<ngx-datatable-column
		*ngFor="let column of columns; let indexColumn = index"
		[name]="column.name"
		[prop]="column.prop"
		[width]="column.width"
		[sortable]="column.sortable"
	>
		<ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
			<span
				*ngIf="
					!column.action &&
					!column.currency &&
					column.prop !== 'statusTratamentoServicoDescricao' &&
					column.prop !== 'valorRecebido'
				"
			>
				{{ row[column.prop] }}
			</span>

			<span
				*ngIf="column.prop === 'status'"
				style="border-radius: 0.25rem"
				class="badge"
				[ngClass]="getStatusColor(row)"
			>
				<b>{{ getStatusDesc(row) }}</b>
			</span>

			<div class="w100 d-flex" *ngIf="column.prop === 'valorRecebido'">
				<div>
					<span>
						{{ "COMMON.CURRENCY_SYMBOL" | translate }}
						{{ row[column.prop] | decimalWithLocale: 2:locale }}
					</span>
				</div>

				<div style="flex: 1"></div>

				<div
					class="pointer"
					style="padding-right: 20px"
					*ngIf="row.valorRecebido"
					(click)="toggleExpandRow(row)"
				>
					<i class="ci icon-info iconReverse"></i>
				</div>
			</div>

			<span
				*ngIf="!column.action && column.currency && !row.editing && column.prop !== 'valorRecebido'"
			>
				{{ "COMMON.CURRENCY_SYMBOL" | translate }}
				{{ row[column.prop] | decimalWithLocale: 2:locale }}
			</span>

			<button
				[disabled]="row.valor === row.valorRecebido"
				class="btn btn-option btn-primary"
				*ngIf="column.action"
				(click)="parcelEdit.next(row)"
				[ngbTooltip]="'COMMON.EDIT_REGISTER' | translate"
				placement="right"
			>
				<i class="ci icon-edit sm-table-icon ajustaIcon"></i>
			</button>

			<button
				[disabled]="row.valor === row.valorRecebido"
				class="btn btn-option btn-success"
				*ngIf="column.action"
				(click)="parcelPayment.next(row)"
				[ngbTooltip]="'PATIENTS.FORM_CHECKING_ACCOUNT.RECEIVE' | translate"
				placement="right"
			>
				<i class="ci icon-save-money sm-table-icon ajustaIcon"></i>
			</button>

			<button
				[disabled]="
					row.valor === row.valorRecebido || row.emTipoParcelaReceber === parcelTypeCannotDelete
				"
				class="btn btn-option btn-danger"
				*ngIf="column.action && !row.tratamentoId"
				[ngbTooltip]="'COMMON.DELETE_REGISTER' | translate"
				(click)="deleteBill(row)"
				placement="right"
			>
				<i class="ci icon-delete sm-table-icon ajustaIcon"></i>
			</button>
		</ng-template>
	</ngx-datatable-column>
</ngx-datatable>

<ng-template #noRecords>
	<p class="no-records-card">
		<em>Nenhuma conta encontrada para os filtros atuais</em>
	</p>
</ng-template>
