@import "./../../../scss/partials/variables";

.containerFlip {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: transform 1s;
	-ms-transform: transform 1s;
	transform: transform 1s;
}

.rotateCard {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.calendar {
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
	margin-bottom: -35px;
}

.formulario {
	-webkit-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	position: absolute;
	top: 0;
}

.iconBtn {
	color: $primary-color;
	font-size: 1.6rem;
	margin: 0 10px;
}

.selected {
	background-color: $primary-color;
	border-color: $primary-color;
	color: white;
}

.unselected {
	background-color: $disabled-color;
	border-color: $disabled-color;

	&:hover {
		background-color: $primary-color;
		border-color: $primary-color;
		color: white;
	}
}

.inputScheduled {
	visibility: hidden;
	width: 1px;
}

.btnOptions {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.agendaHeader {
	padding: 0px 10px 0px 15px !important;

	span {
		font-weight: bold;
		font-size: 1.2rem !important;
	}
}

.scheduling-tooltip {
	border: 1px solid #b6b6b6;
	border-radius: 7px;
	font-size: 13px;
	text-align: justify;
	color: #5f5c57;
	background-color: white;

	.row {
		margin-right: 0;
		margin-left: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	img {
		border-radius: 50%;
		width: 80px;
		height: 80px;
	}

	.profile-row {
		ul {
			li:first-child a {
				font-size: 15px;
				color: #1c84c6;

				&:hover {
					text-decoration: underline;
				}
			}

			li:last-child {
				white-space: nowrap;
			}
		}

		.icofont-brand-whatsapp {
			padding-left: 10px;
			color: green;
			cursor: pointer;
			font-size: 20px;
		}

		span {
			color: grey;
		}
	}

	.scheduling-row {
		ul,
		li {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}

	.actions-row {
		i {
			font-size: 20px;
			cursor: pointer;
		}

		.btn-success {
			color: white !important;
			width: 100%;
			padding: 5px 10px;
			border-radius: 5px;

			i {
				color: white;
				padding-left: 10px;
				font-size: 15px;
			}
		}
	}
}

.ng-select.custom-ngx-select {
	font-size: 14px;
	background: none;
}
.ng-select.custom-ngx-select ::ng-deep .ng-dropdown-panel {
	left: auto;
	min-width: 95px;
	right: 0;
	border: none;
	text-align-last: right;
	padding-right: 15px;
}
.ng-select.custom-ngx-select ::ng-deep .ng-select-container {
	border: none;
	box-shadow: none;
	font-weight: 1000;
	color: black;
	text-align-last: right;
}
.ng-select.custom-ngx-select ::ng-deep .ng-select-container:hover {
	cursor: pointer;
}
.ng-select.custom-ngx-select ::ng-deep .ng-arrow-wrapper .ng-arrow {
	border-color: gray transparent transparent;
}

.calendarControl {
	font-size: 25px;
	line-height: 0;
	color: gray;
	margin-left: 15px;
}
.calendarControl:hover {
	cursor: pointer;
}

.formatedLabelSchedule {
	font-size: 14px;
}
