<simple-notifications [options]="this.service.options"></simple-notifications>

<div class="card-body m-0 p-0">
	<div class="row rowSearch">
		<div class="col col-12 col-sm-12 col-md-6 col-lg-5">
			<ngx-select
				*ngIf="option === 'calendar'"
				id="professionalId"
				name="professionalId"
				[items]="professionals"
				[(ngModel)]="professionalId"
				(open)="service.doOpenSelect()"
				size="medium"
				[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
				(select)="onSelectedProfessional($event)"
				optionTextField="nome"
				optionValueField="id"
				[noResultsFound]="service.translate.instant('COMMON.NORESULT')"
			>
			</ngx-select>
		</div>

		<div class="col col-12 col-sm-12 col-md-6 col-lg-7 btnOptions">
			<button
				type="button"
				class="btn btn-sm waves-effect text-center m-l-5 m-r-5"
				[ngClass]="option === 'return_alert' ? 'selected' : 'unselected'"
				(click)="toggleVisualization('return_alert')"
			>
				{{ "AGENDA.RETURN_ALERT_BTN" | translate }}
				<span
					style="font-size: 11px"
					*ngIf="expiredReturnAlerts"
					class="m-l-10 badge text-white badge-warning"
				>
					<i class="icofont icofont-warning label-warning m-r-10"></i>
					{{ returnAlerts.length }}
				</span>
			</button>

			<button
				type="button"
				class="btn btn-sm waves-effect text-center m-l-5 m-r-5"
				[ngClass]="option === 'calendar' ? 'selected' : 'unselected'"
				(click)="toggleVisualization('calendar')"
			>
				{{ "AGENDA.CALENDAR_BTN" | translate }}
			</button>

			<button
				type="button"
				class="btn btn-sm waves-effect text-center m-l-5 m-r-5"
				[ngClass]="option === 'search' ? 'selected' : 'unselected'"
				(click)="toggleVisualization('search')"
			>
				{{ "AGENDA.SEARCH_BTN" | translate }}
			</button>

			<button
				type="button"
				class="btn unselected btn-sm waves-effect text-center m-l-5 m-r-5"
				(click)="print()"
			>
				<i [ngClass]="view === 'timeGridDay' ? 'icofont icofont-check' : ''"></i>

				{{ "AGENDA.PRINT_BTN" | translate }}
			</button>
		</div>
	</div>

	<div class="w100 m-t-20" #calendar>
		<app-return-alert
			*ngIf="option === 'return_alert'"
			(refreshLabel)="_initReturnAlerts()"
			[professionals]="professionals"
			[convenantsList]="convenantsList"
			[servicesList]="servicesList"
		></app-return-alert>
	</div>
	<div>
		<div *ngIf="option === 'calendar'" class="calendar card noHover" #calendar>
			<div
				class="row"
				style="padding: 2px; margin: 0px; border-bottom: 1px solid rgba(128, 128, 128, 0.2)"
			>
				<div class="col-12 col-sm-12 col-md-3 flexStart" style="max-width: 100%; flex: 1">
					<span
						class="pointer iconBtn icofont icofont-refresh m-l-10"
						style="
							padding-right: 22px !important;
							font-size: 20px;
							color: gray;
							border-right: 1px solid gray;
						"
						placement="bottom"
						(click)="refreshCalendar()"
					>
					</span>
					<span
						class="calendarControl"
						style="font-size: 14px; font-weight: 700; color: black"
						(click)="today()"
						>{{ "AGENDA.TODAY" | translate }}</span
					>
					<span class="calendarControl" (click)="prevDay()">&#60;</span>
					<span class="calendarControl" (click)="nextDay()">&#62;</span>
					<div class="col-12 col-sm-12 col-md-6 flexStart pointer" id="labelSchedule">
						<div class="col-sm-12 m-0 p-0 flexStart">
							<input
								id="scheduledFormated"
								name="scheduledFormated"
								class="form-control inputDate inputScheduled"
								placeholder="dd/mm/YYYY"
								firstDayOfWeek="7"
								ngbDatepicker
								#scheduledFormated="ngbDatepicker"
								(dateSelect)="onSelectDate($event)"
								(focus)="scheduledFormated.toggle()"
								[readonly]="true"
							/>

							<div (click)="scheduledFormated.toggle()" class="formatedLabelSchedule">
								<b>{{ labelScheduledFormated }}</b>
								<span
									*ngIf="!scheduledFormated.isOpen()"
									class="calendarControl"
									style="writing-mode: vertical-rl; transform: translateY(2px)"
									>&#62;</span
								>
								<span
									*ngIf="scheduledFormated.isOpen()"
									class="calendarControl"
									style="writing-mode: vertical-rl; transform: translateY(2px)"
									>&#60;</span
								>
							</div>
						</div>
					</div>
				</div>
				<div class="flexCenter" style="flex: 1"></div>

				<div class="col-12 col-sm-12 col-md-3 flexEnd">
					<ng-select
						class="custom-ngx-select"
						[items]="gridOptions"
						[(ngModel)]="gridSelected"
						[searchable]="false"
						[clearable]="false"
						(change)="changeView($event)"
					></ng-select>
				</div>
			</div>

			<div class="calendar-parent ui-g">
				<div #fullCalendar id="fullCalendar"></div>
			</div>
		</div>
		<div class="w100 m-t-20" #calendar>
			<app-search *ngIf="option === 'search'" [professionals]="professionals"> </app-search>
		</div>
	</div>
</div>

<app-modal-animation
	[backDrop]="true"
	[modalID]="'modal-agenda'"
	(closed)="showModalAgenda = false"
	[modalClass]="'md-effect-11 md-modal-lg'"
	#modalAgenda
>
	<app-agendamento
		*ngIf="showModalAgenda"
		[patient]="patient"
		[eventObj]="eventObj"
		[convenantsList]="convenantsList"
		[professionals]="professionalsModal"
		[servicesList]="servicesList"
		[modal]="modalAgenda"
		(eventsChange)="updateEvents()"
		#schedulingComponent
	>
	</app-agendamento>
</app-modal-animation>

<app-modal-animation
	*ngIf="showModalPrintAgenda"
	[backDrop]="true"
	[modalID]="'modal-print-agenda'"
	[modalClass]="'md-effect-11 md-modal-lg'"
>
	<app-print-options [professionals]="professionals" [initDate]="initDate" [endDate]="endDate">
	</app-print-options>
</app-modal-animation>

<div #schedulingTooltip id="schedulingTooltip">
	<div class="m-b-20 scheduling-tooltip" *ngIf="currentScheduling">
		<div class="row profile-row">
			<div class="col-10">
				<div class="row">
					<div class="col-4">
						<img
							[src]="
								currentScheduling.schedulingForDatabase.pacienteUrlImagemPerfil || defaultAvatarPath
							"
							alt="Imagem do Paciente"
						/>
					</div>
					<div class="col-8">
						<ul>
							<li>
								<strong>
									<a href="javascript:" (click)="goToPatientRecord(currentScheduling.patientId)">
										{{
											getLabel(
												currentScheduling.schedulingForDatabase.nomePaciente ||
													currentScheduling.schedulingForDatabase.pacientePessoaNome
											)
										}}
									</a>
								</strong>
							</li>
							<li>
								<strong> {{ "AGENDA.POPOVER.LABELS.N" | translate }}: </strong>
								{{ getLabel(currentScheduling.pacienteCodigoProntuario) }}
							</li>
							<li>
								<strong> {{ "AGENDA.POPOVER.LABELS.CELLPHONE" | translate }}: </strong>
								{{ getFormatedCellPhoneLabel(currentScheduling.schedulingForDatabase.celular) }}
								<i
									*ngIf="currentScheduling.schedulingForDatabase.celular"
									(click)="goToWhatsappMessage()"
									class="icofont icofont-brand-whatsapp"
								></i>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-2">
				<button
					style="font-size: 25px"
					type="button"
					class="close"
					aria-label="Close"
					(click)="hideTooltips(false)"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
		<div class="row scheduling-row">
			<div class="col-12">
				<span
					><strong>{{ "AGENDA.FORM.profissionalId" | translate }}:</strong>
					{{ getLabel(currentScheduling.professionalName) }}</span
				>
			</div>
			<div class="col-6">
				<ul>
					<li>
						<strong>{{ "AGENDA.FORM.convenioId" | translate }}:</strong>
					</li>
					<li>{{ getLabel(currentScheduling.convenioNome) }}</li>
					<li>
						<strong>{{ "AGENDA.FORM.email" | translate }}:</strong>
					</li>
					<li>{{ getLabel(currentScheduling.schedulingForDatabase.email) }}</li>
				</ul>
			</div>
			<div class="col-6">
				<ul>
					<li>
						<strong>{{ "AGENDA.FORM.tipoAtendimentoId" | translate }}:</strong>
					</li>
					<li>{{ getLabel(currentScheduling.schedulingForDatabase.tipoAtendimentoDescricao) }}</li>
					<li>
						<strong>{{ "AGENDA.POPOVER.LABELS.SCHEDULE" | translate }}:</strong>
					</li>
					<li>{{ getScheduleForHuman() }}</li>
				</ul>
			</div>
		</div>
		<div class="row actions-row">
			<div class="col-6">
				<ngx-select
					class="text-nowrap"
					id="emStatusAgendamento"
					[items]="schedulingStatusList"
					[(ngModel)]="currentScheduling.schedulingForDatabase.emStatusAgendamento"
					[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
					optionTextField="label"
					optionValueField="value"
					[noResultsFound]="service.translate.instant('COMMON.NORESULT')"
					(ngModelChange)="updateSchedulingStatus()"
					(open)="_setDropDownStyles()"
				>
				</ngx-select>
			</div>
			<div class="col-4">
				<button (click)="openModalAgenda()" class="btn btn-success">
					{{ "AGENDA.POPOVER.SCHEDULING.EDIT" | translate }}
				</button>
			</div>
			<div class="col-2 flexCenter">
				<i (click)="deleteScheduling()" class="icofont icofont-delete-alt"></i>
			</div>
		</div>
	</div>
</div>
