<table class="table table-striped">
	<thead>
	<tr>
		<th scope="col">{{'AGENDA.TABS.SCHEDULING_HISTORY.DATE' | translate}}</th>
		<th scope="col">{{'AGENDA.TABS.SCHEDULING_HISTORY.PROCEDURE' | translate}}</th>
		<th scope="col">{{'AGENDA.TABS.SCHEDULING_HISTORY.PROFESSIONAL' | translate}}</th>
		<th scope="col">{{'AGENDA.TABS.SCHEDULING_HISTORY.STATUS' | translate}}</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let scheduling of schedulings">
		<td>{{scheduling.dataHoraInicialEvento | date:'short' || noLabel}}</td>
		<td>{{getLabel(scheduling.tipoAtendimentoDescricao)}}</td>
		<td>{{getLabel(scheduling.profissionalNome)}}</td>
		<td>{{translateStatus(scheduling.emStatusAgendamento)}}</td>
	</tr>
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination size="sm"
									[directionLinks]="false"
									[collectionSize]="_schedulingHistory?.length"
									[(page)]="currentPage"
									[pageSize]="pageSize"
									class="normal-size-pagination-sm">
	</ngb-pagination>
</div>
