<simple-notifications [options]="this.service.options"></simple-notifications>

<div class="card contentPage">
	<span class="pageTitle">{{ "CONFIG.PROSTHETIC.TITLE" | translate }}</span>

	<div class="row rowSearch">
		<div class="col-md-8 col-lg-9"></div>

		<div class="col col-12 col-sm-12 col-md-4 col-lg-3 p-r-0 header-actions flexEnd">
			<button
				type="button"
				class="btn btn-primary btn-sm waves-effect text-center"
				[routerLink]="['..', 'novo']"
			>
				{{ "COMMON.NEW" | translate }}
			</button>
		</div>
	</div>

	<ngx-datatable
		id="tablePatients"
		class="data-table table-responsive"
		[rows]="rowsPage"
		[loadingIndicator]="true"
		[columnMode]="'force'"
		[headerHeight]="40"
		[footerHeight]="40"
		[rowHeight]="40"
		[reorderable]="true"
		[externalPaging]="true"
		[count]="rowsPage.length"
		[offset]="1"
		[limit]="rowsPage.length"
		[scrollbarH]="true"
		[messages]="service.translate.instant('COMMON.footerMessage')"
	>
		<ngx-datatable-column
			*ngFor="let column of columns; let indexColumn = index"
			[name]="column.name"
			[prop]="column.prop"
			[width]="column.width"
			[sortable]="column.sortable"
		>
			<ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
				<span *ngIf="!column.action && column.prop !== 'emStatusUsuarioPerfilContaModulo'">
					{{
						["telefone", "celular"].indexOf(column.prop) > -1
							? formatTelephone(row[column.prop])
							: row[column.prop]
					}}
				</span>

				<button
					class="btn btn-option btn-primary"
					[routerLink]="['..', row.id]"
					*ngIf="column.action"
					[ngbTooltip]="'COMMON.EDIT_REGISTER' | translate"
					placement="right"
				>
					<i class="ci icon-edit ajustaIcon"></i>
				</button>

				<button
					class="btn btn-option btn-danger"
					(click)="deleteProfessional(row)"
					*ngIf="column.action"
					[ngbTooltip]="'COMMON.DELETE_REGISTER' | translate"
					placement="right"
				>
					<i class="ci icon-delete ajustaIcon"></i>
				</button>

				<button
					class="btn btn-option btn-danger"
					(click)="delete(row.id)"
					*ngIf="column.action && row.emStatusUsuarioPerfilContaModulo === 'AGUARDANDO_ATIVACAO'"
					[ngbTooltip]="'COMMON.DELETE_REGISTER' | translate"
					placement="right"
				>
					<i class="ci icon-delete ajustaIcon"></i>
				</button>
			</ng-template>
		</ngx-datatable-column>
	</ngx-datatable>
</div>
