<div class="modal-header">
	<h4 class="modal-title">{{'PATIENTS.DOCUMENT.SAVE.CAMERA' | translate}}</h4>
	<button hidden></button>
	<button type="button" class="close" aria-label="Close" (click)="close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-9">
			<div class="col-12 flexCenter m-b-10">
				<ngx-select id="currentMediaDevice"
							style="width: 50%"
							[items]="mediaDevices"
							[disabled]="!currentMediaDeviceId"
							[(ngModel)]="currentMediaDeviceId"
							(ngModelChange)="changeCamera()"
							size="medium"
							optionTextField="label"
							optionValueField="deviceId"
							placeholder="Não há webcams disponíveis"
							(open)="_service.doOpenSelect()"
							[noResultsFound]="_service.translate.instant('COMMON.NORESULT')">
				</ngx-select>
			</div>
			<div #webCamContainer class="col-12 flexCenter">
				<webcam *ngIf="currentMediaDeviceId"
						(window:resize)="resizeCamHeight()"
						[height]="camHeight"
						[trigger]="triggerObservable"
						(imageCapture)="handleImage($event)"
						[allowCameraSwitch]="false"
						[switchCamera]="nextWebcamObservable"
						[videoOptions]="videoOptions"></webcam>
			</div>
			<div class="col-12 flexCenter">
				<button class="btn btn-primary" (click)="triggerSnapshot()" title="Capturar">{{'PATIENTS.DOCUMENT.SAVE.CAMERA_UPLOAD_SHOT' | translate}}</button>
			</div>
		</div>
		<div class="col-3">
			<div class="flexCenter"><b>{{'PATIENTS.DOCUMENT.SAVE.CAPTURES' | translate}}</b></div>
			<hr>
			<div class="col-12 scrollable-captures">
				<form>
					<div class="col-12" *ngFor="let capture of webcamFiles; let i = index">
						<div class="card noHover">
							<div class="card-header">
								<img class="pointer" width="100%" [src]="capture.thumb.thumb" (click)="openLightbox(i)"/>
								<div class="row m-t-10">
									<div class="col-9 flexStart p-r-0">
										<input class="form-control" placeholder="Nome" [attr.id]="i" [name]="i.toString()" [(ngModel)]="capture.description" type="text"/>
									</div>
									<div class="col-3 flexEnd">
										<a href="javascript:"><i (click)="removeCapture(capture, i)" class="ci icon-delete"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="row footer-actions">
		<div class="col-12 flexEnd">
			<button type="button" class="btn btn-sm close-button" (click)="close()">{{'PATIENTS.DOCUMENT.EDIT.DECLINE' | translate}}</button>
			<button type="button" class="btn btn-sm btn-success"
					[disabled]="!webcamFiles || webcamFiles.length <= 0"
					(click)="saveAll()">{{'PATIENTS.DOCUMENT.EDIT.CONFIRM_ALL' | translate}}</button>

		</div>
	</div>
</div>
