<div class="card noHover">
	<div class="card-body">
		<div [ngSwitch]="tab">
			<app-emit-document *ngSwitchCase="tabs.DOCUMENT"
							   [patient]="patient"
							   [printConfiguration]="printConfiguration"
							   (tabEmitter)="changeTab($event)"></app-emit-document>
			<app-emit-prescription *ngSwitchCase="tabs.PRESCRIPTION"
								   [patient]="patient"
								   [printConfiguration]="printConfiguration"
								   (tabEmitter)="changeTab($event)"></app-emit-prescription>
			<app-emit-list *ngSwitchDefault
						   [patient]="patient"
						   [currentIssuableDocumentType]="currentIssuableDocumentType"
						   (tabEmitter)="changeTab($event)"></app-emit-list>
		</div>
	</div>
</div>
