<div class="card noHover">
	<div class="card-body">
		<div class="row">
			<div class="col-12">
				<label for="period">{{'REPORTS.FILTERS.PERIOD' | translate}}</label>
			</div>
			<div class="form-group col-2" [ngClass]="filters.tipoPeriodo === Periodicity.ANUAL ? 'col-13-percent' : 'col-2'">
				<ngx-select id="period"
							[items]="periodicitys"
							[(ngModel)]="filters.tipoPeriodo"
							optionTextField="label"
							optionValueField="value"
							(open)="_service.doOpenSelect()"
							(select)="onChangePeriod($event)"
							[placeholder]="'REPORTS.FILTERS.ALL' | translate"
							[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate">
				</ngx-select>
			</div>
			<div *ngIf="this.filters.tipoPeriodo === Periodicity.MENSAL" class="form-group col-2">
				<ngx-select id="months"
							[items]="months"
							[(ngModel)]="filters.mes"
							optionTextField="label"
							optionValueField="value"
							(open)="_service.doOpenSelect()"
							[placeholder]="'REPORTS.FILTERS.ALL' | translate"
							[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate">
				</ngx-select>
			</div>
			<div class="form-group col-2" [ngClass]="filters.tipoPeriodo === Periodicity.ANUAL ? 'col-12-percent' : 'col-2'">
				<ngx-select id="years"
							[items]="years"
							[(ngModel)]="filters.ano"
							[placeholder]="'REPORTS.FILTERS.ALL' | translate"
							(open)="_service.doOpenSelect()"
							[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate">
				</ngx-select>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<div class="row">
					<div class="form-group col-6">
						<label for="profissionalId">{{'REPORTS.FILTERS.PROFESSIONAL' | translate}}</label>
						<ngx-select id="profissionalId"
									[items]="professionals"
									[(ngModel)]="filters.profissionalId"
									optionTextField="nome"
									optionValueField="id"
									[allowClear]="true"
									[placeholder]="'REPORTS.FILTERS.ALL' | translate"
									[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate">
						</ngx-select>
					</div>
					<div class="form-group col-6">
						<label for="convenioId">{{'REPORTS.FILTERS.COVENANT' | translate}}</label>
						<ngx-select id="convenioId"
									[items]="covenants"
									[(ngModel)]="filters.convenioId"
									optionTextField="nome"
									optionValueField="id"
									[allowClear]="true"
									[placeholder]="'REPORTS.FILTERS.ALL' | translate"
									[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate">
						</ngx-select>
					</div>
				</div>
			</div>
			<div class="col-6 flexEnd">
				<app-report-header-actions class="flexEnd header-actions" [printEnable]="false" (searchTrigger)="search()"></app-report-header-actions>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6 col-xl-7 col-xxl-8">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-xl-6 col-xxl-6">
						<div class="card noHover">
							<div class="card-body" [ngStyle]="{'color': green}">
								<div class="col-12 flexCenter"><i style="font-size: 20px" class="icofont icofont-emo-simple-smile m-r-15"></i> {{pieResults[0]?.value || '-'}}</div>
								<div class="col-12 flexCenter text-center m-t-5" style="font-size: .73vw">{{'REPORTS.SCHEDULINGS.STATISTICS.POSITIVE_LABEL' | translate}}</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-xl-6 col-xxl-6">
						<div class="card noHover">
							<div class="card-body" [ngStyle]="{'color': crimson}">
								<div class="col-12 flexCenter"><i style="font-size: 20px" class="icofont icofont-emo-sad m-r-15"></i> {{pieResults[1]?.value || '-'}}</div>
								<div class="col-12 flexCenter text-center m-t-5" style="font-size: .73vw">{{'REPORTS.SCHEDULINGS.STATISTICS.NEGATIVE_LABEL' | translate}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-xl-5 col-xxl-4">
				<div class="col-12" #pieGridComponent>
					<ngx-charts-pie-grid
							(window:resize)="resizeCharts()"
							[view]="pieChartView"
							[scheme]="commonColorScheme"
							[results]="pieResults">
					</ngx-charts-pie-grid>
				</div>
			</div>
			<div class="col-12" #barVertical2DComponent>
				<ngx-charts-bar-vertical-2d
						(window:resize)="resizeCharts()"
						[view]="barChartView"
						[scheme]="commonColorScheme"
						[results]="barResults"
						[gradient]="true"
						[xAxis]="true"
						[yAxis]="true"
						[showYAxisLabel]="true"
						[barPadding]="4"
						[groupPadding]="4"
						[noBarWhenZero]="false"
						[yAxisLabel]="attendance">
				</ngx-charts-bar-vertical-2d>
			</div>
		</div>
	</div>
</div>
