<div class="modal-header">
	<h4 class="modal-title">{{title | translate}}</h4>
</div>
<div class="modal-body">
	<form #form="ngForm">
		<div class="row">
			<div class="col-4">
				<label>{{'CONFIG.ANAMNESE.LABELS.ACTIVE_QUESTION' | translate}}</label><br/>

				<ngx-select name="status" [items]="statuses" [(ngModel)]="question.status" isFocused="true">

					<ng-template ngx-select-option-selected ngx-select-option let-status>
						{{questionActiveTranslate[status.value]}}
					</ng-template>
					<ng-template ngx-select-option-not-found>
						{{_service.translate.instant('COMMON.NORESULT')}}
					</ng-template>

				</ngx-select>
			</div>
			<div class="col-12">
				<label>{{('CONFIG.ANAMNESE.TABS.QUESTION' | translate) + ' *'}}</label><br/>

				<input class="form-control"
					   name="question"
					   type="text"
					   required
					   [placeholder]="'CONFIG.ANAMNESE.TABS.QUESTION' | translate"
					   [(ngModel)]="question.pergunta">
			</div>
			<div class="col-6">
				<label>{{'CONFIG.ANAMNESE.TABS.QUESTION_TYPE' | translate}}</label><br/>

				<ngx-select name="type" [items]="questionTypes" [(ngModel)]="question.tipoPergunta">

					<ng-template ngx-select-option-selected ngx-select-option let-type>
						{{questionTypeTranslate[type.value]}}
					</ng-template>
					<ng-template ngx-select-option-not-found>
						{{_service.translate.instant('COMMON.NORESULT')}}
					</ng-template>

				</ngx-select>
			</div>
			<div class="col-6" *ngIf="question.tipoPergunta !== tipoPerguntaAnamnese.TEXTO">
				<label>{{'CONFIG.ANAMNESE.TABS.QUESTION_ALERT' | translate}}</label><br/>

				<ngx-select name="alert" [items]="questionAlerts" [(ngModel)]="question.tipoAlerta">

					<ng-template ngx-select-option-selected ngx-select-option let-alert>
						{{questionAlertTranslate[alert.value]}}
					</ng-template>
					<ng-template ngx-select-option-not-found>
						{{_service.translate.instant('COMMON.NORESULT')}}
					</ng-template>

				</ngx-select>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<div class="row footer-actions">
		<div class="col-md-6"></div>
		<div class="col-md-6 flexEnd">
			<button type="button"
					class="btn btn-primary close-button btn-sm waves-effect text-center"
					(click)="activeModal.close(false)">
				{{'CONFIG.ANAMNESE.BUTTONS.CANCEL' | translate}}
			</button>
			<button type="button"
					class="btn btn-success btn-sm waves-effect text-center"
					[disabled]="form.invalid"
					(click)="activeModal.close(question)">{{'CONFIG.ANAMNESE.BUTTONS.SAVE' | translate}}
			</button>
		</div>
	</div>
</div>
