<div class="card noHover">
	<div class="card-header customHeader">
		<span>{{ sheetTitle }}</span>
	</div>

	<div class="card-body">
		<div class="row">
			<div class="col-12">
				<label for="initialDate">{{ "REPORTS.FILTERS.PERIOD" | translate }}</label>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-md-2 input-group">
				<input
					id="initialDate"
					name="initialDate"
					class="form-control inputDate"
					placeholder="dd/mm/YYYY"
					[(ngModel)]="filters.dataInicio"
					ngbDatepicker
					#initialDate="ngbDatepicker"
					rInputMask="99/99/9999"
				/>

				<div class="input-group-append bg-default" (click)="initialDate.toggle()">
					<span class="icofont icofont-ui-calendar input-group-text"></span>
				</div>
			</div>

			<div class="col-1 input-group flexCenter">{{ "REPORTS.FILTERS.AT" | translate }}</div>

			<div class="col-sm-6 col-md-2 input-group">
				<input
					id="finalDate"
					name="finalDate"
					class="form-control inputDate"
					placeholder="dd/mm/YYYY"
					[(ngModel)]="filters.dataFim"
					ngbDatepicker
					#finalDate="ngbDatepicker"
					rInputMask="99/99/9999"
				/>

				<div class="input-group-append bg-default" (click)="finalDate.toggle()">
					<span class="icofont icofont-ui-calendar input-group-text"></span>
				</div>
			</div>
		</div>

		<div class="row flexEnd">
			<div class="col">
				<div class="form-group">
					<label for="listaStatusTratamento">{{ "REPORTS.FILTERS.SITUATION" | translate }}</label>

					<ngx-select
						id="listaStatusTratamento"
						[items]="situations"
						[(ngModel)]="filters.listaStatusTratamento"
						optionTextField="label"
						optionValueField="value"
						[allowClear]="true"
						(open)="_service.doOpenSelect()"
						[placeholder]="'REPORTS.FILTERS.ALL' | translate"
						[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate"
					>
					</ngx-select>
				</div>
			</div>

			<div class="col">
				<div class="form-group">
					<label for="convenioId">{{ "REPORTS.FILTERS.COVENANT" | translate }}</label>
					<ngx-select
						id="convenioId"
						[items]="covenants"
						[(ngModel)]="filters.convenioId"
						optionTextField="nome"
						optionValueField="id"
						[allowClear]="true"
						(open)="_service.doOpenSelect()"
						[placeholder]="'REPORTS.FILTERS.ALL' | translate"
						[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate"
					>
					</ngx-select>
				</div>
			</div>

			<div class="col">
				<div class="form-group">
					<label for="profissionalId">Profissional:</label>
					<ngx-select
						id="profissionalId"
						[items]="dentistas"
						[(ngModel)]="filters.profissionalId"
						optionTextField="nome"
						optionValueField="id"
						[allowClear]="true"
						(open)="_service.doOpenSelect()"
						[placeholder]="'REPORTS.FILTERS.ALL' | translate"
						[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate"
					>
					</ngx-select>
				</div>
			</div>

			<div class="actions" style="align-self: flex-end; margin-bottom: 17.5px">
				<app-report-header-actions
					class="flexEnd header-actions"
					(printTrigger)="print($event)"
					(searchTrigger)="search()"
				></app-report-header-actions>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<app-report-datatable
				[columns]="columns"
				[rows]="ownData"
				[totalValue]="totalValue"
			></app-report-datatable>
		</div>
	</div>
</div>
