$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "assets/fonts" !default;

$icon-tools: "\e91e";
$icon-undo: "\e967";
$icon-redo: "\e968";
$icon-maximize: "\e91c";
$icon-minimize: "\e91d";
$icon-bill: "\e919";
$icon-credit-card: "\e91a";
$icon-received: "\e91b";
$icon-image: "\e917";
$icon-camera: "\e918";
$icon-crop: "\ea57";
$icon-arrow-left: "\ea40";
$icon-info: "\e916";
$icon-money-back: "\e915";
$icon-save-money: "\e914";
$icon-bubble: "\e96e";
$icon-blocked: "\ea0e";
$icon-floppy: "\e962";
$icon-aproved: "\e910";
$icon-desaproved: "\e911";
$icon-cancel: "\e90d";
$icon-go: "\e90e";
$icon-eye: "\e9ce";
$icon-location2: "\e948";
$icon-user-tie: "\e976";
$icon-aid-kit: "\e998";
$icon-check: "\e912";
$icon-dental: "\e909";
$icon-id-card: "\e90a";
$icon-money: "\e90b";
$icon-records: "\e90c";
$icon-search: "\e908";
$icon-edit: "\e913";
$icon-delete: "\e90f";
$icon-settings: "\e907";
$icon-calendar: "\e900";
$icon-dentist-chair: "\e906";
$icon-dashboard: "\e901";
$icon-finance: "\e902";
$icon-patients: "\e903";
$icon-pay: "\e904";
$icon-piggy-bank: "\e905";
