<div class="card">

  <div class="card-header customHeader">
    <span>{{'AGENDA.SEARCH.TITLE' | translate}}</span>
  </div>

  <div class="card-body">
    <div class="row">

      <div class="col-12 col-sm-12 col-md-4 m-b-15">
        <label for="dataInicial">{{'AGENDA.SEARCH.SEARCH_DATE' | translate}}</label><br>
        <div class="col-sm-12 input-group m-0 p-0">
          <input id="dataInicial" name="dataInicial" class="form-control inputDate" placeholder="dd/mm/YYYY"
            [(ngModel)]="searchParam.dataInicial" ngbDatepicker #dataInicial="ngbDatepicker"
            (focus)="dataInicial.toggle()" (dateSelect)="findEvents()" [readonly]="true">

          <div class="input-group-append bg-default" (click)="dataInicial.toggle()">
            <span class="icofont icofont-ui-calendar input-group-text"></span>
          </div>
        </div>
      </div>

      <div class="col col-12 col-sm-12 col-md-4 m-b-20">
        <label for="professionalId">{{'AGENDA.PROFESSIONAL' | translate}}</label><br>

        <ngx-select id="professionalId" name="professionalId" [items]="professionals"
          [(ngModel)]="searchParam.profissionalId" (open)="service.doOpenSelect()" size="medium"
          [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')" (select)="findEvents()" optionTextField="nome"
          optionValueField="id" [noResultsFound]="service.translate.instant('COMMON.NORESULT')">
        </ngx-select>
      </div>

      <div class="col-12 col-sm-12 col-md-4 m-b-15">
        <label for="pacientePessoaNome">{{'AGENDA.SEARCH.PATIENT' | translate}}</label>
        <input #patient type="text" [(ngModel)]="searchParam.pacientePessoaNome" id="pacientePessoaNome"
          class="form-control">
      </div>

      <ngx-datatable id="tableEvents" class="data-table table-responsive tableEvents" [rows]="rowsPage" appAutosizedDatatable
        [loadingIndicator]="true" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="40" [rowHeight]="40"
        [reorderable]="true" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
        [limit]="page.size" [scrollbarH]="true" [messages]="service.translate.instant('COMMON.footerMessage')"
        (page)='setPage($event)'>

        <ngx-datatable-column *ngFor="let column of columns; let indexColumn = index" [name]="column.name"
          [prop]="column.prop" [width]="column.width" [sortable]="column.sortable">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>

            <span *ngIf="!column.action && column.prop !== 'emStatusAgendamento'">
              {{row[column.prop]}}
            </span>

            <span *ngIf="!column.action && column.prop === 'emStatusAgendamento'">
              {{getText(row[column.prop])}}
            </span>

          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>



    </div>
  </div>
