<div class="card noHover">
  <div class="card-header customHeader">
    <div class="row p-l-20 m-r-10">
      <div class="col-10 col-sm-10 p-0 p-l-30">
        <span>{{ editando ? '' : 'Novo' }} Procedimento</span>
      </div>

      <div class="col-2 col-sm-2 flexEnd p-0 p-r-30">
        <i class="icofont icofont-close iconModalClose"
          (click)="closeModal()"></i>
      </div>
    </div>
  </div>

  <div class="card-body adjustModal">
    <form [formGroup]="formProcedure" class="row">
      <div class="col-12 col-sm-12 col-md-4 m-b-15"
        [ngClass]="service.aplicaCssErro('procedimentoNome', formProcedure)">

        <label for="procedimentoNome">
          {{'CONFIG.COVENANT.ADD_PROC.procedimentoNome' | translate}}
        </label>

        <input id="procedimentoNome"
          name="procedimentoNome"
          class="form-control"
          formControlName="procedimentoNome">

        <div class="text-feedback"
          *ngIf="service.verificaValidTouched('procedimentoNome', formProcedure)">
          <span>{{'COMMON.REQUIRED' | translate}}</span>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-4 m-b-15"
        [ngClass]="service.aplicaCssErro('preco', formProcedure)">

        <label for="preco">{{'CONFIG.COVENANT.ADD_PROC.preco' | translate}}</label>

        <input id="preco"
          name="preco"
          currencyMask
          class="form-control"
          formControlName="preco">

        <div class="text-feedback"
          *ngIf="service.verificaValidTouched('preco', formProcedure)">
          <span>{{'COMMON.REQUIRED' | translate}}</span>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-4 m-b-15 form-group"
        [ngClass]="service.aplicaCssErro('procedimentoPorcentagemComissao', formProcedure)">

        <label for="procedimentoPorcentagemComissao">
          {{'CONFIG.COVENANT.ADD_PROC.procedimentoPorcentagemComissao' | translate}}
        </label>

        <div class="input-group">
          <input id="procedimentoPorcentagemComissao"
            autocomplete="off"
            spellcheck="false"
            type="text"
            style="height: auto; text-align: right"
            class="form-control"
            [imask]="percentageMask"
            [unmask]="'typed'"
            (accept)="patchForm({ procedimentoPorcentagemComissao: $event })"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="_comissao">

          <div class="input-group-append">
            <span class="input-group-text" style="background-color: #0378FF">
              %
            </span>
          </div>
        </div>

        <div class="text-feedback"
          *ngIf="service.verificaValidTouched('procedimentoPorcentagemComissao', formProcedure)">
          <span>{{'COMMON.REQUIRED' | translate}}</span>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-4 m-b-15"
        [ngClass]="service.aplicaCssErro('procedimentoValorCustoProtetico', formProcedure)">

        <label for="procedimentoValorCustoProtetico">
          {{'CONFIG.COVENANT.ADD_PROC.procedimentoValorCustoProtetico' | translate}}
        </label>

        <input id="procedimentoValorCustoProtetico"
          class="form-control"
          currencyMask
          formControlName="procedimentoValorCustoProtetico">

        <div class="text-feedback"
          *ngIf="service.verificaValidTouched('procedimentoValorCustoProtetico', formProcedure)">
          <span>{{'COMMON.REQUIRED' | translate}}</span>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-4 m-b-15">
        <label>
          {{'CONFIG.COVENANT.ADD_PROC.procedimentoIsAceitaFace' | translate}}
        </label>

        <div class="btn-group btn-group-toggle w100"
          ngbRadioGroup
          name="procedimentoIsAceitaFace"
          formControlName="procedimentoIsAceitaFace">

          <label ngbButtonLabel class="btn-primary group2Pieces btnRadio w50">
            <input ngbButton type="radio" [value]="false">

            {{'COMMON.YESNO.NO' | translate}}
          </label>

          <label ngbButtonLabel class="btn-primary group2Pieces btnRadio w50">
            <input ngbButton type="radio" [value]="true">

            {{'COMMON.YESNO.YES' | translate}}
          </label>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-4 m-b-15">
        <label>
          {{'CONFIG.COVENANT.ADD_PROC.procedimentoStatus' | translate}}
        </label>

        <div class="btn-group btn-group-toggle w100"
          ngbRadioGroup
          name="procedimentoStatus"
          formControlName="procedimentoStatus">

          <label ngbButtonLabel class="btn-primary group2Pieces btnRadio w50">
            <input ngbButton type="radio" [value]="false">

            {{'COMMON.YESNO.NO' | translate}}
          </label>

          <label ngbButtonLabel class="btn-primary group2Pieces btnRadio w50">
            <input ngbButton type="radio" [value]="true">

            {{'COMMON.YESNO.YES' | translate}}
          </label>
        </div>
      </div>
    </form>

    <div class="row footer-actions">
      <div class="col-6"></div>
      <div class="col-6 flexEnd">
        <button type="button"
                class="btn btn-primary close-button btn-sm waves-effect text-center"
                (click)="closeModal()">
          {{'COMMON.BACK' | translate}}
        </button>
        <button type="button"
          [disabled]="formProcedure.invalid"
          class="btn btn-success text-center"
          (click)="add()">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>
