<div class="current-conta" *ngIf="currentConta | async as conta">
  <div class="current-conta__avatar"
    [style.background-image]="buildCssAvatarUrl(conta.perfilContaModuloContaUrlImagem)">
  </div>

  <div class="current-conta__info">
    <div class="current-conta__razao-social">{{ conta.razaoSocial }}</div>
    <div class="current-conta__config-link" *ngIf="podeConfigurarConta()">
      <i class="icofont icofont-gear pointer current-conta__config-link-icon"
        [routerLink]="['/config/conta']">
      </i>
    </div>
  </div>
</div>

<ul class="list-group conta-list">
  <li *ngFor="let conta of contasExceptCurrent | async"
    (click)="changeConta(conta)"
    class="list-group-item list-group-item-action pointer conta-list-item">

    <div class="conta-list-item__logo-container"
      [style.background-image]="buildCssAvatarUrl(conta.perfilContaModuloContaUrlImagem)">
    </div>

    <div class="conta-list-item__description">
      {{ conta.razaoSocial }}
    </div>
  </li>
</ul>
