.conta-list {
  border-radius: 0;
  z-index: 10;
}

$bottom-border: solid 1px #ccc;

@mixin avatar-container($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.current-conta {
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-bottom: $bottom-border;

  &__avatar {
    @include avatar-container(60px);
    margin-right: 20px;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: normal;
    white-space: nowrap;
  }

  &__razao-social {
    font-size: 1.1em;
    flex: 1;
  }

  &__config-link {
    margin-left: 10px;

    &-icon {
      font-size: 30px !important;
      color: #888;
    }
  }
}

.conta-list-item {
  display: flex;
  align-items: center;
  border-radius: 0;
  margin-bottom: 0;
  border: none;
  border-bottom: $bottom-border;

  &--active {
    background-color: rgba(#000, .09);
  }

  &__logo-container {
    @include avatar-container(40px);
  }

  &__description {
    flex: 1;
    margin-left: 20px;
  }
}
