<div #cardMain class="card noHover">
	<div class="card-header customHeader">
		<div class="row p-l-20 m-r-10">
			<div class="col-10 col-sm-10 p-0 p-l-30">
				<span>{{'CONFIG.PROSTHETIC.FORM.TITLE' | translate}}</span>
			</div>
		</div>
	</div>

	<div *ngIf="!formProsthetic; else form" class="d-flex justify-content-center m-t-20 m-b-40">
		<div class="spinner-border" role="status"></div>
	</div>

	<ng-template #form>
		<div class="card-body w100 m-l-0">
			<form [formGroup]="formProsthetic" class="row">
				<div class="col-12 col-sm-12 col-md-6 m-b-15"
					 [ngClass]="service.aplicaCssErro('nome', formProsthetic)">
					<label for="nome">{{'CONFIG.PROSTHETIC.FORM.nome' | translate}}</label>
					<input type="text"
						   autocomplete="off"
						   spellcheck="false"
						   formControlName="nome"
						   id="nome"
						   class="form-control">

					<div class="text-feedback"
						 *ngIf="service.verificaValidTouched('nome', formProsthetic)">
						<span>{{'COMMON.REQUIRED' | translate}}</span>
					</div>
				</div>

				<div class="col-12">
					<h6>{{'CONFIG.PROSTHETIC.FORM.CONTACT' | translate}}</h6>
				</div>

				<div class="col-12 col-sm-12 col-md-6 m-b-15">
					<label for="email">{{'CONFIG.PROSTHETIC.FORM.email' | translate}}</label>
					<input type="text"
						   formControlName="email"
						   id="email"
						   class="form-control">
				</div>

				<div class="col-12 col-sm-12 col-md-3 m-b-15">
					<label for="celular">{{'CONFIG.PROSTHETIC.FORM.celular' | translate}}</label>
					<input type="text"
						   formControlName="celular"
						   id="celular"
						   class="form-control"
						   mask="(00) 0 0000-0000">
				</div>

				<div class="col-12 col-sm-12 col-md-3 m-b-15">
					<label for="telefone">{{'CONFIG.PROSTHETIC.FORM.telefone' | translate}}</label>
					<input type="text"
						   formControlName="telefone"
						   id="telefone"
						   class="form-control"
						   mask="(00) 0000-0000">
				</div>

				<div class="col-12">
					<h6>{{'CONFIG.PROSTHETIC.FORM.ADDRESS' | translate}}</h6>
				</div>

				<div class="col-12 col-sm-12 col-md-3 m-b-15">
					<label for="cep">{{'CONFIG.PROSTHETIC.FORM.cep' | translate}}</label>
					<input type="text"
						   formControlName="cep"
						   id="cep"
						   class="form-control"
						   mask="00.000-000">
				</div>

				<div class="col-12 col-sm-12 col-md-6 m-b-15">
					<label for="endereco">{{'CONFIG.PROSTHETIC.FORM.endereco' | translate}}</label>
					<input type="text"
						   formControlName="endereco"
						   id="endereco"
						   class="form-control">
				</div>

				<div class="col-12 col-sm-12 col-md-3 m-b-15">
					<label for="numeroEndereco">{{'CONFIG.PROSTHETIC.FORM.numeroEndereco' | translate}}</label>
					<input type="text"
						   formControlName="numeroEndereco"
						   id="numeroEndereco"
						   class="form-control">
				</div>

				<div class="col-12 col-sm-12 col-md-3 m-b-15">
					<label for="complemento">{{'CONFIG.PROSTHETIC.FORM.complemento' | translate}}</label>
					<input type="text"
						   formControlName="complemento"
						   id="complemento"
						   class="form-control">
				</div>

				<div class="col-12 col-sm-12 col-md-3 m-b-15">
					<label for="bairro">{{'CONFIG.PROSTHETIC.FORM.bairro' | translate}}</label>
					<input type="text"
						   formControlName="bairro"
						   id="bairro"
						   class="form-control">
				</div>

				<div class="col-12 col-sm-12 col-md-3 m-b-15">
					<label for="cidade">{{'CONFIG.PROSTHETIC.FORM.cidade' | translate}}</label>
					<input type="text"
						   formControlName="cidade"
						   id="cidade"
						   class="form-control">
				</div>

				<div class="col-12 col-sm-12 col-md-3 m-b-15">
					<label for="ufCidade">{{'CONFIG.PROSTHETIC.FORM.ufCidade' | translate}}</label><br>
					<ng-select id="ufCidade"
							   [items]="ufList"
							   formControlName="ufCidade"
							   bindLabel="field"
							   bindValue="value"
							   [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
							   [clearable]="false">
					</ng-select>
				</div>

				<div class="col-12 col-sm-12 m-b-15">
					<label for="observacao">{{'CONFIG.PROSTHETIC.FORM.observacao' | translate}}</label>
					<input type="text"
						   formControlName="observacao"
						   id="observacao"
						   class="form-control">
				</div>

			</form>

			<div class="row footer-actions">
				<div class="col-md-6"></div>
				<div class="col-md-6 flexEnd">
					<button type="button"
							class="btn close-button text-center"
							(click)="goBackToProstheticPage()">
						{{'COMMON.BACK' | translate}}
					</button>
					<button type="button"
							[disabled]="formProsthetic.invalid"
							class="btn btn-success text-center"
							(click)="save()">{{'COMMON.SAVE' | translate}}
					</button>
				</div>
			</div>
		</div>
	</ng-template>
</div>
