<div class="card noHover m-0 resumo-card" *ngIf="totais">
  <div class="resumo-collapse" (click)="toggleCollapse()">
    <div>
      <i class="icofont icofont-simple-{{ collapsed ? 'up' : 'down' }}"></i>
    </div>
  </div>

  <div class="resumo-container" [style.display]="collapsed ? 'none' : ''">
    <div class="resumo resumo__entradas" *ngIf="totais.entradas as resumo">
      <div>ENTRADAS</div>

      <div class="linha-resumo">
        <div class="linha-resumo__titulo">Dinheiro (R$):</div>
        <div class="linha-resumo__valor">{{ resumo.totalDinheiro | number: '1.2-2' }}</div>
      </div>

      <div class="linha-resumo">
        <div class="linha-resumo__titulo">Cartão Crédito (R$)</div>
        <div class="linha-resumo__valor">{{ resumo.totalCartaoCredito | number: '1.2-2' }}</div>
      </div>

      <div class="linha-resumo">
        <div class="linha-resumo__titulo">Cartão Débito (R$)</div>
        <div class="linha-resumo__valor">{{ resumo.totalCartaoDebito | number: '1.2-2'  }}</div>
      </div>

      <div class="linha-resumo">
        <div class="linha-resumo__titulo">Cheque (R$)</div>
        <div class="linha-resumo__valor">{{ resumo.totalCheque | number: '1.2-2'  }}</div>
      </div>

      <div class="linha-resumo">
        <div class="linha-resumo__titulo">Boleto (R$)</div>
        <div class="linha-resumo__valor">{{ resumo.totalBoleto | number: '1.2-2'  }}</div>
      </div>

      <div class="linha-resumo">
        <div class="linha-resumo__titulo">Déb. Automático (R$)</div>
        <div class="linha-resumo__valor">{{ resumo.totalDebitoAutomatico | number: '1.2-2'  }}</div>
      </div>

      <div class="linha-resumo">
        <div class="linha-resumo__titulo">Transf. Bancária (R$)</div>
        <div class="linha-resumo__valor">{{ resumo.totalTransferenciaBancaria | number: '1.2-2'  }}</div>
      </div>

      <div class="linha-resumo">
        <div class="linha-resumo__titulo">Permuta (R$)</div>
        <div class="linha-resumo__valor">{{ resumo.permuta | number: '1.2-2'  }}</div>
      </div>
    </div>

    <div class="resumo resumo__saidas" *ngIf="totais.saidas as resumo">
      <div>SAÍDAS</div>

      <div class="linha-resumo">
        <div class="linha-resumo__titulo">Dinheiro (R$):</div>
        <div class="linha-resumo__valor">{{ resumo.totalDinheiro | number: '1.2-2' }}</div>
      </div>

      <div class="linha-resumo">
        <div class="linha-resumo__titulo">Cartão Crédito (R$)</div>
        <div class="linha-resumo__valor">{{ resumo.totalCartaoCredito | number: '1.2-2' }}</div>
      </div>

      <div class="linha-resumo">
        <div class="linha-resumo__titulo">Cartão Débito (R$)</div>
        <div class="linha-resumo__valor">{{ resumo.totalCartaoDebito | number: '1.2-2'  }}</div>
      </div>

      <div class="linha-resumo">
        <div class="linha-resumo__titulo">Cheque (R$)</div>
        <div class="linha-resumo__valor">{{ resumo.totalCheque | number: '1.2-2'  }}</div>
      </div>

      <div class="linha-resumo">
        <div class="linha-resumo__titulo">Boleto (R$)</div>
        <div class="linha-resumo__valor">{{ resumo.totalBoleto | number: '1.2-2'  }}</div>
      </div>

      <div class="linha-resumo">
        <div class="linha-resumo__titulo">Déb. Automático (R$)</div>
        <div class="linha-resumo__valor">{{ resumo.totalDebitoAutomatico | number: '1.2-2'  }}</div>
      </div>

      <div class="linha-resumo">
        <div class="linha-resumo__titulo">Transf. Bancária (R$)</div>
        <div class="linha-resumo__valor">{{ resumo.totalTransferenciaBancaria | number: '1.2-2'  }}</div>
      </div>

      <div class="linha-resumo">
        <div class="linha-resumo__titulo">Permuta (R$)</div>
        <div class="linha-resumo__valor">{{ resumo.permuta | number: '1.2-2'  }}</div>
      </div>
    </div>

    <div class="resumo resumo__totais">
      <div>TOTAIS</div>

      <div class="linha-resumo linha-resumo__total-entradas">
        <div class="linha-resumo__titulo">Total Entrada (R$)</div>
        <div class="linha-resumo__valor">{{ totais.totalEntradas | number: '1.2-2'  }}</div>
      </div>

      <div class="linha-resumo linha-resumo__total-saidas">
        <div class="linha-resumo__titulo">Total Saída (R$)</div>
        <div class="linha-resumo__valor">{{ totais.totalSaidas | number: '1.2-2'  }}</div>
      </div>

      <div class="linha-resumo linha-resumo__saldo">
        <div class="linha-resumo__titulo">Saldo (R$)</div>
        <div class="linha-resumo__valor">{{ (totais.totalEntradas - totais.totalSaidas) | number: '1.2-2'  }}</div>
      </div>
    </div>
  </div>
</div>
