$cor-entrada: #2AAD50;
$cor-saida: #9F1513;
$cor-saldo: #322FB0;

:host {
  font-size: .9em;
}

.resumo-card {
  display: flex;
  width: 100%;
}

.resumo-collapse {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.resumo-container {
  display: flex;
  flex-direction: row;
  padding: 0 1em 1em;
  border-radius: 0;
}

.resumo {
  flex: 1;
  max-width: 250px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:not(:first-child) {
    margin-left: 80px;
  }

  &__entradas .linha-resumo__valor {
    color: $cor-entrada;
  }

  &__saidas .linha-resumo__valor {
    color: $cor-saida;
  }
}

.linha-resumo {
  display: flex;
  flex-direction: row;

  &__titulo {
    flex: 1;
  }

  &__total-entradas .linha-resumo__valor {
    color: $cor-entrada;
  }

  &__total-saidas .linha-resumo__valor {
    color: $cor-saida;
  }

  &__saldo .linha-resumo__valor {
    color: $cor-saldo;
  }
}
