<div class="card noHover">
	<div class="card-header customHeader">
		<span>{{sheetTitle}}</span>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-4">
				<div class="row">
					<div class="col-12">
						<label for="initialDate">{{'REPORTS.FILTERS.REGISTER_DATE' | translate}}</label>
					</div>
				</div>
				<div class="row">
					<div class="col-6 input-group">
						<input id="initialDate" name="initialDate" class="form-control inputDate" placeholder="dd/mm/YYYY"
							   [(ngModel)]="filters.dataInicio" ngbDatepicker #initialDate="ngbDatepicker"
							   rInputMask="99/99/9999"/>

						<div class="input-group-append bg-default" (click)="initialDate.toggle()">
							<span class="icofont icofont-ui-calendar input-group-text"></span>
						</div>
					</div>
					<div class="col-6 input-group">
						<input id="finalDate" name="finalDate" class="form-control inputDate" placeholder="dd/mm/YYYY"
							   [(ngModel)]="filters.dataFim" ngbDatepicker #finalDate="ngbDatepicker"
							   rInputMask="99/99/9999"/>

						<div class="input-group-append bg-default" (click)="finalDate.toggle()">
							<span class="icofont icofont-ui-calendar input-group-text"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="row">
					<div class="col-6">
						<label for="profissionalId">{{'REPORTS.FILTERS.BIRTH_DATE' | translate}}</label>
					</div>
					<div *ngIf="birthInitialDateModel || birthFinalDateModel" class="col-6 flexEnd">
						<span style="cursor:pointer" class="badge text-white bg-c-blue" (click)="clearBirthDates()">{{'REPORTS.FILTERS.CLEAR_BIRTH_DATES' | translate}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-6 input-group">
						<input id="visibleBirthInitialDate" readonly class="form-control inputDate" [placeholder]="getBirthDateDisplay(birthInitialDateModel)"/>
						<input hidden id="birthInitialDate" name="initialDate" class="form-control inputDate"
							   [(ngModel)]="birthInitialDateModel" ngbDatepicker #birthInitialDate="ngbDatepicker"/>

						<div class="input-group-append bg-default" (click)="birthInitialDate.toggle()">
							<span class="icofont icofont-ui-calendar input-group-text"></span>
						</div>
					</div>
					<div class="col-6 input-group">
						<input id="visibleBirthFinalDate" readonly class="form-control inputDate" [placeholder]="getBirthDateDisplay(birthFinalDateModel)"/>
						<input hidden id="birthFinalDate" name="finalDate" class="form-control inputDate"
							   [(ngModel)]="birthFinalDateModel" ngbDatepicker #birthFinalDate="ngbDatepicker"/>

						<div class="input-group-append bg-default" (click)="birthFinalDate.toggle()">
							<span class="icofont icofont-ui-calendar input-group-text"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4 flexEnd">
				<app-report-header-actions class="flexEnd header-actions" (printTrigger)="print($event)" (searchTrigger)="search()"></app-report-header-actions>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-4">
				<label for="indications">{{'REPORTS.FILTERS.INDICATION' | translate}}</label>
				<ngx-select id="indications"
							[items]="indications"
							[(ngModel)]="filters.indicacoes"
							(open)="_service.doOpenSelect()"
							optionTextField="label"
							optionValueField="value"
							[allowClear]="true"
							[placeholder]="'REPORTS.FILTERS.ALL' | translate"
							[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate">
				</ngx-select>
			</div>
			<div class="form-group col-4">
				<label for="schedulingsReport__listaStatusTratamento">{{'REPORTS.FILTERS.TREATMENT_SITUATION' | translate}}</label>
				<ngx-select id="schedulingsReport__listaStatusTratamento"
							[items]="situations"
							[(ngModel)]="filters.statusTratamento"
							optionTextField="label"
							optionValueField="value"
							[allowClear]="true"
							(open)="_service.doOpenSelect()"
							[placeholder]="'REPORTS.FILTERS.ALL' | translate"
							[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate">
				</ngx-select>
			</div>
			<div class="form-group col-4">
				<label for="situacaoPaciente">{{'REPORTS.FILTERS.CURRENT_STATUS' | translate}}</label>
				<ngx-select id="situacaoPaciente"
							[items]="patientSituations"
							[(ngModel)]="filters.situacaoPaciente"
							optionTextField="descricao"
							optionValueField="id"
							[allowClear]="true"
							(open)="_service.doOpenSelect()"
							[placeholder]="'REPORTS.FILTERS.ALL' | translate"
							[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate">
				</ngx-select>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-4">
				<label for="profissionalId">{{'REPORTS.FILTERS.RESPONSIBLE_PROFESSIONAL' | translate}}</label>
				<ngx-select id="profissionalId"
							[items]="professionals"
							[(ngModel)]="filters.profissionalId"
							optionTextField="nome"
							optionValueField="id"
							[allowClear]="true"
							(open)="_service.doOpenSelect()"
							[placeholder]="'REPORTS.FILTERS.ALL' | translate"
							[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate">
				</ngx-select>
			</div>
			<div class="form-group col-4">
				<label for="especialidades">{{'REPORTS.FILTERS.EXPERTISES' | translate}}</label>
				<ng-select [(ngModel)]="filters.especialidades"
						   [items]="expertises"
						   [multiple]="true"
						   [placeholder]="'REPORTS.FILTERS.ALL' | translate"
						   [notFoundText]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate"
						   [clearable]="false"
						   bindValue="id"
						   bindLabel="nome"
						   name="especialidades"
						   id="especialidades">
				</ng-select>
			</div>
			<div class="form-group col-4">
				<label for="empresaId">{{'REPORTS.FILTERS.ORGANIZATION' | translate}}</label>
				<ngx-select id="empresaId"
							[items]="organizations"
							[(ngModel)]="filters.empresaId"
							optionTextField="nome"
							optionValueField="id"
							[allowClear]="true"
							(open)="_service.doOpenSelect()"
							[placeholder]="'REPORTS.FILTERS.ALL' | translate"
							[noResultsFound]="'REPORTS.FILTERS.NO_DATA_TEXT' | translate">
				</ngx-select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<app-report-datatable [columns]="columns" [rows]="ownData"></app-report-datatable>
		</div>
	</div>
</div>
