<div class="card noHover p-10">
  <form
    class="container"
    (submit)="finalizar()"
  >
    <div class="row">
      <h4>{{ title }}</h4>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="form-group">
          <label for="nome-produto">Nome *</label>
          <input
            id="nome-produto"
            type="text"
            class="form-control"
            name="nome"
            [required]="true"
            [(ngModel)]="data.nome"
          >
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="unidade">Unidade *</label>
          <select
            id="unidade"
            class="form-control"
            name="unidade"
            [required]="true"
            [(ngModel)]="data.unidadeMedida"
          >

            <option
              *ngFor="let un of unidades"
              [value]="un"
            >
              {{ infoUnidade(un).descricao }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="form-group">
          <label for="estoque">Disponível em estoque *</label>
          <input
            id="estoque"
            type="number"
            [disabled]="data.id"
            [title]="data.id ? 'Modifique a quantidade em estoque por meio de movimentações' : ''"
            class="form-control"
            name="estoque"
            [required]="true"
            [(ngModel)]="data.produtoEstoqueQuantidade"
          >
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="estoque-min">Mínimo em estoque *</label>
          <input
            id="estoque-min"
            type="number"
            class="form-control"
            name="estoqueMin"
            [required]="true"
            [(ngModel)]="data.estoqueMinimo"
          >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-8"></div>

      <div class="col-2">
        <button
          class="btn btn-sm close-button"
          type="button"
          (click)="cancelar()"
        >
          Cancelar
        </button>
      </div>

      <div class="col-2">
        <button
          class="btn btn-sm btn-success"
          type="submit"
        >
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>
