<div class="card noHover">
	<div class="p-20 p-b-0  container-fluid">
		<div class="row">
			<div class="col">
				<h4>Estoque</h4>
			</div>
		</div>

		<div class="row flexSpaceBetween">
			<div class="col-6 form-group">
				<label for="busca-estoque">Pesquisar</label>
				<input id="busca-estoque"
					   [(ngModel)]="query"
					   type="search"
					   class="form-control">
			</div>
			<div class="col-4 flexEnd">
				<button class="btn btn-sm btn-primary"
						(click)="modalNovo.open()">
					Adicionar Produto
				</button>
			</div>
		</div>
	</div>
</div>

<div class="card noHover">
	<div>
		<div class="md-tabs">
			<ngb-tabset
					(tabChange)="atualizarAba($event.nextId)"
					style="width: 100%"
			>
				<ngb-tab [id]="Pagina.TODOS">
					<span *ngbTabTitle>Todos produtos</span>
				</ngb-tab>
				<ngb-tab [id]="Pagina.ABAIXO_MINIMO">
					<span *ngbTabTitle>Abaixo do mínimo</span>
				</ngb-tab>
				<ngb-tab [id]="Pagina.EM_FALTA">
					<span *ngbTabTitle>Em falta</span>
				</ngb-tab>
			</ngb-tabset>
		</div>

		<app-produtos-list-table
				[query]="query"
				[aba]="paginaAtualSubject | async"
				[esconderLancamentos]="(paginaAtualSubject | async) === Pagina.EM_FALTA"
				(delete)="deleteProduto($event)"
				(edit)="editProduto($event)"
				(novaMovimentacao)="abrirAdicionarMovimentacao($event)"
				#table
		>
		</app-produtos-list-table>
	</div>
</div>

<app-modal-animation
		style="width: 500px;"
		(closed)="$event && notificarEReload('Produto criado com sucesso')"
		#modalEdit
>
	<app-produtos-form-modal
			*ngIf="editing != null && modalEdit.showing"
			[data]="editing"
			title="Editar Produto"
			[modal]="modalEdit"
	>
	</app-produtos-form-modal>
</app-modal-animation>

<app-modal-animation
		style="width: 500px;"
		(closed)="$event && notificarEReload('Produto editado com sucesso')"
		#modalNovo
>
	<app-produtos-form-modal
			*ngIf="modalNovo.showing"
			[modal]="modalNovo"
	>
	</app-produtos-form-modal>
</app-modal-animation>

<app-modal-animation
		style="width: 500px;"
		(closed)="$event && reload()"
		#modalAddMovimentacao
>
	<app-modal-movimentacao
			*ngIf="modalAddMovimentacao.showing"
			[produto]="produtoAAdicionarMovimentacao"
			[modal]="modalAddMovimentacao"
	>
	</app-modal-movimentacao>
</app-modal-animation>
