<div class="card noHover">
  <div class="p-20 container-fluid">
    <div class="row">
      <div class="col">
        <h4>Movimentações do produto: {{ nomeProduto$ | async }}</h4>
      </div>
    </div>

    <div
      class="row"
      style="margin-top: 10px"
    >
      <div class="col">
        <button
          class="btn btn-sm close-button"
          [routerLink]="['/produtos']"
          type="button"
        >
          <i class="icofont icofont-double-left"></i>
          Voltar para estoque
        </button>
      </div>
    </div>
  </div>

  <div>
    <ngx-datatable
      *ngIf="resultado$ | async as resp"
      class="data-table table-responsive"
      [rows]="resp.content"
      [appAutosizedDatatable]
      [loadingIndicator]="true"
      [columnMode]="'force'"
      [externalSorting]="true"
      (sort)="updateSortings($event.sorts)"
      [externalPaging]="true"
      (page)="updatePage($event.offset)"
      [count]="resp.totalElements"
      [offset]="pageNumber$ | async"
      [limit]="resp.size"
      [headerHeight]="40"
      [footerHeight]="40"
      [rowHeight]="40"
      [reorderable]="true"
      [scrollbarH]="true"
      [messages]="{ emptyMessage: 'Nenhum resultado encontrado', totalMessage: 'registros encontrados' }"
    >
      <ngx-datatable-column
        name="Data"
        [sortable]="false"
        prop="data"
      >
      </ngx-datatable-column>

      <ngx-datatable-column
        name="Tipo"
        [sortable]="false"
        prop="tipoMovimento"
      >
        <ng-container *ngx-datatable-cell-template="let r = row">
          {{ movimentacaoInfo(r.tipoMovimento).descricao }}
        </ng-container>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="Destino"
        prop="destinoDescricao"
        [sortable]="false"
      >
      </ngx-datatable-column>

      <ngx-datatable-column
        name="Observacao"
        prop="observacao"
        [sortable]="false"
      >
      </ngx-datatable-column>

      <ngx-datatable-column
        name="Qtd. Movimentada"
        prop="quantidadeMovimentada"
        [sortable]="false"
      >
      </ngx-datatable-column>

      <ngx-datatable-column
        name="Saldo Estoque"
        prop="saldo"
        [sortable]="false"
      >
      </ngx-datatable-column>

      <ngx-datatable-column
        name="Usuário"
        prop="usuarioNome"
        [sortable]="false"
      >
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>
