<div class="card noHover">
	<div class="card-header customHeader">
		<div class="row p-l-20 m-r-10">
			<div class="col-10 col-sm-10 p-0 p-l-30">
				<span>{{'CONFIG.COVENANT.CREATE.TITLE' | translate}}</span>
			</div>
			<div class="col-2 col-sm-2 flexEnd p-0 p-r-30">
				<i class="icofont icofont-close iconModalClose" (click)="closeModal()"></i>
			</div>
		</div>
	</div>
	<div class="card-body adjustModal">
		<form [formGroup]="formCovenant" class="row">
			<div class="col-12 col-sm-12 col-md-4 m-b-15" [ngClass]="service.aplicaCssErro('convenioNome', formCovenant)">
				<label for="convenioNome">{{'CONFIG.COVENANT.CREATE.convenioNome' | translate}}</label>
				<input id="convenioNome" name="convenioNome" class="form-control" formControlName="convenioNome">
				<div class="text-feedback" *ngIf="service.verificaValidTouched('convenioNome', formCovenant)">
					<span>{{'COMMON.REQUIRED' | translate}}</span>
				</div>
			</div>

			<div class="col-12 col-sm-12 col-md-4 m-b-15">
				<label for="isCopiaProcedimentos">{{'CONFIG.COVENANT.CREATE.isCopiaProcedimentos' | translate}}</label><br>

				<div class="btn-group btn-group-toggle w100" ngbRadioGroup name="isCopiaProcedimentos"
					 formControlName="isCopiaProcedimentos">
					<label ngbButtonLabel class="btn-primary group2Pieces btnRadio w50">
						<input ngbButton type="radio" [value]="0">
						<i *ngIf="formCovenant.get('isCopiaProcedimentos').value === 0" class="icofont icofont-check"></i>
						{{'COMMON.YESNO.NO' | translate}}
					</label>
					<label ngbButtonLabel class="btn-primary group2Pieces btnRadio w50">
						<input ngbButton type="radio" [value]="1">
						<i *ngIf="formCovenant.get('isCopiaProcedimentos').value === 1" class="icofont icofont-check"></i>
						{{'COMMON.YESNO.YES' | translate}}
					</label>
				</div>
			</div>

			<div class="col-12 col-sm-12 col-md-4 m-b-15" *ngIf="formCovenant.get('isCopiaProcedimentos').value === 1">
				<label for="convenioId">{{'CONFIG.COVENANT.CREATE.convenioId' | translate}}</label>
				<ng-select id="convenioId" [items]="covenantList" formControlName="convenioId" bindLabel="nome" bindValue="id"
						   [placeholder]="service.translate.instant('COMMON.PLACEHOLDER')" [clearable]="false">
				</ng-select>
			</div>

		</form>

		<div class="row footer-actions">
			<div class="col-md-6"></div>
			<div class="col-md-6 flexEnd">
				<button type="button"
						class="btn btn-primary close-button btn-sm waves-effect text-center"
						(click)="closeModal()">
					{{'COMMON.BACK' | translate}}
				</button>
				<button type="button" [disabled]="formCovenant.invalid"
						class="btn btn-success btn-sm waves-effect text-center" (click)="create()">
					{{'CONFIG.COVENANT.CREATE.CREATE_BTN' | translate}}
				</button>
			</div>
		</div>
	</div>
</div>
