<div style="min-height: 65vh" class="card noHover">

	<div class="card-header customHeader">
		<span>{{'AGENDA.RETURN_ALERT.TITLE' | translate}}</span>
	</div>

	<div class="card-body">
		<div class="row">
			<div class="col-3">
				<label for="exibition">{{'AGENDA.RETURN_ALERT.EXIBITION' | translate}}</label>
				<ngx-select id="exibition" [items]="exibitionOptionList"
							(open)="service.doOpenSelect()" size="medium"
							(select)="selectExibition()"
							[(ngModel)]="selectedExibition"
							[placeholder]="service.translate.instant('COMMON.PLACEHOLDER')"
							[noResultsFound]="service.translate.instant('COMMON.NORESULT')">
				</ngx-select>
			</div>
			<div class="col-3">
				<ng-container *ngIf="datableOptions.includes(selectedExibition)">
					<label for="initialDate">{{'AGENDA.RETURN_ALERT.INITIAL_DATE' | translate}}</label><br>
					<div class="col-12 input-group m-0 p-0">
						<input id="initialDate" name="dataInicial" class="form-control inputDate" placeholder="Selecione a data"
							   [(ngModel)]="initialDate" ngbDatepicker #i="ngbDatepicker" rInputMask="99/99/9999"
							   (focus)="i.toggle()" (dateSelect)="fetchReturnAlertsByDate()" [readonly]="true">

						<div class="input-group-append bg-default" (click)="i.toggle()">
							<span class="icofont icofont-ui-calendar input-group-text"></span>
						</div>
					</div>
				</ng-container>
				<ng-container *ngIf="selectedExibition === expiredAlertsOption">
					<label for="initialDate">{{'AGENDA.RETURN_ALERT.EXPIRED_INITIAL_DATE' | translate}}</label><br>
					<div class="col-12 input-group m-0 p-0">
						<input id="expiredInitialDate" name="expiredInitialDate" class="form-control inputDate" placeholder="Selecione a data"
							   [(ngModel)]="initialDate" ngbDatepicker #i="ngbDatepicker" rInputMask="99/99/9999" [maxDate]="maxDate"
							   (focus)="i.toggle()" (dateSelect)="fetchExpiredReturnAlerts()" [readonly]="true">

						<div class="input-group-append bg-default" (click)="i.toggle()">
							<span class="icofont icofont-ui-calendar input-group-text"></span>
						</div>
					</div>
				</ng-container>
			</div>
			<div class="col-3">
				<ng-container *ngIf="datableOptions.includes(selectedExibition)">
					<label for="finalDate">{{'AGENDA.RETURN_ALERT.FINAL_DATE' | translate}}</label><br>
					<div class="col-12 input-group m-0 p-0">
						<input id="finalDate" name="finalDate" class="form-control inputDate" placeholder="Selecione a data"
							   [(ngModel)]="finalDate" ngbDatepicker #f="ngbDatepicker" rInputMask="99/99/9999"
							   (focus)="f.toggle()" (dateSelect)="fetchReturnAlertsByDate()" [readonly]="true">

						<div class="input-group-append bg-default" (click)="f.toggle()">
							<span class="icofont icofont-ui-calendar input-group-text"></span>
						</div>
					</div>
				</ng-container>
			</div>
			<div class="col-3 header-actions flexEnd align-items-end">
				<button class="btn btn-primary btn-sm" (click)="createNewReturnAlert()">{{'AGENDA.RETURN_ALERT.ADD' | translate}}</button>
			</div>
		</div>
		<div class="row">
			<div class="m-t-15 width-100">
				<div *ngIf="returnAlerts && returnAlerts.length > 0; else noData" class="table-responsive">
					<table class="table">
						<ng-container *ngFor="let alert of returnAlerts">
							<tr class="first-line">
								<td [width]="'10%'">
									<img width="70px" [src]="getPatientProfileImage(alert.pacienteUrlImagemPerfil)"
										 [alt]="alert.pacientePessoaNome" class="img-circle">
								</td>
								<td [width]="'20%'"><a [routerLink]="getPatientRecordLink(alert.pacienteId)"><b>{{getLabel(alert.pacientePessoaNome)}}</b></a></td>
								<td [width]="'20%'"><b>{{'AGENDA.RETURN_ALERT.TABLE.RETURN' | translate}}</b> {{getLabel(alert.dataRetorno)}}</td>
								<td [width]="'35%'"><b>{{'AGENDA.RETURN_ALERT.TABLE.REASON' | translate}}</b> {{getLabel(alert.motivoNome)}}</td>
								<td [width]="'10%'" *ngIf="alert.status === returnAlertStatus.ABERTO" (click)="schedule(alert)"><b>{{'AGENDA.RETURN_ALERT.TABLE.SCHEDULE' | translate}}</b></td>
								<td [width]="'5%'">
									<a ngbDropdown placement="bottom-right">
										<i id="dropdownControls" class="fas fa-ellipsis-v" ngbDropdownToggle></i>
										<div ngbDropdownMenu aria-labelledby="dropdownControls">
											<button ngbDropdownItem (click)="createNewReturnAlert(alert)">{{'AGENDA.RETURN_ALERT.TABLE.EDIT' | translate}}</button>
											<button ngbDropdownItem (click)="removeReturnAlert(alert.id)">{{'AGENDA.RETURN_ALERT.TABLE.REMOVE' | translate}}</button>
										</div>
									</a>
								</td>
							</tr>
							<tr style="height: 60px" class="second-line">
								<td [width]="'10%'"></td>
								<td [width]="'20%'">
									{{getPatientNumber(alert)}} <i style="cursor:pointer; color: green" placement="bottom" [ngbTooltip]="'AGENDA.RETURN_ALERT.WHATSAPP_TOOLTIP' | translate" (click)="goToWhatsappMessage(alert)" class="icofont icofont-brand-whatsapp"></i>
								</td>
								<td [width]="'20%'"><b>{{'AGENDA.RETURN_ALERT.TABLE.DENTIST' | translate}}</b> {{getLabel(alert.profissionalNome)}}</td>
								<td [width]="'35%'"></td>
								<td [width]="'10%'"></td>
								<td [width]="'5%'"></td>
							</tr>
						</ng-container>
					</table>
				</div>
				<ng-template #noData>
					<div class="row m-t-20">
						<div class="col-12 flexCenter">
							<p style="color: grey"><i>{{'AGENDA.RETURN_ALERT.NO_DATA_MESSAGE' | translate}}</i></p>
						</div>
					</div>
				</ng-template>
			</div>
		</div>
	</div>
</div>

<app-modal-animation
		[modalID]="'modal-agenda'"
		(closed)="openScheduleDialog = false"
		[modalClass]="'md-effect-11 md-modal-lg'"
		#scheduleDialog>

	<app-agendamento *ngIf="openScheduleDialog"
					 (eventsChange)="_refreshReturnAlerts()"
					 [patient]="currentPatient"
					 [eventObj]="defaultSchedule"
					 [convenantsList]="convenantsList"
					 [professionals]="professionals"
					 [servicesList]="servicesList"
					 [modal]="scheduleDialog"
					 source="return-alert-page">
	</app-agendamento>
</app-modal-animation>
