.second-line {
	td {
		border: none;
	}

	td:nth-child(5) {
		cursor: pointer;
		color: #FF5370
	}
}

.first-line {
	td {
		padding-bottom: 0;
	}

	td:first-child {
		position: absolute;
	}

	td:nth-child(5) {
		cursor: pointer;
		color: #1b8bf9;
	}
}


.dropdown-toggle::after {
	content: none;
}

.dropdown {
	position: absolute;
}

.fa-ellipsis-v {
	font-size: 1.5em;
	color: grey;

	&:hover {
		cursor: pointer;
	}
}

.dropdown-item {
	padding: 5px 5px;
	font-size: 13px;
}

a {
	color: #1c84c6;

	&:hover {
		text-decoration: underline;
	}
}
