<div class="card noHover m-b-0">

	<div class="card-header customHeader">
		<span>{{'PATIENTS.FORM_TREATMENT.EDIT_PROCEDURE.TITLE' | translate}}</span>
	</div>

	<div class="card-body">
		<div class="row">
			<div class="col-6">
				<p><b>{{'PATIENTS.FORM_TREATMENT.EDIT_PROCEDURE.PROCEDURE' | translate}}</b></p>
				<p>{{procedure['convenioEspecialidadeProcedimentoNome']}}</p>
			</div>
			<div class="col-6">
				<p><b>{{'PATIENTS.FORM_TREATMENT.EDIT_PROCEDURE.TEETH' | translate}}</b></p>
				<p>{{procedure.emDenteDescricao}}</p>
			</div>
		</div>
		<form #form="ngForm">
			<input hidden/>
			<div class="row form-group">
				<div class="col-6">
					<label for="professional">{{'PATIENTS.MODAL_PROCEDURE.PROFESSIONAL' | translate}}</label>

					<ngx-select id="professional" name="professional" [items]="professionals" [(ngModel)]="procedure.profissionalId" required
								(selectionChanges)="onProfessionalChange($event)"
								(open)="_service.doOpenSelect()" size="medium" [placeholder]="_service.translate.instant('COMMON.PLACEHOLDER')"
								optionTextField="nome" optionValueField="id" [noResultsFound]="_service.translate.instant('COMMON.NORESULT')">
					</ngx-select>
				</div>
				<div class="col-6">
					<label for="value">{{'PATIENTS.MODAL_PROCEDURE.VALUE' | translate}}</label>
					<input currencyMask name="value" [(ngModel)]="procedure.valor" id="value" class="form-control" required>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-6">
					<label for="status">{{'PATIENTS.MODAL_PROCEDURE.STATUS' | translate}}</label>

					<ngx-select id="status" name="status" [items]="statuses" required
								[(ngModel)]="procedure.statusTratamentoServico" (open)="_service.doOpenSelect()" size="medium"
								[placeholder]="_service.translate.instant('COMMON.PLACEHOLDER')" optionTextField="label"
								(selectionChanges)="onStatusChange($event)"
								optionValueField="value" [noResultsFound]="_service.translate.instant('COMMON.NORESULT')">
					</ngx-select>
				</div>
			</div>
			<div class="row footer-actions">
				<div class="col-12 flexEnd">
					<button type="button"
							class="btn close-button text-center" (click)="close()">
						{{'COMMON.BACK' | translate}}
					</button>
					<button type="button"
							[disabled]="form.invalid"
							class="btn btn-success text-center" (click)="save()">
						{{'COMMON.SAVE' | translate}}
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
