<div class="card content" style="margin-bottom: 10px">
	<h5 class="page-title">Contas a Receber</h5>

	<app-bills-to-receive-filters
		class="filters"
		(filtersChange)="filtersSubject.next($event)"
		(generateReport)="generateReport()"
	>
	</app-bills-to-receive-filters>
</div>

<div class="card">
	<div class="totals" *ngIf="totals | async as totalsLoaded">
		<app-totalizers
			style="padding: 20px"
			[noBottomPadding]="true"
			[max]="false"
			labelTotal="Total Receitas"
			labelExecutado="Recebido"
			labelRestante="A Receber"
			[item]="{ key: 'all' }"
			[progress]="{ all: totalsLoaded }"
		>
		</app-totalizers>
	</div>

	<app-contas-a-receber-table
		*ngIf="(bills | async) || [] as billsArr"
		(parcelPayment)="openParcelPayment($event, billsArr.length)"
		(parcelEdit)="openEditModal($event, billsArr.length)"
		(reversePayment)="estornarPagamento($event)"
		(refreshBills)="refreshContas()"
		[bills]="billsArr"
	>
	</app-contas-a-receber-table>
</div>

<app-modal-animation
	*ngIf="billPaymentDialogData as data"
	#payParcelModal
	[backDrop]="true"
	[modalID]="'modal-parcel'"
	[modalClass]="'md-effect-11 md-modal-lg'"
	(closed)="maybeParcelPayed($event); billPaymentDialogData = undefined"
>
	<app-modal-payment
		[parcel]="data.bill"
		[payment]="data.dialogData"
		[modal]="payParcelModal"
		[totalParcels]="data.count"
		[status]="data.status"
	>
	</app-modal-payment>
</app-modal-animation>

<app-modal-animation
	*ngIf="billEditDialogData as data"
	#billEditModal
	[backDrop]="true"
	[modalID]="'modal-edit-parcel-account'"
	[modalClass]="'md-effect-11 md-modal-lg'"
	(closed)="maybeEdited($event); billEditDialogData = undefined"
>
	<app-modal-edit-parcel-account
		[parcel]="data.bill"
		[totalParcels]="data.count"
		[status]="data.status"
	>
	</app-modal-edit-parcel-account>
</app-modal-animation>
